<div id="prodo-container" style="margin:2px; padding:5px;" class="prodo-wall-org-container container">
  <div style="margin:0px;" class="social-view-heading row">
    <div class="col-md-12">
      <button class="prodo-button-theme btn btn-sm pull-right" ng-click="goToUnifiedView()">Back</button>
      <h3 class="prodo-wall-org-heading-text">Video View - {{productdata.name}}</h3>
      <hr class="prodo-wall-org-hr" size=3 noshade>
    </div>
  </div>
  <div style="margin:0px;" class="row">
    <div class="col-md-12">
      <div id="wall-slider" class="">
        <div id="layerslider-container">  
          <div id="layerslider" prodo-slider style="width:100%; height: 500px; margin: 0px auto;" class="prodo-wall-slider-container">
            <!-- Slide -->
            <div class="ls-slide">
                <!-- YouTube/Vimeo video -->
              <div class="ls-l" data-ls="offsetxin: 0; offsetyin: 0;">
                  <iframe width="1170" height="500" src="//www.youtube.com/embed/lX6JcybgDFo" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>  