<div id="prodo-container" style="margin:2px; padding:5px;" class="prodo-wall-org-container container">
  <div style="margin:0px;" class="social-view-heading row">
    <div class="col-md-12">
      <button class="prodo-button-theme btn btn-sm pull-right" ng-click="goToUnifiedView()">Back</button>
      <h3 class="prodo-wall-org-heading-text">Photo View - {{productdata.name}}</h3>
      
      <hr class="prodo-wall-org-hr" size=3 noshade>
    </div>
  </div>
  <div style="margin:0px;" class="row">
    <div ng-include=" 'prodo/productwall/views/prodo.wall.slider.tpl.html' "></div>
  </div>
</div>  