<div id="prodo-container" style="margin:2px; padding:5px;" class="prodo-wall-org-container container">
  <div style="margin:0px;" class="social-view-heading row">
    <div class="col-md-12">
      <button style="background-color: rgba(57, 54, 55, 0.95); opacity:.8;color:white;" class="btn btn-sm glyphicon glyphicon-resize-small pull-right" ng-click="goToUnifiedView()"></button>
      <h3 class="prodo-wall-org-heading-text">Product View - {{productdata.name}}</h3>
      <hr class="prodo-wall-org-hr" size=3 noshade>
    </div>
  </div>
  <div style="margin:0px;" class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <ul class="nav nav-tabs nav-justified">
        <li class="active"><a showtab="" href="" ui-sref="prodo.productwall.wall-product.info">Info</a></li>
        <li><a showtab="" href="" ui-sref="prodo.productwall.wall-product.conversation">Conversation</a></li>
        <li><a showtab="" href="" ui-sref="prodo.productwall.wall-product.enquiry">Enquiry</a></li>
        <li><a showtab="" href="" ui-sref="prodo.productwall.wall-product.analytics">Analytics</a></li>
      </ul>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div style="margin:0px;" class="row">
    <div class="col-md-12">
      <div ui-view></div>
    </div>  
  </div>
</div> 
