<!-- Prodonus Home - After Signin -->
<div id="prodo-container">

	<br>
	<div>
		<button class="prodo-button-theme btn btn-sm pull-right" ng-click="goToUnifiedView()">Back</button>
	</div>
	<div prodo-signin-modal></div>

	<div class="container">
		<div id="prodo-row" class="row">
		
			<div id="prodo-col-md-9" class="prodo-wall-col-container col-md-9">
				<div id="prodo-content-unified">
					<div class="prodo-wall-blog-container container">
						<div ng-show="!isEmpty()" style="padding: 5px; margin-bottom: 10px; border-radius: 3px;">
		<div style="" class="row">
			<div style="" class="col-md-12">
				<center><h3><em>{{viewblog.title}}</em></h3></center>
			</div>
		</div>	
		<div style="padding: 5px; margin: 1px auto;" class="row">
			<div style="padding: 5px; margin: 5px auto;" class="col-md-7">
				<div style="" class="row">
					<div style="padding-left: 25px; padding-right: 5px;" class="col-md-4">
						<img style="width:90%; height:60px;" ng-src="{{viewblog.profile_pic.image}}" src="../assets/images/if_no_org_images_available.jpg">
					</div>
					<div style="padding-left: 0px;" class="col-md-8">
						<div><em><strong>Posted by:</strong></em>&nbsp;&nbsp;&nbsp;{{viewblog.authorname}}</div>
						<div class="">
							<ul style = "margin-left:0%;padding-left:0%; margin:5px;">
			          <li ng-repeat = "list in viewblog.category"   class="prodo-categoryTags">
			            <span ng-bind="list"></span>
			          </li>
			        </ul>
						</div>
					</div>
				</div>
			</div>
			<div style="padding: 5px; margin: 5px auto;" class="col-md-5">
				<div class="row">
					<div class="col-md-12">
						<div><em><strong>Posted on:</strong></em>&nbsp;&nbsp;&nbsp;{{viewblog.datepublished | date:'MMM d, y'}}</div>
					</div>
				</div>
			</div>
		</div>	
		<div style="margin:10px auto;" class="row">
			<div class="col-md-12">
				<br>
				
	  		<div ng-show="viewblog.blog_images.length == 1" ng-repeat="images in viewblog.blog_images" style="border: 1px solid #E7EDF1;">
					<img style="width:100%; height:180px;" ng-src="{{images.image}}">
				</div>
				<div ng-show="viewblog.blog_images.length > 1" style="border: 1px solid #E7EDF1;">
					<div class="row">
						<div class="col-md-6">
							<a href="" ng-click="openModal()"><img style="width:100%; height:180px;" ng-src="{{selected_image}}"></a>
						</div>
						<div class="col-md-6">
							<div ng-if="result == 0" class="row">
								<div style="padding-left:0px; padding-right:0px;" ng-repeat="images in blog_images" class="col-md-{{size}}">
									<a href="" ng-click="showSelectedImage(images.image)"><img style="width:100%; height:90px; margin:1px auto;" ng-src="{{images.image}}"></a>
								</div>
							</div>
							<div ng-if="result !== 0" class="row">
								<div ng-if="$index < upperpartition" style="padding-left:0px; padding-right:0px;" ng-repeat="images in blog_images" class="col-md-{{oddsize}}">
									<a href="" ng-click="showSelectedImage(images.image)"><img style="width:100%; height:90px; margin:1px auto;" ng-src="{{images.image}}"></a>
								</div>
								<div ng-if="$index >= upperpartition" style="padding-left:0px; padding-right:0px;" ng-repeat="images in blog_images" class="col-md-{{size}}">
									<a href="" ng-click="showSelectedImage(images.image)"><img style="width:100%; height:90px; margin:1px auto;" ng-src="{{images.image}}"></a>
								</div>
							</div>
						</div>
					</div>
					<!-- Modal -->
					<div class="modal fade" id="blogImageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="madal-blogwall-content modal-content">
					      <div style="min-height:200px;padding: 0px;" class="modal-body">
					      	<!-- <carousel interval="myInterval">
							      <slide ng-repeat="slide in blog_images" active="slide.active">
							        <img style="width:600px;height:400px;" ng-src="{{slide.image}}">
							      </slide>
							    </carousel> -->
					        <div id="slider-blog">
										<div id="bloglayerslider" marketing-slider class="ls-wp-container" style="width:1280px;height:500px;max-width:1280px;">
                			<div class="ls-slide" ng-repeat="slides in blog_images" data-ls="transition2d:73;">
                    		<img style="width:1280px;height:500px;max-width:1280px;" class="ls-l" ng-src="{{slides.image}}">
                			</div>
				            </div>
        					</div>
					      </div>
					    </div>
					  </div>
					</div>					
				</div>	
			</div>  
		</div>
		<div style="margin:10px auto;" class="row">
			<div style="min-height: 150px;" class="col-md-12">
				<br>
				 		
				<p style="text-align:justify;font-family: georgia;font-size: 18px;">{{viewblog.content}}</p>
			</div>  
		</div>		
	</div>
	<div ng-show="isEmpty()" class="row">
		<div class="col-md-12">
			<center>
				<p style="font-size:20px; margin: 20px auto;" class="text-success"><strong><em>Currently no blogs available.</em></strong></p>
			</center>
		</div>
	</div>


<!-- .........................................comments................................................. -->
	<!-- comments for Blog -->
	<div ng-show="viewblog.blogid"><h4>Comments</h4>	

   <div id="prodo-ProdoProductComments" class="prodo-paddingLeft">
    <div id="prodo-comment-fixed" ng-controller="BlogCommentController">

      <div class="prodo-comment-Text-tabs " id="tabs">
        <ul id="commentTab" class=" commentTab nav nav-pills" ng-init="tabForComment.tabSearch = false;
          tabForComment.tabComment = true" >
          <li class="Pcomment" ng-class="{active2 : tabForComment.tabComment == 1}" >
            <a  class="prodo-cursor" id="prodoCommentTab" ng-click="tabForComment.tabComment = true; tabForComment.tabSearch=false; searchfields.general=''; "  >
              <div   id="fa-removeComment" name="rm" class=" fa fa-comments-o fa-lg  " ></div>
            </a>
          </li>

          <li class="PSearch" ng-class="{active2 : tabForComment.tabSearch == 1}"  >
            <a id="prodoCommentSearchTab" class="prodo-cursor" ng-click="tabForComment.tabSearch =  true ;
              tabForComment.tabComment = false; hideFeature()" >

              <div id="fa-tagsComment" class="fa fa-search fa-lg"  ></div>
            </a>
          </li>
         
        </ul>

        <div class="tab-content">
          <div id="Remove" ng-show="tabForComment.tabComment == true"  >
            <div id="prodo-comment-enterComment" ng-hide="campaign.status=='done'">
              <span class="label label-info   " ng-bind="300 - commenttextField.userComment.length" ></span> 
              <a href="" ng-click="getLatestComments()" >
                <div class="label label-info prodo-display-discont"  id="responseComment" > {{commentError}} </div>
              </a>
              <div ng-controller="DragImageController">
                <div id="prodo-comment-textBox-container">
                  <div id="holder">
                    <textarea ng-init="commenttextField.userComment=''" id="prodo-comment-Textbox" col="40" type="text" class="form-control prodo-validation" name="txtComment" placeholder="Blog Conversation [max 300 characters]. You can drag image here to add image with comment..."   ng-model="commenttextField.userComment" comment-limit="300" ng-enter="addProductComment();hideFeature()" required  items="featuretags"  ng-click="showFeature()"></textarea>  
                
                    <div id="prodo-productTags" ng-show="mytags.length > 0">
                      <form  role="form">
                        <div  class="prodo-TagsBox" >
                          <tags-input  add-on-enter="false" add-on-space="true" ng-model="mytags" placeholder="Add tags"  ng-enter="addProductComment()" replace-spaces-with-dashes="false"></tags-input>
                        </div>
                      </form>
                    </div>
                
                  </div>
                    <div class="prodo-CommentImgPrePosting" id="CommentImg">
                          <a class="close prodo-display-discont" id= "crossButton" ng-click="clearReader()">&times;</a> 
                          <img class="prodo-uploadedImg" id="prodo-uploadedCommentImage" />
                    </div>
                </div>
             
              </div>
              <p id="upload" class="hidden">
                <label  >
                <br>
                <input type="file"    >
                </label>
              </p>
            </div>
          </div>
          <div id="Remove" ng-show="tabForComment.tabSearch == true" class="prodo-padding-bottom"  >
            <br>
            <input  ng-model="searchfields[searchBySelected.type]" class="commentSearchTextbox form-control " id="prodo-comment-search-Textbox"  type="text"   placeholder="Search comments ...">
          </div>
    
        </div>
      </div>
 

      <ul class="media-list "  id="prodo-comment-media-list" style="display" ng-show="productComments.length>0">
        <div prodo-comments  template-url="../common/commentsDirective/views/prodo.blogcomment.tpl.html" id="prodo-comment-commentContainer"  >
        </div>
      </ul>
      <button class="btn btn-default"  id="load-more" ng-click="loadMoreComments()" ng-show="showLoadMore.status==true ">  
      <span id="img-spinner" > <i  class=" prodo-loadmoreColor fa fa-spinner fa-spin "> </i></span>
      Load more...
      </button>
      <div id="loadMoreCommentMsg" class="prodo-loadmoreMsg" ></div>
    </div>
    </div>


</div>
					</div>  

				</div>
			</div>
		</div>
		
	</div>


</div>