<!-- Prodonus Home - After Signin -->


<div id="prodo-container">

	<br>
	<div prodo-signin-modal></div>
	<div class="container">
		<div ng-show='messages.length !== 0' style="padding: 1px; border-radius: 4px;" class="">
			<div class="">
				<div prodo-broadcast-carousel id="myCarousel" class="carousel slide vertical">
	        <!-- Carousel items -->
	        <div class="wall-broadcast-carousel carousel-inner">
            <div ng-class="{active: messages.indexOf(msg) == 0}"  class="item" ng-repeat="msg in messages">
              <center><p ng-if="msg.broadcasttype.toLowerCase() == 'urgent' " class="wall-broadcast-carousel-urgent-item">{{msg.message}}</p></center>
              <center><p ng-if="msg.broadcasttype.toLowerCase() == 'normal' " class="wall-broadcast-carousel-normal-item">{{msg.message}}</p></center>
            </div>
	        </div>                 
			  </div>
			</div>
		</div>
		<div class="">
			<div ui-view></div> 
		</div>
	</div>

</div>