<!-- Prodonus Home - After Signin -->
<div id="prodo-container">
	<div class="">
		<div id="prodo-row" class="row">
			<div id="prodo-col-md-3" class="prodo-wall-col-container col-md-3">
				<div ng-include=" 'prodo/productwall/views/prodo.wall.sidebar.tpl.html' "></div>
 			</div>
		
			<div id="prodo-col-md-9" class="prodo-wall-col-container col-md-9">
				<div id="prodo-content-unified">
					<div class="prodo-wall-org-container container">
  <div style="margin:10px;" class="social-unified-view">
    <div class="product-logo-view row">
      <div class="col-md-2" style="padding-right: 1px;">
        <img ng-src="{{productdata.product_logo.image}}" alt=" No Image" src="../../../assets/images/if_no_org_images_available.jpg" class="prodo-wall-unifiedview-productimg img-rounded">
      </div>
      <div class="col-md-7" style="padding-left: 1px;">
        <div class="row">
          <div style=" color: #1c2a47;font: bold 20px/30px 'lucida grande',tahoma, verdana, arial, sans-serif;">{{productdata.name}}</div>
        </div>
        <div style="color:gray; font: 11px/20px 'lucida grande',tahoma, verdana, arial, sans-serif;" class="row">
          <div class="col-md-3" style="border-right: 2px solid #E7EDF1; color:gray; font: 11px/15px 'lucida grande',tahoma, verdana, arial, sans-serif;">
            <div style="margin: 0px; font: 11px/15px 'lucida grande',tahoma, verdana, arial, sans-serif;">{{productdata.trending.followedcount}}00,000,000,000</div>
            <div style="margin: 0px;font: 11px/15px 'lucida grande',tahoma, verdana, arial, sans-serif;">Talkins</div>
          </div>
          <div class="col-md-3">
            <p style="margin: 0px;font: 11px/15px 'lucida grande',tahoma, verdana, arial, sans-serif;">{{productdata.trending.commentcount}}00,000,000,000</p>
            <p style="margin: 0px;font: 11px/15px 'lucida grande',tahoma, verdana, arial, sans-serif;">Comments</p>
          </div>
        </div>
        
      </div>
      <div class="col-md-3"></div>
    </div>
    <br>
    <div class="social-view">
      <div class="social-view-heading row">
        <div class="col-md-12">
          <h3 class="prodo-wall-org-heading-text">Social Unified View - {{productdata.name}}</h3>
          <hr class="prodo-wall-org-hr" size=3 noshade>
          <!-- <em><strong><h3 class="panel-title">Social Unified View For {{productdata.name}}</h3></strong></em> -->
        </div>
      </div>
      <br>
      <div style="border: 1px solid #E7EDF1; background-color: #FAF9EA; padding: 5px;" class="social-view-body">
        <div class="all-unified-views row">
          <div style="margin: 10px auto; " ng-repeat="view in views" class="col-md-4">
            <a href="" ng-click="goToState(view.id);">
              <div style="border: 1px solid #ffffff; height: 180px; border-radius: 5px;background-color: #ffffff;" class="specific-view">
                <center>
                  <img style="height:120px; width: 80%; margin: 5px; " ng-src="{{view.image}}" class="img-rounded">
              
                  <h5><strong>{{view.name}}</strong></h5>
                </center>
                <p>{{view.description}}</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
  

				</div>
			</div>
		</div>
	</div>

</div>