 
  <div class="row">
      <div class="col-md-5">
        <div class="container-welcome-text">
          <h3 class="prd-text">Welcome To Prodonus</h3>
      <p><h3>The Warranty and Social Network Platform for Products</h3></p>
          <button type="button" class="btn btn-primary btn-lg btn-layout-text">Learn More</button>
        <button type="button" class="btn btn-info btn-lg btn-layout-text"><span class="glyphicon glyphicon-play"></span>Play Video</button> 
        </div>
       
      </div>
      <div class="col-md-5 col-md-offset-2 signup-view">
          <div ui-view></div>
     </div>
    </div>
 
    
   
 
