<div class="container">
  
<!-- corousel -->
  <div class="prodo-productListCorousel" >
    <button class="arrowBtn prodo-arrowbtnLeft" ng-show="campaignDetailsObject.length > 3 " ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" >
      <
    </button>
   
        <a href="" class="prodo-cursor" ng-click="add() " class=""> 
        <div class="prodo-productThumbnailView prodo-padding-left" >
        <p class="prodo-AddProductBtn " >Add Campaign</p>
        <div class="prodo-productThumbnailImg fa fa-plus fa-4x img-rounded"  align="center" ></div>
        </div>
       </a> 
      
    <div ng-show="campaignDetailsObject.length>0  "  ng-repeat="list in campaignDetailsObject  | startFrom:currentPage*pageSize | limitTo:pageSize" >
    <div class="prodo-productThumbnailView"   ng-class="{activeProduct : list.name==currentCampaign.name}">
      <a ng-click="showDetails(list.name)" class="prodo-cursor"  href="" >
        <p class="prodo-AddProductBtn prodo-productNameList" >{{list.name.substring(0,13)}}</p>
        <img  ng-src="{{list.banner_image.image}}" alt-SRC src="../assets/images/if_no_logo_images_available.gif"  class="prodo-productThumbnailImg img-rounded">
      </a>
    </div>
    </div>
    <button class="arrowBtn prodo-arrowbtnRight"  ng-show="campaignDetailsObject.length > 3 " ng-disabled="currentPage >= campaignDetailsObject.length/pageSize - 1" ng-click="currentPage=currentPage+1" >
      >
      </button>

        </div>

        
       <div ng-if="noCampaignExists === 0"><i><h3>Currently no campaigns exists!</h3></i></div>

  </div>

<!-- corousel -->

  
    
<div ng-if="addNewCampaign===0" style="margin-top:0%;width:100%;">

   <div ng-if="enableEditing===0 && campaignDetailsObject.length>0">		
	<div>
		<h5 class="prodo-wall-org-heading-text">CAMPAIGN DETAILS</h5>
		<hr class="prodo-wall-org-hr" size=3 noshade>
		<br>
	</div>

	<div ng-if="campaignExpired === 0">
	   <a    class="btn btn-primary btn-sm pull-right" style="width:140px;margin-bottom:5px;margin-left:5px" ng-if="currentCampaign.status === 'init'" ng-click="publishCampaign()"><i class="fa fa-cloud-upload fa-1x" ></i>&nbsp;&nbsp;Publish</a>

	    <a    class="btn btn-primary btn-sm pull-right" style="width:140px;margin-bottom:5px;margin-left:5px" ng-if="currentCampaign.status === 'active'" ng-disabled ><i class="fa fa-cloud-upload fa-1x" ></i>&nbsp;&nbsp;Published</a>

	   <a   ng-click="enableEditingCampaign()" class="btn btn-primary btn-sm pull-right" style="width:140px;margin-bottom:5px;margin-left:5px"><i class="fa fa-pencil fa-fw" ></i>&nbsp;&nbsp;Edit</a>

	   <a  class="btn btn-danger btn-sm pull-right"   style="width:140px;margin-bottom:5px;"data-target="#stopCampaignWarning" data-toggle="modal"><i  class="fa fa-trash-o fa-lg" ></i>&nbsp;&nbsp;Stop Campaign</a>
	</div>

	<div ng-if="campaignExpired === 1">
	 <h4 style="color:red;float:right;"> This campaign is expired</h4>
	</div>


   <table class="  prodo-productTableFont  table child table-bordered table-hover "  id="prodo-WarrantyTable">
	    <tr style="width:100%;">
				<td  style="width:30%">Campaign Name:</td> <td><span ng-bind="currentCampaign.name"></span></td>
		</tr>

		<tr>
				<td  >Campaign Description: </td> <td  ><span ng-bind="currentCampaign.description"></span></td>
		</tr>

		<tr>
				<td  >Product Name: </td> <td  ><span ng-bind="currentCampaign.productname"></span></td>
		</tr>

		<tr>
	       <td  > Campaign Tags: </td> 
		   <td  >
		   <ul style = "margin-left:0%;padding-left:0%">
			  <li ng-repeat = "list in currentCampaign.campaign_tags"   class="prodo-categoryTags">
				    <span ng-bind="list"></span>
			   </li>
		    </ul>
		    </td>
		</tr>

		<tr>
	       <td  > Targeted Audience: </td> 
		   <td  >
		   <ul style = "margin-left:0%;padding-left:0%">
			  <li ng-repeat = "list in currentCampaign.category"   class="prodo-categoryTags">
				    <span ng-bind="list"></span>
			   </li>
		    </ul>
		    </td>
		</tr>

		<tr>
				<td  >Start Date: </td> <td  ><span ng-bind = "currentCampaign.startdate | date: 'fullDate' "></span></td>
		</tr>

		<tr >
				<td  >End Date: </td> <td  ><span ng-bind="currentCampaign.enddate | date: 'fullDate'"></span></td>
		</tr>


         

       <tr ng-if="currentCampaign.banner_image !== undefined"> 
		    <td>Campaign Banner Image:</td>
		    <td>
		    	<img ng-src="{{currentCampaign.banner_image.image}}" class="img campaign-banner-image" />  
		    </td>
		</tr>

		<tr ng-if="currentCampaign.banner_image === undefined"> 
		    <td>Campaign Banner Text:</td>
		    <td>
		    	<span ng-bind="currentCampaign.bannertext"></span>
		    </td>
		</tr>


		<tr>
		    <td>Campaign Artwork:</td>
		    <td>
		    	   <div class="imagesOrg" ng-repeat="img in currentCampaign.artwork" style="margin: 3px;border: #090808 solid;min-width: 110px;padding: 4px;border-width: thin;">
				                <!-- <input type="checkbox" id='{{$index}}'> -->

				                <img class="img prodo-OrgImgThumbnail"  ng-src="{{img.image}}" />
		           </div>
		        <div ng-if="currentCampaign.artwork.length===0"><h5>Currently no campaign artwork added</h5></div>     
		    </td>
		</tr>
        
  

		<tr >
			<td  >Artwork: </td> 
			<td  >      
			    <div class="manage-Campaign-td2 manage-campaign-marginbottom" >
		            <div    ng-app="prodo.UploadApp" ng-controller="UploadController"  >
					   <div class="controls" > <form id="fileInputsUploadcampaign">
			                  <span class="btn btn-primary fileinput-button controls-upload prodo-uploadBtnWidth" style="padding-left:28px;left:0px;width:230px;">
			                    <i class="glyphicon glyphicon-upload "></i>
			                    <input   type="file" name="file" ng-file-select="onFileSelect($files)" multiple ng-click="uploadSrc = 'campaign';">
			                    <span>Upload Campaign Art Work</span>
			                  </span>
			                  </form>
					   </div>
					  <!--  <div id="FileName" >  </div> -->
		           </div>
		         </div>
		    </td>
		</tr>	

		<tr >
			<td  >Change Banner Image: </td> 
			<td  >      
			     <div class="manage-Campaign-td2 manage-campaign-marginbottom" >
                   <div  ng-app="prodo.UploadApp" ng-controller="UploadController"  >
							<div class="controls" > 
							  <form 
									id="fileInputsUploadcampaignBannerUpdate">

									 <span class="btn btn-primary 
									fileinput-button controls-upload prodo-uploadBtnWidth" 
									style="padding-left:28px;left:0px;width:230px;">

									<i class="glyphicon glyphicon-upload "></i>

									<input   type="file" name="file" 
									ng-file-select="onFileSelect($files)" multiple ng-click="uploadSrc = 
									'campaignBannerUpdate';">
                                 <span>Upload New Banner Image</span>
                               </span>
                             </form>
                        </div>
                       <!--  <div id="FileName" >  </div> -->
                    </div>
                </div>
		    </td>
		</tr>


    </table>


  <div id="FileName" > 
  </div>
</div>

	<div ng-if="enableEditing===1" style="margin-left:17%;margin-right:17%;">
        
        <table style="width: 94%;margin-left: 3%;"> 

          <tr style="margin-bottom:20%;">
            <td>*Product Name:</td>
          </tr>

          <tr>
            <td style="padding-bottom:5%;">
            	<input type="text" ng-model="currentCampaign.productname" typeahead="name for name in productlist" popover-placement="right" popover="Please select product name from typeahead" popover-trigger="mouseenter" class="form-control" typeahead-on-select="">       
			  	<div class="error-message-registration" ng-if="errorForInvalidProduct !== '' "ng-bind="errorForInvalidProduct"></div>
			</td>
          </tr>

          <tr>
            <td>*Campaign Name:</td>
          </tr>
           
          <tr>
            <td style="padding-bottom:5%;">
            	<input type="text" class="form-control" ng-model="currentCampaign.name">
		        <div class="error-message-registration" ng-if="errorForWrongCampaignname !== '' "ng-bind="errorForWrongCampaignname"></div>
		    </td>
          </tr>

          <tr>
            <td>*Campaign Description:</td>
          </tr>

          <tr>
            <td style="padding-bottom:5%;">
            	<textarea  class="form-control" ng-model="currentCampaign.description" name=""></textarea>
         	    <div class="error-message-registration" ng-if="invalidDesc !== '' " ng-bind="invalidDesc"></div> 
         	</td>
          </tr>

          <tr>
            <td>*Campaign Tags:</td>
          </tr>
           
          <tr>
            <td style="padding-bottom:5%;">
            	   <tags-input  minTags="1" add-on-blur="true" list="targettedAudience" ng-model="currentCampaign.campaign_tags" min-length="1" >
                   </tags-input>
                   
                   <div class="error-message-registration" ng-if="errorForEmptyCategoryCampaignTags !== '' " ng-bind="errorForEmptyCategoryCampaignTags">
		    </td>
          </tr>

          <tr         ng-if="currentCampaign.bannertext !== ''">
            <td>*Banner Text</td>
          </tr>
   
          <tr         ng-if="currentCampaign.bannertext !== ''">
            <td style="padding-bottom:5%;">
            	<input type="text" ng-model="currentCampaign.bannertext" class="form-control">   
                   <div class="error-message-registration" ng-if="errorForEmptyBannerText !== '' " ng-bind="errorForEmptyBannerText">
		    </td>
          </tr>
          
         <!--  <tr>
            <td>*Campaign Tags:  </td>
          </tr>

          <tr>
            <td style="padding-bottom:5%;">
                   <tags-input  minTags="1" add-on-blur="true" list="targettedAudience" ng-model="currentCampaign.category" min-length="1" >
                   </tags-input>
                   
                      <div class="error-message-registration" ng-if="errorForEmptyCategoryModify !== '' " ng-bind="errorForEmptyCategoryModify"></div>
             </td>
                  
          </tr> -->

          <tr>
            <td>
	 			  <div  style="width:48%;float:left;">*Start Date: </div>
		    	  <div  style="width:48%;float:right;">*End Date: </div>
            </td>
          </tr> 

          <tr>
            <td style="padding-bottom:5%;">
	               <input type="text" placeholder="Plaese select start date" ng-model="currentCampaign.startdate" class="form-control" name="startDate"  datepicker-popup="{{format}}"  is-open="opened1" min="today"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" style="width:48%;float:left;">			
				   
				   <input type="text" placeholder="Please select end date" ng-model="currentCampaign.enddate" class="form-control" name="endDates" datepicker-popup="{{format}}"  is-open="opened4" min="currentCampaign.startdate"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" style="width:48%;float:right;">  

            </td>
          </tr>

          <tr>
            <td>*Targeted Audience:  </td>
          </tr>

          <tr>
            <td style="padding-bottom:5%;">
                   <tags-input  minTags="1" add-on-blur="true" list="targettedAudience" ng-model="currentCampaign.category" min-length="1" >
                   </tags-input>
                   
                      <div class="error-message-registration" ng-if="errorForEmptyCategoryModify !== '' " ng-bind="errorForEmptyCategoryModify">
                   </td>
                  </div>
          </tr>
          <tr>
            <td>Campaign Artwork:</td>
          </tr>

         <tr>
            <td style="padding-bottom:5%;">  
          	  <div style="height:40px;" ng-if="currentCampaign.artwork.length>0"> 
	                    <button ng-click="deleteCampaignImages()" class="btn btn-danger btn-sm " style="margin-left:83%" ><i  class="fa fa-trash-o fa-lg" ></i>&nbsp;&nbsp;Delete</button>
	              </div>

	              <div class="imagesOrg" ng-repeat="img in currentCampaign.artwork" style="margin: 3px;border: #090808 solid;min-width: 110px;
                  padding: 4px;border-width: thin;" ng-if="currentCampaign.artwork.length>0">
		                <input type="checkbox" id='{{$index}}' >
		                <img class="img prodo-OrgImgThumbnail"  ng-src="{{img.image}}" >
                  </div>
	              <div ng-if="currentCampaign.artwork.length===0"><h5>*Currently no campaign artwork added</h5></div>
	         </td>
          </tr>
          
          <tr>
            <td style="padding-bottom:5%;">   
            		<button class="btn btn btn-primary btn-sm pull-right" style="width:25%;display:inline;margin:5px;" ng-click="updateCampaign()"><i style="margin-right: 5px;" class="fa fa-save"></i>Submit</button>
				   
				   <button class="btn btn-primary btn-sm pull-right"style="width:25%;display:inline;margin:5px;background-color:#ACB2B4;border-color:#ACB2B4" ng-click="disableEditingCampaign()"><i style="margin-right: 5px;" class="fa fa-times"></i>Cancel</button></td>
          </tr> 


        </table>
	</div>
</div>

 <form name="form.campaign" ng-submit='' novalidate id="addCampaignForm"> 
  <div ng-if="addNewCampaign === 1" style="margin-top:0%;margin-left:17%;margin-right:17%;">
      <div class="manage-Campaign-tr">
		<div class="manage-Campaign-td1">*Product Name:</div> 
        <div class="manage-Campaign-td2">  
             <input type="text" ng-model="campaign.productName" typeahead="name for name in productlist" popover-placement="right" popover="Please select product name from typeahead" popover-trigger="mouseenter" class="form-control" typeahead-on-select="assignProdleForCampaign(campaign.productName)">    
			 <div class="error-message-registration" ng-if="errorForInvalidProduct !== '' "ng-bind="errorForInvalidProduct"></div> 
		</div>
	  </div>

	  <div class="manage-Campaign-tr">
			  <div class="manage-Campaign-td1">*Campaign Name:</div> 
			  <div class="manage-Campaign-td2"> <input type="text" class="form-control" ng-model="campaign.Name"></div>
	          <div class="error-message-registration" ng-if="errorForWrongCampaignname !== '' "ng-bind="errorForWrongCampaignname"></div> 
	  </div>
                     

	  <div class="manage-Campaign-tr">
			  <div class="manage-Campaign-td1">*Campaign Description:</div>
			  <div class="manage-Campaign-td2"> 
			      <textarea  class="form-control" ng-model="campaign.Description" name=""></textarea>
			  </div>
              <div class="error-message-registration" ng-if="invalidDesc !== '' "ng-bind="invalidDesc"></div> 
       </div>

      <div class="manage-Campaign-tr">
           <div class="manage-Campaign-td1">*Campaign Tags:  </div>
           <div class="manage-Campaign-td2 manage-campaign-marginbottom" >
                   <tags-input  minTags="1" add-on-blur="true" list="targettedAudience" ng-model="campaign.campaignTags" min-length="1" >
                   </tags-input>
					<div class="error-message-registration" ng-if="errorForEmptyCampaigntags !== '' "ng-bind="errorForEmptyCampaigntags"></div>
           </div>	          
     </div>
 
	  <div class="manage-Campaign-tr" style="margin-bottom:20%;">
		  <div class="manage-Campaign-td1" style="width:48%;float:left">*Start Date: </div> <div class="manage-Campaign-td1" style="width:48%;float:right">*End Date: </div>
		  <div class="manage-Campaign-td2"> 
		     <input type="text" placeholder="Please select start date" ng-model="campaign.startDate" class="form-control" name="startDate"  datepicker-popup="{{format}}"  is-open="opened1" min="today"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" style="width:48%;float:left"/>	

		    

		     <input ng-click="restrictEndDates()" type="text" placeholder="Please select end date" ng-model="campaign.endDate" class="form-control" name="endDates" datepicker-popup="{{format}}"  is-open="opened3" min="restrictEndDate"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" style="width:48%;float:right;"/>

				
	      <div class="error-message-registration" ng-if="errorForCampaignStart !=='' " ng-bind = "errorForCampaignStart" style="width:48%;float:left"></div>
		  <div class="error-message-registration" ng-if="errorForInvalidEnddate !=='' " ng-bind = "errorForInvalidEnddate" style="width:48%;float:right"></div>


	     </div>
	  </div>
                              				
	  <div class="manage-Campaign-tr">
           <div class="manage-Campaign-td1">*Targeted Audience:  </div>
           <div class="manage-Campaign-td2 manage-campaign-marginbottom" >
                   <tags-input  minTags="1" add-on-blur="true" list="targettedAudience" ng-model="campaign.category" min-length="1" >
                   </tags-input>
					<div class="error-message-registration" ng-if="errorForEmptyCategory !== '' "ng-bind="errorForEmptyCategory"></div>
           </div>	          
     </div>


     <div class="manage-Campaign-tr" style="margin-bottom:15%;">

		<div style="width:50%;float:left"><label class="btn btn-success" ng-model="showBanner" ng-click="showBannerImageUpload()" uncheckable>Campaign Banner Image</label></div>
         <div style="width: 6%;float: left;padding-top: 7px;"> OR  </div>
		<div style="float:right"><label class="btn btn-success" ng-model="showBanner" ng-click = "showBannerText()"uncheckable>Campaign Banner Text</label> </div>

     </div>

     <div class="manage-Campaign-tr"  ng-if="showBanner===1">
       <div class="manage-Campaign-td1" style="width:59%">*Campaign Banner Image Upload:  </div>
       <div class="manage-Campaign-td2 manage-campaign-marginbottom" >
           <input id="prodo-CampaignUploadBtn" class=" form-control prodo-validation " type="file" name="file" ng-file-selectdata="onFileSelect($files)" ng-model="file1" >
       </div>
     </div>


      <div class="manage-Campaign-tr"  ng-if="showBanner===2">
       <div class="manage-Campaign-td1">*Campaign Banner Text:  </div>
       <div class="manage-Campaign-td2 manage-campaign-marginbottom" >
           <input id="prodo-CampaignUploadBtn" class=" form-control prodo-validation " type="text" name="text" ng-model="campaign.campaignBannerText" >

       </div>
     </div>

      <div class="error-message-registration manage-Campaign-tr" ng-if="errorForImproperBanner !== '' "ng-bind="errorForImproperBanner"></div>





     <div class="manage-Campaign-tr">
         *  Mandatory Fields 
      </div>

    <div class="manage-Campaign-tr">
			<div class="manage-Campaign-td2" > 
				   <button class="btn btn btn-primary btn-sm pull-right" style="width:25%;display:inline;margin:5px;" ng-click="saveCampaign()"><i style="margin-right: 5px;" class="fa fa-save"></i>Submit</button>
				   <button class="btn btn-primary btn-sm pull-right" style="width:25%;display:inline;margin:5px;background-color:#ACB2B4;border-color:#ACB2B4" ng-click="cancel()"><i style="margin-right: 5px; " class="fa fa-times"></i>Cancel</button>
			</div>
    </div>
  </div> 
 </form>

 <div class="modal fade" id="stopCampaignWarning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Stop Campaign</h4>
        </div>
        <div class="modal-body">
          Stopping campaign will permanently remove all data related to this campaign.
          Are you sure to stop this campaign?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default " data-dismiss="modal"> Cancel <!-- <i class="glyphicon glyphicon-remove"></i> --></button>
          <button type="button" class="btn btn-danger " ng-click="deleteTheCampaign(currentCampaign.campaign_id)" id="ChangeWarrantyOkButton" data-dismiss="modal" >Stop Campaign<!-- <i class="glyphicon glyphicon-trash"></i> --></button>
        </div>
      </div>
    </div>
  </div>




<!-- 
 <div class="modal fade" id="showBannerTextWarning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Confirm Action</h4>
        </div>
        <div class="modal-body">
          This action will remove banner text if exists. Do you want to perform this action?
        </div>
        <div class="modal-footer">
          <button data-dismiss="modal">
            <div  ng-app="prodo.UploadApp" ng-controller="UploadController">
							<div class="controls" > 
							  <form 
									id="fileInputsUploadcampaignBannerUpdate" >
									                                   
									 <span class="btn btn-primary 
									fileinput-button controls-upload prodo-uploadBtnWidth" 
									style="padding-left:28px;left:0px;width:14%;">
									
									<i class="glyphicon glyphicon-upload "></i>
									                                     
									<input   type="file" name="file" 
									ng-file-select="onFileSelect($files)" multiple ng-click="uploadSrc = 
									'campaignBannerUpdate';" >
                                 <span>ok</span>
                               </span>
                             </form>
                        </div>
                                        
                    </div> 
              </button>      
              <button type="button" class="btn btn-default " data-dismiss="modal" style="width:14%;float:right"> Cancel </button>       
        </div>
      </div>
    </div>
  </div> -->

     




</div>