
<div class="container tab-content" style="min-height: 50px;">  
  <div prodo-signin-modal></div>
  <div style="margin-top: 5px;" class="tabbable boxed parentTabs">
    <ul style="font-weight: bold; font-size:15px;" class="nav nav-tabs nav-justified">
        <li class="active"><a showtab="" href="" ui-sref="prodo.account-campaign.campaign.detail">Campaign</a>
        </li>

        <li><a  showtab="" href="" ui-sref="prodo.account-campaign.campaign.analytics">Campaign Analytics</a>

        </li>
    </ul>
</div>
  <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
    <div ui-view></div>
  </div>
</div>