
<!-- /*
  * Overview: Product Tabs
  * Tabs to handle product Comments and product features
  * Dated: 03/12/2013.
  * Author: Bhagyashri Jangam
  * Copyright: Prodonus Software Private Limited and GiantLeap Systems Private Limited 2013
  * Change History:
  * ----------------------------------------------------------------------
  * date | author | description 
  * ----------------------------------------------------------------------
  * 03/12/2013 | xyx | Add a new property
  * 
  */-->
<div class="prodo-wall-campaign-container container">



<p>    <div id="ErrMsging" ng-show="ErrMsging" class="prodo-ErrMsging"></div></p>

<div id="prodo-ProductDetails" >





   <a href="" ng-style="CheckIfAlreadyFollowingCampaign()" id="prodo-followBtncampaign"  ng-click="followCurrentCampaign(campaign.campaign_id)"   class="prodo-button-theme prodo-followBtn pull-right btn btn-primary btn-sm ">Follow </a>

<center>
      <table class="prodo-MainDetailsTable"  >
        <tr class="prodo-followesInfotr" >
           <td class="prodo-followesInfotd prodo-producttrendingInfo" >
           <center>
             <div class="prodo-producttrendingInfoDiv" ng-bind="campaign.trending.followedcount"></div><div class="prodo-producttrendingInfoLable" > Followers</div> 
             </center>
            </td>
            <td class="prodo-producttrendingInfo prodo-productCommentInfo">
            <center>
              <div class="prodo-productCommentInfoDiv" ng-bind="campaign.trending.commentcount"></div><div class="prodo-productCommentsInfoLable"> Comments</div> 
            </center>
            </td>
          </tr>
        </table>
</center>

<br/><br/>
  <!-- <div class="prodo-productListCorousel" > -->
    <button class="arrowBtn prodo-arrowbtnLeft" ng-show="allCampaignData.length > 4 " ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" >
      <
      <!--  <i style="color:gray; font-weight:weight:lighter" class="fa fa-chevron-left fa-3x"></i>  -->
    </button>




    <div ng-show="allCampaignData.length>0"  ng-repeat="campaign1 in allCampaignData  | startFrom:currentPage*pageSize | limitTo:pageSize"  >
    <div class="prodo-productThumbnailView"   ng-class="{activeProduct : campaign1.campaign_id==campaign.campaign_id}" >
      <a ng-click="getSelectedCampaign(campaign1.campaign_id);" class="prodo-cursor"  href="" >
        <p class="prodo-AddProductBtn prodo-productNameList" >{{campaign1.name.substring(0,13)}}</p>
        <img  ng-src="{{campaign1.banner_image.image}}" alt-SRC src="../assets/images/if_no_org_images_available.jpg"  class="prodo-productThumbnailImg img-rounded">
      </a>
    </div>
    </div>



 <button class="arrowBtn prodo-arrowbtnRight"  ng-show="allCampaignData.length > 4 " ng-disabled="currentPage >= productlist.length/pageSize - 1" ng-click="currentPage=currentPage+1" >
      >
      <!-- <i style="color:gray; font-weight:weight:lighter" class=" fa fa-chevron-right fa-3x"></i>  -->
 </button>
  <!-- </div> -->




   <br><br>
 <br><br> <br><br> <br><br> 


    <p class="prodo-CampaignName" >{{campaign.name.substring(0,13)}}</p>


    



       
        <img  ng-show="campaign.banner_image.image" ng-src="{{campaign.banner_image.image}}" alt-SRC src="../assets/images/if_no_org_images_available.jpg"  class="prodo-campaignBanner img-rounded" />
      
       <div  class="prodo-bannerTextBg" ng-show="campaign.bannertext">
        <div class="area" >
             {{campaign.bannertext}}
       </div>     
      </div>    
<!-- campaign data icons -->

  <div id="prodo-ProdoProductComments" class="prodo-paddingLeft">
    <div id="prodo-comment-fixed" ng-controller="CampaignCommentController">

      <div class="prodo-comment-Text-tabs " id="tabs">
        <ul id="commentTab" class=" commentTab nav nav-pills" ng-init="tabForComment.tabSearch = false;
          tabForComment.tabComment = true" >
          <li class="Pcomment" ng-class="{active2 : tabForComment.tabComment == 1}" >
            <a  class="prodo-cursor" id="prodoCommentTab" ng-click="tabForComment.tabComment = true; tabForComment.tabSearch=false; searchfields.general=''; "  >
              <div   id="fa-removeComment" name="rm" class=" fa fa-comments-o fa-lg  " ></div>
            </a>
          </li>

          <li class="PSearch" ng-class="{active2 : tabForComment.tabSearch == 1}"  >
            <a id="prodoCommentSearchTab" class="prodo-cursor" ng-click="tabForComment.tabSearch =  true ;
              tabForComment.tabComment = false; hideFeature()" >

              <div id="fa-tagsComment" class="fa fa-search fa-lg"  ></div>
            </a>
          </li>
         
        </ul>
       <div collapse="isCollapsed" style="width:80%;margin-left:30px;"> 
         <!-- <b> Select product feature to talk on </b>
         <p style="font-size:10px;">Productfeatures are vertically scrollable</p>
         <ul style="max-height:60px;overflow-x:hidden; overflow-y: auto;">
          <li ng-repeat="feature in features track by $index"  class="hyperlinkPointer featureTabs" style=""> 
           <span ng-bind="feature.featurename" ng-click="addFeatureToComment(feature.featurename)" style="font-size:12px;"> </span>
          </li>
         </ul> -->

         <b> Select campaign feature to talk on </b>
         <p style="font-size:10px;">Campaign features are vertically scrollable</p>
         <ul style="max-height:60px;overflow-x:hidden; overflow-y: auto;">
           <li ng-repeat="feature in features track by $index"  class="hyperlinkPointer campaignFeatureTabs" style=""> 
             <span ng-bind="feature.featurename" ng-click="addFeatureToComment(feature.featurename)" style="font-size:12px;"> </span>
            </li>
         </ul>
        </div>
        <div class="tab-content">
          <div id="Remove" ng-show="tabForComment.tabComment == true" >
            <div id="prodo-comment-enterComment" >
              <span class="label label-info   " ng-bind="300 - commenttextField.userComment.length" ></span> 
              <a href="" ng-click="getLatestComments()" >
                <div class="label label-info prodo-display-discont"  id="responseComment" > {{commentError}} </div>
              </a>
              <div ng-controller="DragImageController">
                <div id="prodo-comment-textBox-container">
                  <div id="holder">
                    <textarea ng-init="commenttextField.userComment=''" id="prodo-comment-Textbox" col="40" type="text" class="form-control prodo-validation" name="txtComment" placeholder="Campaign Conversation [max 300 characters]. You can drag image here to add image with comment..."   ng-model="commenttextField.userComment" comment-limit="300" ng-enter="addProductComment();hideFeature()" required  items="featuretags"  ng-click="showFeature()"></textarea>  
                
                    <div id="prodo-productTags" >
                      <form  role="form">
                        <div  class="prodo-TagsBox" >
                          <tags-input  add-on-enter="false" add-on-space="true" ng-model="mytags" placeholder="Add tags"  ng-enter="addProductComment()" replace-spaces-with-dashes="false"></tags-input>
                        </div>
                      </form>
                    </div>
                
                  </div>
                    <div class="prodo-CommentImgPrePosting" id="CommentImg">
                          <a class="close prodo-display-discont" id= "crossButton" ng-click="clearReader()">&times;</a> 
                          <img class="prodo-uploadedImg" id="prodo-uploadedCommentImage" />
                    </div>
                </div>
             
              </div>
              <p id="upload" class="hidden">
                <label  >
                <br>
                <input type="file"    >
                </label>
              </p>
            </div>
          </div>
          <div id="Remove" ng-show="tabForComment.tabSearch == true" class="prodo-padding-bottom"  >
            <br>
            <input  ng-model="searchfields[searchBySelected.type]" class="commentSearchTextbox form-control " id="prodo-comment-search-Textbox"  type="text"   placeholder="Search comments ...">
          </div>
    
        </div>
      </div>
 

      <ul class="media-list "  id="prodo-comment-media-list" style="display">
        <div prodo-comments    id="prodo-comment-commentContainer"  >
        </div>
      </ul>
      <button class="" id="load-more" ng-click="loadMoreComments()" ng-init="LoadMoreInit();">  
      <span id="img-spinner" > <i  class=" prodo-loadmoreColor fa fa-spinner fa-spin "> </i></span>
      Load more...
      </button>
      <div id="loadMoreCommentMsg" class="prodo-loadmoreMsg" ></div>
    </div>
  </div>

<!-- <br><br>
<div id="prodo-ProdoProductComments" class="prodo-paddingLeft">
    <ul class="media-list "  id="prodo-comment-media-list" style="display">
        <div prodo-comments    id="prodo-comment-commentContainer"  >
        </div>
      </ul>
</div> -->
</div>