/**
*	html body
**/

/*change the body style*/
html,body{
	height:100%;
}

.btn:focus {
outline: thin dotted transparent;
outline-offset: -2px;
}

#prodo-org-nav-pills>li.active>a{
color: black;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
font-size: 14px;
background-color: transparent;
font-weight: bold; 
}

#prodo-org-nav-pills>li>a{
font-size: 14px;
margin: 2px;
height: 30px;
padding: 5px;
border: 1px solid #9FBACC;
border-bottom: none;
}

#prodo-admin-nav-pills{
	padding: 5px;
}

#prodo-admin-nav-pills>li.active>a{
color: black;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
font-size: 14px;
background-color: transparent;
font-weight: bold; 
}

#prodo-admin-nav-pills>li>a{
font-size: 14px;
margin: 2px;
height: 30px;
padding: 5px;
border: 1px solid #9FBACC;
border-bottom: none;
}

/*#body{
background-color: #3a92c8;
background: -webkit-radial-gradient(circle,#94d2f8,#3a92c8);

}*/

/**
*	Navigation Bar
**/

/*change the navbar style*/
#prodo-navbar {
	height: 40px;
	margin-bottom: 0px;
	background-color: #005387;
  }


/*change the navbar brand style*/
#prodo-navbar-brand {
	color: #ffffff;
	font:italic bold 20px/30px Georgia,serif;
	padding: 5px 10px;
  }

#prodo-navbar-text {
	color: white;
	font-weight: bold;
	font-size: 14px;
} 

#prodo-navbar-link1 {
	color: white;
	font-weight: bold;
	font-size: 14px;
}

#prodo-navbar-link2 {
	color: white;
	font-weight: bold;
	font-size: 14px;
} 

.navbar-brand-img{
	width:100px; height:40px;
}

.navbar-inverse .navbar-nav>li>a {
color: #fff;
}

#navbar-username-link{
	color:#E0E6EE;
}

#navbar-home-link{
	color:#E0E6EE;
}

.logout-img{
	margin-right:10px;
}

#navbar-dropdown-ul{
	text-align: left;
}

.prodo-fa-navbar{
	color:#96989B;
	margin-right: 5px;
}

.prodo-wall-col-container{
	padding: 2px;
}

.prodo-wall-advertisment-container{
	min-height: 80px; border: 1px solid #E7EDF1; border-radius: 5px;
}

/*Advanced Search CSS*/
.prodoAdvancedSearchTextbox { 

    /*border: 1px solid #999; */
    outline:0; 
    /*padding-left: 25px;*/
   /* height:25px; */
    width: 100%; 
    /*border-radius: 5px;*/
    margin-bottom: 10px ;
    /* */
  } 

  #prodo-form-button-logout{
	width: 60px;
	height: 25px;
	padding: 0px;
	font-weight: bold;
	border-radius: 5px;
	margin: 15px;
	border-color: #495549;
	background-color: rgb(212, 208, 208);
	color: black;
  }
 
/*change the main view container style(main-ui-view inside this view)*/
#prodo-main-view {
	min-height:100%;
	padding-bottom: 30px;
}

#prodo-main-container-view {
	min-height:100%;
	padding-bottom: 5px;
}

/****
** View: Main outer view containing parent view: home
****/

#prodo-row-main-view{
	margin: 0;
}
/**
* View: Marketing
**/

/*change the View: marketing div style*/
#prodo-view-marketing{
	margin-top: 150px;
	margin-left: 60px;
}

/*change the View: marketing heading style*/
#prodo-view-marketing-heading{
	font-weight: bold;
	font-size: 40px;
}

/*change the View: marketing text style*/
#prodo-view-marketing-text{
	font-weight: normal;
	margin-left: 20px;
	font-size: 30px;
	line-height: 30px;
}

/*change the View: marketing button style*/
#prodo-view-marketing-btn{
	
}

/**
* View: Signup
**/

/*change the View: signup div style*/
#prodo-view-signup{
  border: 1px solid #DBDBD4;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; 
  width: 350px;
  min-height: 400px;
  margin-top: 50px;
  margin-left: 100px;
  padding-bottom: 20px;
}
/*change the View: signup form style*/
#prodo-form-signup{
	display: block;
  margin: 0 auto;
  text-align: center;
}
/*change the View: signup form input style*/
.prodo-form-input-signup{
	width:250px;
	height: 30px;
	border-radius: 2px;
	margin: 10px auto;
	display: block;
     
}

#prodo-signup-secure-text{
	display: block;
	font-size: 12px;
margin-left: 10px;
text-align: center;
color: #595365;
}

.radio-btn-signup{
	width: 250px; height: 20px; margin: 10px; display: block;
}

/*change the View: Signup form input button signup style*/
#prodo-form-button-signup{
	width:250px;
	border-radius: 2px;
	background-color: #3a92c6;
	font-size: 20px;
	font: bold;
	position: relative;
	display: block;
  margin: 20px auto;
	text-align: center;
  }

/*change the View: Signup form heading style*/  
#prodo-signup-heading{
	font-weight: normal;
	font-size: 25px;
	line-height: 20px;
	padding: 10px;
	color: #585E61;
}

/*change signup terms style*/  
#prodo-general-terms{
	font-weight: normal;
	font-size: 10px;
	padding-top: 10px;
	margin-left: 10px;
	color: #595365;
	width: 370px;
}

.error-ul{
	list-style-type: disc;
}

.prodo-alert-error-container{
	width:250px; min-height: 30px; border-radius: 2px; margin: 10px auto; display: block; text-align:left; font-size: 12px;
}

/*-----User Account------*/
.prodo-account-container{
	border: 1px solid #b3b3b3; border-radius: 5px; padding: 5px; 
}

#user-account-heading{
	text-align:center; font-weight: bold; margin-top: 5px; margin-bottom: 5px;
}

.account-profile-pic-container{
	height:190px; border-radius: 5px; margin: 20px auto;

}

.account-profile-img{
	width:100px; height:130px; margin: 10px;border-radius: 5px;border:5px solid gray;

}

.user-account-name-text{
	margin-left: 10px; margin-bottom: 0px; font-size: 20px;
}

.prodo-fa{
	margin-right: 5px;
}

.prodo-account-btn{
 margin: 5px; min-width: 80px; font-size: 12px; font-weight:bold;
}

.prodo-account-invites-btn{
	background-color:#47707C; border-color:#3C555C; border-radius: 10px; margin: 15px;
}

.prodo-account-unfollow-btn{
margin:5px auto; display:block; height:25px; width: 95%; background-color:#304A61;
}

.prodo-accordion-heading{
	font-weight:bold; font-size: 13px; margin: 0;
}

.prodo-account-form-control{
	width:55%; height:30px; display:block
}

.prodo-account-text-success{
	text-align:left; font-size:20px; margin: 20px auto;
}

.product-container{
	width:160px; min-height: 200px; float: left; margin: 5px; border: solid 1px #ccc;
}

.product-name-heading{
	margin:5px auto; display:block; text-align:center; font-weight:bold; font-size:12px;
}

.prodo-product-img{
	margin:0px auto; display:block; width:95%; height: 150px; 
}

.prodo-account-text-info{
	text-align:center; font-size:15px;
}

small {
	color: red;
}
/*change signup recaptcha style*/ 
#recaptcha_image,
#recaptcha_image img
{
  width:250px;
	height: 50px;
	border-radius: 2px;
	margin: 10px auto;
	display: block;
}
 #recaptcha_response_field-input-group{
 	width:250px;
	height: 30px;
	border-radius: 2px;
	margin: 0px auto;
	/*display: block;*/
	/*padding-top: 10px;*/
 }

 #recaptcha_response_field{
 	font-size: 12px;
 }
 
 .btn-recaptcha{
	padding: 6px 9px;
}

/**
* View: Signin
**/

/*change the View: Signin form heading style*/  
#prodo-signin-heading{
	font-weight: normal;
	font-size: 25px;
	line-height: 20px;
	padding: 5px;
	color: #585E61;
	text-align: left;
	margin: 10px;
}

#prodo-view-signin{
  border: 1px solid #DBDBD4;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; 
  width: 350px;
  min-height: 400px;
  margin-top: 50px;
  margin-left: 100px;
  padding-bottom: 20px;
}
 
#prodo-form-signin{
	display: block;
    margin: 0 auto;
    text-align: center;
}
/*change the View: signin form input style*/
#prodo-input-signin{
	width:250px;
	height: 30px;
	border-radius: 2px;
	margin: 10px auto;
	display: block;
  
     
}

.prodo-signin-remember-label{
	width: 110px; 
	text-align:left; 
	float: left; 
	margin-left: 50px; 
	font-weight:normal; 
	font-size:12px;
	color: #428bca;
  vertical-align: bottom;
  position: relative;
}

#prodo-input-remember-signin {

    margin:0px;
    vertical-align: bottom;
    position: relative;
    top: -.6px;
    *overflow: hidden;
}

#prodo-signin-forgot-link {
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
    font-weight:normal; 
    font-size:12px;
}



/*change the View: signin form input button signin style*/
#prodo-button-signin{
	width:250px;
	border-radius: 2px;
	background-color: #3a92c6;
	font-size: 20px;
	font: bold;
	position: relative;
	display: block;
  margin: 20px auto;
	text-align: center;
  }
 
/**
* View: Forgotpassword
**/

/*change the View: forgotPassword form heading style*/  
#prodo-forgotPassword-heading{
	font-weight: normal;
	font-size: 25px;
	line-height: 20px;
	padding: 10px;
	color: #2b8dc0;
}
#prodo-view-forgotPassword{
	border: 1px solid #DBDBD4;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; 
  background-color: #f3f5f3;
  width: 400px;
  height: 330px;
  display: block;
  margin: 50px auto;
  text-align: center;
}
 
#prodo-form-forgotPassword{
	display: block;
  margin: 0 auto;
  text-align: center;
}
#prodo-input-forgotPassword{
	width:250px;
	height: 30px;
	border-radius: 2px;
	margin: 10px auto;
	display: block;  
}

/*change the View: forgotPassword form input button forgotPassword style*/
#prodo-button-forgotPassword{
	width:250px;
	border-radius: 2px;
	background-color: #3a92c6;
	font-size: 15px;
	position: relative;
	display: block;
  margin: 20px auto;
	text-align: center;
  }

/**
* View: Resetpassword
**/

/*change the View: resetPassword form heading style*/  
#prodo-resetPassword-heading{
	font-weight: normal;
	font-size: 25px;
	line-height: 20px;
	padding: 10px;
	color: #2b8dc0;
}
#prodo-view-resetPassword{
	border: 1px solid #DBDBD4;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; 
  background-color: #f3f5f3;
  width: 400px;
  height: 330px;
  display: block;
  margin: 50px auto;
  text-align: center;
}
 
#prodo-form-resetPassword{
	display: block;
  margin: 0 auto;
  text-align: center;
}
#prodo-input-resetPassword{
	width:250px;
	height: 30px;
	border-radius: 2px;
	margin: 10px auto;
	display: block;
     
}

/*change the View: resetPassword form input button resetPassword style*/
#prodo-button-resetPassword{
	width:250px;
	border-radius: 2px;
	background-color: #3a92c6;
	font-size: 15px;
	position: relative;
	display: block;
  margin: 20px auto;
	text-align: center;
  }

  /**
* View: regeneratetoken
**/

 
#prodo-input-regeneratetoken{
	width:250px;
	height: 30px;
	border-radius: 2px;
	margin: 10px auto;
	display: block;
     
}

/*change the View: resetPassword form input button resetPassword style*/
#prodo-button-regeneratetoken{
	width:250px;
	border-radius: 2px;
	background-color: #3a92c6;
	font-size: 15px;
	position: relative;
	display: block;
  margin: 10px auto;
	text-align: center;
  }
 
/**
*	Verification Message
**/

/*Change the Verification Panel style*/  
#prodo-verification-panel{
	margin-top: 50px;
	 
}

/*Change the Verification Panel heading style*/  
#prodo-verification-panel-heading{
	 
	font-weight: bold;
	font-family: 20px;
}


/**
*	Orgregistration
**/

.prodo-wizard-container{
	border: 1px solid #DBDBD4;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; 
  width: 80%;
  min-height: 450px;
  display: block;
  margin: 50px auto;
  text-align: center;
}
 
.prodo-wizard-css-form{
	display: block;
  margin: 0 auto;
  text-align: center;
}


.prodo-wizard-heading{
	font-weight: normal;
	font-size: 25px;
	line-height: 20px;
	padding: 5px;
	color: #2b8dc0;
	text-align: left;
	margin: 10px;
}

.prodo-wizard-hr{
	height:1px; margin-top: 0; width: 90%;
}

.prodo-hr{
	height:1px; margin-top: 0; width: 100%;
}

.prodo-account-hr{
	height:1px; margin-top: 0; width: 90%;
}


.prodo-wizard-form-control{
	width:60%;
	height: 30px;
	border-radius: 3px;
	margin: 10px auto;
	display: block;
	font-size: 13px;    
}

#prodo-company-wizard-btn{
	width:60%;
	border-radius: 3px;
	background-color: #3a92c6;
	font-size: 15px;
	font: bold;
  margin: 10px auto;
	text-align: center;
  }

.prodo-wizard-btn{
	width:30%;
	border-radius: 2px;
	background-color: #3a92c6;
	font-size: 15px;
	font: bold;
  margin: 10px auto;
	text-align: center;
}

/**
*	Subscription.address
**/

.prodo-wizard-address-btn{
	width:50%;
	height: 30px;
	border-radius: 3px;
	margin: 10px auto;
	display: block;
	text-align: left;  
	background-color: #f3f5f3; 
	color: black; 
	font-size: 16px;
}

.prodo-wizard-address-label{
	width:60%;
	height: 30px;
	border-radius: 3px;
	margin: 5px auto;
	display: block;
	text-align: left;  
	background-color: #f3f5f3; 
	color: black; 
	font-size: 16px;
	padding-left: 3px;
}

.dropdown-menu>li>a {
display: block;
padding: 3px 20px;
clear: both;
font-weight: normal;
line-height: 1.428571429;
color: #333;
white-space: nowrap;
text-align: left; 
}


#prodo-address-text{
	font-weight: normal;
	font-size: 12px;
	padding-top: 10px;
	margin-left: 50px;
	color: #595365;
}

.error-message{
	font-weight: normal;
	padding-top: 10px;
	text-align: left;
	color: rgb(211, 41, 41);
	margin-left:28%;
}

.error-message-registration{
	font-weight: normal;
	padding-top: 10px;
	text-align: left;
	color: rgb(211, 41, 41);
}

.error-message-wizard{
	font-weight: normal;
/*	padding-top: 0px;*/
	text-align: left;
	color: rgb(211, 41, 41);
	margin-left:20%;
}
/**
*	Subscription.term
**/

#prodo-form-term{
	display: block;
  margin: 0 auto;
  text-align: left;
   
}
#prodo-form-input-term{
	margin-left: 15px;
	text-align: left;
}
#prodo-term{
	overflow-y: scroll; 
	height:280px;
	text-align: left;
}

/*change the View: Signup form input button signup style*/
#prodo-form-term-btn{
	width:122.5px;
	border-radius: 2px;
	background-color: #3a92c6;
	font-size: 15px;
	position: relative;
  margin: 20px auto;
	text-align: center;
  }

/*change the View: Signup form heading style*/  
#prodo-terms-heading{
	font-weight: normal;
	font-size: 25px;
	line-height: 20px;
	padding: 5px;
	color: #2b8dc0;
	text-align: left;
	margin: 10px;
}

#prodo-privacy-label-control{
	font-weight: normal;
	font-size: 25px;
	line-height: 20px;
	padding: 10px;
	color: #2b8dc0;
}

#prodo-term-label-control{
	font-weight: normal;
	font-size: 25px;
	line-height: 20px;
	padding: 10px;
	color: #2b8dc0;
}

/**
*	Subscription.finish
**/

.prodo-wizard-table-container{
	border: 1px solid #DBDBD4;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
  border-radius: 6px;
}

.prodo-wizard-tbl-header{
	padding: 2px;
	font-size: 15px;

}

.prodo-wizard-table{
	margin: 10px;
}

.prodo-wizard-table-tr{
	text-align: left;
	font-size: 13px;
}

.prodo-wizard-table-td{
	text-align: left;
	font-size: 14px;
	width: 35%;
}

.prodo-org-broadcast-container{
	margin: 30px auto;
}


/*#prodo-registration-Wizard-after{
	color :rgb(46, 179, 115); background-color: white; z-index: 100;position: absolute;

}*/

.prodo-wall-dashboard-container{
border: 1px solid #E7EDF1;
background-color: transparent;
  border-radius: 10px;
  margin-top: 10px;
  min-height: 50px;
}
.prodo-org-wizard-nav-hr{
background: black;
width: 279%;
height: 1px;
position: relative;
margin-top: 5%;

}

.prodo-org-wizard-nav-fa{
	color :rgb(201, 201, 201);
	position: absolute;
background-color: white;
}

.prodo-org-wizard-nav-table{
	text-align:center ;margin-bottom: -5%;
}
/**
* Prodo Main View
**/

#prodo-row{
   margin: 0;
}

/* Prodo Main View: Sidebar*/
#prodo-sidebar-list{
  width: 100%; 
}

#prodo-sidebar-list-group-item:last-child {
margin-bottom: 0;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
}

.prodo-wall-sidebar-list-heading.active:hover{
	background-color: #494F53; font-weight: bold; text-align: center; 
}
.prodo-wall-sidebar-list-heading.active{
	background-color: #494F53; font-weight: bold; text-align: center; 
}



.featureTabs{
	display:inline-block;
	background-color:#B2AFB9;
	color:white;
	margin-right:2px;
	margin-bottom:4px;
	border-radius:5px;
	padding:2px;
	margin-top:2px;
}
.featureTabs:hover{
	background-color:#85838B;
}
#prodo-view-navbar{
  margin-top: 0px;
  border: 1px solid #0A3151;
  background-color:#0A3151;
  padding: 5px;
  /*margin-bottom: 10px;*/
}

/* Prodo Main View: Slider*/
#prodo-view-slider{
  margin-top: 0px;
  border: 1px solid transparent;
  background-color:transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
}
 
#prodo-view-slider-slide{
  height: 290px; 
}

#prodo-view-slider-nav{
  background-color: #ffffff;

}

#prodo-slider-nav-pills > li > a {
  border-radius: 0px;
  font-weight: bold;
  color: white;
  padding: 5px 2px;
}

#prodo-slider-nav-pills > li > a:hover {
    background-color:  transparent;
    border-radius: 30px;
    color: rgb(194, 214, 206);
}

#prodo-slider-nav-pills > li.active > a {
background-color: transparent;
color: rgb(199, 163, 18);
border-radius: 30px;
}

/* Prodo Main View: navtabs*/
#prodo-view-slider-navtabs{
  
  border-radius: 0px;
  margin-top: 10px;
}

/**
*Dashboard
**/

#prodo-dashboard-container{
  background-color: transparent;
  border-radius: 10px;
  margin-top: 10px;
  min-height: 50px;
}

 .right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    padding: 10px 250px;
    pointer-events: none;
    color: #ccc;
}

.prodo-follow-btn{
	margin:5px auto; font-size: 14px; padding: 2px; display:block; height:25px; width: 95%; background-color:#304A61;
}

.prodo-following-btn{
	margin:5px auto; font-size: 14px; padding: 2px; display:block; height:25px; width: 95%; background-color:#4F555E;
}

.prodo-following-btn:hover{
	margin:5px auto; font-size: 14px; padding: 2px; display:block; height:25px; width: 95%; background-color:#4F555E;
}

.prodo-following-btn:focus, .prodo-following-btn:active{
	margin:5px auto; font-size: 14px; padding: 2px; display:block; height:25px; width: 95%; background-color:#4F555E;
}

.prodo-follow-btn{
	margin:5px auto; font-size: 14px; padding: 2px; display:block; height:25px; width: 95%; background-color:#304A61;
}

.prodo-follow-btn:hover{
color: #fff;
font-weight: bold;
background-color: #4A5F72;
border-color: #285e8e;
}

.prodo-follow-btn:focus, .prodo-follow-btn:active {
color: #fff;
font-weight: bold;
background-color: #4A5F72;
border-color: #285e8e;
}
/*Barchart*/

text {
  font: 12px sans-serif;
}

.mybarchart {
  width: 500px;
  border: 2px;
}

/*Piechart*/

text {
  font: 12px sans-serif;
}

.mypiechart {
  width: 500px;
  border: 2px;
}

/*.tooltip > .tooltip-arrow {
  
  border-bottom-color: #ffffff;

}*/

.tooltip.right .tooltip-arrow {
  border-right-color: #FFE85A;
  border-width: 5px 5px 5px 0;
}

.tooltip > .tooltip-inner {
  color: #000;
  font-size: 12px;
 	min-width: 50px;
  background: #FFE85A;
  border: solid 1px #FFE85A;
}

/* Prodo Main View: Comments*/
 #prodo-comment-container{
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 10px;
  /*padding-left: 60px;*/

}

/*Screen Chart*/

.abc {
  position: absolute;
  background: rgba(200,200,200,0.75);
  border: 1px solid #ddd;
  padding: 5px 12px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(120,120,120,0.55);
  text-shadow: 0 1px 0 #eee;
}


#a
{ 
/*  width:720px; */
  height:330px;   position : relative ;
/*  display: inline-block;

  background-position:top;*/
} 

/*India Chart*/
                     
#ireland {
     fill: #008000;
     opacity: .8;
     stroke: #FFFFFF;
     stroke-width: .7;
}
/*

.Blues .q0-9{fill : rgb(247,251,255)}

.Blues .q1-9{fill : rgb(222,235,247)}

.Blues .q2-9{fill:rgb(198,219,239)}

.Blues .q3-9 { fill : blue }

.Blues .q4-9{fill:rgb(107,174,214)}

.Blues .q5-9{fill:rgb(66,146,198)}

.Blues .q6-9{fill:rgb(33,113,181)}

.Blues .q7-9{fill:rgb(8,81,156)}

.Blues .q8-9{fill:rgb(8,48,107)}



  
*/
.abctooltip {
  position: absolute;
  background: rgba(200,200,200,0.75);
  border: 1px solid #ddd;
  padding: 5px 12px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(120,120,120,0.55);
  text-shadow: 0 1px 0 #eee;
}
#vis {
    min-height: 550px;
}



.maps
{
  min-height: 300px;    
    width: 600px;
    fill : #EDC9AF;
}


 #map path:hover {
		fill: #5eab1f;
		fill: #567;
		cursor: pointer;    
		pointer-events: all;
	}

#subtitle {
      width : 100;
	    height: 40px;
	    border-top: 0px solid #e2e2e2;
	    padding: 15px;   
		font-family: 'Bevan', serif;
	    font-size: 1.0em;
 }
	
#subblurb {
    height: 40px;
    left : 20;
    border-top: 0px solid #e2e2e2;
    padding: 15px;   
	  font-family: 'Bevan', serif;
    font-size: 1.0em;   
    vertical-align:top;
}

 
/**
*	Footer
**/

/*change the footer div style*/
#footer{
	background-color: #000000;
	background: -webkit-linear-gradient(circle,#333333,#000000);
	padding: 1px;
}

/*change the footer row div style*/
#prodo-row-footer{
	margin: 0;
}
#footer-nav-heading{
  color: #bdbdbd;
  background-color:rgb(25, 32, 26);
  border-radius: 5px;
  width: 75%; 
  /*text-align: center;*/
  font-weight: bold;
  font-size: 14px;
  padding:2px;
}

#footer-nav-list{
list-style-type:none;
padding:5px;
margin:2px;
}

#prodo-copyright{
  margin-left: 230px;
  color: #bdbdbd;
  font-size: 13px;
}

 
/**
*	Field and form validation: input-help
**/
.error{
	border: 1px solid;
	border-color: #000000;
	width: 250px;
	height: 25px;
	margin-left: 50px;
	text-align: center;
	display: block;
	background-color: #333333;
	opacity: 0.85;
	color: #ffffff;
	border-radius: 5px;

}

.fa-check {
    position: absolute;
}
 
/*replace the content value with the 
corresponding value from the list below*/
 
.fa-check:before{
    content: "\f000"; 
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: green;
    padding-right: 0.5em;
    position: absolute;
    top: -35px;
    left: 140px;
     
    
}

/**
*	Prodovideo Directive CSS
**/

.prodovideo {
    width: 100%;
    position: relative;
}
.prodovideo iframe {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*Product Comment drag images*/
 

.close {
  font-size: 20px;
  font-weight: bold;
   
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
}
.close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}
#holder
{ 
/*//border: 3px dashed #ccc; */
/*width:600px;
min-width: 100px; */
/*max-height: 100px; */
/*height:300px; */




}

.tc
{

}

.hz
{
top:0; 
left:0;

} 
.holderx { 
border:0px;
/*width:600px;*/
/*min-width: 100px; */
/*max-height: 100px;*/ 
/*height:300px; */
margin: 2px auto; position:absolute; } 

/*#a { border: 3px dashed #ccc; min-width: 100px; max-height: 100px; height:300px; margin: 2px auto; position:absolute;} */
#holder.hover { border: 3px dashed #0c0; border-radius:10px;width:86%;/*max-height:100px;*/} 
/*#holder img { display: inline; margin: 10px auto; max-height:60px; max-width:60px;} 
#holder p { margin: 10px; font-size: 14px; /*max-height:300px;*/}*/


.fail { background: #c00; padding: 2px; color: #fff;/*max-height:300px;*/ }
.hidden { display: none ;/*max-height:300px;*/}

/*Product Comment drag images*/

/* Prodo-Comment-CSS*/
#prodo-comment-media:hover{background-color:#CEE3F6;}
/*#fa-tagsComment:hover{zoom:1.2;-webkit-transform: scale( 1.2); -moz-transform: scale( 1.2);}*/
.fa-picture-o:hover{color:rgb(139, 9, 241)}
.fa-trash-o:hover{/*color:red;*/}
/*#fa-removeComment:hover{zoom:1.2;-webkit-transform: scale( 1.2); -moz-transform: scale( 1.2);}*/
/*#fa-removeComment:hover{color:gray;}*/

ul {/*list-style-type: none;*/ }
/*li:nth-child(odd) {background-color:#F2F2F2;}*/
.prodo-paddingLeft{padding-left: 50px;}
#prodo-comment-textBox-container {padding-bottom: 10px;}
#prodo-comment-media-list{border:3px;font-family: Helvetica ;font-size:14px;}
#prodo-comment-Textbox { padding: 5px; height:40px;border-radius:10px;font-size:12px;   overflow: hidden;
	font-family: Helvetica ; border: solid 1px #5bc0de; max-height: 75px;max-width: 87%;resize: none;}
#prodo-comment-search-Textbox {  height:40px;width:87%;border-radius:10px;font-size:12px; 
	font-family: Helvetica ; border: solid 1px #5bc0de; }
#prodo-comment-fixed { margin-left:17px;}
#prodo-comment-media {margin-top: 0px;  border-top: 1px outset; border-color:#CCC;padding:5px; max-width: 90%;}
#prodo-comment-row-fluid { word-wrap: break-word;width:420px;text-align: left;font-size:12px;padding-right: 8px; }
#prodo-comment-companyName{color: gray;word-spacing: -.5ex ;}
#prodo-comment-userName{font-size:15px; font-weight:bold;}
#prodo-comment-commentContainer{ max-width: 95%;}
#prodo-comment-addButton{width:400px; }
#prodo-comment-tags{ font-size:11px; font-family: Helvetica ; }
#prodo-comment-tabs{height: 10px; align:left;}
#prodo-comment-timePosted{font-size:10px; }
#fa-removeComment:hover{}
.prodo-tabDelComment{padding: 0px;margin-bottom: -15px;}
/*#commentNavTab{top: -30px;position: relative;}*/
/*#commentNavTab{position: absolute;*/
/*top: 34%;*/
/*left: 77%;}*/
.prodo-EditIcons{width:20%}
.prodo-featurename{word-wrap: break-word;width: 10%; word-break: break-word;}
.prodo-featureDescription{word-wrap: break-word;width: 20%; word-break: break-word;}
.prodo-descriptionDisplay{word-wrap: break-word;width: 98%; word-break: break-word;}
.prodo-CategoryUl{margin-bottom: -20px;word-wrap: break-word;
width: 95%;overflow-x: hidden;overflow-y: auto;left: 40px;position: relative;top: -20px;}
.prodo-userAvatar{height:50px; width:50px}
.prodo-modal-user{ left:200px}
.prodo-userImg{height:90px;width:90px;}
.responseComment{display: none}
.prodo-commentRetry{display: none; cursor: pointer; cursor: hand;}
.prodo-cursor{cursor: pointer; cursor: hand;}
.prodo-comment-img{max-width:450px;}
#padding0del{padding: 0px;}
#padding0img{padding: 0px; padding-right: 5px;}
#commentTab>li.active2 a{ border-bottom :solid 3px #1A8A04;border-radius: 0px;}
.Pcomment:hover{ color : gray;}
.PSearch:hover{ color : gray;}
.commentSearchTextbox{
    border: 1px solid #999; 
    outline:0; 
    padding-left: 25px;
    font-size:11px;
    font-family: Helvetica ; 
    height:25px; 
    width: 500px; 
    border-radius: 5px;}
.list-animate-item {-webkit-transition: color 0.6s, background-color 0.3s;-moz-transition: color 0.6s, background-color 0.3s;-ms-transition: color 0.6s, background-color 0.3s; transition: color 0.6s, background-color 0.3s; }
.list-animate-item.ng-enter {-webkit-animation: fadeIn 0.5s;-moz-animation: fadeIn 0.5s;-ms-animation: fadeIn 0.5s;animation: fadeIn 0.5s;} 
.list-animate-item.ng-leave {-webkit-animation: fadeOut 0.5s;-moz-animation: fadeOut 0.5s;-ms-animation: fadeOut 0.5s;animation: fadeOut 0.5s;}
.nav>li>a:hover, .nav>li>a:focus {
text-decoration: none;
background-color: transparent;
}
#load-more{
/*bottom: -3rem;*/
background-color: rgb(236, 236, 236);
color: black;
line-height: 20px;
text-align: center;
/*padding: 10px 0;*/
font-size:15px;
cursor: pointer;
width: 87%;
margin-bottom: 10px;
 }  
/*#load-more:hover            { color:#666; }   */



/*User  modal - omkar*/
.productFollowedImage
{
  height : 100px;
  width : 100px ;
}

.productFollowedParagraphs
{
  position :absolute;
  
  top: 20px;
  left:20px;
}


.myDiv
{
  position:absolute;
  left: 40px;
}


.productFollowedImages
{
  position :absolute;
  height:65px;
  width:65px;
  left:20px;
}

.parass
{
   
  
}
/*User  modal - omkar*/

 /* Prodo-Comment-CSS*/

 /* Prodo-ProductFeature-CSS*/ 
#prodo-ProductFeatureTable tr:nth-child(even)    { background-color:white;  }
#prodo-ProductFeatureTable{border: 3px;word-wrap: break-word;  }
#prodo-product-features_textfield{width: 160px; height: 30PX; font-size: 12PX; display:inline-block;}
#prodo-product-featuresDescription_textfield{ height:75px;border-radius:10px;font-size:12px; font-family: Helvetica ;  max-height: 75;max-width: 518;resize: none;}
#prodo-product-productgeneralbtn{text-align: left; height: 37px; width: 560px; background-color: #f3f5f3; color: black; font-size: 16px;box-shadow: 5px 5px 3px #888888;}
#prodo-product-productgeneralbtn:hover{ background-color: activeborder;}
.thumb { width:160px; float: left;margin-left: 5px; border: solid 1px #ccc;}
.imagesOrg { width:100px; float: left;margin-left: 5px;margin-bottom: 5px;margin-left: 5px;}
.collapsed2 div{display:none;}
.tab-content{ border-bottom: 0px solid white;margin-top: 1px;}
.collapsed2:hover:after{content: " Click here to follow";border: solid 1px #ccc;padding:5px;}
.prodo-ErrMsging{font-family: Helvetica ;font-size:18px; padding :10px; margin-top:20px; margin-bottom:20px;}
.prodo-productListCorousel{ height:130px;width:auto;}
.prodo-arrowbtnLeft{height: 109px; float: left; margin-top:5px;margin-right:40px; cursor:pointer; font-size:50px;color:gray; background-color:white;}
.prodo-arrowbtnRight{height: 109px;float: right; margin-top:5px; cursor:pointer ; font-size:50px;color:gray; background-color:white;}
.prodo-productThumbnailView{display:inline-block;width:100px; height: 110px; float: left; margin: 5px; border: solid 1px #ccc;}
.prodo-AddProductBtn{color: darkslategrey ; margin:5px auto; display:block; text-align:center; font-weight:bold; font-size:12px;}
.prodo-productThumbnailImg{margin:0px auto; display:block; width:95%; height: 73%;  }
.prodo-ProductDetails{display:block}
.prodo-headings{color: #686114;margin-bottom: -19px;}
.prodo-headings2{color: #686114;}
.prodo.productAdmin1{float:right; padding-left:10px; padding-bottom:20px;}
.btn-bottom-margin{margin-bottom:20px;}
.prodo-productTabledis{background-color: #FFBABA; font-size:16px;}
.prodo-display-discont{display: none;}
.prodo-display-right{float: right}
.prodo-margin5{margin: 5px;}
.prodo-productTableFont{font-size:14px;}
.prodo-AdminFearuresAdd{float:right; padding-bottom:20px;}
.prodo-productFeatureName{width:150px;}
.prodo-productFeaturedescription{width:300px; }
.prodo-productImgThumbnail{width: 150px; height: 150px;}
.prodo-OrgImgThumbnail{width: 100px; height: 100px;}
.prodo-uploadBtnWidth{ width: 200px;}
.clearBoth{clear:both;}
.prodo-TagsBox{width: 87%; }
.prodo-CommentImgPrePosting{width:75px;}
.prodo-uploadedImg{display:none;width:50px; height:50px;}
.prodo-padding-bottom{padding-bottom: 10px;}
.prodo-loadmoreColor{color:gray;}
.prodo-loadmoreMsg{text-align:center; width:518px; font-family: Helvetica ;}
.prodo-productNameList{font-size: 10px;color: darkslategrey;word-break: break-word;max-height: 20px;}
/*.prodo-ProductContainer{border: 1px solid #94d2f8; width: 100%;}*/
.prodo-ProductContainer{ border: 1px solid #E7EDF1;background-color: #ffffff;margin-bottom: 20px;border-radius: 10px;padding: 20px;
}
.prodo-productLogoDisplay{height: 100px; margin-right:30px;width:100px; cursor: pointer;vertical-align: middle;}
.prodo-productNameStrong{font-size: 17px;margin-left: 200px; margin:20px;max-width:200px; text-align:center; color:dark}
.prodo-Modelno{color:#82805F;padding-left: 15px;}
.prodo-description{height:15px; overflow: hidden;  font-size:12px;}
.prodo-comment-Text-tabs {align:left;}
.productDisplay{margin-top: 20px;}
.prodo-followBtn{background-color: #4A5F72;}
.prodo-trendingContainer{font-weight: bold;border-radius: 10px;text-align:center;padding: 5px;background-color: paleturquoise;border: 1px solid #9FBACC;height: 30px;max-width: 300px;position: relative;margin-left: 200px;}
.prodo-CommentDeleteMsg{font-size: 12px;padding-top: 10px;padding-bottom: 10px;background-color: rgb(248, 207, 207);padding-left: 10px;}
.prodo-productThumbnailView:hover{border-bottom: 5px solid gray;} 
.prodo-MainDetailsTable{  color: black;}
.prodo-followesInfotr{width: 50%}
.prodo-followesInfotd{width: 50%;border-right:1px solid #dbdbdb;padding-right:5px;}
.prodo-producttrendingInfoDiv{font-size: 18px;text-align: right;padding-right: 15px;}
.prodo-producttrendingInfoLable{font-size: 10px;text-align: right;}
.prodo-productCommentInfo{ width: 50%; padding-left: 5px;}
.prodo-productCommentInfoDiv{font-size: 18px;text-align: left;width: 50px;padding-left: 15px;}
.prodo-productCommentsInfoLable{font-size: 10px;text-align: left;}
.prodo-delImgs{margin-bottom: 10px;}
.prodo-checkbox{height: 17px;width: 17px;}
.prodo-product-Invalid{color:red;}
#prodo-font{font-size: 13px;}
#img2{text-align: center;}
.prodo-categoryTags{
	display:inline-block;
	background-color:rgba(161,219,255,1);
	color:black;
	margin-right:2px;
	margin-bottom:2px;
	border-radius:5px;
	padding:2px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top:2px;
	font-size: 12px;
	margin-left: 5px;
}
.prodo-lblSelectall{vertical-align: super;}
.activeProduct{border-bottom: 5px solid greenyellow;}
/*.activeProduct{border:1px solid lightblue;animation:mymove 5s infinite;-webkit-animation:mymove 5s infinite;}@keyframes mymove{50% {border:5px solid lightblue;}}@-webkit-keyframes mymove{50% {border:5px solid lightblue;}}*/

/*#commentTab li.active {
	color: lime
}*/
.prodo-right-check{color :rgb(200, 219, 200);font-size: 25px;margin-right: 20px;}


#profile-description {
 position:relative;
 max-width: 100%;
}
#profile-description .text {
word-break: break-word; max-width: 91%; margin-bottom: 5px; color: #777; padding: 0 15px; position:relative; font-family: Arial; font-size: 14px; display: block;
}

#profile-description .show-more:hover { 
    color: #1779dd;
}
#profile-description .show-more-height { height: 40px; overflow:hidden; }

.showMoreMargin{margin-right: 13%;}

.prodo-producttrendingInfo{
	font-size: 10px;
	font-weight: 20;
	color: darkcyan;
}

.modal-header {
background-color: #f5f5f5;
padding: 3px;
text-align: center;
}
/*.modal-content {
width:70%;
left:15%;
}*/
.modal-footer {
padding: 5px;
}

.prodo-validation.ng-dirty.ng-invalid {
    border:1px solid #ff8080;
}


 /* Prodo-ProductFeature-CSS*/ 

.regStatusArrows{
	background: black;width: 65%;height: 2px;position: relative;top: -40px;left: 120px;
}







.productFollowedImage
{
  height : 100px;
  width : 100px ;
}

.productFollowedParagraphs
{
  position :absolute;
  
  top: 20px;
  left:20px;
}


.myDiv
{
  position:absolute;
  left: 40px;
}


.productFollowedImages
{
  position :absolute;
  height:65px;
  width:65px;
  left:20px;
}

.parass
{
   
  
}
 



 
/*warranty*/
.list-animate-item-warranty {-webkit-transition: color 0.6s, background-color 0.3s;-moz-transition: color 0.6s, background-color 0.3s;-ms-transition: color 0.6s, background-color 0.3s; transition: color 0.6s, background-color 0.3s; }
list-animate-item-warranty.new-item {-webkit-animation: fadeIn 1s;-moz-animation: fadeIn 1s;-ms-animation: fadeIn 1s;animation: fadeIn 1s;} 
list-animate-item-warranty.removed-item {-webkit-animation: fadeOut 1s;-moz-animation: fadeOut 1s;-ms-animation: fadeOut 1s;animation: fadeOut 1s;}

list-animate-item-warranty {
    transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    overflow: hidden;
    max-height: 0;
    
    margin: 0 10px;
    padding: 0 10px;
    &.show {
        max-height: 100px;        
        margin: 10px;        
        padding: 10px;        
    } 
}


.spanCommentIMGErr{display:none;}
.spanErr{display:none;}
.spanSuccess{display:none;}
.spanProdIMGERR{display:none;}
.spanProdIMGSuccess{display:none;}
.spanProdFERR{display:none;}
.spanProdFSuccess{display:none;}
.spanProdERR{display:none;}
.spanProdSuccess{display:none;}

.fileinput-button 
{
	position: relative;
	overflow: hidden;
}

.fileinput-button input 
{
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	transform: translate(-300px, 0) scale(4);
	font-size: 23px;
	direction: ltr;
	cursor: pointer;
}

#uploadWrapper {
    overflow: hidden;
    position: relative;
    height: 20px;
    width: 130px;
    margin: 10px ;
    padding-bottom: 20px;

}

#uploadWrapper p {
    position: absolute;
    line-height: 15px;
}

#uploadWrapper input {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    transform: translate(-300px, 0) scale(4);
    filter: alpha(opacity=0);
    opacity: 0;
}

#errAlert{
	margin-bottom: 5px;
	padding: 0px;
}
/*Uploads*/
 
 
.progress {
    overflow: hidden;
    height: 18px;
    margin-bottom: 18px;
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.progress .bar {
    width: 0%;
    height: 18px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #0e90d2;
    background-image: -moz-linear-gradient(top, #149bdf, #0480be);
    background-image: -ms-linear-gradient(top, #149bdf, #0480be);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
    background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
    background-image: -o-linear-gradient(top, #149bdf, #0480be);
    background-image: linear-gradient(top, #149bdf, #0480be);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -ms-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

.progress-striped .bar {
    background-color: #62c462;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    -o-background-size: 40px 40px;
    background-size: 40px 40px;
}

.progress.active .bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
 
 

.progress-info .bar {
    background-color: #4bb1cf;
    background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#339bb9));
    background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
    background-image: linear-gradient(top, #5bc0de, #339bb9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
}

.progress-info.progress-striped .bar {
    background-color: #5bc0de;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

@-webkit-keyframes progress-bar-stripes { 
    from { background-position: 0 0 }

    to { background-position: 40px 0 }
}

@-moz-keyframes progress-bar-stripes { 
    from { background-position: 0 0 }

    to { background-position: 40px 0 }
}

@keyframes progress-bar-stripes { 
    from { background-position: 0 0 }

    to { background-position: 40px 0 }
}


.control-group{ }
#prodo-upload-SelectUploadBtn{font-family: Helvetica ;font-size:22px; text-align: left; }
/*Uploads*/
/*User profile modal css*/
#prodo-userprofileinfoz
{
	background-image: url();
	height: 40%;
/*	//min-width: 100px;*/
	width:100%;
	border: solid 1px #ccc;
}
.prodo-profilepic
{
height:40%;width:90%;border: solid 1px #ccc;
}
#prodo-productsfollowed
{
	border: solid 1px #ccc;
	min-height:200px;
	width:100%;
}
/*#prodo-productfolloweddata
{

}*/

#prodo-productdata
{
/*height:70px;
width:70px;
border: solid 1px #ccc;*/

width:10%; height: 10%; float: left; margin: 5px; border: solid 1px #ccc;
}
.prodo-prodles
{
	margin:0px auto; display:block; width:20px; height: 20px; 
}
#prodle-followed-button
{
	margin:5px auto; display:block; height:9%; width: 9%; background-color:#304A61;
}



.modalProductPic {
     background-color: transparent;
	/*-webkit-transition: all 1s ease;
  	-moz-transition: all 1s ease;
  	-o-transition: all 1s ease;
  	-ms-transition: all 1s ease;
  	transition: all 1s ease;*/
  	display:inline-block;
    margin:5px;
    width: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

}

.modalProductPic:hover {
	cursor: pointer;
    background-color: white;
  /*  transform:scale(1.5);
 
    -webkit-transform:scale(1.2);*/ /* Safari and Chrome */
  
}


.classMain
{
	min-height:20px;
	width:100%;
 
	padding-left:5px;

}

.profileImage
{

}

.prodleImage
{
	height:50px;width:50px;
}
#prodo-productchart-dashboard
{
	min-height: 300px;
}
.modalAppearance
{
		position: relative;
		padding: -10px;
		padding-top: 10px;
		padding-left: 20px;
		/*padding-right: 20px;
		padding-bottom: 20px;
		padding-left: 20px;*/
}

/*Trending Products*/
.thinnerFonts{

	font-size: 10px;
	font-weight: 20;
	color: #9797F3;

}
.leftBorder
{
	border-left: 1px solid black;	
	padding-left: 4px;
}


.hyperlinkPointer
{
	cursor: pointer;
}
.borderBoxResult
 {
 	background-color:#E4CBF5;
 	width:100%;
 	font-size : medium;
    font-family : serif;
 }

.arrowBtn:disabled {
	/*color: #FFFFFF;   background-color: #cccccc;border: none; cursor:not-allowed;*/
	visibility: hidden;
}

.floatRight
{
	float: right;
}

.errorClassMessage
{
	 	background-color:#bce8f1;
	 	color: Black;
}

.controls-upload{
	text-align: left;
	padding-left: 40px;
}

#lineHr
{
border-top: 1px solid #eee;
padding-bottom:5px;
}
#userProfilePic
{
	height:100px;
	width:100px;
}
.closeButtonModal
{
	float:right;
	padding-right:5px;
	padding-bottom: 5px; 
}
.modal_footer
{
padding: 5px 5px 5px;
margin-top: 15px;
text-align: right;
text-align: right;
}
.modalHeading
{
	font-family: serif;
	font-size: 30px;
	color: #757577;
	font-weight: bold;
}
.cursorResize
{
	cursor:pointer;
}
.userDetailsModalPanel
{
	min-height:20px;
	width:100%;
    background-color:ghostwhite;
	padding-left:5px;

}
.resultScrollable
{
	   overflow-y: auto;
	   max-height: 140px;
       width : 100% ;
       overflow-x:hidden;
}

.modal-footer 
{
		padding: 5px 5px 5px;
		margin-top: 15px;
		text-align: right;
		border-top: 1px solid #e5e5e5;
}

.organisationSearchResult
{
     font-size : medium;
     font-family : serif;
     font-weight: 500;
}
.productSearchResult
{
     font-weight: 300 ;
  
}
.textBoxContainer
{
	width : 100%;
	padding-right: 20px;
}

.modalMessageContainer
{
	width : 100%;
	padding-right: 20px;
	margin-bottom: 10px;
}

.prodoNormalSearchTextbox
{
    /*border: 1px solid #999; */
    outline:0; 
    /*padding-left: 25px;*/
   /* height:25px; */
    width: 100%; 
    /*border-radius: 5px;*/
    margin-bottom: 10px ;
}
.advanceSearchText
{
    width:98%;
}
.advanceSearchResult
{
	width : 96%;
}
.sidebarTableStyling
{
		width: 100%; 
		color: black;
		text-align: center;}
.sidebarTableDataStyling
{
	text-align: left;
	width:77%;
}	
	/*Search div box*/
.searchDivHeading
{
	   background-color: #494F53;
       font-weight: bold; 
       font-size:16px; 
       text-align: center;
}
.unfollowButton
{
	background-color: #304A61;
    color: white;
}

#prodo-searchResults
{
    margin-top: -20px;
}

.defaultPointer
{
	cursor: default;
}
/*.searchHeading
{
	 background-color: #494F53; 
	 font-weight: bold; 
	 font-size:16px; 
	 text-align: center;
}*/
.prodo-registration-Wizard-title
{
	font-size:16px;
}
.trendingProductList
{
	width: 100%; 
	color: black;
	text-align: center;
}
.trendingProductListData
{
	font-size: 16px; 
	text-align: center ; 
}
.prodo-admin-container{
	border: 1px solid #E7EDF1; min-height: 50px;
}

.prodo-admin-tab-content{
	margin-top: 30px; min-height: 50px; padding-bottom: 9px; border-bottom: 1px solid #ddd;
}

#prodo-wall-blog-container{
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #E7EDF1;
}

.dropdown-menu>li>a 
{
display: block;
padding: 3px 20px;
clear: both;
font-weight: normal;
line-height: 1.428571429;
color: #333;
white-space: nowrap;
text-align: left;
text-overflow: ellipsis;overflow: hidden;
}

.dropdown-menu {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 160px;
padding: 5px 0;
margin: 2px 0 0;
font-size: 14px;
list-style: none;
background-color: #fff;
border: 1px solid #ccc;
border: 1px solid rgba(0,0,0,0.15);
border-radius: 4px;
-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
box-shadow: 0 6px 12px rgba(0,0,0,0.175);
background-clip: padding-box;
width: 90%;
overflow: hidden;
}
/* width: 51px; */

.prodo-footer-content-container{
background-color: transparent; border-radius: 5px; min-height: 300px; width: 100%;
border: 1px solid #b3b3b3; padding: 30px;
}

.prodo-wall-org-heading-text{
	color: #86846E; margin-bottom: 2px;
}

.prodo-wall-org-hr{
	background-color:#BDBDBD; height:1px; margin-top: 2px; margin-bottom: 10px;
	width: 100%;
}

#prodo-view-orglogodisplay{
	padding: 10px;
}
.prodo-wall-org-logo{
	width: 100px; height: 100px;
}

.prodo-wall-org-name-text{
	font-size: 25px; margin:20px; text-align:center;
}

#growlMessage
{
	/*height:15px;*/
}
/*.addressCountry ul
{
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	list-style: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	background-clip: padding-box;
	width: 32%;
	overflow: hidden;
	background-color: blue ;
}*/

.prodo-wall-org-container{
	border: 1px solid #E7EDF1;
	background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 20px;
}
.org-address-search-form-control{
	width: 270px;
}

.prodo-wall-org-product-container{
	padding: 1px; margin: 7px; border: solid 1px #ccc;
}

.prodo-wall-org-product-name{
margin:2px auto; padding: 5px; display:block; text-align:left; font-weight:bold; font-size:10px;
}

.truncated-product-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.prodo-wall-org-productimg{
	margin:1px auto; display:block; width:95%; height: 100px; 
}

.prodo-wall-product-text{
	text-align:left; font-size:20px; margin: 20px auto;
}

#prodo-row-static-content{
	margin-left: 0px;
	margin-right: 0px;
}

#prodo-org-account-container{
	margin-top: 20px;
}

#prodo-user-account-container{
	margin-top: 20px;
}

#prodo-view-footer-content-container{
	margin-top: 20px;
}

#prodo-view-static-content-container{
	margin-top: : 20px;
}

#prodo-view-org-wizard-container{
	margin-top: 20px;
}
.tablesss thead>tr>th {
vertical-align: bottom;
/*border-bottom: 2px solid #ddd;*/
}

/*.fa-check:before {
content: "\f000";
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
text-decoration: inherit;
color: green;
padding-right: 0.5em;
position: absolute;
top: -35px;
left: 173px;
}*/


