<div class="container">
  <form name=" formOrgRegisterAddress" class="css-form" ng-submit="" novalidate>
  	<center>
  		<div class="control-group">
	      <label class="label-control">Location</label><br>    
				<input name="address1"  type="text" class="form-control" placeholder="Address Line1" ng-model="org.address1" autofocus required>
					<div class="input-help">
            <h4>Field Required!</h4>
          </div>
				<input name="address2"  type="text" class="form-control" placeholder="Address Line2" ng-model="org.address2">
				<input name="address3"  type="text" class="form-control" placeholder="Address Line3" ng-model="org.address3">
				<input name="country"  type="text" class="form-control" placeholder="Country" ng-model="org.country" required>
					<div class="input-help">
            <h4>Field Required!</h4>
          </div>
				<input name="city"  type="text" class="form-control" placeholder="City" ng-model="org.city" required/>
					<div class="input-help">
            <h4>Field Required!</h4>
          </div>
				<input name="state"  type="text" class="form-control" placeholder="State" ng-model="org.state" required/>
					<div class="input-help">
            <h4>Field Required!</h4>
          </div>
				<input name="zip"  type="text" class="form-control" placeholder="Zip Code" ng-model="org.zipcode" required/> 
					<div class="input-help">
            <h4>Field Required!</h4>
          </div>
			</div>
  	</center>
	  <center>
      <button class="btn btn-md btn-primary" type="submit" ui-sref="home.company">Previous</button>
    <button class="btn btn-md btn-primary" type="submit" ui-sref="home.contact">Next</button>
    </center>
   </form>
</div>   