<div class="container-org">
  <form name="formOrgRegisterCompany" class="css-form form-org-register" ng-submit=""  novalidate>
    <center>
      <div class="control-group">
      <label class="label-control">Company</label><br>
      <input name="companyname" type="text" class="form-control" ng-model="org.companyname" placeholder="Company Name" autofocus required/>
        <div class="input-help">
          <h4>Field Required!</h4>
        </div>
 
      <textarea name="description" type="textarea" class="form-control" ng-model="org.description" placeholder="Company Description" required/></textarea>
        <div class="input-help">
          <h4>Field Required!</h4>
        </div>  
 
      <select type="text" class="form-control" ng-model="org" ng-options="org.name for org in orgs" required></select>
        <div class="input-help">
          <h4>Field Required!</h4>
        </div>
 
      <input name="contractid" type="text" class="form-control" ng-model="org.contractid" placeholder="Contract Id" required/>
        <div class="input-help">
          <h4>Field Required!</h4>
        </div>
    </div>
    </center>

    <center>
    	<button class="btn btn-md btn-primary" ui-sref="subscription.address" ng-click="saveUser()">Next</button>
    </center>

	</form>
</div>