<div class="container">
  <form name=" formOrgRegisterContact" class="css-form" ng-submit="" novalidate>
    <center>
      <div class="control-group">
        <label class="label-control">Contact</label><a href="" ng-click="addContact()" class="glyphicon glyphicon-plus-sign"></a><br> 
        <div ng-repeat="contact in contacts">
          <input name="contact" type="text" class="form-control" placeholder="Customer HelpLine" ng-model="org.value" autofocus required/>
          <a href="" ng-click="removeContact(contact)" class="glyphicon glyphicon-remove"></a>
            <div class="input-help">
              <h4>Field Required!</h4>
            </div> 
        </div>
      </div>
    </center>
    <center>
      <button class="btn btn-md btn-primary" type="submit" ui-sref="home.address">Previous</button>
      <button class="btn btn-md btn-primary" type="submit" ui-sref="home.groupuser">Next</button>
    </center>
  </form>
</div>