<div class="container">
  <form class="css-form" name="formOrgRegisterPayment" ng-submit="" novalidate>
    <center>
      <div class="control-group">
      <label class="label-control">Subscribe</label><br>
     	  <input type="text" class="form-control" placeholder="Plan Id" ng-model="org.planid"autofocus required/>

			  <input type="text" class="form-control" placeholder="Plan Type" ng-model="org.plantype" required/>
      </div>
    </center>
    <center>
      <button class="btn btn-md btn-primary" type="submit" ui-sref="home.terms">Previous</button>
    <button class="btn btn-md btn-primary" type="submit" ui-sref="home.display">Next</button>
    </center>  				 
     
  </form>
</div>