  
<!-- Product follow list code -->
<div id="prodo-sidebar-followedproductlist-container">
   <div id="prodo-sidebar-list-group" class="list-group">
    <div id="prodo-sidebar-list" class="list">
      <a style="background-color: #494F53; font-weight: bold; font-size:12px;" class="list-group-item active">Products Followed</a>
      <a  ng-repeat="fp in usersession.productfollowlist | limitTo:5" href="#" id="prodo-sidebar-list-group-item" class="list-group-item" ng-click="emitProdle(fp.prodle,fp.orgid)">{{fp.name}}</a>
    </div>
  </div>
</div>

<!-- Product list code -->
<div id="prodo-sidebar-followedproductlist-container">
  <div id="prodo-sidebar-list-group" class="list-group">
    <div id="prodo-sidebar-list" class="list" >
      <a style="background-color: #494F53; font-weight: bold; font-size:12px;" id="prodo-sidebar-list-group-item" class="list-group-item active">Search</a>
      <div  id="prodo-sidebar-list-group-main" class="list-group-item">


        <input general-search type="text" class="prodoAdvancedSearchTextbox"  name="product" typeahead="name for name in enhancement | filter : $viewValue | limitTo:10" id="searchText" ng-model="productSearch.product"  style="width:100%" placeholder="Org or Product Search"  typeahead-on-select="sampleDataEmitSearch()" typeahead-loading="loadingLocations" typeahead-wait-ms="720">
        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>


<!-- 
  <input type="text" general-search ng-model="productSearch.product" placeholder="Prod or Org Search" typeahead="name for name in enhancement | filter:$viewValue" typeahead-loading="loadingLocations" class="form-control" style="width:100%" typeahead-on-select="sampleDataEmitSearch()" > 
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
 -->

 <!--    <input type="text" ng-model="productSearch.product" placeholder="" typeahead="enh for enhancement in getSearchResult($viewValue) | filter:$viewValue" typeahead-loading="loadingLocations" class="form-control" typeahead-on-select="sampleDataEmitSearch()">
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

 -->

<!--  <input type="text" ng-model="asyncSelected" placeholder="" typeahead="address for address in getSearchResult($viewValue) | filter:$viewValue" typeahead-loading="loadingLocations" class="form-control" typeahead-wait-ms="10000">
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i> -->



   <!--  <p ng-click="a()">test</p> -->
        <a data-toggle="modal"  data-target="#advancedSearchModal" ng-click="modalReset()" >Advanced Search</a>
        <!-- start of advanced search -->
         <div id = "advancedSearchModal" class="modal fade" >      <!-- Modal Code Starts for Advansed-Search -->
            <div class="modal-dialog">
              <div class="modal-content">
                <div>
                  <h4 align="center">Advanced Search </h4>                
                </div>  
                 <hr>

                  <div class="modalAppearance">
                          <p>*Type Comma (,) between all the words you want.Eg: Apple Iphone , Samsung Galaxy Pro</p>            
                    <div class="row">         
                      <div class="col-lg-6">
                        <div class="input-group">                         
                            <input type="text" class="prodoAdvancedSearchTextbox" placeholder="Organization Name [ eg:Prodonus]" id="textBoxOrgName" ng-model="org"/>
                        </div>
                      </div>
                    </div>   
                    <br>
                    <div class="row">         
                      <div class="col-lg-6">
                        <div class="input-group">
                      
                            <input type="text" class="prodoAdvancedSearchTextbox" placeholder="Product Name [ eg:Samsung,Nokia ]" id="textBoxProductName" ng-model="product_name">
                            
                       </div>
                      </div>
                    </div>    
                    <br>
                    <div class="row">         
                      <div class="col-lg-6"> 
                        <div class="input-group">
                            <input type="text" class="prodoAdvancedSearchTextbox"  placeholder="Feature [ eg:JBL Speaker,BOSE Speakers ]" id="textBoxFeatureName"  ng-model="feature" >                                       
                         </div><!-- /input-group -->
                      </div><!-- /.col-lg-6 -->
                    </div>    
                    <br>
                    <div class="row">         
                      <div class="col-lg-6">
                         <div class="input-group">
                           <input type="text" class="prodoAdvancedSearchTextbox" placeholder="Category [ eg:Mobiles,Tablets]" id="textBoxCategoryName" ng-model="category">           
                        </div><!-- /input-group --> 
                        </div>   &nbsp;
                    </div>  
                    <br>  
                    <div class="row">          
                       <div class="col-lg-6">
                          <div class="input-group">
                             <input type="text" placeholder="Please Enter Exact   Model Number [ eg:Grang Duos,S4 ]"  ng-model="model_number" id="textBoxModelNumber" class="prodoAdvancedSearchTextbox">              
                          </div><!-- /input-group -->
                       </div><!-- /.col-lg-6 -->
                    </div>    
            <!--    <p>Search Criteria:{{search}}</p> -->
                    <div id="prodo-searchResults">
                          <u> <h5 ng-bind="message"></h5></u><!-- {{message}}</h5></u> -->
                          <ol>
                          <li ng-repeat="list in result">
                          <a ng-click="emitProdle(list.prodle,list.orgid)" ng-bind="list.name"></a>
                          </li> </ol>   
                    </div>
                </div>  
                                          
                              
                <div class="modal-footer">
                  <button class="btn btn-danger" data-dismiss="modal" ng-click="modalReset()">Cancel</button>         
                   <input type="button" class="btn btn-success" value="Search" ng-click="searchProductData()" id="final" data-dismiss="modal "/>   
                </div>        
                    
                </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
     <!--End of advanced search  --> 
      </div>
    </div>
     <div id="prodo-sidebar-list" class="list">
      <a  ng-repeat="fp in usersession.productfollowlist | limitTo:5" href="#" id="prodo-sidebar-list-group-item" class="list-group-item">coming soon..</a>
    </div>
  </div>
</div>

<!-- Product trending list code -->
<!-- <div id="prodo-sidebar-followedproductlist-container" class="container">
   <div id="prodo-sidebar-list-group" class="list-group">
    <div id="prodo-sidebar-list" class="list">
      <a style="background-color: #494F53; font-weight: bold; fornt-size:12px;" class="list-group-item active"> Trending Products</a>
      <a  ng-repeat="fp in usersession.productfollowlist | limitTo:5" href="#" id="prodo-sidebar-list-group-item" class="list-group-item">coming soon..</a>
    </div>
  </div>
</div>
 -->