<!---------------------tabs below Slider end--------------------------------- -->
     <div id="prodo-view-navbar" class="">
      <ul prodo-nav id="prodo-slider-nav-pills" class="nav nav-pills nav-justified">
   		<li class="active"><a href="" ui-sref="prodo.home.wall.org">Organization</a></li>
      <li><a href="" ui-sref="prodo.home.wall.product"  >Product</a></li>
			<li><a href="" ui-sref="prodo.home.wall.warranty">MyWarranty</a></li>
			<li><a href="" ui-sref="prodo.home.wall.blog">Blog</a></li>
			<li><a href="" ui-sref="prodo.home.wall.dashboard">Dashboard</a></li>
		</ul>
     </div>