<style type="text/css"media="screen">

			
		#campaignlayerslider * {
			font-family: Oswald;
		}

		#campaign-slider-wrapper {
		/*	padding: 5px;*/
			margin-top: 10px;
		}

</style>

<div class="prodo-wall-advertisment-container" id="prodo-advertisment-container">
	<div prodo-signin-modal></div>
	<div style="margin: 10px;" class="row">
		<div ng-show='searchForOrg' style="padding-right: 10px; padding-left: 3px; margin-bottom:10px; border-right:1px solid #b3b3b9;" class="col-md-9">
			<div style="margin: 10px;">
				<button class="prodo-button-theme btn btn-sm btn-primary pull-right" ng-click="back()"><i class="prodo-fa fa fa-undo"></i>Back</button>
		    <h5 class="prodo-home-wall-heading-text-theme">SEARCH RESULTS</h5>
		    <hr size=3 class="prodo-home-wall-hr-theme" noshade>
		    <br>
		 		<div style="margin: 10px;" class="row">
					<div style="margin: 5px auto;"  class="col-md-4" ng-repeat="analytics in searchorganalytics | limitTo:10">
						<a href="" ng-click='transitionToOrgWall(analytics.orgid)'>
							<div style="height: 140px;" class="div-outer">
			  				<div class="inner-1" style="margin: 2px;">
				  				<img ng-show="analytics.org_logo" ng-src="{{analytics.org_logo.image}}" style="width:180px; height:140px;" class="img-rounded">
			    				<img ng-hide="analytics.org_logo" src="../../../assets/images/if_no_org_images_available.jpg" style=" width:180px; height:140px;" class="img-rounded">
			  				</div>
				  			<div class="inner-2" style="margin: 2px; height:140px;">
				  				<h5><strong><em>{{analytics.name}}</em></strong></h5>
				  				<p ng-show="analytics.productcount != 0" style="font-size: 14px; font-weight: bold;">{{analytics.productcount}} Products</p> 

				    			<p ng-show="analytics.productcount != 0" style="margin-left: 7px; font-size: 12px; font-weight: 100;"> {{analytics.followedcount}} Talkins</p>

					    		<p ng-show="analytics.productcount != 0" style="margin-left: 7px; font-size: 12px; font-weight: 100;"> {{analytics.commentcount}} Comments </p>

				    			<p ng-show="analytics.productcount == 0" style="font-size: 13px; font-weight: 300;">This organization has not added any products.</p>
				  			</div>
			    		</div>
			    	</a>	
					</div>
				</div>
		  </div>
		</div>  
		<div ng-hide='searchForOrg' style="padding-right: 10px; padding-left: 3px; margin-bottom:10px; border-right:1px solid #b3b3b9;" class="col-md-9">
			<div style="margin: 10px;" ng-show='orgsponsers.length != 0'>
		    <h5 class="prodo-home-wall-heading-text-theme">SPONSORED</h5>
		    <hr size=3 class="prodo-home-wall-hr-theme" noshade>
		    <br>
		    <div style="margin: 10px;" class="row">
		      <div style="margin: 5px auto;" class="col-md-4" ng-repeat="sponser in orgsponsers">
		      	<a href="" ng-click='transitionToOrgWall(sponser.orgid)'>
		      		<div style="height: 140px;" class="div-outer">
		      			<div class="inner-1" style="margin: 2px;">
					        <img style="width:180px; height:140px;" ng-show="sponser.org_logo" ng-src="{{sponser.org_logo.image}}" alt="{{sponser.name}}" class="img-rounded">
					        <img style="width:180px; height:140px;" ng-hide="sponser.org_logo" src="../../../assets/images/if_no_org_images_available.jpg" alt="{{sponser.name}}" class="img-rounded">
		      			</div>
		      			<div class="inner-2" style="margin: 2px;">
		      				<h5><strong><em>{{sponser.name}}</em></strong></h5>
				  				<p ng-show="sponser.productcount != 0" style="font-size: 14px; font-weight: bold;">{{sponser.productcount}} Products</p>
				    			<p ng-show="sponser.productcount != 0" style="margin-left: 7px; font-size: 12px; font-weight: 100;"> {{sponser.followedcount}} Talkins</p>
				    			<p ng-show="sponser.productcount != 0" style="margin-left: 7px; font-size: 12px; font-weight: 100;"> {{sponser.commentcount}} Comments </p>
				    			<p ng-show="sponser.productcount == 0" style="font-size: 13px; font-weight: 300;">This organization has not added any products.</p>
		      			</div>

		      		</div>
		        </a>
		    	</div>
		    </div>
		  </div>
				
			<div style="margin: 10px;" ng-show='allorganalytics.length != 0'>
		  <br>
			<h5 class="prodo-home-wall-heading-text-theme">LIST OF ORGANIZATIONS</h5>
	    <hr size=3 class="prodo-home-wall-hr-theme" noshade>
	    <br>
				<div style="margin: 10px;" class="row">
					<div style="margin: 5px auto;"  class="col-md-4" ng-repeat="analytics in allorganalytics | limitTo:10">
						<a href="" ng-click='transitionToOrgWall(analytics.orgid)'>
							<div style="height: 140px;" class="div-outer">
			  				<div class="inner-1" style="margin: 2px;">
				  				<img ng-show="analytics.org_logo" ng-src="{{analytics.org_logo.image}}" style="width:180px; height:140px;" class="img-rounded">
			    				<img ng-hide="analytics.org_logo" src="../../../assets/images/if_no_org_images_available.jpg" style=" width:180px; height:140px;" class="img-rounded">
			  				</div>
				  			<div class="inner-2" style="margin: 2px; height:140px;">
				  				<h5><strong><em>{{analytics.name}}</em></strong></h5>
				  				<p ng-show="analytics.productcount != 0" style="font-size: 14px; font-weight: bold;">{{analytics.productcount}} Products</p> 

				    			<p ng-show="analytics.productcount != 0" style="margin-left: 7px; font-size: 12px; font-weight: 100;"> {{analytics.followedcount}} Talkins</p>

					    		<p ng-show="analytics.productcount != 0" style="margin-left: 7px; font-size: 12px; font-weight: 100;"> {{analytics.commentcount}} Comments </p>

				    			<p ng-show="analytics.productcount == 0" style="font-size: 13px; font-weight: 300;">This organization has not added any products.</p>
				  			</div>
			    		</div>
			    	</a>	
					</div>
				</div>
			</div>

			<div style="margin: 10px;" ng-show='latestsignups.length != 0'>
		    <br>
		    <h5 class="prodo-home-wall-heading-text-theme">NEW ORGANIZATION SIGNUP</h5>
		    <hr size=3 class="prodo-home-wall-hr-theme" noshade>
		    <br>
		    <div style="margin: 10px;" class="row">
		      <div style="margin: 5px auto;" class="col-md-4" ng-repeat="signup in latestsignups">
		      	<a href="" ng-click='transitionToOrgWall(signup.orgid)'>
		      		<div style="height: 140px;" class="div-outer">
		      			<div class="inner-1" style="margin: 2px;">
					        <img style="width:180px; height:140px;" ng-show="signup.org_logo" ng-src="{{signup.org_logo.image}}" alt="{{signup.name}}" class="img-rounded">
					        <img style="width:180px; height:140px;" ng-hide="signup.org_logo" src="../../../assets/images/if_no_org_images_available.jpg" alt="{{signup.name}}" class="img-rounded">
		      			</div>
		      			<div class="inner-2" style="margin: 2px;">
		      				<h5><strong><em>{{signup.name}}</em></strong></h5>
				  				<p ng-show="signup.productcount != 0" style="font-size: 14px; font-weight: bold;">{{signup.productcount}} Products</p> 
				    			<p ng-show="signup.productcount != 0" style="margin-left: 7px; font-size: 12px; font-weight: 100;"> {{signup.followedcount}} Talkins</p>
				    			<p ng-show="signup.productcount != 0" style="margin-left: 7px; font-size: 12px; font-weight: 100;"> {{signup.commentcount}} Comments </p>

				    			<p ng-show="signup.productcount == 0" style="font-size: 13px; font-weight: 300;">This organization has not added any products.</p>
		      			</div>

		      		</div>
		        </a>
		    	</div>
		    </div>
		  </div>
			
	
		</div>

		<div style="padding-right: 3px; padding-left: 10px; margin-bottom:10px;" class="col-md-3">
			<h5 class="prodo-home-wall-heading-text-theme">CURRENT CAMPAIGNS</h5>
	    <hr size=3 class="prodo-home-wall-hr-theme" noshade>
	    <br>
	    <div ng-show="(campaigns.length == 0)">
	    	<p class="prodo-account-text-success text-success"><strong><em>There are no active campaigns.</em></strong></p>
	    </div>
			<div ng-show="(campaigns.length != 0)" ng-repeat="campaign in campaigns | limitTo:10">
				
				<p style="font-size: 16px; font-weight: 300px;color: rgb(99, 108, 112);"><em>{{campaign.orgname}}</em></p>
				<a href="">
					<div ng-show= "c.banner_image" style="width:100%;min-height:80px; margin: 5px auto;border-radius: 5px; border:1px solid #b3b3b3;" ng-click='transitionToCampaignWall(c.orgid, c.campaign_id, c.prodle)' ng-repeat="c in campaign.campaigns">
						<img style="border-radius: 5px; width:100%;height:80px;" class="ls-bg" ng-src="{{c.banner_image.image}}">
					</div>
				</a>
				<div style="width:100%;min-height:80px; margin: 5px auto;cursor:pointer; padding: 5px; border-radius: 5px; border:1px solid #b3b3b3;" ng-click='transitionToCampaignWall(c.orgid, c.campaign_id, c.prodle)' ng-show= "c.bannertext" ng-repeat="c in campaign.campaigns">
					<p class="text-info text-center" style="font-size:17px; padding: 5px;word-wrap:break-word;" >
						{{c.bannertext}}
					</p>
				</div>
				
			</div>
		</div>
	</div>
</div>