<div class="container">
  <form name="signinForm" class="css-form" novalidate ng-submit="">
    <center>
      <div class="control-group">
        <label><h4>Sign In</h4></label><br>
        <input name="username" class="form-control" type="text" placeholder="Username" required ng-model="signin.username" />  
          <div class="input-help">
            <h4>Enter valid email:abc@example.com</h4>
          </div>
      
        <input name="password" class="form-control" type="password" placeholder="Password" required ng-model="signin.password" />
          <div class="input-help">
            <h4>Field Required</h4>
          </div>
          <br>
      </div>  
      </center>
      <center>
        <button class="btn btn-lg btn-primary btn-sign" type="submit" ui-sref="home">Sign In</button><br>
        <a class="link" data-toggle="modal" ui-sref="home.forgotPassword">Forgot Password?</a>
        <a class="link" ui-sref="home.signup">New User?</a>
      </center>
  </form>
</div>   
 
