<div id="prodo-view-regeneratetoken">
  <div id="prodo-regeneratetoken-panel" class="panel panel-default">
    <div class="panel-body">
      <div class="activateaccount-alert alert alert-info alert-block">
        <h5 class="alert-heading"><strong><em>Regenerate Token!</em></strong></h5>
        Your token is expired or there is an error sending verification email. Please enter your email below to regenerate verification token.
        <br>
        <br>
          <form id="prodo-form-signin" name="activateaccountForm" class="css-form" ng-submit="regeneratetoken()" novalidate>

            <div class="control-group">
              <input name="email" class="prodo-input-activateaccount form-control" type="email" placeholder="please enter your email" required ng-model="user.email" />
              <button id="prodo-button-regeneratetoken" class="prodo-button-theme btn btn-sm btn-primary">Submit&nbsp;&nbsp;<div prodo-spinner></div></button> 
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
