<!-- User forgot password template -->
<div id="prodo-view-forgotPassword">
 
  <form id="prodo-form-forgotPassword" name="forgotPasswordForm" class="css-form" ng-submit="forgotpassword()" novalidate>

    <div class="control-group">

      <h4 id="prodo-forgotPassword-heading">Forgot Password</h4>
      <div prodo-alert-message></div>

        <input id="prodo-input-forgotPassword" name="email" class="form-control" type="email" placeholder="Email" required ng-model="user.email" /><i class="fa fa-check" ng-show="forgotPasswordForm.email.$dirty && forgotPasswordForm.email.$valid"></i>
        <!-- <div class="error" 
            ng-show="(forgotPasswordForm.email.$dirty && forgotPasswordForm.email.$invalid && forgotPasswordForm.submitted) || 
            (forgotPasswordForm.email.$invalid && forgotPasswordForm.submitted) || (forgotPasswordForm.email.$dirty && forgotPasswordForm.email.$error.required)">
          Email is required.
        </div>
        <div class="error" 
        ng-show="forgotPasswordForm.email.$dirty && forgotPasswordForm.email.$error.email">
        Enter valid email!
        </div> -->
      
      
  </div>  

  <button id="prodo-button-forgotPassword" class="btn btn-sm btn-primary">Submit</button>
  <div prodo-spinner></div>

  </form>

  </div>
  
     


  

     