<!--Template for User Account settings-->
<div style="background-color:white;" id="prodo-user-settings-container" class="container">
	<h4>General Account Settings</h4>
	<ul class="list-group">
	  <li class="list-group-item">
	  	Full Name: {{usersession.currentUser.fullname}}
	  	<a href="" data-toggle="collapse" data-target="#demo" style="text-indent:right;">Edit</a>
	  		<div id="demo" class="collapse">
		  		<form id="prodo-form-signin" name="signinForm" class="css-form" ng-submit="" novalidate>

	    			<div class="control-group">

	        	<input id="prodo-input-signin" name="fullname" class="form-control" type="text" placeholder="{{usersession.currentUser.fullname}}" required ng-model="user.fullname" /> 
	      
	      
	        	<input id="prodo-input-signin" type="password" class="form-control" id="password1" name="password" placeholder="Password" ng-model="user.password" required>
	  				</div>  

	  				<button id="prodo-button" class="btn btn-sm btn-primary">Save Changes</button>
	  				<button id="prodo-button" class="btn btn-sm btn-primary" data-toggle="collapse" data-target="#demo">Cancel</button>
	  			</form>
				</div>
			</li>
	  <li class="list-group-item">Dapibus ac facilisis in</li>
	  <li class="list-group-item">Morbi leo risus</li>
	  <li class="list-group-item">Porta ac consectetur ac</li>
	  <li class="list-group-item">Vestibulum at eros</li>
	</ul>
		<!-- <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#demo">
  		Full Name: {{usersession.currentUser.fullname}}
		</button>

<div id="demo" class="collapse"><input type="text" placeholder="fullname" />
<a href="" data-toggle="collapse" data-target="#demo">cbcvgn</a></div> -->

		<!-- <h5>General Account Settings</h5>
		<input type="file" placeholder="upload image"  required/>
		<input type="text" placeholder="fullname" />
		<input type="text" placeholder="first name" />
		<input type="text" placeholder="last name" />
		<input type="text" placeholder="date of birth" />
		<input type="text" placeholder="gender" />
		<input type="text" placeholder="phone number" />
		<input type="text" placeholder="mobile number" />
		<input type="email" placeholder="email address" />
		<input type="password" placeholder="password" />
		<input type="text" placeholder="address" />
		<input type="text" placeholder="organisation name" />
		<input type="text" placeholder="payment" /> -->
	</div>
</div>

   