<div class="row">
  <div class="col-md-12">
    <div class="thumbnail">
      <img style="width:100px; height:80px; " src="../../assets/images/001.pixel.jpg" alt="...">
      <div class="caption">
        <center><h4>{{usersession.currentUser.fullname}}</h4></center>
        <p><center><a href="#" class="btn btn-default" role="button">Browse</a></center></p>
      </div>
    </div>
    <ul prodo-nav  style="margin-top:10px; background-color:white;" class="nav nav-pills nav-stacked">
      <li class="active"><a ui-sref="account.user.general">General</a></li>
      <li><a ui-sref="account.user.location">Location</a></li>
      <li><a ui-sref="account.user.invites">Invites</a></li>
      <li><a ui-sref="account.user.product">Product</a></li>
      <li><a ui-sref="account.user.subscription">Subscription Plans</a></li>
      <li><a ui-sref="account.user.payment">Payment</a></li>
      <li><a ui-sref="account.user.paymenthistory">Payment History</a></li>
    </ul>
  </div>
</div>