<!-- User reset password template -->
<div id="prodo-view-resetPassword">
 
  <form id="prodo-form-resetPassword" name="resetPasswordForm" class="css-form" ng-submit="resetPassword()" novalidate>
	    <div class="control-group">

	      <h4 id="prodo-forgotPassword-heading">Reset Password</h4>

	      <input id="prodo-input-resetPassword" name="currentpassword" class="form-control" type="text" placeholder="Current Password" required ng-model="user.currentpassword" />  
	         
	  
	      <input id="prodo-input-resetPassword" type="password" class="form-control" id="newpassword" name="newpassword" placeholder="New Password" ng-model="user.newpassword" prodonus-password-validate required>
	         

	      <input id="prodo-input-resetPassword" type="password" class="form-control" id="confirmnewpassword" name="confirmnewpassword" placeholder="Confirm Password" ng-model="user.confirmnewpassword" prodonus-password-check="newpassword"/> 
	        
	    </div>  

	    	<button id="prodo-button-resetPassword" class="btn btn-sm btn-primary">Submit</button>
  </form>
</div>  