<div style="border: 1px solid #b3b3b3; border-radius: 5px; padding: 5px; " id="prodo-user-account-container" style="" class="container">
  <h4 style="font-weight: bold; margin-top: 5px; margin-bottom: 5px;"><center>USER ACCOUNT</center></h4>

  <div style="height:190px; border-radius: 5px; margin-bottom: 10px;" ng-controller="UploadController">
    <div style="margin: 20px auto;" id="prodo-account-row" class="row">

      <div id="prodo-account-col-md-3" class="col-md-3">
        <img ng-show="user.profile_pic" ng-src="{{user.profile_pic.image}}" style="width:150px; height:100px; margin: 10px;">
        <img ng-hide="user.profile_pic" style="width:150px; height:100px; margin: 10px;" src="http://placehold.it/300x200/b3b3b3/ffffff&text=No image available">
        <p style="margin-left: 10px; margin-bottom: 0px; font-size: 20px;">{{user.username}}</p>
        <div id="uploadWrapper" class="btn btn-success">
          <p><i style="margin-right: 5px;" class="fa fa-upload"></i>Upload Photo</p>
          <input type="file" name="file" ng-file-select="onFileSelect($files)" ng-click=" uploadSrc='user';"/>
        </div>
      </div>

      <div id="prodo-account-col-md-6" class="col-md-6">
        <div class="user-account-heading">
          <h4 ng-show="(user.org.orgid != null)">{{user.org.orgname}}</h4>
           <!-- <h4>{{user.username}}</h4> -->
        </div>
      </div>

      <div id="prodo-account-col-md-3" class="col-md-3">
        <a class="btn btn-danger btn-sm pull-right" style="border-radius: 10px; margin: 5px; width: 80px; font-size: 12px; font-weight:bold;" href="" data-toggle="modal" data-target="#myModal"><i style="margin-right: 5px;" class="fa fa-trash-o fa-lg"></i>Delete</a>
      </div>

    </div>
  </div>
      
  	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
		      </div>
		      <div class="modal-body">
		        You have selected to delete your account. This would stop you from any further interaction with Prodonus. Do you want to proceed?
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deleteUserAccount()">Delete Account</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
    <br>
	<accordion>
    <accordion-group>
    	<accordion-heading>
        <p style='font-weight:bold; font-size: 13px; margin: 0;'>GENERAL SETTINGS<i class="fa fa-pencil pull-right"></i></p>
      </accordion-heading>
        <div ng-show='hasChangedEmail'>
          <div growl></div>
        </div>
        <a ng-hide="editEmail" class="btn btn-primary btn-sm pull-right" style="border-radius: 10px; margin: 5px; width: 80px; font-size: 12px; font-weight:bold;" href="#" ng-click="emailEditor()"><i style="margin-right: 5px;" class="fa fa-pencil-square-o"></i>Edit</a>
        <div>
          <form name="form.usergeneralsettingform" class="css-form" ng-submit='' novalidate>
            <dl class="dl-horizontal">
              <dt>Email:</dt>
              <dd ng-hide="editEmail">{{user.email}}</dd>
              <dd ng-show="editEmail"><input name="email" style="width:55%; height:30px; display:block" type="email" class="form-control" placeholder="example@gmail.com" ng-model="user.email" required><small style='color:red;' ng-show="(form.usergeneralsettingform.email.$error.required && !form.usergeneralsettingform.submitted)">Email is required!</small><small style='color:red;' ng-show="(form.usergeneralsettingform.email.$error.email && !form.usergeneralsettingform.submitted)">Enter valid email!</small>
              </dd>
              <br>
              <dt ng-show="editEmail">Password:</dt>
              <dd ng-show="editEmail"><input name="password" style="width:55%; height:30px; display:block" class="form-control" type="password" ng-model="user.password" placeholder="Please enter your password" required><small style='color:red;' ng-show="(form.usergeneralsettingform.password.$dirty && form.usergeneralsettingform.password.$error.required && !form.usergeneralsettingform.submitted)">Password is required!</small></dd>
              <dd ng-show="(form.usergeneralsettingform.submitted && form.usergeneralsettingform.$invalid)"><p class="text-danger">
                <small style="color:red;"><ul>Please enter correct data.
                  <li ng-show="form.usergeneralsettingform.email.$error.required">Email is required!</li>
                  <li ng-show="form.usergeneralsettingform.email.$error.email">Email is required!</li>
                  <li ng-show="form.usergeneralsettingform.password.$error.required">Password is required!</li>
                </ul></small>
              </p></dd>
            </dl>
              <button ng-show="editEmail" class="btn btn-primary btn-sm pull-right" style="border-radius: 10px; margin: 5px; width: 80px; font-size: 12px; font-weight:bold;" ng-click='updateUserEmail()'><i style="margin-right: 5px;" class="fa fa-save"></i>Save</button>
              <button ng-show="editEmail" class="btn btn-primary btn-sm pull-right" style="border-radius: 10px; margin: 5px; width: 80px; font-size: 12px; font-weight:bold;" ng-click="emailEditor()"><i style="margin-right: 5px;" class="fa fa-times"></i>Cancel</button>
          </form>
        </div>
        <br>
        <hr size=3 width="90%;" style="height:1px; margin-top: 0;" noshade>
        <p style="text-align:center; font-size:15px;" class="text-info"><strong>Change Password Settings</strong></p>
        <div ng-show='hasChangedPassword'>
          <div growl></div>
        </div>
        <div>
          <form name="form.userpasswordsettingform" ng-submit='' novalidate>
            <dl class="dl-horizontal">
              <dt>Current Password:</dt>
              <dd><input name="currentpwd" type="password" style="width:55%; height:30px; display:block" class="form-control" ng-model="user.currentpassword" placeholder="Please enter your current password" required><small style='color:red;' ng-show="(form.userpasswordsettingform.currentpwd.$dirty && form.userpasswordsettingform.currentpwd.$error.required || form.userpasswordsettingform.submitted)">Password is required!</small></dd>
              <br>
              <dt>New Password:</dt>
              <dd><input name="newpwd" type="password" style="width:55%; height:30px; display:block" class="form-control" ng-model="user.newpassword" prodonus-password-validate placeholder="Please enter your new password" required>
              <small style='color:red;' ng-show="(form.userpasswordsettingform.newpwd.$dirty && form.userpasswordsettingform.newpwd.$invalid || form.userpasswordsettingform.submitted)">Password should contain atleast 6 characters, a number, alphabet and special symbol.</small></dd>
              <br>
              <dt>Confirm Password:</dt>
              <dd><input name="confirmpwd" type="password" style="width:55%; height:30px; display:block" class="form-control" ng-model="user.confirmpassword" prodonus-password-check="user.newpassword" placeholder="Please confirm your password" required><small style='color:red;' ng-show="(form.userpasswordsettingform.confirmpwd.$dirty && (form.userpasswordsettingform.confirmpwd.$error.required || form.userpasswordsettingform.confirmpwd.$invalid) || form.userpasswordsettingform.submitted)">Password is must and should be same as above.</small></dd>
              <br>
              <dd ng-show="(form.userpasswordsettingform.submitted && form.userpasswordsettingform.$invalid)"><p class="text-danger">
                <small style="color:red;"><ul>Please enter correct data.
                  <li ng-show="form.userpasswordsettingform.currentpwd.$error.required">Current password is required!</li>
                  <li ng-show="form.userpasswordsettingform.newpwd.$invalid">New password should contain atleast 6 characters, a number, alphabet and special symbol.</li>
                  <li ng-show="form.userpasswordsettingform.confirmpwd.$invalid">Confirm password should be same as above!</li>
                </ul></small>
              </p></dd>
            </dl>
            <div>
              <button class="btn btn-primary btn-sm pull-right" style="border-radius: 10px; margin: 5px; width: 80px; font-size: 12px; font-weight:bold;" ng-click='changePassword()'><i style="margin-right: 5px;" class="fa fa-save"></i>Save</button>
              <button class="btn btn-primary btn-sm pull-right" style="border-radius: 10px; margin: 5px; width: 80px; font-size: 12px; font-weight:bold;" ng-click="clear()"><i style="margin-right: 5px;" class="fa fa-times"></i>Cancel</button>
            </div>
          </form>
        </div>

        <br>
        <hr size=3 width="90%;" style="height:1px; margin-top: 0;" noshade>
        <p style="text-align:center; font-size:15px;" class="text-info"><strong>Personal Settings</strong></p>
        <div ng-show='isInvites'>
          <div growl></div>
        </div>
        <a ng-show="!editorEnabled" class="btn btn-primary btn-sm pull-right" style="border-radius: 10px; margin: 5px; width: 80px; font-size: 12px; font-weight:bold;" href="#" ng-click="enableEditor()"><i style="margin-right: 5px;" class="fa fa-pencil-square-o"></i>Edit</a>
        <div>
          <form name="form.userpersonalsettingform" ng-submit='' novalidate>
            <dl class="dl-horizontal">
              <dt>Firstname:</dt>
              <dd ng-show="(user.firstname && !editorEnabled)">{{user.firstname}}</dd>
              <dd ng-show="(!user.firstname || editorEnabled)"><input type="text" name="fname" style="width:55%; height:30px; display:block" class="form-control" ng-model="user.firstname" placeholder="firstname" required><small style='color:red;' ng-show="(form.userpersonalsettingform.fname.$dirty && form.userpersonalsettingform.fname.$error.required)">Firstname is required!</small></dd>
              <br>
              <dt>Lastname:</dt>
              <dd ng-show="(user.lastname && !editorEnabled)">{{user.lastname}}</dd>
              <dd ng-show="(!user.lastname || editorEnabled)"><input type="text" name="lname" style="width:55%; height:30px; display:block" class="form-control" ng-model="user.lastname" placeholder="lastname" required><small style='color:red;' ng-show="(form.userpersonalsettingform.lname.$dirty && form.userpersonalsettingform.lname.$error.required)">Lastname is required!</small></dd>
              <br>
              <dt>Date Of Birth:</dt>
              <dd ng-show="((user.dob != null) && !editorEnabled)">{{user.dob | date: 'MMM-dd-yyyy'}}</dd>
              <dd ng-show="((user.dob == null) || editorEnabled)" ><input type="date" style="width:55%; height:30px; display:block" class="form-control" ng-model="user.dob" placeholder="date of birth"></dd>
              <br>
              <dt>Gender:</dt>
              <dd ng-show="((user.gender != null) && !editorEnabled)">{{user.gender}}</dd>
              <dd ng-show="((user.gender == null) || editorEnabled)"><input type="radio" ng-model="user.gender" value="Male"> Male  
              <input type="radio" ng-model="user.gender" value="Female"> Female</dd>
              <br>
              <dt>Mobile No:</dt>
              <dd ng-show="((user.mobile != null) && !editorEnabled)">{{user.mobile}}</dd>
              <dd ng-show="((user.mobile == null) || editorEnabled)"><input type="text" name="mobile" ng-pattern="/^[0-9]{10}$/" style="width:55%; height:30px; display:block" class="form-control" ng-model="user.mobile" placeholder="mobile no."><small style='color:red;' ng-show="(form.userpersonalsettingform.mobile.$dirty && form.userpersonalsettingform.mobile.$error.pattern)">Mobile no. should not be more than 10 digits.</small></dd>
              <br>
              <dt>Phone No:</dt>
              <dd ng-show="((user.phone != null) && !editorEnabled)">{{user.phone}}</dd>
              <dd ng-show="((user.phone == null) || editorEnabled)"><input type="text" name="phone" ng-pattern="/^[0-9]*$/" style="width:55%; height:30px; display:block" class="form-control" ng-model="user.phone" placeholder="phone no.(020-2123456)"><small style='color:red;' ng-show="(form.userpersonalsettingform.phone.$dirty && form.userpersonalsettingform.phone.$error.pattern)">Phone no should only contain digits.</small></dd>
              <br>
              <dd><p class="text-danger"><small style='color:red;'>{{personalsettingchange}}</small></p></dd>
            </dl>
            <div ng-show="((user.firstname == null) || editorEnabled)">
              <button class="btn btn-primary btn-sm pull-right" style="border-radius: 10px; margin: 5px; width: 80px; font-size: 12px; font-weight:bold;" ng-click='updateUserAccount()'><i style="margin-right: 5px;" class="fa fa-save"></i>Save</button>
              <button class="btn btn-primary btn-sm pull-right" style="border-radius: 10px; margin: 5px; width: 80px; font-size: 12px; font-weight:bold;" ng-click="disableEditor()"><i style="margin-right: 5px;" class="fa fa-times"></i>Cancel</button>
            </div>
          </form>
        </div>
    </accordion-group>
    
    <accordion-group ng-hide="user.org.orgid">
    	<accordion-heading>
        <p style='font-weight:bold; font-size: 13px; margin: 0;'>LOCATION<i class="fa fa-pencil pull-right"></i></p>
      </accordion-heading>
        <p style="text-align:center; font-size:15px;" class="text-info"><strong>User Address Settings</strong></p>
        <div ng-show='hasChangedAddress'>
          <div growl></div>
        </div>
        <div ng-show="((user.address.address1 == null) || editAddress)">
          <form name="form.userlocationsettingform" ng-submit='' novalidate>
            <dl class="dl-horizontal">
              <dt>Address Line1:</dt>
              <dd><input name="address1" type="text" style="width:55%; height:30px; display:block" class="form-control" ng-model="user.address.address1" placeholder="address line1" required><small style='color:red;' ng-show="(form.userlocationsettingform.address1.$dirty && form.userlocationsettingform.address1.$error.required)">Address is required.</small></dd><br>
              <dt>Address Line2:</dt>
              <dd><input name="address2" type="text" style="width:55%; height:30px; display:block" class="form-control" ng-model="user.address.address2" placeholder="address line2" required><small style='color:red;' ng-show="(form.userlocationsettingform.address2.$dirty && form.userlocationsettingform.address2.$error.required)">Address is required.</small></dd><br>
              <dt>Address Line3:</dt>
              <dd><input name="address3" type="text" style="width:55%; height:30px; display:block" class="form-control" ng-model="user.address.address3" placeholder="address line3"></dd><br>
              <dt>Country:</dt>
              <dd><input name="country" type="text" ng-pattern="/^[A-z]*$/" style="width:55%; height:30px; display:block" class="form-control" ng-model="user.address.country" placeholder="country" required><small style='color:red;' ng-show="(form.userlocationsettingform.country.$dirty && form.userlocationsettingform.country.$invalid)">Country should contain only letters.</small></dd><br>
              <dt>State:</dt>
              <dd><input name="state" type="text" ng-pattern="/^[A-z]*$/" style="width:55%; height:30px; display:block" class="form-control" ng-model="user.address.state" placeholder="state" required><small style='color:red;' ng-show="(form.userlocationsettingform.state.$dirty && form.userlocationsettingform.state.$invalid)">State should contain only letters.</small></dd><br>
              <dt>City:</dt>
              <dd><input name="city" type="text" ng-pattern="/^[A-z]*$/" style="width:55%; height:30px; display:block" class="form-control" ng-model="user.address.city" placeholder="city" required><small style='color:red;' ng-show="(form.userlocationsettingform.city.$dirty && form.userlocationsettingform.city.$invalid)">City should contain only letters.</small></dd><br>
              <dt>Zipcode:</dt>
              <dd><input name="zipcode" type="text" ng-pattern="/^[0-9]*$/" style="width:55%; height:30px; display:block" class="form-control" ng-model="user.address.zipcode" placeholder="zipcode"><small style='color:red;' ng-show="(form.userlocationsettingform.zipcode.$dirty && form.userlocationsettingform.zipcode.$invalid)">Zipcode should only contain digits.</small></dd>
              <br>
              <dd><p class="text-danger"><small style='color:red;'>{{locationsettingchange}}</small></p></dd>
            </dl>
            <div>
              <button class="btn btn-primary btn-sm pull-right" style="border-radius: 10px; margin: 5px; width: 80px; font-size: 12px; font-weight:bold;" ng-click='updateUserAddress()'><i style="margin-right: 5px;" class="fa fa-save"></i>Save</button>
              <button class="btn btn-primary btn-sm pull-right" style="border-radius: 10px; margin: 5px; width: 80px; font-size: 12px; font-weight:bold;" ng-click="addrEditor()"><i style="margin-right: 5px;" class="fa fa-times"></i>Cancel</button>
            </div>
          </form>
        </div>
        <div ng-show="((user.address.address1 != null) && !editAddress)">
          <a ng-hide="editAddress" class="btn btn-primary btn-sm pull-right" style="border-radius: 10px; margin: 5px; width: 80px; font-size: 12px; font-weight:bold;" href="#" ng-click="addrEditor()"><i style="margin-right: 5px;" class="fa fa-pencil-square-o"></i>Edit</a>
          <dl class="dl-horizontal">
              <dt>Address:</dt>
              <dd>
                <address>
                  {{user.address.address1}},<br>
                  {{user.address.address2}},<br>
                  {{user.address.address3}}, {{user.address.city}}<br>
                  {{user.address.state}}, {{user.address.country}}<br>
                  <abbr title="Zipcode">Z:</abbr> {{user.address.zipcode}}
                </address>
              </dd>
            </dl>
        </div>
           
    </accordion-group>

    <accordion-group>
    	<accordion-heading>
        <p style='font-weight:bold; font-size: 13px; margin: 0;'>INVITES<i class="fa fa-pencil pull-right"></i></p>
      </accordion-heading>
        <div ng-show='hasChangedAddress'>
          <div growl></div>
        </div>
        <button class="btn btn-info btn-sm" style="background-color:#47707C; border-color:#3C555C; border-radius: 10px; margin: 15px;" ng-click="addUserInvites()"><i style="margin-right: 5px;" class="fa fa-plus-square"></i>Add More Users</button>
        
        <form name="form.userinvitesform" ng-submit='' novalidate>
          <table class="table table-condensed">
            <tbody>
            
              <tr ng-repeat="userinvite in userinvites">
                <td><input class="form-control" ng-model="userinvite.name" type="text" placeholder="Name" required> </td>
                <td><input class="form-control" ng-model="userinvite.email" type="email" placeholder="Email" required></td>
              </tr>
              <br>
              <p class="text-danger"><small style='color:red;'>{{invitesettingchange}}</small></p>
            </tbody>
          </table>
          <button class="btn btn-primary btn-sm pull-right" style="border-radius: 10px; margin: 5px; width: 80px; font-size: 12px; font-weight:bold;" ng-click='sendUserInvites()'><i style="margin-right: 5px;" class="fa fa-share"></i>Send</button>
        </form>
        
        
    </accordion-group>

    <accordion-group>
    	<accordion-heading>
        <p style='font-weight:bold; font-size: 13px; margin: 0;'>PRODUCTS FOLLOWED<i class="fa fa-pencil pull-right"></i></p>
      </accordion-heading>
        <div ng-show='isUnfollowed'>
          <div growl></div>
        </div>
        <div ng-show="(user.products_followed.length == 0)">
          <p style="text-align:left; font-size:20px; margin: 20px auto;" class="text-success"><strong><em>You are not following any products.</em></strong></p>
        </div>
        <div style="width:160px; min-height: 200px; float: left; margin: 5px; border: solid 1px #ccc;" ng-repeat="productf in usersession.productfollowlist">
          <p style="margin:5px auto; display:block; text-align:center; font-weight:bold; font-size:12px;">{{productf.name}}</p>
          <img ng-show="productf.product_logo" style="margin:0px auto; display:block; width:95%; height: 150px; " src="{{productf.product_logo.image}}" alt=" No Image" class="img-rounded">
          <img ng-hide="productf.product_logo" style="margin:0px auto; display:block; width:95%; height: 150px; " alt=" No Image" class="img-rounded" src="http://placehold.it/300x200/b3b3b3/ffffff&text=No image available">
          <button style="margin:5px auto; display:block; height:25px; width: 95%; background-color:#304A61;" class="btn btn-primary btn-sm" ng-click='unfollow(productf)'>unfollow</button>
        </div>
    </accordion-group>
    <accordion-group>
      <accordion-heading>
            <p style='font-weight:bold; font-size: 13px; margin: 0;'>PRODUCTS RECOMMENDED<i class="fa fa-pencil pull-right"></i></p>
        </accordion-heading>
          <div ng-show="(user.products_recommends.length == 0)">
            <p style="text-align:left; font-size:20px; margin: 20px auto;" class="text-success"><strong><em>You have not recommended any products.</em></strong></p>
          </div>
          <div style="width:160px; min-height: 200px; float: left; margin: 5px; border: solid 1px #ccc;" ng-repeat="productr in products_recommends">
            <p style="margin:5px auto; display:block; text-align:center; font-weight:bold; font-size:12px;">{{productr.name}}</p>
            <img ng-show="productr.product_logo" style="margin:0px auto; display:block; width:95%; height: 150px; " src="{{productr.product_logo.image}}" alt=" No Image" class="img-rounded">
            <img ng-hide="productr.product_logo" style="margin:0px auto; display:block; width:95%; height: 150px; " alt=" No Image" class="img-rounded" src="http://placehold.it/300x200/b3b3b3/ffffff&text=No image available">
        </div>
    </accordion-group>

    <accordion-group ng-hide='user.org.orgid'>
    	<accordion-heading>
           <p style='font-weight:bold; font-size: 13px; margin: 0;'>SUBSCRIPTION<i class="fa fa-pencil pull-right"></i></p>
        </accordion-heading>
        <div ng-show="usersession.currentUser.isSubscribed">
          <p style="text-align:left; font-size:20px; margin: 20px auto;" class="text-success"><strong><em>You are currently subscribed for 90-days Free Trial Plan.<br>
          No payment has been taken during trial plan.</em></strong></p>
        </div>
    </accordion-group>

    <accordion-group ng-hide='user.org.orgid'>
    	<accordion-heading>
            <p style='font-weight:bold; font-size: 13px; margin: 0;'>PAYMENT<i class="fa fa-pencil pull-right"></i></p>
        </accordion-heading>
        <div ng-show="usersession.currentUser.hasDonePayment">
          <p style="text-align:left; font-size:20px; margin: 20px auto;" class="text-success"><strong><em>You are currently subscribed for 90-days Free Trial Plan.<br>
          No payment has been taken during trial plan.</em></strong></p>
        </div>
    </accordion-group>

    <accordion-group ng-hide='user.org.orgid'>
    	<accordion-heading>
            <p style='font-weight:bold; font-size: 13px; margin: 0;'>PAYMENT HISTORY<i class="fa fa-pencil pull-right"></i></p>
        </accordion-heading>
        <div ng-show="usersession.currentUser.hasDonePayment">
          <p style="text-align:left; font-size:20px; margin: 20px auto;" class="text-success"><strong><em>You are currently subscribed for 90-days Free Trial Plan.<br>
          No payment has been taken during trial plan.</em></strong></p>
        </div>
    </accordion-group>

  </accordion>
</div>