<div class="row">
  <div class="col-md-12">
    <div class="thumbnail">
      <div ng-app="upload" ng-controller="UploadController">
        <center> <img style="width:100px; height:80px; " ng-src="{{imageSrc}}"  alt="User Profile"></center>
        <form>
          <br>
          <center>  
            <div class="control-group">
              <div class="controls">
                <span class="btn btn-default fileinput-button">
                  <i class="fa fa-plus-square"></i>
                  <input type="file" name="file" ng-file-select="onFileSelect($files)"
                         ><span>Add photo</span>
                </span>
              </div>
            </div>
          </center>
        </form>
       </div>
      <div class="caption">
        <center><h4>{{usersession.currentUser.fullname}}</h4></center>
      </div>
    </div>
    <ul prodo-nav  style="margin-top:10px; background-color:white;" class="nav nav-pills nav-stacked">
      <li class="active"><a ui-sref="account.user.general">General</a></li>
      <li><a ui-sref="account.user.location">Location</a></li>
      <li><a ui-sref="account.user.invites">Invites</a></li>
      <li><a ui-sref="account.user.product">Product</a></li>
      <li><a ui-sref="account.user.subscription">Subscription Plans</a></li>
      <li><a ui-sref="account.user.payment">Payment</a></li>
      <li><a ui-sref="account.user.paymenthistory">Payment History</a></li>
    </ul>
  </div>
</div>