<div id="prodo-view-otpnotification">
  <div id="prodo-otpnotification-panel" class="panel panel-default">
  	 <div class="panel-body">
  	 	<div class="otpnotification-alert alert alert-success alert-block">
  	 		<h5 class="alert-heading"><strong><em>OTP generated successfully!</em></strong></h5>
			  Your one time password has been sent to your account, please check your email and <a href="" ui-sref="prodo.landing.signin" class="alert-link">signin</a> again.
			</div>
     </div>
  </div>
</div>

  