<!-- User reset password template -->
<div class="container">
  <form name="forgotPasswordForm" class="css-form" novalidate ng-submit=""> 
	  <center>
	    <div class="control-group">

	      <label><h4>Reset Password</h4></label><br>

	      <input name="onetimepwd" class="form-control" type="text" placeholder="One time password" required ng-model="user.onetimepwd" />  
	         
	  
	      <input type="password" class="form-control" id="password1" name="password1" placeholder="Password" ng-model="user.password1" prodonus-password-validate required>
	         

	      <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password" ng-model="user.confirmpassword1" prodonus-password-check="password1"/> 
	        
	    </div>  
	  </center>
  </form>
</div>  