<!--Template for User invites Account settings-->
<div style="background-color:white;" id="prodo-user-invites-settings-container" class="container">
	<h4>Invites Account Settings</h4>
	<div prodo-alert-message></div>
	<ul class="list-group">
	  <li class="list-group-item">
	  	Userinvites
	  	<a href="" data-toggle="collapse" data-target="#invites" class="pull-right">Edit</a>
	  		<div id="invites" class="collapse">

		  		<form id="prodo-form-signin" name="signinForm" class="css-form" ng-submit="" novalidate>

	    			<div class="control-group">

	        	<input id="prodo-input-signin" name="invites" type="text" class="form-control" placeholder="Enter email seprated by commas(,)" ng-model="user.invites" prodonus-multi-email-validate required/> 
	      
	      
	        	<input id="prodo-input-signin" type="password" class="form-control" id="password1" name="password" placeholder="Password" ng-model="user.password" required>
	  				</div>  

	  				<button id="prodo-button" class="btn btn-sm btn-primary" ng-click="updateUserAccount()">Save Changes</button>
	  				<button id="prodo-button" class="btn btn-sm btn-primary" data-toggle="collapse" data-target="#invites">Cancel</button>
	  			</form>
				</div>
			</li>
			 
	</ul>
	</div>
</div>

 