<!-- User reset password template -->
<div id="prodo-view-resetpassword">
 
  <form id="prodo-form-resetpassword" name="resetPasswordForm" class="css-form" ng-submit="resetpassword()" novalidate>
	    <div class="control-group">

	      <h4 id="prodo-resetpassword-heading">Reset Password</h4>

	      <hr class="prodo-wizard-hr" size=3 noshade>

	      <input type="password" class="prodo-input-resetpassword form-control" name="currentpassword" placeholder="prodonus generated password" ng-model="user.currentpassword"><i class="fa fa-check" ng-show="resetPasswordForm.currentpassword.$dirty && resetPasswordForm.currentpassword.$valid" ></i>

	      <input type="password" class="prodo-input-resetpassword form-control" name="newpassword" placeholder="new password" ng-model="user.newpassword" prodonus-password-validate required><i class="fa fa-check" ng-show="resetPasswordForm.newpassword.$dirty && resetPasswordForm.newpassword.$valid" ></i>
	         

	      <input type="password" class="prodo-input-resetpassword form-control" name="confirmpassword" placeholder="confirm password" ng-model="user.confirmnewpassword" prodonus-password-check="user.newpassword" required/><i class="fa fa-check" ng-show="resetPasswordForm.confirmpassword.$dirty && resetPasswordForm.confirmpassword.$valid" ></i> 
	        
	    </div>  

	    	<button id="prodo-button-resetpassword" class="btn btn-sm btn-primary">Submit&nbsp;&nbsp;<div prodo-spinner></button>

	    	<div ng-show="(resetPasswordForm.confirmpassword.$dirty && resetPasswordForm.confirmpassword.$invalid) || (resetPasswordForm.currentpassword.$dirty && resetPasswordForm.currentpassword.$invalid) || (resetPasswordForm.newpassword.$dirty && resetPasswordForm.newpassword.$invalid) || (resetPasswordForm.$invalid && resetPasswordForm.submitted)" class="prodo-alert-error-container alert alert-danger">
		      <ul class="error-ul" >
		      	<li ng-show="resetPasswordForm.currentpassword.$dirty && resetPasswordForm.currentpassword.$error.required && resetPasswordForm.currentpassword.$invalid">Password is required.</li>
		        <li ng-show="resetPasswordForm.newpassword.$dirty && resetPasswordForm.newpassword.$error.required && resetPasswordForm.newpassword.$invalid">Password should contain atleast 6 characters, a number, alphabet and special symbol</li>
		        <li ng-show="resetPasswordForm.confirmpassword.$dirty && resetPasswordForm.confirmpassword.$error.required">Password is required.</li>
		        <li ng-show="resetPasswordForm.confirmpassword.$dirty && resetPasswordForm.confirmpassword.$invalid">Password should be same as above.</li>
		      </ul>
    		</div>
  </form>
</div>  