<!-- Prodonus Signin View Template -->
<div id="prodo-view-signin" ng-controller="UserSigninController">
 
  <form id="prodo-form-signin" name="signinForm" class="css-form" ng-submit="signin()" novalidate>

    <div class="control-group">

      <h4 id="prodo-signin-heading">Sign In</h4>

      <hr class="prodo-wizard-hr" size=3 noshade>

      <input id="prodo-input-signin" name="username" class="form-control" type="text" placeholder="Email or username" required ng-model="user.email" /> 
    
    
      <input id="prodo-input-signin" type="password" class="form-control" id="password1" name="password" placeholder="Password" ng-model="user.password" required>

      <label class="prodo-signin-remember-label label-control">
        <input id="prodo-input-remember-signin" type="checkbox" ng-model="user.remember">&nbsp;Remember me
      </label>

      <a href="" id="prodo-signin-forgot-link" ui-sref="prodo.user-content.forgotpassword">forgot password?</a>

    </div> 
    <div ng-show="(signinForm.username.$dirty && signinForm.username.$invalid) || (signinForm.password.$dirty && signinForm.password.$invalid) || (signinForm.$invalid && signinForm.submitted)" class="prodo-alert-error-container alert alert-danger">
      <ul class="error-ul">
        <li ng-show="(signinForm.username.$dirty && signinForm.username.$invalid && signinForm.submitted) || (signinForm.username.$invalid && signinForm.submitted) || (signinForm.username.$dirty && signinForm.username.$error.required)">Username or email is required</li>
        <li ng-show="(signinForm.password.$dirty && signinForm.password.$error.required)|| (signinForm.password.$invalid && signinForm.submitted)">Password is required</li>
      </ul>
    </div> 

    <button id="prodo-button-signin" class="btn btn-sm btn-primary">Sign In&nbsp;&nbsp;<div prodo-spinner></div></button>

    

  </form>

</div>
  
     


  

     