<!--/*
* Overview: comment Template
* Its a comment template which displays comments
* Dated: 29/10/2013.
* Author: Bhagyashri Jangam
* Copyright: Prodonus Software Private Limited and GiantLeap Systems Private Limited 2013
* Change History:
*
* date | author | description 
*
* 27-3/2013 | xyx | Add a new property
* 
*/-->

<li  id="prodo-comment-media"  class="media list-animate-item" ng-repeat="comment in productComments" >
    <a class="pull-left" href="#">
        <img class="media-object" id="img-user" ng-src="http://placehold.it/64x64" alt="User"/> 
    </a>
    <div class="media-body">
        <div class=" pull-left " id="prodo-comment-userName"  >{{comment.user.fullname}}</div>
        <div id="prodo-comment-companyName" class="pull-left"> @{{toCamelCase(comment.user.orgname)}}-{{comment.user.grpname}}</div>  
        <div class="pull-right" id="prodo-comment-timePosted" >{{fromNow(comment.datecreated)}}</div> 
        <div class="pull-left" id="prodo-comment-row-fluid" > {{comment.commenttext}}</div><br>
        <div class="prodo-comment-tabs" id="tabs"   >
            <ul id="myTab" class="nav nav-pills" ng-init="tabCommentTags = false;
                        tabCommentRemove = false" >
                <li><a     ng-click="tabCommentTags = tabCommentTags === false ? true : false;
                        tabCommentRemove = false;"><div id="fa-tagsComment" class="fa fa-tags"  ></div></a></li>
                <li  ><a      ng-click="tabCommentRemove = tabCommentRemove === false ? true : false;
                        tabCommentTags = false;"><div id="fa-removeComment" class="fa fa-trash-o" ></div></a></li>
            </ul>
            <div class="tab-content">
                <div id="Tag" ng-show="tabCommentTags == 1" >
                    <form class="form-horizontal" role="form">
                        <div class="form-group"   >
                            <tags-input  ng-model="comment.tags" placeholder="Add tags" list="pretags" min-length="1"
                                         replace-spaces-with-dashes="false"></tags-input>
                        </div>
                    </form>
                </div>

                <div id="Remove" ng-show="tabCommentRemove == 1"  > Are you sure to remove this comment?
                    <a ng-click="deleteProductComment(comment)">&nbsp; Yes </a>
                </div>      
            </div>
        </div>
    </div>
</li>



