<!-- /*
  * Overview: Product Tabs
  * Tabs to handle product Comments and product features
  * Dated: 03/12/2013.
  * Author: Bhagyashri Jangam
  * Copyright: Prodonus Software Private Limited and GiantLeap Systems Private Limited 2013
  * Change History:
  * ----------------------------------------------------------------------
  * date | author | description 
  * ----------------------------------------------------------------------
  * 03/12/2013 | xyx | Add a new property
  * 
  */-->
<div  id="prodo-comment-container" class="container prodo-ProductContainer">

<div id="ErrMsging" class="prodo-ErrMsging"></div>
<br>
<div id="prodo-ProductDetails">

  <a href="" ng-style="CheckIfAlreadyFollowingProduct()" id="prodo-followBtn"  ng-click="followCurrentProduct()"   class="prodo-button-theme prodo-followBtn pull-right btn btn-primary btn-sm ">  Talkin </a>




      <p class="slide pull-right"><a href="#" id="prodoBtnEnquiry" class="btn-slide btn btn-primary  btn-sm">Product Enquiry</a></p>

        <p class="slide pull-right"><a href="#" id="prodoBtnRating" class="btn-slideRating btn btn-primary  btn-sm">Product Rating</a></p>


        <br/> <br/> <br/>
  <div >
   <img class="img prodo-productLogoDisplay pull-left" id="productLogo" ng-src="{{product.product_logo.image}}" alt-SRC src="../assets/images/if_no_org_images_available.jpg"/>
    



<!--      <strong class="prodo-productNameStrong" >&nbsp;<span ng-bind="product.name.substring(0,20)"> </span></strong> -->

   <!--   <div class="prodo-trendingContainer">
    Followers {{ product.trending.followedcount }}    
    </div>
       <div class="prodo-trendingContainer" >
    Comments {{ product.trending.commentcount }}
    </div> -->
    <center class="prodo-productwallCenterProduct">
     <strong class="prodo-productNameStrong" >&nbsp;<span ng-bind="product.name.substring(0,35)"> </span></strong>
      <table class="prodo-MainDetailsTable" >
     
         <tr class="prodo-followesInfotr" >
           <td class="prodo-followesInfotd prodo-producttrendingInfo" >
             <div class="prodo-producttrendingInfoDiv"  ng-bind="product.trending.followedcount"></div><div class="prodo-producttrendingInfoLable" > Talkins</div> 
            </td>
            <td class="prodo-producttrendingInfo prodo-productCommentInfo">
              <div class="prodo-productCommentInfoDiv" ng-bind="product.trending.commentcount"></div><div class="prodo-productCommentsInfoLable"> Comments</div> 
            </td>
          </tr>
        </table>
        </center>
        <div class="clearBoth"></div>

  <!--   <img class="img prodo-productLogoDisplay" id="productLogo" ng-src="{{product.product_logo.image}}" /> -->
   <!--  <strong class="prodo-productNameStrong" >&nbsp;<span ng-bind="product.name.substring(0,20)"> </span></strong> -->
 <div id="panel" >
 <center><b> Product enquiry form  </b></center>

<div class="prodo-paddingLeft panelFont">
<table>
<tr> 
<td><input type="radio" ng-model="inquiry" value="know"> I want to know more about {{product.name}}   </td>
</tr>
<tr> 
<td><input type="radio" ng-model="inquiry" value="buy"> I want to buy {{product.name}}  </td>
</tr>
<tr> 
<td><input type="radio" ng-model="inquiry" value="custom" > Custom  </td>
</tr>
<tr>
<td><input  type="text" ng-model="productreqMsg "  class="prodo-productwalltextWidth form-control">   </td>
</tr>
<tr>
<td class="prodo-inquirySubmittr">

</td>
</tr>
</table>
<br/>
<i  class="btn-slide padding-right30 prodo-cursor prodoCommentDeleteUp glyphicon glyphicon-circle-arrow-up pull-right" ></i>

<button class="pull-right btn btn-primary btn-sm btn-slide" ng-click="sendEnquiry(product.orgid,product.prodle,inquiry)">Submit</button>
</div>   
<br/><br/>
</div>


<div id="panelRating" >
   <center><b> Product Rating   </b>



          <!-- tabs -->
      <div class="prodo-comment-Text-tabs prodo-paddingLeft"  id="tabs">
        <ul id="ratingTab" class=" commentTab nav nav-pills" ng-init="tabForRating.tabCaptureRating = false;
          tabForRating.tabOverallRating = true" >
          <li class="Pcomment" ng-class="{active3 : tabForRating.tabOverallRating == 1}" >
            <a  class="prodo-cursor" id="prodoCommentTab" ng-click="tabForRating.tabOverallRating = true; tabForRating.tabCaptureRating=false;  " >
             <i class="fa fa-bar-chart-o"></i>  Overall 
            </a>
          </li>

          <li class="PSearch" ng-class="{active3 : tabForRating.tabCaptureRating == 1}"  >
            <a id="prodoCommentSearchTab" class="prodo-cursor" ng-click="tabForRating.tabCaptureRating =  true ; tabForRating.tabOverallRating = false; " >
           <i class="fa fa-sliders"></i>  Capture 
             </a>
          </li>
         
        </ul>


        </div>
        <div class="tab-content">
          <div id="Remove" ng-show="tabForRating.tabOverallRating == true" >
            <br/>
                 <table class="table" style="font-size:12px; width:84%">
                  <tr style="background-color:rgba(222, 184, 135, 0.45); font-weight:bold">
                    <td style="padding: 4px;">
                     Feature Name
                     </td>
                  
                        <td style="padding: 4px;">Users Rated</td>
                        <td style="padding: 4px;">Average Rating</td>
                
               
                  <td style="padding: 4px;">
                 My Rating
                 </td>
                 </tr>
                  <tr ng-repeat="feature in combineRating" >
                 <td style="padding: 4px;">
                 {{feature.featurename}}
                 </td>
                 <td style="padding: 4px;">
                 {{feature.featureUserCount}}
                 </td>
                 <td style="padding: 4px;">
                  <span ng-show="feature.featureoverall"> {{feature.featureoverall}}</span>
                  <span ng-show="feature.featureoverall==null"><em> Not Rated</em></span>
                 
                 </td>
                  <td style="padding: 4px;">
                  <span ng-show="feature.featurerates">  {{feature.featurerates}}</span>
                  <span ng-show="feature.featurerates==null"><em> Not Rated</em></span>
                
                 </td>

                 </tr>

                  


               </table>





                  <i  class="btn-slideRating padding-right30 prodo-cursor prodoCommentDeleteUp glyphicon glyphicon-circle-arrow-up pull-right" ></i>
          </div>
          <div id="Remove" ng-show="tabForRating.tabCaptureRating == true" class="prodo-padding-bottom"  >

        
                 <!-- capture rating -->
                 <br/>
                  <table class="prodo-prodowalltable table " >
                   <tr ng-repeat="value in featuresRates">
                     <td>
                       <span >{{value.featurename}}</span>
                    </td>
                    <td>
                     <slider ng-change="getSelectedRates(value)" floor='1' ceiling='10' step='0' precision='0' stickiness='2' 
                              ng-model='value.featurerates' style="width:200px; margin:5px"></slider>
                    </td>
                    
                    <span >
                      
                    </span>
                    </td>
                  </tr>
                 </table>

                
                  <i  class="btn-slideRating padding-right30 prodo-cursor prodoCommentDeleteUp glyphicon glyphicon-circle-arrow-up pull-right" ></i>
                  <button class="pull-right btn btn-primary btn-sm " ng-click="sendRating(product.orgid,product.prodle,featuresRates)">Submit</button>
                 <!-- capture rating -->

          </div>
    
        </div>

      <!-- tabs -->









    </center>
</div>



    <br>
    <div class="prodo-paddingLeft">
    <span class="prodo-Modelno " >
      MODEL NO :&nbsp; <span ng-bind="product.model_no"></span>
      <br>
      <div  class="prodo-categorypaddingLeft">
      Category :  
         <ul class="prodo-CategoryUl" >
            <li ng-repeat="category in product.category track by $index" class=" prodo-categoryTags" >  <span ng-bind="category" > </span>
            </li>
         </ul>
      </div>
         <br>
      <!-- <span> -->
     <!--     <i ng-click="ShowDescription();" class="fa fa-caret-right fa-2x prodo-cursor"></i> -->
       &nbsp;&nbsp; Description : 
      <!--   <span id="prodo-description" class="prodo-description" ng-bind="product.description" > </span> <i ng-click="ShowDescription();" class=" prodo-cursor"> read more</i> -->


     <div id="profile-description">
      <div class="text show-more-height" ng-bind="product.description">
        
      </div>
      <div ng-style="cslcShowMoreLength()" id="prodo-font" class="fa fa-arrow-down show-more pull-right showMoreMargin prodo-cursor">&nbsp;Show More</div>
    </div>
      <!-- </span> -->
    </span>
    <table id="prodo-ProductFeatureTable" class="prodo-prodowalltable table child prodo-paddingLeft "   >
     <!--  <tr id="prodo-productbnd" class="prodo-productTabledis"  ng-show="product.banneddate">
        <td>Product Banned on : &nbsp;<span ng-bind="formatDate(product.banneddate)"></span></td>
      </tr> -->
      <tr   id="prodo-productDiscontinued" >
        <td class="prodo-font13 "  ng-show="product.sale_discontinuation_date"  >Product Discontinued On &nbsp; <span ng-bind="formatDate(product.sale_discontinuation_date)">
          </span>
        </td>
        <td class="prodo-font13 " ng-show="product.support_discontinuation_date" >Support Discontinued On  &nbsp;<span ng-bind="formatDate(product.support_discontinuation_date)" > </span></td>
      </tr>
    </table>
  </div>
  <div id="prodo-ProdoProductComments" class="prodo-paddingLeft">
    <div id="prodo-comment-fixed" ng-controller="ProductCommentController">
      <!-- tabs -->
      <div class="prodo-comment-Text-tabs " id="tabs">
        <ul id="commentTab" class=" commentTab nav nav-pills" ng-init="tabForComment.tabSearch = false;
          tabForComment.tabComment = true" >
          <li class="Pcomment" ng-class="{active2 : tabForComment.tabComment == 1}" >
            <a  class="prodo-cursor" id="prodoCommentTab" ng-click="tabForComment.tabComment = true; tabForComment.tabSearch=false;tabForComment.tabTesto=false;  hideSearchCategories(); searchfields.commentcategory='';searchfields.general='';"  >
              <div   id="fa-removeComment" name="rm" class=" fa fa-comments-o fa-lg  " ></div>
            </a>
          </li>

          <li class="PSearch" ng-class="{active2 : tabForComment.tabSearch == 1}"  >
            <a id="prodoCommentSearchTab" class="prodo-cursor" ng-click="tabForComment.tabSearch =  true ;
              tabForComment.tabComment = false;tabForComment.tabTesto=false; hideFeature();" >

              <div id="fa-tagsComment" class="fa fa-search fa-lg"  ></div>
            </a>
          </li>

           <li class="PSearch" ng-class="{active2 : tabForComment.tabTesto == 1}"  >
            <a id="prodoCommentTestoTab" class="prodo-cursor" ng-click="tabForComment.tabTesto=true; tabForComment.tabSearch =  false ;
              tabForComment.tabComment = false; hideFeature();  hideSearchCategories();" >

              <div id="fa-tagsComment" class="fa fa-users fa-lg"  ></div>
            </a>
          </li>
         
        </ul>

      <div collapse="isCollapsedSearch" style="width:80%;margin-left:30px;"> 
       <b> Search By : </b>
         <!-- <p style="font-size:12px; color:green">Search :  &nbsp;<span class="commentCategoryTabsSelected"> {{searchBySelected.type}} </span></p> -->

          <ul style="max-height:60px;overflow-x:hidden; overflow-y: auto;">
              <li ng-repeat="feature in searchfields track by $index"  class="hyperlinkPointer commentCategoryTabs"  ng-class="{commentCategoryTabsSelected : searchBySelected.type==feature.name}"> 
              <span ng-bind="feature.name" ng-click="searchBySelected.type=feature.name ; searchfields.commentcategory='';searchfields.general='';" style="font-size:12px;"> </span>
              </li>
           </ul>

        </div>

       <div collapse="isCollapsed" style="width:80%;margin-left:30px;"> 
       <!-- comment tags -->
       <div ng-if="product.commentcategory">
           <b> Select a comment category </b>
           <!-- <p style="font-size:12px; color:green">Comment category : &nbsp;<span class="commentCategoryTabsSelected"> {{commenttagSelected.tag}} </span></p> -->
            <ul style="max-height:60px;overflow-x:hidden; overflow-y: auto;">
                        <li ng-repeat="feature in product.commentcategory track by $index"  class="hyperlinkPointer commentCategoryTabs" ng-class="{commentCategoryTabsSelected : commenttagSelected.tag==feature}" > 
                        <span ng-bind="feature" ng-click="commenttagSelected.tag=feature" style="font-size:12px;"> </span>
                        </li>
                     </ul>
        </div>             

       <!-- comment tags -->
               <b> Select a feature to talk on </b>
               <p style="font-size:10px;">Features are vertically scrollable</p>
                     <ul style="max-height:60px;overflow-x:hidden; overflow-y: auto;">
                        <li ng-repeat="feature in features track by $index"  class="hyperlinkPointer featureTabs" style=""> 
                        <span ng-bind="feature.featurename" ng-click="addFeatureToComment(feature.featurename)" style="font-size:12px;"> </span>
                        </li>
                     </ul>
        </div>
        <div class="tab-content">
          <div id="Remove" ng-show="tabForComment.tabComment == true" >
            <div id="prodo-comment-enterComment" >
              <span class="label label-info   " ng-bind="300 - commenttextField.userComment.length" ></span> 
              <a href="" ng-click="getLatestComments()" >
                <div class="label label-info prodo-display-discont"  id="responseComment" > {{commentError}} </div>
              </a>
              <div ng-controller="DragImageController">
                <div id="prodo-comment-textBox-container">
                  <div id="holder">
                    <textarea ng-init="commenttextField.userComment=''" id="prodo-comment-Textbox" col="40" type="text" class="form-control prodo-validation" name="txtComment" placeholder="Product Conversation [max 300 characters]. You can drag image here to add image with comment..."   ng-model="commenttextField.userComment" comment-limit="300" ng-enter="addProductComment();hideFeature()" required  items="featuretags"  ng-click="showFeature()"></textarea>  
                    <!-- tags -->
                    <div id="prodo-productTags" ng-show="mytags.length > 0">
                      <form  role="form">
                        <div  class="prodo-TagsBox" >
                          <tags-input  add-on-enter="false" add-on-space="true" ng-model="mytags" placeholder="Add tags"  ng-enter="addProductComment()" replace-spaces-with-dashes="false"></tags-input>
                        </div>
                      </form>
                    </div>
                
                  </div>
                    <div class="prodo-CommentImgPrePosting" id="CommentImg">
                          <a class="close prodo-display-discont" id= "crossButton" ng-click="clearReader()">&times;</a> 
                          <img class="prodo-uploadedImg" id="prodo-uploadedCommentImage" />
                    </div>
                </div>
                <!--   <span > 
                  tags
                  
                  </span> -->
              </div>
              <p id="upload" class="hidden">
                <label  >
                <br>
                <input type="file"    >
                </label>
              </p>
            </div>
          </div>
          <div id="Remove" ng-show="tabForComment.tabSearch == true" class="prodo-padding-bottom"  >
            <br>
            <input  ng-model="searchfields[searchBySelected.type]" class="commentSearchTextbox form-control " id="prodo-comment-search-Textbox"  type="text"   placeholder="Search comments ..." ng-click="showSearchCategories()">

   

          </div>

         <div id="Remove" ng-show="tabForComment.tabTesto == true" class="prodo-padding-bottom"  >
          <br>
          <b class="prodo-testimonialsTitle">Testimonials</b>
          <div class="prodo-testomonials">
             <em>This medicine is realy awesome. I used it, its realy nice. Guys please try this medicine </em>
            <br/>
              <span class= "pull-right prodoTestiMonialsUserDetails">
                <span> <b>Bhagyashri Jangam </b></span> from
                <span><b> Giant Leap Systems </b></span>
              </span>

          </div>

          <div class=" prodo-testomonials">
             <span class="prodo-TestimonialText"><em> This medicine is very effective and does not have any side effects.. </em></span>
            
              <span class= "pull-right prodoTestiMonialsUserDetails">
                <span> <b>Omkar Kanekar</b></span> from
                <span><b> MIT </b></span>
              </span>

          </div>

 

        </div>
    
        </div>
      </div>
      <!-- tabs -->
      <div class="span4 spanCommentIMGErr " >
      <div class="alert alert-danger fade" id="text">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong><div id="UploadCommentIMGErrMsg"></div></strong>
      </div>
    </div>
    <div id="prodo-CommentLoadMoreContainer">
      <ul class="media-list "  id="prodo-comment-media-list" style="display">
        <div prodo-comments    id="prodo-comment-commentContainer"  >
        </div>
      </ul>
      <button class="btn btn-default" id="load-more" ng-click="loadMoreComments()" ng-show="showLoadMore.status==true" >  
      <span id="img-spinner" > <i  class=" prodo-loadmoreColor fa fa-spinner fa-spin "> </i></span>
      Load more...
      </button>
      <div id="loadMoreCommentMsg" class="prodo-loadmoreMsg" ></div>
    </div>


    </div>
  </div>
</div>