<!-- /*
* Overview: Comment container 
* All comments block is defined here...
* Dated: 29/10/2013.
* Author: Bhagyashri Jangam
* Copyright: Prodonus Software Private Limited and GiantLeap Systems Private Limited 2013
* Change History:
*
* date | author | description 
*
* 27-3/2013 | xyx | Add a new property
* 
*/
-->


<!--<div id="prodo-comment-container" class="container" style="border: 1px solid #94d2f8; width: 80%; margin-left:64.5px; " ng-controller="ProductController">-->
    <div id="prodo-comment-fixed" style="">
    
        <div id="prodo-comment-enterComment" >
            <span class="label label-info   "  >{{300 - commenttextField.userComment.length}}</span>   
            <textarea  type="text" class="form-control" name="txtComment" placeholder="Product Conversation [max 300 characters]" id="prodo-comment-Textbox" col="40"  ng-model="commenttextField.userComment" comment-limit="300" ng-enter="addProductComment()" required ></textarea> 
        </div>
        <ul class="media-list "  id="prodo-comment-media-list">

            <div prodo-comments when-scrolled="loadMore()"    id="prodo-comment-commentContainer"  >

            </div>  
        </ul>
    </div>
<!--</div>-->

