<!-- /*
  * Overview: Product Features 
  * All Product features defined here...
  * Dated: 27/11/2013.
  * Author: Bhagyashri Jangam
  * Copyright: Prodonus Software Private Limited and GiantLeap Systems Private Limited 2013
  * Change History:
  * date | author | description 
  * 27-3/2013 | xyx | Add a new property
  *
  */
  -->
<div id="prodo-productsAdmin">
  <!-- All Product List -->
  <div ng-show="ErrMsging" id="ErrMsging" class="prodo-ErrMsging" ></div>

  <br>
  <div class="prodo-productListCorousel" >
    <button class="arrowBtn prodo-arrowbtnLeft" ng-show="productlist.length > 4 " ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" >
      <
      <!--  <i style="color:gray; font-weight:weight:lighter" class="fa fa-chevron-left fa-3x"></i>  -->
    </button>
    <a onclick="  $('#ErrMsging').css('display', 'none');$('#prodo-ProductDetails').show(); $('#productExtraInfo').css('display','none'); $('#prodo-productDiscontinuedUpdate').hide();" ng-click="  productForm.$setPristine(); enableEditor() ;  editStatus='add'; clearText();  " class="prodo-cursor" >
      <div class="prodo-productThumbnailView" >
        <p class="prodo-AddProductBtn " >Add Product</p>
        <div class="prodo-productThumbnailImg fa fa-plus fa-4x img-rounded"  align="center" ></div>
      </div>
    </a>

          <!-- Modal -->
      <div class="modal fade" id="changeProductModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Change Product</h4>
            </div>
            <div class="modal-body">
              Changing product now may cause to data loss which you have entered about current product <br>
              Are you sure you want to change product ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default " data-dismiss="modal"> <i class="glyphicon glyphicon-remove"></i>  &nbsp; Cancel</button>
              <button type="button" class="btn btn-danger " id="ChangeProductOkButton" data-dismiss="modal" ><i class="glyphicon glyphicon-trash"></i>&nbsp; OK </button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->



    <div ng-show="productlist.length>0"  ng-repeat="product1 in productlist  | startFrom:currentPage*pageSize | limitTo:pageSize" >
    <div class="prodo-productThumbnailView"   ng-class="{activeProduct : product1.prodle==product.prodle}" >
      <a ng-click="getSelectedProduct(product1);" class="prodo-cursor"  href="" >
        <p class="prodo-AddProductBtn prodo-productNameList" >{{product1.name.substring(0,13)}}</p>
        <img  ng-src="{{product1.product_logo.image}}" alt-SRC src="../assets/images/if_no_org_images_available.jpg"  class="prodo-productThumbnailImg img-rounded">
      </a>
    </div>
    </div>
    <button class="arrowBtn prodo-arrowbtnRight"  ng-show="productlist.length > 4 " ng-disabled="currentPage >= productlist.length/pageSize - 1" ng-click="currentPage=currentPage+1" >
      >
      <!-- <i style="color:gray; font-weight:weight:lighter" class=" fa fa-chevron-right fa-3x"></i>  -->
    </button>
  </div>
  <div class="clearBoth"></div>

   

<!--  <div  ng-show="productCategoryInvalid==true" class="prodo-product-Invalid">Please enter category</span> -->
  </div>
 <div  ng-show="(productForm.display_name.$dirty && editMode.editorEnabled==true) ||(productForm.submitted==true && productForm.display_name.$invalid==true)" class="prodo-product-Invalid">
  <span ng-show="productForm.display_name.$error.maxlength"> Display name can not be more than 15 characters</span>
  </div>

 <div  ng-show="(productForm.name.$dirty  && editMode.editorEnabled==true ) ||(productForm.submitted==true && productForm.name.$invalid==true)" class="prodo-product-Invalid">
  <span ng-show="productForm.name.$error.required">Please enter product name</span>
  <span ng-show="productForm.name.$error.maxlength">Product name can not be more than 50 characters  </span>
  </div>
   
  <div  ng-show="(productForm.model_no.$dirty  && editMode.editorEnabled==true)||(productForm.submitted==true && productForm.model_no.$invalid==true)" class="prodo-product-Invalid">
   <!-- <span ng-show="productForm.model_no.$error.required">Please enter model number</span> -->
  <span ng-show="productForm.model_no.$error.maxlength"> Model number can not be more than 15 characters </span>
  </div>

 <div  ng-show="(productForm.description.$dirty  && editMode.editorEnabled==true)||(productForm.submitted==true && productForm.description.$invalid==true)" class="prodo-product-Invalid">
  <span ng-show="productForm.description.$error.required">Please enter description</span>
  <span ng-show="productForm.description.$error.maxlength">Description can not be more than 1000 characters</span>
 </div>
   <div  ng-show="(productForm.prodDis.$dirty  && editMode.editorEnabled==true)||(productForm.submitted==true && productForm.prodDis.$invalid==true)" class="prodo-product-Invalid">
   <span ng-show="productForm.prodDis.$invalid"> Please enter valid product discontinued date </span>
  </div>
    <div  ng-show="(productForm.supDis.$dirty  && editMode.editorEnabled==true)||(productForm.submitted==true && productForm.supDis.$invalid==true)" class="prodo-product-Invalid">
    <span ng-show="productForm.supDis.$invalid"> Please enter valid support discontinued date </span>
  </div>
 <span ng-show="productForm.display_name.$error.required && !productForm.display_name.$pristine">Please Enter display name</span>
 
  <div id="prodo-ProductDetails" class="prodo-ProductDetails">
    <!-- All Product List -->
    <!-- General -->
    <div class="prodo-product-general "  >
      <!-- <h4 class="prodo-headings">GENERAL</h4> -->

      <!-- <br><br> -->
      <!-- admin tasks -->
      

      <!-- Modal -->
      <div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Delete Product</h4>
            </div>
            <div class="modal-body">
              Once deleted this product, it won't be accessible .<br>
              Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default " data-dismiss="modal">  <i class=" glyphicon glyphicon-remove"></i> &nbsp; Cancel </button>
              <button type="button" class="btn btn-danger  " ng-click="deleteProduct();" data-dismiss="modal" >  <i class=" glyphicon glyphicon-trash"></i> &nbsp; Delete </button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
      <!-- display mode -->
      <div ng-show="product.prodle && editMode.editorEnabled==0">
        <h4  class="prodo-wall-org-heading-text">GENERAL</h4>

       <div  class="prodo.productAdmin1 pull-right "  id="prodo.productAdmin" ng-style="checkAdmintoUpdateProduct();" >
        <a href="" class="btn btn-primary  btn-bottom-margin" ng-click="editStatus='update' ; enableEditor() ;  "  onclick="$('.prodo-productDiscontinuedUpdate').show();"><i class="fa fa-pencil-square-o "></i>  &nbsp; Update </a>
        <a href="" class="btn btn-danger  btn-bottom-margin" data-toggle="modal" data-target="#myModalDelete">  <i class="fa fa-trash-o"></i> &nbsp; Delete </a> 
        <br>
      </div>
    </div>
      <table ng-if="product && editMode.editorEnabled==0" class="  prodo-productTableFont  table child  table-hover "  id="prodo-ProductFeatureTable" >

    <!--     <tr id="prodo-productbnd" class="prodo-productTabledis"  ng-show="product.banneddate">
          <td>Product Banned on : &nbsp;<span ng-bind="formatDate(product.banneddate)"></span></td>
        </tr> -->
        <tr  id="prodo-productDiscontinued" class="prodo-productTabledis" >
          <td class="prodo-productTabledis" ng-show="product.sale_discontinuation_date" >Product Discontinued On &nbsp; <span ng-bind="formatDate(product.sale_discontinuation_date)"></td>
          <td class="prodo-productTabledis" ng-show="product.support_discontinuation_date">Support Discontinued On  &nbsp;<span ng-bind="formatDate(product.support_discontinuation_date)" > </span></td>
        </tr>
        <tr class="prodo-productTableFont" >
          <td colspan="2" class="prodo-productTableFont" >Product Display Name :&nbsp; <span ng-bind="product.display_name" > </span></td>
         
        </tr>
        <tr class="prodo-productTableFont" >
          <td  class="prodo-productTableFont" >Product Name :&nbsp; <span ng-bind="product.name" > </span></td>
          <td  class="prodo-productTableFont" >Model No :&nbsp; <span ng-bind="product.model_no"></span></td>
        </tr>
        <td colspan="2" ng-show="product.category" >Category :  
         <ul class="prodo-CategoryUl" >
            <li ng-repeat="category in product.category track by $index" class=" prodo-categoryTags" >  <span ng-bind="category" > </span>
            </li>
         </ul>
        </td>
        <tr  class="prodo-productTableFont" >
          <td    colspan="2" class="prodo-productTableFont">Description : &nbsp;<span ng-bind="product.description" class="prodo-descriptionDisplay"> </span></td>
        </tr>
      </table>

    </div>
    <!-- display mode -->
    <!-- edit mode -->
    <form  id="Edit"  ng-show="editMode.editorEnabled==true"  name="productForm"  >
  <h4 class="prodo-wall-org-heading-text">GENERAL</h4>
       <div class="prodo-product-general productDisplay " >
        <table class="table child table-hover  prodo-productTableFont" id="prodo-ProductFeatureTable">
          <!-- <tr ng-show="editStatus=='update'" class="prodo-productDiscontinuedUpdate prodo-productTabledis prodo-display-discont " id="prodo-productDiscontinuedUpdate"  > -->
          <!--   <td >Product Banned on  <input  id="prodo-product-features_textfield" type="text" class="form-control prodo-display-right" ng-model="product.banneddate" name="banneddate"  datepicker-popup="{{format}}"  is-open="opened6"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="Close" /></td> -->
          <!-- </tr> -->
          <tr   ng-show="editStatus=='update'"  class="prodo-productDiscontinuedUpdate prodo-productTabledis prodo-display-discont "  >
            <td class="prodo-productTabledis" >Product Discontinued   <input  id="prodo-product-features_textfield" type="text" class="form-control prodo-display-right" ng-model="product.sale_discontinuation_date" name="prodDis"  datepicker-popup="{{format}}"  is-open="opened4"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="Close" /></td>
            <td class="prodo-productTabledis" >Support Discontinued   <input id="prodo-product-features_textfield" type="text" class="form-control prodo-display-right" ng-model="product.support_discontinuation_date" name="supDis"  datepicker-popup="{{format}}"  is-open="opened5"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="Close"/></td>
          </tr>
           <tr>
            <td >   Product Display Name <input ng-model="product.display_name"
              ng-maxlength="15"  id="prodo-product-features_textfield" class="form-control prodo-display-right prodo-validation"  type="text"    name="display_name"  />  </td>
           
          </tr>
          <tr>
            <td >   Product Name <input ng-model="product.name" 
              ng-maxlength="50"  id="prodo-product-features_textfield" class="form-control prodo-display-right prodo-validation"  type="text"    name="name" required />  </td>
            <td  >Model No  <input id="prodo-product-features_textfield" type="text"  ng-maxlength="50"class="form-control prodo-display-right prodo-validation" ng-model="product.model_no"   name="model_no"  /></td>
          </tr>
             <tr  tooltip="To add categories press enter. " tooltip-placement="right">
            <td  colspan="2">Category   

                        <!-- <div  class="" >
                          <tags-input  add-on-enter="false" add-on-space="true" ng-model="product.category" placeholder="Add tags"  list=""
                            replace-spaces-with-dashes="false"  ></tags-input>
                             </div> -->
            <tags-input ng-show="(editStatus=='add')" minTags="1" add-on-blur="true" list="listProductCategories()" ng-model="category" min-length="1" placeholder="Special symbols (eg. @,-,# etc ) are not allowed.">
            </tags-input>

              <tags-input ng-show="(editStatus=='update')" minTags="1" add-on-blur="true" ng-model="product.category" list="listProductCategories()"  min-length="1" placeholder="Special symbols (eg. @,-,# etc ) are not allowed." ></tags-input>               
            </td>
          </tr>
          <tr>
            <td  colspan="2">Description   <textarea  type="text" 
              ng-maxlength="1000" id="prodo-product-featuresDescription_textfield" class="form-control prodo-validation"  ng-model="product.description" required name="description" col="40"  ></textarea>
            </td>
          </tr>
          <tr >
            <td colspan="2">
              <!--   <button type="submit" class="btn btn-info" style="width: 550px;"  ng-click=" $parent.isEditing = false" >Save</button>
                -->
              <a   ng-click="addProduct(editStatus); category=[];" class="btn btn-primary   pull-right prodo-margin5"   ><i class="fa fa-floppy-o"></i>  &nbsp; Save</a>
              <a onclick="$('#productExtraInfo').css('display','block');" class="btn btn-default   pull-right prodo-margin5"  ng-click="disableEditor();category=[];  " > <i class="glyphicon glyphicon-remove"></i> &nbsp; Cancel </a>
            </td>
          </tr>
        </table>
      </div>
    </form>
    <!-- edit mode -->
    <!-- General -->  
    <div class="clearBoth"></div>
    <hr>

   

  <div  ng-show="(productFeaturesForm.name.$dirty && editMode.editorEnabledF ==true) ||(productFeaturesForm.submitted==true && productFeaturesForm.name.$invalid==true)" class="prodo-product-Invalid">
  <span ng-show="productFeaturesForm.name.$error.required">Please enter feature name</span>
  <span ng-show="productFeaturesForm.name.$error.maxlength">Feature name can not be more than 50 characters</span>
  </div>

  <div  ng-show="(productFeaturesForm.description.$dirty  && editMode.editorEnabledF ==true) ||(productFeaturesForm.submitted==true && productFeaturesForm.description.$invalid==true)" class="prodo-product-Invalid">
  <span ng-show="productFeaturesForm.description.$error.required">Please enter feature description</span>
  <span ng-show="productFeaturesForm.description.$error.maxlength"> Feature description can not be more than 500 characters </span>
  </div>

   <div  ng-show="productFeatureUpdate.name.$dirty " class="prodo-product-Invalid">
  <span ng-show="productFeatureUpdate.name.$error.required">Please enter feature name</span>
  <span ng-show="productFeatureUpdate.name.$error.maxlength">Feature name can not be more than 50 characters </span>
  </div>

  <div  ng-show="productFeatureUpdate.description.$dirty  " class="prodo-product-Invalid">
  <span ng-show="productFeatureUpdate.description.$error.required">Please enter feature description</span>
  <span ng-show="productFeatureUpdate.description.$error.maxlength">Feature description can not be more than 500 characters </span>
  </div>

    <div id="productExtraInfo" ng-show="product && editMode.editorEnabled==0" >
      <!-- Features -->
  <!--     <h4 class="prodo-headings">FEATURES</h4> -->
  <h4 class="prodo-wall-org-heading-text">FEATURES</h4>
      <div class="prodo-AdminFearuresAdd" ng-style="checkAdmintoUpdateProduct();" id="prodo.productAdmin">
        <a href="" class="btn btn-primary  pull-right" ng-click="enableEditorFeature() ;  editStatus='add';  " > <i class="fa fa-plus-square"></i>&nbsp; Add  </a>
      </div>
      <form    id="Editfeature" ng-show="editMode.editorEnabledF ==true"  name="productFeaturesForm" >
        <table class="table child table-hover "  id="prodo-ProductFeatureTable" >
          <tr class="prodo-productTableFont" >
            <td >   Feature name&nbsp;&nbsp;&nbsp; <input ng-model="featurename"   id="prodo-product-features_textfield" class="form-control prodo-validation" 
              ng-maxlength="50" type="text"   required name="name" />  </td>
          </tr>
          <tr class="prodo-productTableFont" >
            <td  colspan="2">Description   <textarea  type="text" id="prodo-product-featuresDescription_textfield" class="form-control prodo-validation"  ng-model="featuredescription"  ng-maxlength="500" required name="description" col="40"  > </textarea>
            </td>
          </tr>
          <tr  class="prodo-productTableFont">
            <td colspan="2">
              <a    ng-click="addProductFeature(editStatus);" class="btn btn-primary   pull-right prodo-margin5" > <i class="fa fa-floppy-o"></i> &nbsp; Save </a>
              <a class="btn btn-default   pull-right prodo-margin5" ng-click="disableEditorFeature() ; "> <i class="glyphicon glyphicon-remove"></i> &nbsp; Cancel</a>
            </td>
          </tr>
        </table>
      </form>
      <form name="productFeatureUpdate" >
        <table ng-if="features.length>0" class="table child table-hover  prodo-productTableFont" id="prodo-ProductFeatureTable">
          <tr  class="prodo-productTableFont" >
            <td>
              <dt>Feature</dt>
            </td>
            <td>
              <dt>Description </dt>
            </td>
            <td ng-if="isAdminCheck == true" ng-hide="features.length<2">
              <dt>Option</dt>
            </td>
          </tr>
          <tr  class="prodo-productTableFont" ng-repeat="feature in features track by $index">
            <td ng-hide="edit" > <span class="prodo-featurename" ng-bind="feature.featurename"> </span></td>
            <td  ng-show="edit" ><input ng-model="feature.featurename"  class="form-control prodo-productFeatureName prodo-validation prodo-featurename"  type="text"   ng-maxlength="50"  required name="name" /> </td>
            <td ng-hide="edit" > <span class="prodo-featureDescription" ng-bind="feature.featuredescription"> </span></td>
            <td  ng-show="edit" ><input ng-model="feature.featuredescription" class="form-control prodo-productFeaturedescription prodo-validation prodo-featureDescription"  ng-maxlength="500" type="text"   required name="description" /> </td>
            <td ng-hide="edit || features.length<2" class="prodo-EditIcons" ng-hide=""> 
              <a  ng-hide="$first" href="" ng-click="edit = ! edit; editStatus='update';  "> <i class="fa fa-pencil " /> </a>
              &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
              <a  ng-hide="$first" href="" ng-click="getSelectedFeature(feature)" data-toggle="modal" data-target="#ProductFeatureDelModal">  <i class="glyphicon glyphicon-trash " /></a>
              <!-- Modal -->
              <div class="modal fade" id="ProductFeatureDelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel">Delete Product Feature</h4>
                    </div>
                    <div class="modal-body">
                      Once deleted this product feature " {{selectedFeature.featurename}}  ", won't be accessible .<br>
                      Are you sure you want to delete ?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default " data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp; Cancel</button>
                      <button type="button" class="btn btn-danger "  ng-click="deleteFeature(selectedFeature)" data-dismiss="modal" ><i class="glyphicon glyphicon-trash"></i>&nbsp; Delete</button>
                    </div>
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
              <!-- /.modal -->
            </td>
            <td ng-show="edit">
               <a id="Editfeature1" ng-click="updateProductFeature(feature,feature.featureid);edit = ! edit;" class="btn btn-default   fa fa-floppy-o prodo-margin5" ng-disabled="productFeatureUpdate.$invalid" ></a>
            
              <a id="Editfeature1" class="btn btn-default  glyphicon glyphicon-remove prodo-margin5" ng-click="edit = ! edit; getProductFeatures(product.prodle,product.orgid); "></a>
            </td>
          </tr>
        </table>
      </form>
      <div class="clearBoth"></div>
      <!-- Features -->
      <!-- Images -->
      <div ng-show="product.product_images" >
        <hr>
       
     

        <!-- <h4 class="prodo-headings"  ng-hide="product.product_images.length==0">IMAGES</h4> -->
        <h4  ng-hide="product.product_images.length==0" class="prodo-wall-org-heading-text">IMAGES</h4>

        <form   name="ProductImg"  ng-hide="product.product_images.length==0">

          <div class="checkboxFilter"  >
            <div class= "pull-right" ng-show="product.product_images">
              <span   class= "prodo-lblSelectall" id="showHideAllchkLabel" ng-style="checkAdminProductImagesDelete();" ng-hide="product.product_images.length==0" >Select All</span>  
              <input ng-hide="product.product_images.length==0" class= "prodo-checkbox" id="showHideAllchk" ng-style="checkAdminProductImagesDelete();"  type="checkbox" ng-click="selectAllImages(pImages_l); "  name="pinSet ">
              &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;            
              <button ng-hide="product.product_images.length==0" type="button" class="prodo-delImgs btn btn-danger " id="prodo-deleteProductImage" ng-style="checkAdminProductImagesDelete();"  ng-click="checkImageSelectedToDelete()"  >
               <i class="fa fa-trash-o">&nbsp; Delete </i> 
              </button> 
            </div>
            <div class="clearBoth"></div>
            <div >
              <div class="thumb" ng-repeat="img in pImages_l"    >
                <img class="img prodo-productImgThumbnail"  ng-src="{{img.image}}" />
                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
                <input type="checkbox" ng-style="checkAdminProductImagesDelete();" value="{{img.imageid}}" ng-model="chckedIndexs" name="imgSet" class="prodo-checkbox imgToggles" id="imgchk"  ng-click="checkedIndex(img)">
              </div>
            </div>
            <br>
          </div>
        </form>
      </div>
      <div class="clearBoth"></div>
      <!-- Modal -->
      <div class="modal fade" id="imgDelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Delete Images</h4>
            </div>
            <div class="modal-body">
              Once you deleted this images ,it won't be accessible <br>
              Are you sure you want to delete selected images?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default " data-dismiss="modal"> <i class="glyphicon glyphicon-remove"></i>&nbsp;Cancel </button>
              <button type="button" class="btn btn-danger "  ng-click="deleteProductImages($index);" data-dismiss="modal" ><i class="glyphicon glyphicon-trash"></i>  &nbsp; Delete</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
      <!-- Images -->
      <hr>
      <!-- Uploads -->
      <div    ng-app="prodo.UploadApp" ng-controller="UploadController"  >
        <!-- <h4 class="prodo-headings2" >UPLOAD</h4> -->
          <h4 class="prodo-wall-org-heading-text">UPLOAD</h4>


        <table   class="table table-hover  prodo-productTableFont">
          <tr>
            <td>Logo</td>
            <td>
              <div class="controls" > 
              <form id="fileInputsUploadproductlogo">
                <span class="btn btn-primary fileinput-button controls-upload prodo-uploadBtnWidth" >
                <i class="glyphicon glyphicon-upload "></i>
                <input   type="file" name="file" ng-file-select="onFileSelect($files)"  ng-click="uploadSrc = 'productlogo';">
                <span>Upload Logo</span>
                </span>
                </form>
              </div>
            </td>
          </tr>
          <tr>
            <td>Art Work</td>
            <td>
              <div class="controls" > 
                <form id="fileInputsUploadproduct">
                <span class="btn btn-primary fileinput-button controls-upload prodo-uploadBtnWidth" >
                <i class="glyphicon glyphicon-upload "></i>
                <input   type="file" name="file" ng-file-select="onFileSelect($files)" multiple ng-click="uploadSrc = 'product';">
                <span>Upload Art Work</span>
                </span>
              </form>
              </div>
            </td>
          </tr>
<!--           <tr>
            <td>Data</td>
            <td>
              <div class="controls" >  <form id="fileInputsUploadproductdata">
                <span class="btn btn-primary fileinput-button controls-upload prodo-uploadBtnWidth" >
                <i class="glyphicon glyphicon-upload "></i>
                <input   type="file" name="file" ng-file-select="onFileSelect($files)" multiple ng-click="uploadSrc = 'productdata';">
                <span>Upload Product</span>
                </span>
                 </form>
              </div>
            </td>
          </tr> -->
        </table>
        <center>
          <div id="FileName" > 
          </div>
          <!-- <span id="spinner" > <i  class=" prodo-loadmoreColor fa fa-spinner fa-spin "> </i></span> -->
        </center>
      </div>
    </div>
  </div>
</div>