<!-- /*
 * Overview: Product Tabs
 * Tabs to handle product Comments and product features
 * Dated: 03/12/2013.
 * Author: Bhagyashri Jangam
 * Copyright: Prodonus Software Private Limited and GiantLeap Systems Private Limited 2013
 * Change History:
 * ----------------------------------------------------------------------
 * date | author | description 
 * ----------------------------------------------------------------------
 * 03/12/2013 | xyx | Add a new property
 * 
 */-->

<div ng-app="prodo.ProductApp" id="prodo-comment-container" class="container" style="border: 1px solid #94d2f8; width: 100%;"  ng-controller="ProductController">

     <ul class="nav nav-tabs" id="prodo-productTabs">
        <li class="active"><a href="#tabComments" data-toggle="tab">Product Comments</a></li>
        <li class=""><a href="#tabProductFeatures" data-toggle="tab" ng-click="checkAdmin()">Product Features</a></li>
        <li class=""><a href="#tabProductUpload" style="display: none" data-toggle="tab"   id="Upload-clck"  >Product Upload</a></li>

    </ul>
    <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
        <div class="tab-pane active" id="tabComments" ng-include="'product/views/prodo.wall.comment.tpl.html'">
            <p>comments</p>
        </div>
        <div class="tab-pane" id="tabProductFeatures" ng-include="'product/views/prodo.wall.productFeatures.tpl.html'">
            <p>product-features</p>
        </div>
      <div class="tab-pane"  id="tabProductUpload" ng-include="'product/views/prodo.wall.productUpload.tpl.html'"  >
            <p>product Upload here</p>
        </div>
    </div>

</div>