

<br>
<div id="prodo-productFeature-fixed"   ng-app="prodo.UploadApp" ng-controller="UploadController"  >

  <form    >
    <br>
    <center>  
      <!--            <div class="control-group">
                    <div class="controls">
                      <span class="btn btn-default fileinput-button">
                        <i class="fa fa-plus-square"></i>
                        <input type="file" id="input-files" name="files[]"   data-url="/upload" multiple="multiple" ><span>Add photo</span>
                      </span>
                    </div>
                  </div>-->
      <div class="control-group"  >Select files to upload <br>
        <div class="controls" > 
          <span class="btn btn-info fileinput-button" style="width: 400px;" >
            <i class="glyphicon glyphicon-upload "></i>
            <input   type="file" name="file" ng-file-select="onFileSelect($files)" multiple ng-click="uploadSrc = 'product';">
            <span>Select Files</span>
          </span>
        </div>
      </div>

      <!--     <button type="button" class="btn btn-success  "  ng-click=" getFile(0,$files);" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
            <span class="glyphicon glyphicon-upload"></span> Upload
          </button>-->
      <!--       <button type="button" class="btn btn-success  "   ng-click=" getFile(1,$files);" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
            <span class="glyphicon glyphicon-upload"></span> Upload
          </button>-->
    </center>
  </form><br><br>
  <center>
    <div id="FileName" > 
    </div>
  
 </center>


  
  
  <br>
  <br>
</div>
<br>

