<!-- /*
* Overview: comment Template
* Its a comment template which displays comments
* Dated: 29/10/2013.
* Author: Bhagyashri Jangam
* Copyright: Prodonus Software Private Limited and GiantLeap Systems Private Limited 2013
* Change History:
*
* date | author | description 
*
* 27-3/2013 | xyx | Add a new property
* 
*/
 -->

<ul class="media-list "  id="prodo-comment-media-list">
 <li  id="prodo-comment-media"  class="media" ng-repeat="comment in comments "  >
   <a class="pull-left" href="#">
    <img class="media-object" id="img-user" ng-src="{{comment.dp}}" alt="User"/> </a>

     <div class="media-body">
       <div class=" pull-left " id="prodo-comment-userName"  >{{comment.userName}}</div>
       <div id="prodo-comment-companyName" class="pull-left"> @{{toCamelCase(comment.companyName)}}-{{comment.group}}</div> 
       <div class="pull-left" id="prodo-comment-row-fluid" > {{comment.text}} </div><br>
       <div class="pull-left">Tags: [  {{comment.tags}} ]</div>
       <div class="pull-right" >



       {{fromNow(comment.time)}}</div>	
     </div> 
     </li> 
</ul>