<!-- Prodonus Sidebar -->

<!-- Org list code -->
<div id="prodo-sidebar-trendingproductlist-container" class="container">
	<div id="prodo-sidebar-list-group" class="list-group">
		<div id="prodo-sidebar-list" class="list" ng-repeat="tp in TrendingProducts">
      <a ng-class="{'active':isCurrentListIndex($index)}" href="#" id="prodo-sidebar-list-group-item" class="list-group-item">{{tp.productname}}</a>
    </div>
	</div>
</div>

<!-- Product list code -->
<div id="prodo-sidebar-followedproductlist-container" class="container">
	 <div id="prodo-sidebar-list-group" class="list-group">
		<div id="prodo-sidebar-list" class="list" ng-repeat="fp in FollowedProducts">
      <a ng-class="{'active':isCurrentListIndex($index)}" href="#" id="prodo-sidebar-list-group-item" class="list-group-item">{{fp.productname}}</a>
    </div>
	</div>
</div>