<!-- /*
* Overview: Comment container 
* All comments block is defined here...
* Dated: 29/10/2013.
* Author: Bhagyashri Jangam
* Copyright: Prodonus Software Private Limited and GiantLeap Systems Private Limited 2013
* Change History:
*
* date | author | description 
*
* 27-3/2013 | xyx | Add a new property
* 
*/
 -->


<div id="prodo-comment-container" class="container" style="border: 1px solid #94d2f8; width: 80%; margin-left:64.5px;">

 <div ng-controller="ProdoCommentController" id="prodo-comment-fixed" >
      <div align="center">
       <div id="prodo-comment-textArea">
        <textarea required 
        onKeyPress="return ( this.value.length < 300 );"
 name="txtComment" type="text" placeholder="Add comment" id="prodo-comment-Textbox"  ng-model="textField" comment-limit="300"  >  </textarea><br>
        <button ng-click="addProductComment() " class="btn btn-default btn btn-info navbar-btn" id="prodo-comment-addButton" >Add</button><br>
        <p><div id="prodo-comment-charLength">{{300 - textField.length}} chars remaining</div></p>
        </div><br>
      <br>
      <div prodo-comments when-scrolled="loadMore()" comments="comments"  id="prodo-comment-commentContainer"  >
      </div>  
      </div>
</div>














</div>












<!-- <div style="border: 1px solid #ddd; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;width: 80%; margin-left:64.5px;" id="fixed" >
      <div align="center">
        <textarea cols="30" required rows="5" type="text" placeholder="Add comment" class="commentTextbox" id="txtComment" ng-model="textField"></textarea>
              <button class="btn btn-default" ng-click="add()">Add</button><br>

<div style="padding-left:350px;" align="left" >   
      <h2 >Comments</h2>
</div><br>

      <div prodo-comments when-scrolled="loadMore()" comments="comments" pages-size="pagesSize" pages-shown="pagesShown" style=" width:600px;">
      </div>  
        <img  id="spinner" style="alignment:center;" ng-class="searching && 'active' "                          ng-src="https://raw.github.com/ThomasBurleson/angularJS-TwitterSearch/master/webroot/assets/image/spinner2.gif" alt="Loading"  style="display:none;"  /> 

         </div>
    </div> -->