<!---------------------tabs below Slider end--------------------------------- -->
     <div id="prodo-view-slider" class="container">
      <ul prodo-nav id="prodo-slider-nav-pills" class="nav nav-pills nav-justified">
   		<li class="active"><a ui-sref="prodo.wall.org">Organisation</a></li>
                <li  ><a ui-sref="prodo.wall.product"  >Product</a></li>
			<li><a ui-sref="prodo.wall.warranty">Warranty</a></li>
			<li><a ui-sref="prodo.wall.blog">Blog</a></li>
			<li><a ui-sref="prodo.wall.dashboard">Dashboard</a></li>
		</ul>
     </div>