<div id="prodo-comment-container" class="container" style="border: 1px solid #94d2f8; width: 80%; margin-left:64.5px; height: 300px;"><h4>Comments to display</h4></div>
<!-- <div style="border: 1px solid #ddd; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;width: 80%; margin-left:64.5px;" id="fixed" >
      <div align="center">
        <textarea cols="30" required rows="5" type="text" placeholder="Add comment" class="commentTextbox" id="txtComment" ng-model="textField"></textarea>
              <button class="btn btn-default" ng-click="add()">Add</button><br>

<div style="padding-left:350px;" align="left" >   
      <h2 >Comments</h2>
</div><br>

      <div prodo-comments when-scrolled="loadMore()" comments="comments" pages-size="pagesSize" pages-shown="pagesShown" style=" width:600px;">
      </div>  
        <img  id="spinner" style="alignment:center;" ng-class="searching && 'active' "                          ng-src="https://raw.github.com/ThomasBurleson/angularJS-TwitterSearch/master/webroot/assets/image/spinner2.gif" alt="Loading"  style="display:none;"  /> 

         </div>
    </div> -->