<!---------------------tabs below Slider end--------------------------------- -->
     <div id="prodo-view-slider-navtabs" class="container" style="border: 1px solid #94d2f8; width: 80%; margin-left:64.5px;">
      <ul id="prodo-slider-nav-pills" class="nav nav-pills nav-justified">
   			<li class="active"><a ui-sref="prodo.wall.org">Organisation</a></li>
			<li><a ui-sref="prodo.wall.product">Product</a></li>
			<li><a ui-sref="prodo.wall.warranty">Warranty</a></li>
			<li><a ui-sref="prodo.wall.blog">Blog</a></li>
			<li><a ui-sref="prodo.wall.blog">Dashboard</a></li>
		</ul>
     </div>