<div id="prodo-view-carousel">
     	<div carousel interval="3000">
      		<div id="prodo-view-carousel-slide" slide ng-repeat="slide in slides" active="slide.active">
        		<img ng-src="{{slide.image}}" style="margin: auto;">
        		<div class="carousel-caption">
          		<h4>Slide {{$index}}</h4>
        	</div>
      	</div>
    </div>  
    <!---------------------carousel code end--------------------------------- -->
    <!---------------------tabs below carousel end--------------------------------- -->
     <div id="prodo-view-carousel-nav">
      <ul id="prodo-carousel-nav-pills" class="nav nav-pills nav-justified">
  		  <li ng-class="{'active':isCurrentTabIndex($index)}" ng-repeat="prodotab in prodotabs"><a href="#">{{prodotab.value}}</a></li>
	   </ul>
     </div>
   
</div> 