<!-- Prodonus Home - After Signin -->
<div id="prodo-container" class="container" ng-controller="ProdoWallController">

  <div id="prodo-row" class="row">

		<div id="prodo-col-md-3" class="col-md-3">
			<div ui-view="sidebar"></div> 
		</div>

		<div id="prodo-col-md-8" class="col-md-8">
			<div ui-view="productwall"></div>
			<div ui-view="prodonavbar"></div>
			<div ui-view="dashboard"></div>
			<div ui-view="content"></div>

		</div>

		<div id="prodo-col-md-1" class="col-md-1"></div>

	</div>

</div>