<ul class="media-list" style="border:3px;">


 <li style="border: 1px outset; padding:7px;"  class="media" ng-repeat="comment in comments "  >
 <!--  <li ng-repeat="comment in comments | limitTo:commentsLimit()"  class="item" > -->
 <!--  <div class="myComment"> -->
   <a class="pull-left" href="#">
    <img class="media-object" id="img-user" src="http://placehold.it/64x64" alt="User"/> </a>

     <div class="media-body">
       <div><h4 class="media-heading" style="float:left">Username</h4><br></div>
       <div style="align:left;float:left; "> {{comment.text}} </div>
       {{fromNow(comment.time)}}

     </div> 
  
  </li> 
</ul>