<!DOCTYPE html>
<html ng-app="prodo.ProdonusApp" lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Prodonus is a warranty and social network platform for products that manages warranty and enables conversations between manufacturer and consumers, both individuals and companies">
    <meta name="robots" content="noodp, noydir" />
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href="../../assets/ico/favicon.png"> Needs to be addressed letter -->
    <title>Prodonus</title>
    <link rel=" stylesheet" href="../vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/prodonus001.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    
  </head>
 
  <body id="body" ng-controller="ProdoMainController">
   
  
    <div id="prodo-navbar" class="navbar navbar-inverse navbar-static-top" role="navigation">

      <a id="prodo-navbar-brand" class="navbar-brand" ui-sref="prodo.wall">Prodonus</a>

      <p class="navbar-text pull-right">

      <form id="prodo-navbar-form" class="navbar-form navbar-right">

        <div class="form-group">
          <input id="prodo-form-input-signin" type="text" placeholder="Email" class="form-control" required ng-model="signin.username">
        </div>

        <div class="form-group" ng-controller="UserSigninController">
          <input id="prodo-form-input-signin" type="password" placeholder="Password" class="form-control" required ng-model="signin.password">
        </div>

        <button id="prodo-form-button-signin" ui-sref="prodo.wall" type="submit" class="btn btn-success">Sign in</button><br>

        <a id="prodo-form-forgot-link" ui-sref="user.forgotPassword">Forgot password?</a>

      </form>

    </div>  

    <div id="prodo-main-view" class="container">

      <div ui-view></div>

    </div>
    
    <div id="footer" >
      <div id="prodo-row-footer" class="row">
        <div class="col-md-2 col-md-offset-2">
          <nav><h5 id="footer-nav-heading" class="">About</h5>
            <ul>
              <li><a class="" href="/aboutus">About Us</a></li>
              <li><a class="" href="/privacy">Privacy</a></li>
              <li><a class="" href="/terms">Terms</a></li>                
            </ul>
          </nav>
        </div>

        <div class="col-md-2">
          <nav><h5 id="footer-nav-heading" class="">Connect With Us</h5>
            <ul>
              <li><a class="" href="/business">Business</a></li>
              <li><a class="" href="/advertising">Advertising</a></li>
              <li><a class="" href="/advertising">Author-Application</a></li>
            </ul>
          </nav>
        </div> 

        <div class="col-md-2">
          <nav><h5 id="footer-nav-heading" class="">Help</h5>
            <ul>
              <li><a class="" href="/support">Support</a></li>
              <li><a class="" href="/contact">Contact Us</a></li>
            </ul>
          </nav>
        </div> 

        </div>

        <p id="prodo-copyright" >&copy; Prodonus 2013 | made in pune, india.</p>

    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../vendor/angularjs/angular.min.js"></script>
    <script src="../vendor/angularjs/angular-resource.js"></script>
    <script src="../vendor/angularui/angular-ui-router.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
    <script src="http://momentjs.com/downloads/moment.min.js"></script>
    <script src="../vendor/angular-strap/angular-strap.min.js"></script>
    <script src="../vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="home/prodoApp.js"> </script>
    <script src="home/prodoMainAppRoutes.js"> </script>
    <script src="home/landing/js/landingRoutes.js"> </script>
    <script src="home/prodo/js/prodoWallApp.js"> </script>
    <script src="home/prodo/js/prodoWallRoutes.js"> </script>
    <script src="user/js/UserSigninController.js"> </script>
    <script src="common/CommonRoutes.js"> </script> 
    <script src="user/userregistration/UserRegistrationController.js"> </script>
    <script src="user/js/UserRoutes.js"> </script>
    <script src="user/js/UserService.js"> </script>
    <script src="common/directives/prodoDirective.js"></script>
    <script src="common/subscription/js/SubscriptionController.js"> </script>
   

  </body>

</html>