<!-- /*
* Overview: Warranty  Screen 
* Warranty contents will be here...
* Dated: 09/12/2013.
* Author: Bhagyashri Jangam
* Copyright: Prodonus Software Private Limited and GiantLeap Systems Private Limited 2013
* Change History:
*
* date | author | description 
*
* 27-3/2013 | xyx | Add a new property
* 
*/--> 


<div id="prodo-comment-fixed" style="" >
    <br>
 
    <table  id="prodo-ProductFeatureTable"  style="padding: 10px;" >
        <tr id="prodo-productbnd" style="background-color: white" >
            <td  >Model No </td>
            <td><input name="PF_modelno" id="prodo-product-features_textfield" class="form-control" required type="text" ng-model="warranty.modelno"   style="float: right ; "  /></td>
<!--             <span class="error" ng-show=" warrantyForm.PF_modelno.$error.required">
            Required!</span>-->

<td style="padding-left:  10px;"   >Serial No</td>
        <td><input id="prodo-product-features_textfield" type="text" class="form-control" ng-model="warranty.serialno" style="float: right" /></td>

        </tr>
        <tr >
            <td style="padding-top: 10px;" >Date of purchase</td>

            <td style="padding-top: 10px;"> 
              
                <input  id="prodo-product-features_textfield"   class="form-control" ng-model="warranty.dateofpurchase" style="float: right" /></td> 
            <td  style="padding-left:  10px; padding-top: 10px;"   >Invoice no</td>
            <td style="padding-top: 10px;"><input id="prodo-product-features_textfield" type="text" class="form-control" ng-model="warranty.innvoiceno" style="float: right" /></td>
        </tr>
        <tr ><td colspan="4">
                <br>
                <button class="btn btn-info" style="width: 550px;" ng-click=" ">Save</button>
            </td>
        </tr>
    </table>
 

</div>