<!-- /*
* Overview: Warranty Comments 
* Warranty comments will be handled here...
* Dated: 09/12/2013.
* Author: Bhagyashri Jangam
* Copyright: Prodonus Software Private Limited and GiantLeap Systems Private Limited 2013
* Change History:
*
* date | author | description 
*
* 27-3/2013 | xyx | Add a new property
* 
*/-->
<div id="prodo-comment-fixed" style="">
 
           
    <div id="prodo-comment-enterComment" >
        <span class="label label-info   "  >{{300 - commenttextField.userComment.length}}</span>  
        <a href="" ng-click="getLatestComments()" >   <span class="label label-info  pull-right "  >{{pendingCommentCount}} new comments</span>  </a>
        <textarea  type="text" class="form-control" name="txtComment" placeholder="Warranty Conversation [max 300 characters]" id="prodo-comment-Textbox" col="40"  ng-model="commenttextField.userComment" comment-limit="300" ng-enter="addProductComment()" required ></textarea> 
 
    </div>
    <ul class="media-list "  id="prodo-comment-media-list">

        <div prodo-comments when-scrolled="loadMore()"  ng-controller="WarrantyController"    id="prodo-comment-commentContainer"  >

        </div>  
    </ul>
</div>
