<div class="container">


  <div id="ErrMsging" class="prodo-ErrMsging" ></div>
  <div prodo-signin-modal></div>
  <!-- Features -->
  <div class="prodo-productListCorousel" >
    <button class="arrowBtn prodo-arrowbtnLeft" ng-show="warranties.length > 3 " ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" >
      <
      <!--  <i style="color:gray; font-weight:weight:lighter" class="fa fa-chevron-left fa-3x"></i>  -->
    </button>

      <!-- <div class="prodo-WarrantyAdd"  id="prodo.WarrantyAdminAdd"> -->
        <a href="" class="prodo-cursor" ng-click="enableEditorFeature() ;  editStatus='add'; form.WarrantyForm.$setPristine(); " class=""> 
        <div class="prodo-productThumbnailView prodo-padding-left" >
        <p class="prodo-AddProductBtn " >Add Warranty</p>
        <div class="prodo-productThumbnailImg fa fa-plus fa-4x img-rounded"  align="center" ></div>
        </div>
       </a> 
        <!-- set pristine on add click -->
      <!-- </div> -->



          <!-- Modal -->
      <div class="modal fade" id="changeWarrantyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Change Product</h4>
            </div>
            <div class="modal-body">
              Changing warranty now may cause to data loss which you have entered about current warranty <br>
              Are you sure you want to change warranty ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default " data-dismiss="modal"> Cancel &nbsp;<!-- <i class="glyphicon glyphicon-remove"></i> --></button>
              <button type="button" class="btn btn-danger " id="ChangeWarrantyOkButton" data-dismiss="modal" >OK &nbsp;<!-- <i class="glyphicon glyphicon-trash"></i> --></button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->



    <div ng-show="warranties.length>0"  ng-repeat="warranty1 in warranties  | startFrom:currentPage*pageSize | limitTo:pageSize" >
    <div class="prodo-productThumbnailView"   ng-class="{activeProduct : warranty1.warranty_id==warranty.warranty_id}" >
      <a ng-click="getSelectedWarranty(warranty1);" class="prodo-cursor"  href="" >
        <p class="prodo-AddProductBtn prodo-productNameList" >{{warranty1.warranty_id.substring(0,13)}}</p>
        <img  ng-src="{{warranty1.invoice_image.image}}" alt-SRC src="../assets/images/if_no_logo_images_available.gif"  class="prodo-productThumbnailImg img-rounded">
      </a>
    </div>
    </div>
    <button class="arrowBtn prodo-arrowbtnRight"  ng-show="warranties.length > 4 " ng-disabled="currentPage >= warranties.length/pageSize - 1" ng-click="currentPage=currentPage+1" >
      >
      <!-- <i style="color:gray; font-weight:weight:lighter" class=" fa fa-chevron-right fa-3x"></i>  -->
    </button>

  </div>
  <div class="clearBoth"></div>


    









	<h5 class="prodo-wall-org-heading-text">WARRANTY DETAILS</h5>
	<hr class="prodo-wall-org-hr" size=3 noshade>
<br>


      <form  name="form.WarrantyForm"  id="EditWarranty" ng-show="editMode.editorEnabledWarranty " enctype="multipart/form-data"  >
        <table class="table child table-hover table-bordered"  id="prodo-WarrantyTable" >
          <tr>
            <td class="prodo-width50" >

       

			  Organization  <input ng-model="productOrgName.name"  id="prodo_warranty_org" class="warranty-textField form-control prodo-validation  prodo-display-right" 
              ng-maxlength="50" type="text"   required name="warranty_org" typeahead="allOrgName as allOrgName.name for allOrgName in allOrgNames | filter:$viewValue | limitTo:8"  />
           
             
              <div  ng-show="(form.WarrantyForm.warranty_org.$dirty && editMode.editorEnabledWarranty ==true) ||(form.WarrantyForm.submitted==true && form.WarrantyForm.warranty_org.$invalid==true)" class="prodo-warranty-Invalid">
			  <span ng-show="form.WarrantyForm.warranty_org.$error.required">Please enter warranty organization</span>
			  <span ng-show="form.WarrantyForm.warranty_org.$error.maxlength">Warranty organization can not be more than 50 characters</span>
			 </div>
            
            </td>
      
            <td  class="prodo-width50" >Product  <input   id="prodo_warranty_product" class="warranty-textField form-control prodo-validation prodo-display-right" 
              ng-maxlength="50" type="text" ng-model="productallProductName.name"  required name="warranty_product" typeahead="allProductName as allProductName.name for allProductName in allProductNames | filter:$viewValue | limitTo:8" />

           
              <div  ng-show="(form.WarrantyForm.warranty_product.$dirty && editMode.editorEnabledWarranty ==true) ||(form.WarrantyForm.submitted==true && form.WarrantyForm.warranty_product.$invalid==true)" class="prodo-warranty-Invalid">
			  <span ng-show="form.WarrantyForm.warranty_product.$error.required">Please enter warranty product</span>
			  <span ng-show="form.WarrantyForm.warranty_product.$error.maxlength">Warranty product can not be more than 50 characters</span>
			 </div>
            
            </td>
           
          </tr>

          <tr class="" >
            <td class="prodo-width50"> Model no  <input   id="prodo_warranty_model_no" class="warranty-textField form-control prodo-validation prodo-display-right" 
              ng-maxlength="50" type="text"  ng-model="productwarranty.model_no" required name="warranty_model_no" /> 
              
              <div  ng-show="(form.WarrantyForm.warranty_model_no.$dirty && editMode.editorEnabledWarranty ==true) ||(form.WarrantyForm.submitted==true && form.WarrantyForm.warranty_model_no.$invalid==true)" class="prodo-warranty-Invalid">
			  <span ng-show="form.WarrantyForm.warranty_model_no.$error.required">Please enter warranty model no</span>
			  <span ng-show="form.WarrantyForm.warranty_model_no.$error.maxlength">Warranty model no can not be more than 50 characters</span>
			 </div>
             </td>

              <td class="prodo-width50"> Model name  <input   id="prodo_warranty_model_name" class="warranty-textField form-control prodo-validation prodo-display-right" 
              ng-maxlength="50" type="text"  ng-model="productwarranty.model_name" required name="warranty_model_name" /> 
              
              <div  ng-show="(form.WarrantyForm.warranty_model_name.$dirty && editMode.editorEnabledWarranty ==true) ||(form.WarrantyForm.submitted==true && form.WarrantyForm.warranty_model_name.$invalid==true)" class="prodo-warranty-Invalid">
			  <span ng-show="form.WarrantyForm.warranty_model_name.$error.required">Please enter warranty model name</span>
			  <span ng-show="form.WarrantyForm.warranty_model_name.$error.maxlength">Warranty model name can not be more than 50 characters</span>
			 </div>
             </td>


          
         
          </tr>

          <tr class="" >
             <td  class="prodo-width50">Serial no  <input   id="prodo_warranty_serial_no" class="warranty-textField form-control prodo-validation prodo-display-right" ng-model="productwarranty.serial_no"
              ng-maxlength="50" type="text"   required name="warranty_serial_no" />  

                <div  ng-show="(form.WarrantyForm.warranty_serial_no.$dirty && editMode.editorEnabledWarranty ==true) ||(form.WarrantyForm.submitted==true && form.WarrantyForm.warranty_serial_no.$invalid==true)" class="prodo-warranty-Invalid">
			  <span ng-show="form.WarrantyForm.warranty_serial_no.$error.required">Please enter warranty serial no</span>
			  <span ng-show="form.WarrantyForm.warranty_serial_no.$error.maxlength">Warranty serial no can not be more than 50 characters</span>
			 </div>

            </td>

            <td class="prodo-width50"> Purchase date  <input   id="prodo_warranty_purchase_date" class="warranty-textField form-control prodo-validation prodo-display-right" 
              type="date"   required name="warranty_purchase_date" ng-model="productwarranty.purchase_date" /> 
             
              <div  ng-show="(form.WarrantyForm.warranty_purchase_date.$dirty && editMode.editorEnabledWarranty ==true) ||(form.WarrantyForm.submitted==true && form.WarrantyForm.warranty_purchase_date.$invalid==true)" class="prodo-warranty-Invalid">
			  <span ng-show="form.WarrantyForm.warranty_purchase_date.$error.required">Please enter purchase date</span>
			 
			 </div>


               </td>
          
           
          </tr>

           <tr class="" >

            <td  class="prodo-width50">Purchase country  <input   id="prodo_warranty_purchase_country" class="warranty-textField form-control prodo-validation prodo-display-right" ng-model="purchase_location.country"
              ng-maxlength="50" type="text"   required name="warranty_purchase_country" typeahead="country for country in countries | filter:$viewValue | limitTo:8" />  
          
              <div  ng-show="(form.WarrantyForm.warranty_purchase_country.$dirty && editMode.editorEnabledWarranty ==true) ||(form.WarrantyForm.submitted==true && form.WarrantyForm.warranty_purchase_country.$invalid==true)" class="prodo-warranty-Invalid">
			  <span ng-show="form.WarrantyForm.warranty_purchase_country.$error.required">Please enter country name</span>
			  <span ng-show="form.WarrantyForm.warranty_purchase_country.$error.maxlength">country name can not be more than 50 characters</span>
			 </div>

            </td>

            <td class="prodo-width50" >Purchase city  <input   id="prodo_warranty_purchase_city" class="warranty-textField form-control prodo-validation prodo-display-right" 
              ng-maxlength="50" type="text"   required name="warranty_purchase_city" ng-model="purchase_location.city" typeahead="city for city in cities | filter:$viewValue | limitTo:8"/> 

              <div  ng-show="(form.WarrantyForm.warranty_purchase_city.$dirty && editMode.editorEnabledWarranty ==true) ||(form.WarrantyForm.submitted==true && form.WarrantyForm.warranty_purchase_city.$invalid==true)" class="prodo-warranty-Invalid">
			  <span ng-show="form.WarrantyForm.warranty_purchase_city.$error.required">Please enter city name</span>
			  <span ng-show="form.WarrantyForm.warranty_purchase_city.$error.maxlength">City name can not be more than 50 characters</span>
			 </div>

            </td>
          
          </tr>

			 <tr class="" >
	           <td class="prodo-width50"> Warranty Period  <input   id="prodo_warranty_period" class="warranty-textField form-control prodo-validation prodo-display-right" ng-maxlength="3"
               type="number"   required name="warranty_purchase_period" ng-model="productwarranty.purchase_period"  placeholder ="Number of months"/>  
                
                 <div  ng-show="(form.WarrantyForm.warranty_purchase_period.$dirty && editMode.editorEnabledWarranty ==true) ||(form.WarrantyForm.submitted==true && form.WarrantyForm.warranty_purchase_period.$invalid==true)" class="prodo-warranty-Invalid">
			  <span ng-show="form.WarrantyForm.warranty_purchase_period.$error.required">Please enter valid warranty period</span>

			  <span ng-show="form.WarrantyForm.warranty_purchase_period.$error.maxlength">Please enter valid warranty period</span>
			 
			 </div>

              </td>
                   <td class="prodo-width50"> Warranty type &nbsp; &nbsp;&nbsp; 
                   <select class="warranty-textField form-control prodo-validation prodo-display-right" ng-model="productwarranty.type" ng-options="t for t in type" required name="warranty_type">
                   </select>
                   
                
                 <div  ng-show="(form.WarrantyForm.warranty_type.$dirty && editMode.editorEnabledWarranty ==true) ||(form.WarrantyForm.submitted==true && form.WarrantyForm.warranty_type.$invalid==true)" class="prodo-warranty-Invalid">
			  <span ng-show="form.WarrantyForm.warranty_type.$error.required">Please select warranty type</span>		 
			 </div>

              </td>

			 </tr>
           <tr>
            <td  colspan="2">Invoice Upload  &nbsp;&nbsp;&nbsp;&nbsp;
                        
                <input id="prodo-warrantyUploadBtn" class=" form-control prodo-validation " type="file" name="file" ng-file-selectdata="onFileSelect($files)" ng-model="file1" required>

                  <div  ng-show="(form.WarrantyForm.file.$dirty && editMode.editorEnabledWarranty ==true) ||(form.WarrantyForm.submitted==true && form.WarrantyForm.file.$invalid==true)" class="prodo-warranty-Invalid">
			 
			  <span ng-show="form.WarrantyForm.file.$error.required">Please add invoice image</span>
			 </div>
                                        
             </td>
          </tr>
         <!--  <tr>
            <td  colspan="2">Description   <textarea  type="text" 
              ng-maxlength="1000" id="prodo_warranty_textfield" class="form-control prodo-validation prodo-resizeRestrict"   name="warranty_description" col="40" ng-model="productwarranty.description" ></textarea>

               <div  ng-show="(form.WarrantyForm.warranty_description.$dirty && editMode.editorEnabledWarranty ==true) ||(form.WarrantyForm.submitted==true && form.WarrantyForm.warranty_description.$invalid==true)" class="prodo-warranty-Invalid">
			 
			  <span ng-show="form.WarrantyForm.warranty_description.$error.maxlength">Warranty description can not be more than 1000 characters</span>
			 </div>


            </td>
          </tr>
          <tr>
            <td  colspan="2">Disclaimer   <textarea  type="text" 
              ng-maxlength="1000" id="prodo_warranty_textfield" class="form-control prodo-validation prodo-resizeRestrict"   name="warranty_disclaimer" col="40"  ng-model="productwarranty.disclaimer"></textarea>

               <div  ng-show="(form.WarrantyForm.warranty_disclaimer.$dirty && editMode.editorEnabledWarranty ==true) ||(form.WarrantyForm.submitted==true && form.WarrantyForm.warranty_disclaimer.$invalid==true)" class="prodo-warranty-Invalid" >
			 
			  <span ng-show="form.WarrantyForm.warranty_disclaimer.$error.maxlength">Warranty disclaimer can not be more than 1000 characters</span>
			 </div>


            </td>
          </tr>
          <tr>
            <td  colspan="2">Coverage   <textarea  type="text" 
              ng-maxlength="1000" id="prodo_warranty_textfield" class="form-control prodo-validation prodo-resizeRestrict"  ng-model="productwarranty.coverage"  name="warranty_coverage" col="40"  ></textarea>

               <div  ng-show="(form.WarrantyForm.warranty_coverage.$dirty && editMode.editorEnabledWarranty ==true) ||(form.WarrantyForm.submitted==true && form.WarrantyForm.warranty_coverage.$invalid==true)" class="prodo-warranty-Invalid" >
			 
			  <span ng-show="form.WarrantyForm.warranty_coverage.$error.maxlength">Warranty coverage can not be more than 1000 characters</span>
			 </div>

            </td>
          </tr> -->


          <tr  class="">
            <td colspan="2">
              <a    ng-click="addWarranty(editStatus);" class="btn btn-primary btn-sm  pull-right prodo-margin5" > Save &nbsp;<i class="fa fa-floppy-o"></i></a>
              <a class="btn btn-default btn-sm  pull-right prodo-margin5" ng-click="disableEditorFeature() ; "> Cancel&nbsp;<i class="glyphicon glyphicon-remove"></i></a>
            </td>
          </tr>
        </table>
      </form>










  <div id="prodo-ProductDetails" class="prodo-ProductDetails">

<!-- display mode -->
  <div class="pull-right">
		  	<button ng-click="OpenInvoiceImage = !OpenInvoiceImage" ><i class="prodo-fa fa fa-picture-o"></i></button>
		  </div>
 <table class="  prodo-productTableFont  table child table-bordered table-hover "  ng-hide="editMode.editorEnabledWarranty" id="prodo-WarrantyTable">
   
          <tr>
            <td class="prodo-width50" >

       

			  Organization  &nbsp; <span ng-bind="warranty.orgname" > </span>
            
            </td>
      
            <td  class="prodo-width50" >Product  &nbsp; <span ng-bind="warranty.name" > </span>
            </td>
           
          </tr>

          <tr class="" >
            <td class="prodo-width50"> Model no    &nbsp; <span ng-bind="warranty.model_no" > </span>
             </td>

              <td class="prodo-width50"> Model name    &nbsp; <span ng-bind="warranty.model_name" > </span>
             </td>


          
         
          </tr>

          <tr class="" >
             <td  class="prodo-width50">Serial no    &nbsp; <span ng-bind="warranty.serial_no" > </span>
            </td>

            <td class="prodo-width50"> Purchase date     &nbsp; <span ng-bind="warranty.purchase_date" > </span>

               </td>
          
           
          </tr>

           <tr class="" >

            <td  class="prodo-width50">Purchase country   &nbsp; <span ng-bind="warranty.purchase_location.country" > </span>

            </td>

            <td class="prodo-width50" >Purchase city   &nbsp; <span ng-bind="warranty.purchase_location.city" > </span>
            </td>
          
          </tr>

			 <tr class="" >
	           <td class="prodo-width50"> Warranty expires on   &nbsp; <span ng-bind="warranty.expirydate" > </span>

              </td>
                   <td class="prodo-width50"> Warranty type  &nbsp; <span ng-bind="warranty.warranty_type" > </span>

              </td>

			 </tr>
     



       <!--     <tr>
            <td  colspan="2">Description   &nbsp; <span ng-bind="product.display_name" > </span>
            </td>
          </tr>
          <tr>
            <td  colspan="2">Disclaimer    &nbsp; <span ng-bind="product.display_name" > </span>


            </td>
          </tr>
          <tr>
            <td  colspan="2">Coverage   &nbsp; <span ng-bind="product.display_name" > </span>

            </td>
          </tr> -->


     
        </table>
        <center>
        <div id="#invoice-img-div" ng-show="OpenInvoiceImage" class="row prodo-invoiceImage" >
			<img ng-src="{{warranty.invoice_image.image}}" alt="..." class=" img-rounded">
		</div>
		</center>
</div>
<!-- display mode -->





</div>