 <!-- /* Overview: ManageWarranty view
 * ManageWarranty view
 * Dated: 08/04/2014.
 * Author: Bhagyashri Jangam
 * Copyright: Prodonus Software Private Limited and GiantLeap Systems Private Limited 2013
 * Change History:
 *
 * date | author | description 
 *
 * 27-3/2013 | xyx | Add a new property
 * 
*/ -->
<div class="container">


  <div id="ErrMsging" class="prodo-ErrMsging" ></div>

  <!-- Features -->
  <div class="prodo-productListCorousel" >
    <button class="arrowBtn prodo-arrowbtnLeft" ng-show="warranties.length > 3 " ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" >
      <
      <!--  <i style="color:gray; font-weight:weight:lighter" class="fa fa-chevron-left fa-3x"></i>  -->
    </button>

      <!-- <div class="prodo-WarrantyAdd"  id="prodo.WarrantyAdminAdd"> -->
        <a href="" class="prodo-cursor" ng-click="enableEditorFeature() ;  editStatus='add'; form.WarrantyForm.$setPristine(); " class=""> 
        <div class="prodo-productThumbnailView prodo-padding-left" >
        <p class="prodo-AddProductBtn " >Add Warranty</p>
        <div class="prodo-productThumbnailImg fa fa-plus fa-4x img-rounded"  align="center" ></div>
        </div>
       </a> 
        <!-- set pristine on add click -->
      <!-- </div> -->



          <!-- Modal -->
      <div class="modal fade" id="changeWarrantyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Change Warranty</h4>
            </div>
            <div class="modal-body">
              Changing warranty now may cause to data loss which you have entered about current warranty <br>
              Are you sure you want to change warranty ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default " data-dismiss="modal"> Cancel &nbsp;<!-- <i class="glyphicon glyphicon-remove"></i> --></button>
              <button type="button" class="btn btn-danger " id="ChangeWarrantyOkButton" data-dismiss="modal" >OK &nbsp;<!-- <i class="glyphicon glyphicon-trash"></i> --></button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

         <!-- Modal -->
      <div class="modal fade" id="addWarrantyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Add Warranty</h4>
            </div>
            <div class="modal-body">
              Adding new warranty now may cause to data loss which you have entered about current warranty <br>
              Are you sure you want to add new warranty ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default " data-dismiss="modal"> Cancel &nbsp;<!-- <i class="glyphicon glyphicon-remove"></i> --></button>
              <button type="button" class="btn btn-danger " id="addWarrantyOkButton" data-dismiss="modal" >OK &nbsp;<!-- <i class="glyphicon glyphicon-trash"></i> --></button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->



    <div ng-show="warranties.length>0"  ng-repeat="warranty1 in warranties  | startFrom:currentPage*pageSize | limitTo:pageSize" >
    <div class="prodo-productThumbnailView"   ng-class="{activeProduct : warranty1.warranty_id==warranty.warranty_id}" >
      <a ng-click="getSelectedWarranty(warranty1);" class="prodo-cursor"  href="" >
        <p class="prodo-AddProductBtn prodo-productNameList" >{{warranty1.name.substring(0,13)}}</p>
        <img  ng-src="{{warranty1.invoice_image.image}}" alt-SRC src="../assets/images/if_no_logo_images_available.gif"  class="prodo-productThumbnailImg img-rounded">
      </a>
    </div>
    </div>
    <button class="arrowBtn prodo-arrowbtnRight"  ng-show="warranties.length > 3 " ng-disabled="currentPage >= warranties.length/pageSize - 1" ng-click="currentPage=currentPage+1" >
      >
      <!-- <i style="color:gray; font-weight:weight:lighter" class=" fa fa-chevron-right fa-3x"></i>  -->
    </button>

  </div>
  <div class="clearBoth"></div>


    









	

      <form  name="form.WarrantyForm"  id="EditWarranty" ng-show="editMode.editorEnabledWarranty " enctype="multipart/form-data"  >

      <h5 class="prodo-wall-org-heading-text">WARRANTY DETAILS</h5>
  <hr class="prodo-wall-org-hr" size=3 noshade>
<br>

        <table class="table child table-hover table-bordered"  id="prodo-WarrantyTable" >
          <tr>
            <td class="prodo-width50" >

       

			  Organization  <input ng-model="productOrgName.name"  id="prodo_warranty_org" class="warranty-textField form-control prodo-validation  prodo-display-right" 
              ng-maxlength="50" type="text"   required name="warranty_org" typeahead="allOrgName as allOrgName.name for allOrgName in allOrgNames | filter:$viewValue:startsWith | limitTo:8"  />
           
             
              <div  ng-show="(form.WarrantyForm.warranty_org.$dirty && editMode.editorEnabledWarranty ==true) ||(form.WarrantyForm.submitted==true && form.WarrantyForm.warranty_org.$invalid==true)" class="prodo-warranty-Invalid">
			  <span ng-show="form.WarrantyForm.warranty_org.$error.required">Please enter product's organization name</span>
			  <span ng-show="form.WarrantyForm.warranty_org.$error.maxlength">Organization name can not be more than 50 characters</span>
			 </div>
            
            </td>
      
            <td  class="prodo-width50" >Product  <input   id="prodo_warranty_product" class="warranty-textField form-control prodo-validation prodo-display-right" 
              ng-maxlength="50" type="text" ng-model="productallProductName.name"  required name="warranty_product" typeahead="allProductName as allProductName.name for allProductName in allProductNames | filter:$viewValue:startsWith | limitTo:8" />

           
              <div  ng-show="(form.WarrantyForm.warranty_product.$dirty && editMode.editorEnabledWarranty ==true) ||(form.WarrantyForm.submitted==true && form.WarrantyForm.warranty_product.$invalid==true)" class="prodo-warranty-Invalid">
			  <span ng-show="form.WarrantyForm.warranty_product.$error.required">Please enter  product name</span>
			  <span ng-show="form.WarrantyForm.warranty_product.$error.maxlength"> Product name can not be more than 50 characters</span>
			 </div>
            
            </td>
           
          </tr>

          <tr class="" >
            <td class="prodo-width50"> Model no  <input   id="prodo_warranty_model_no" class="warranty-textField form-control prodo-validation prodo-display-right" 
              ng-maxlength="50" type="text"  ng-model="productwarranty.model_no" required name="warranty_model_no" /> 
              
              <div  ng-show="(form.WarrantyForm.warranty_model_no.$dirty && editMode.editorEnabledWarranty ==true) ||(form.WarrantyForm.submitted==true && form.WarrantyForm.warranty_model_no.$invalid==true)" class="prodo-warranty-Invalid">
			  <span ng-show="form.WarrantyForm.warranty_model_no.$error.required">Please enter product model no</span>
			  <span ng-show="form.WarrantyForm.warranty_model_no.$error.maxlength">Product model no can not be more than 50 characters</span>
			 </div>
             </td>

              <td class="prodo-width50"> Model name  <input   id="prodo_warranty_model_name" class="warranty-textField form-control prodo-validation prodo-display-right" 
              ng-maxlength="50" type="text"  ng-model="productwarranty.model_name" required name="warranty_model_name" /> 
              
              <div  ng-show="(form.WarrantyForm.warranty_model_name.$dirty && editMode.editorEnabledWarranty ==true) ||(form.WarrantyForm.submitted==true && form.WarrantyForm.warranty_model_name.$invalid==true)" class="prodo-warranty-Invalid">
			  <span ng-show="form.WarrantyForm.warranty_model_name.$error.required">Please enter product model name</span>
			  <span ng-show="form.WarrantyForm.warranty_model_name.$error.maxlength">Product model name can not be more than 50 characters</span>
			 </div>
             </td>


          
         
          </tr>

          <tr class="" >
             <td  class="prodo-width50">Serial no  <input   id="prodo_warranty_serial_no" class="warranty-textField form-control prodo-validation prodo-display-right" ng-model="productwarranty.serial_no"
              ng-maxlength="50" type="text"   required name="warranty_serial_no" />  

                <div  ng-show="(form.WarrantyForm.warranty_serial_no.$dirty && editMode.editorEnabledWarranty ==true) ||(form.WarrantyForm.submitted==true && form.WarrantyForm.warranty_serial_no.$invalid==true)" class="prodo-warranty-Invalid">
			  <span ng-show="form.WarrantyForm.warranty_serial_no.$error.required">Please enter product serial no</span>
			  <span ng-show="form.WarrantyForm.warranty_serial_no.$error.maxlength">Product serial no can not be more than 50 characters</span>
			 </div>

            </td>

            <td class="prodo-width50"> Purchase date  <input   id="prodo_warranty_purchase_date" class="warranty-textField form-control prodo-validation prodo-display-right" 
              type="date" max="*jsvariable*"  required name="warranty_purchase_date" ng-model="productwarranty.purchase_date" /> 
             
              <div  ng-show="(form.WarrantyForm.warranty_purchase_date.$dirty && editMode.editorEnabledWarranty ==true) ||(form.WarrantyForm.submitted==true && form.WarrantyForm.warranty_purchase_date.$invalid==true)" class="prodo-warranty-Invalid">
			  <span ng-show="form.WarrantyForm.warranty_purchase_date.$error.required">Please enter purchase date</span>
			 
			 </div>


               </td>
          
           
          </tr>

           <tr class="" >

            <td  class="prodo-width50">Purchase country  <input   id="prodo_warranty_purchase_country" class="warranty-textField form-control prodo-validation prodo-display-right" ng-model="purchase_location.country"
              ng-maxlength="50" type="text"   required name="warranty_purchase_country" typeahead="country for country in countries | filter:$viewValue:startsWith | limitTo:8" />  
          
              <div  ng-show="(form.WarrantyForm.warranty_purchase_country.$dirty && editMode.editorEnabledWarranty ==true) ||(form.WarrantyForm.submitted==true && form.WarrantyForm.warranty_purchase_country.$invalid==true)" class="prodo-warranty-Invalid">
			  <span ng-show="form.WarrantyForm.warranty_purchase_country.$error.required">Please enter country name</span>
			  <span ng-show="form.WarrantyForm.warranty_purchase_country.$error.maxlength">Country name can not be more than 50 characters</span>
			 </div>

            </td>

            <td class="prodo-width50" >Purchase city  <input   id="prodo_warranty_purchase_city" class="warranty-textField form-control prodo-validation prodo-display-right" 
              ng-maxlength="50" type="text"   required name="warranty_purchase_city" ng-model="purchase_location.city" typeahead="city for city in cities | filter:$viewValue:startsWith | limitTo:8"/> 

              <div  ng-show="(form.WarrantyForm.warranty_purchase_city.$dirty && editMode.editorEnabledWarranty ==true) ||(form.WarrantyForm.submitted==true && form.WarrantyForm.warranty_purchase_city.$invalid==true)" class="prodo-warranty-Invalid">
			  <span ng-show="form.WarrantyForm.warranty_purchase_city.$error.required">Please enter city name</span>
			  <span ng-show="form.WarrantyForm.warranty_purchase_city.$error.maxlength">City name can not be more than 50 characters</span>
			 </div>

            </td>
          
          </tr>

			 <tr class="" >
	           <td class="prodo-width50"> Warranty Period  <input   id="prodo_warranty_period" class="warranty-textField form-control prodo-validation prodo-display-right" ng-maxlength="3"
               type="number"  min="0" required name="warranty_purchase_period" ng-model="productwarranty.purchase_period"  placeholder ="Number of months"/>  
                
                 <div  ng-show="(form.WarrantyForm.warranty_purchase_period.$dirty && editMode.editorEnabledWarranty ==true) ||(form.WarrantyForm.submitted==true && form.WarrantyForm.warranty_purchase_period.$invalid==true)" class="prodo-warranty-Invalid">
			  <span ng-show="form.WarrantyForm.warranty_purchase_period.$error.required">Warranty period reqiured </span>

			  <span ng-show="form.WarrantyForm.warranty_purchase_period.$error.maxlength">Warranty period must maximum 3 digits only</span>
			 
			 </div>

              </td>
                   <td class="prodo-width50"> Warranty type &nbsp; &nbsp;&nbsp; 
                   <select ng-init="productwarranty.type = type[1]" class="warranty-textField form-control prodo-validation prodo-display-right" ng-model="productwarranty.type" ng-options="t for t in type"  required name="warranty_type">
                   </select>
                   
                
                 <div  ng-show="(form.WarrantyForm.warranty_type.$dirty && editMode.editorEnabledWarranty ==true) ||(form.WarrantyForm.submitted==true && form.WarrantyForm.warranty_type.$invalid==true)" class="prodo-warranty-Invalid">
			  <span ng-show="form.WarrantyForm.warranty_type.$error.required">Please select warranty type</span>		 
			 </div>

              </td>

			 </tr>
           <tr>
            <td  colspan="2">Invoice Upload  &nbsp;&nbsp;&nbsp;&nbsp;
                        
                <input id="prodo-warrantyUploadBtn" class=" form-control prodo-validation " type="file" name="file" ng-file-selectdata="onFileSelect($files)" ng-model="file1" >

                  <div  ng-show="(form.WarrantyForm.file.$dirty && editMode.editorEnabledWarranty ==true) ||(form.WarrantyForm.submitted==true && form.WarrantyForm.file.$invalid==true)" class="prodo-warranty-Invalid">
			 
              			  <span ng-show="form.WarrantyForm.file.$error.required">Please add invoice image</span>
              			 </div>
                                        
             </td>
          </tr>
         <!--  <tr>
            <td  colspan="2">Description   <textarea  type="text" 
              ng-maxlength="1000" id="prodo_warranty_textfield" class="form-control prodo-validation prodo-resizeRestrict"   name="warranty_description" col="40" ng-model="productwarranty.description" ></textarea>

               <div  ng-show="(form.WarrantyForm.warranty_description.$dirty && editMode.editorEnabledWarranty ==true) ||(form.WarrantyForm.submitted==true && form.WarrantyForm.warranty_description.$invalid==true)" class="prodo-warranty-Invalid">
			 
			  <span ng-show="form.WarrantyForm.warranty_description.$error.maxlength">Warranty description can not be more than 1000 characters</span>
			 </div>


            </td>
          </tr>
          <tr>
            <td  colspan="2">Disclaimer   <textarea  type="text" 
              ng-maxlength="1000" id="prodo_warranty_textfield" class="form-control prodo-validation prodo-resizeRestrict"   name="warranty_disclaimer" col="40"  ng-model="productwarranty.disclaimer"></textarea>

               <div  ng-show="(form.WarrantyForm.warranty_disclaimer.$dirty && editMode.editorEnabledWarranty ==true) ||(form.WarrantyForm.submitted==true && form.WarrantyForm.warranty_disclaimer.$invalid==true)" class="prodo-warranty-Invalid" >
			 
			  <span ng-show="form.WarrantyForm.warranty_disclaimer.$error.maxlength">Warranty disclaimer can not be more than 1000 characters</span>
			 </div>


            </td>
          </tr>
          <tr>
            <td  colspan="2">Coverage   <textarea  type="text" 
              ng-maxlength="1000" id="prodo_warranty_textfield" class="form-control prodo-validation prodo-resizeRestrict"  ng-model="productwarranty.coverage"  name="warranty_coverage" col="40"  ></textarea>

               <div  ng-show="(form.WarrantyForm.warranty_coverage.$dirty && editMode.editorEnabledWarranty ==true) ||(form.WarrantyForm.submitted==true && form.WarrantyForm.warranty_coverage.$invalid==true)" class="prodo-warranty-Invalid" >
			 
			  <span ng-show="form.WarrantyForm.warranty_coverage.$error.maxlength">Warranty coverage can not be more than 1000 characters</span>
			 </div>

            </td>
          </tr> -->


          <tr  class="">
            <td colspan="2">
              <a    ng-click="addWarranty(editStatus);" class="btn btn-primary btn-sm  pull-right prodo-margin5" > Save &nbsp;<i class="fa fa-floppy-o"></i></a>
              <a class="btn btn-default btn-sm  pull-right prodo-margin5" ng-click="disableEditorFeature() ; "> Cancel&nbsp;<i class="glyphicon glyphicon-remove"></i></a>
            </td>
          </tr>
        </table>
      </form>



<!-- //////////////////////// Warranty Update /////////////////////-->


  <form  name="form.WarrantyFormUpdate"  id="EditWarranty" ng-show="editMode.editorEnabledWarrantyUpdate " enctype="multipart/form-data"  >

  <h5 class="prodo-wall-org-heading-text">WARRANTY DETAILS</h5>
  <hr class="prodo-wall-org-hr" size=3 noshade>
<br>


        <table class="table child table-hover table-bordered"  id="prodo-WarrantyTable" >
          <tr>
            <td class="prodo-width50" >

       

        Organization  <input ng-model="warranty.orgname"  id="prodo_warranty_org" class="warranty-textField form-control prodo-validation  prodo-display-right" 
              ng-maxlength="50" type="text"   required name="warranty_org" typeahead="allOrgName as allOrgName.name for allOrgName in allOrgNames | filter:$viewValue:startsWith | limitTo:8"  />
         
             
              <div  ng-show="(form.WarrantyFormUpdate.warranty_org.$dirty && editMode.editorEnabledWarrantyUpdate ==true) ||(form.WarrantyFormUpdate.submitted==true && form.WarrantyFormUpdate.warranty_org.$invalid==true)" class="prodo-warranty-Invalid">
        <span ng-show="form.WarrantyFormUpdate.warranty_org.$error.required">Please enter product's organization name</span>
        <span ng-show="form.WarrantyFormUpdate.warranty_org.$error.maxlength"> Organization name can not be more than 50 characters</span>
       </div>
            
            </td>
      
            <td  class="prodo-width50" >Product  <input   id="prodo_warranty_product" class="warranty-textField form-control prodo-validation prodo-display-right" 
              ng-maxlength="50" type="text" ng-model="warranty.name"  required name="warranty_product" typeahead="allProductName as allProductName.name for allProductName in allProductNames | filter:$viewValue:startsWith | limitTo:8" />

           
              <div  ng-show="(form.WarrantyFormUpdate.warranty_product.$dirty && editMode.editorEnabledWarrantyUpdate ==true) ||(form.WarrantyFormUpdate.submitted==true && form.WarrantyFormUpdate.warranty_product.$invalid==true)" class="prodo-warranty-Invalid">
        <span ng-show="form.WarrantyFormUpdate.warranty_product.$error.required">Please enter product name</span>
        <span ng-show="form.WarrantyFormUpdate.warranty_product.$error.maxlength"> Product name can not be more than 50 characters</span>
       </div>
            
            </td>
           
          </tr>

          <tr class="" >
            <td class="prodo-width50"> Model no  <input   id="prodo_warranty_model_no" class="warranty-textField form-control prodo-validation prodo-display-right" 
              ng-maxlength="50" type="text"  ng-model="warranty.model_no" required name="warranty_model_no" /> 
              
              <div  ng-show="(form.WarrantyFormUpdate.warranty_model_no.$dirty && editMode.editorEnabledWarrantyUpdate ==true) ||(form.WarrantyFormUpdate.submitted==true && form.WarrantyFormUpdate.warranty_model_no.$invalid==true)" class="prodo-warranty-Invalid">
        <span ng-show="form.WarrantyFormUpdate.warranty_model_no.$error.required">Please enter product model no</span>
        <span ng-show="form.WarrantyFormUpdate.warranty_model_no.$error.maxlength">Product model no can not be more than 50 characters</span>
       </div>
             </td>

              <td class="prodo-width50"> Model name  <input   id="prodo_warranty_model_name" class="warranty-textField form-control prodo-validation prodo-display-right" 
              ng-maxlength="50" type="text"  ng-model="warranty.model_name" required name="warranty_model_name" /> 
              
              <div  ng-show="(form.WarrantyFormUpdate.warranty_model_name.$dirty && editMode.editorEnabledWarrantyUpdate ==true) ||(form.WarrantyFormUpdate.submitted==true && form.WarrantyFormUpdate.warranty_model_name.$invalid==true)" class="prodo-warranty-Invalid">
        <span ng-show="form.WarrantyFormUpdate.warranty_model_name.$error.required">Please enter product model name</span>
        <span ng-show="form.WarrantyFormUpdate.warranty_model_name.$error.maxlength">Product model name can not be more than 50 characters</span>
       </div>
             </td>


          
         
          </tr>

          <tr class="" >
             <td  class="prodo-width50">Serial no  <input   id="prodo_warranty_serial_no" class="warranty-textField form-control prodo-validation prodo-display-right" ng-model="warranty.serial_no"
              ng-maxlength="50" type="text"   required name="warranty_serial_no" />  

                <div  ng-show="(form.WarrantyFormUpdate.warranty_serial_no.$dirty && editMode.editorEnabledWarrantyUpdate ==true) ||(form.WarrantyFormUpdate.submitted==true && form.WarrantyFormUpdate.warranty_serial_no.$invalid==true)" class="prodo-warranty-Invalid">
        <span ng-show="form.WarrantyFormUpdate.warranty_serial_no.$error.required">Please enter product serial no</span>
        <span ng-show="form.WarrantyFormUpdate.warranty_serial_no.$error.maxlength">Product serial no can not be more than 50 characters</span>
       </div>

            </td>

            <td class="prodo-width50"> Purchase date  <input   id="prodo_warranty_purchase_dateUpdate" class="warranty-textField form-control prodo-validation prodo-display-right" type="date" 
               required name="warranty_purchase_date"  ng-model="warranty.purchase_date " max="*jsvariable*"  /> 
             
              <div  ng-show="(form.WarrantyFormUpdate.warranty_purchase_date.$dirty && editMode.editorEnabledWarrantyUpdate ==true) ||(form.WarrantyFormUpdate.submitted==true && form.WarrantyFormUpdate.warranty_purchase_date.$invalid==true)" class="prodo-warranty-Invalid">
        <span ng-show="form.WarrantyFormUpdate.warranty_purchase_date.$error.required">Please enter purchase date</span>
       
       </div>


               </td>
          
           
          </tr>

           <tr class="" >

            <td  class="prodo-width50">Purchase country  <input   id="prodo_warranty_purchase_country" class="warranty-textField form-control prodo-validation prodo-display-right" ng-model="warranty.purchase_location.country"
              ng-maxlength="50" type="text"   required name="warranty_purchase_country" typeahead="country for country in countries | filter:$viewValue:startsWith | limitTo:8" />  
          
              <div  ng-show="(form.WarrantyFormUpdate.warranty_purchase_country.$dirty && editMode.editorEnabledWarrantyUpdate ==true) ||(form.WarrantyFormUpdate.submitted==true && form.WarrantyFormUpdate.warranty_purchase_country.$invalid==true)" class="prodo-warranty-Invalid">
        <span ng-show="form.WarrantyFormUpdate.warranty_purchase_country.$error.required">Please enter country name</span>
        <span ng-show="form.WarrantyFormUpdate.warranty_purchase_country.$error.maxlength">Country name can not be more than 50 characters</span>
       </div>

            </td>

            <td class="prodo-width50" >Purchase city  <input   id="prodo_warranty_purchase_city" class="warranty-textField form-control prodo-validation prodo-display-right" 
              ng-maxlength="50" type="text"   required name="warranty_purchase_city" ng-model="warranty.purchase_location.city" typeahead="city for city in cities | filter:$viewValue:startsWith | limitTo:8"/> 

              <div  ng-show="(form.WarrantyFormUpdate.warranty_purchase_city.$dirty && editMode.editorEnabledWarrantyUpdate ==true) ||(form.WarrantyFormUpdate.submitted==true && form.WarrantyFormUpdate.warranty_purchase_city.$invalid==true)" class="prodo-warranty-Invalid">
        <span ng-show="form.WarrantyFormUpdate.warranty_purchase_city.$error.required">Please enter city name</span>
        <span ng-show="form.WarrantyFormUpdate.warranty_purchase_city.$error.maxlength">City name can not be more than 50 characters</span>
       </div>

            </td>
          
          </tr>

       <tr class="" >
             <td class="prodo-width50">

           <!--  Warranty Period
            <input   id="prodo_warranty_period" class="warranty-textField form-control prodo-validation prodo-display-right" ng-maxlength="3"
               type="number"   required name="warranty_purchase_period" ng-model="productwarranty.purchase_period"  placeholder ="Number of months"/>  -->

                Warranty Expires on  <input   id="prodo_warranty_periodUpdate" class="warranty-textField form-control prodo-validation prodo-display-right" type="date" 
                   name="warranty_purchase_period" ng-model="warranty.expirydate" required min="*jsvariable*"  />  
                
                 <div  ng-show="(form.WarrantyFormUpdate.warranty_purchase_period.$dirty && editMode.editorEnabledWarrantyUpdate ==true) ||(form.WarrantyFormUpdate.submitted==true && form.WarrantyFormUpdate.warranty_purchase_period.$invalid==true)" class="prodo-warranty-Invalid">
        <span ng-show="form.WarrantyFormUpdate.warranty_purchase_period.$error.required">Please enter warranty expiry date</span>

       
       
       </div>

              </td>
                   <td class="prodo-width50"> Warranty type &nbsp; &nbsp;&nbsp; 
                   <select class="warranty-textField form-control prodo-validation prodo-display-right" ng-model="warranty.warranty_type" ng-options="t for t in type" required name="warranty_type">
                   </select>
                   
                
                 <div  ng-show="(form.WarrantyFormUpdate.warranty_type.$dirty && editMode.editorEnabledWarrantyUpdate ==true) ||(form.WarrantyFormUpdate.submitted==true && form.WarrantyFormUpdate.warranty_type.$invalid==true)" class="prodo-warranty-Invalid">
        <span ng-show="form.WarrantyFormUpdate.warranty_type.$error.required">Please select warranty type</span>     
       </div>

              </td>

       </tr>
   

<!-- invoice update -->
          <!--  <tr>
            <td  colspan="2">Invoice Upload  &nbsp;&nbsp;&nbsp;&nbsp;
                        
                <input id="prodo-warrantyUploadBtn" class=" form-control prodo-validation " type="file" name="file" ng-file-selectdata="onFileSelect($files)" ng-model="file1" >

                  <div  ng-show="(form.WarrantyFormUpdate.file.$dirty && editMode.editorEnabledWarrantyUpdate ==true) ||(form.WarrantyFormUpdate.submitted==true && form.WarrantyFormUpdate.file.$invalid==true)" class="prodo-warranty-Invalid">
       
                      <span ng-show="form.WarrantyFormUpdate.file.$error.required">Please add invoice image</span>
                     </div>
                                        
             </td>
          </tr> -->
   
<!-- invoice update -->


         <!--  <tr>
            <td  colspan="2">Description   <textarea  type="text" 
              ng-maxlength="1000" id="prodo_warranty_textfield" class="form-control prodo-validation prodo-resizeRestrict"   name="warranty_description" col="40" ng-model="warranty.description" ></textarea>

               <div  ng-show="(form.WarrantyFormUpdate.warranty_description.$dirty && editMode.editorEnabledWarrantyUpdate ==true) ||(form.WarrantyFormUpdate.submitted==true && form.WarrantyFormUpdate.warranty_description.$invalid==true)" class="prodo-warranty-Invalid">
       
        <span ng-show="form.WarrantyFormUpdate.warranty_description.$error.maxlength">Warranty description can not be more than 1000 characters</span>
       </div>


            </td>
          </tr>
          <tr>
            <td  colspan="2">Disclaimer   <textarea  type="text" 
              ng-maxlength="1000" id="prodo_warranty_textfield" class="form-control prodo-validation prodo-resizeRestrict"   name="warranty_disclaimer" col="40"  ng-model="warranty.disclaimer"></textarea>

               <div  ng-show="(form.WarrantyFormUpdate.warranty_disclaimer.$dirty && editMode.editorEnabledWarrantyUpdate ==true) ||(form.WarrantyFormUpdate.submitted==true && form.WarrantyFormUpdate.warranty_disclaimer.$invalid==true)" class="prodo-warranty-Invalid" >
       
        <span ng-show="form.WarrantyFormUpdate.warranty_disclaimer.$error.maxlength">Warranty disclaimer can not be more than 1000 characters</span>
       </div>


            </td>
          </tr>
          <tr>
            <td  colspan="2">Coverage   <textarea  type="text" 
              ng-maxlength="1000" id="prodo_warranty_textfield" class="form-control prodo-validation prodo-resizeRestrict"  ng-model="warranty.coverage"  name="warranty_coverage" col="40"  ></textarea>

               <div  ng-show="(form.WarrantyFormUpdate.warranty_coverage.$dirty && editMode.editorEnabledWarrantyUpdate ==true) ||(form.WarrantyFormUpdate.submitted==true && form.WarrantyFormUpdate.warranty_coverage.$invalid==true)" class="prodo-warranty-Invalid" >
       
        <span ng-show="form.WarrantyFormUpdate.warranty_coverage.$error.maxlength">Warranty coverage can not be more than 1000 characters</span>
       </div>

            </td>
          </tr> -->


          <tr  class="">
            <td colspan="2">
              <a    ng-click="updateWarranty();" class="btn btn-primary btn-sm  pull-right prodo-margin5" > Update &nbsp;<i class="fa fa-floppy-o"></i></a>
              <a class="btn btn-default btn-sm  pull-right prodo-margin5" ng-click="disableEditorFeatureUpdate() ; "> Cancel&nbsp;<i class="glyphicon glyphicon-remove"></i></a>
            </td>
          </tr>
        </table>
      </form>


<!-- ////////////////////////////// Warranty Update end /////////////////////////// -->



  <div id="prodo-ProductDetails" class="prodo-ProductDetails"  ng-hide="(editMode.editorEnabledWarranty==true) || (editMode.editorEnabledWarrantyUpdate==true)">
  <h5 class="prodo-wall-org-heading-text">WARRANTY DETAILS</h5>
  <hr class="prodo-wall-org-hr" size=3 noshade>
<br>

   <div  class="prodo.productAdmin1 pull-right " >
        <a href="" class="btn btn-primary btn-sm btn-bottom-margin" ng-click="enableEditorFeatureUpdate() ;  editStatus='update'; form.WarrantyFormUpdate.$setPristine();"  > Update &nbsp;<i class="fa fa-pencil-square-o "></i></a>
        <a href="" class="btn btn-danger btn-sm btn-bottom-margin" data-toggle="modal" data-target="#WarrantyDelete">  Delete &nbsp; <i class="fa fa-trash-o"></i> </a> 
        <br>
      </div>

            <!-- Modal -->
      <div class="modal fade" id="WarrantyDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Delete Warranty</h4>
            </div>
            <div class="modal-body">
              Once deleted this warranty, it won't be accessible .<br>
              Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default " data-dismiss="modal"> Cancel &nbsp; <i class=" glyphicon glyphicon-remove"></i></button>
              <button type="button" class="btn btn-danger  " ng-click="deleteWarranty();" data-dismiss="modal" > Delete  &nbsp; <i class=" glyphicon glyphicon-trash"></i></button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

      <br> <br> <br>
<!-- display mode -->
  <span class="wall-warranty-expiry-label label label-success">Expires on <span ng-bind="warranty.expirydate |  date:'MMM d, y'" ></span>
        </span>
  <div class="pull-right prodo-warrantBottomMargine">
    <span class="wall-warranty-expiry-label label label-info"><span ng-bind="warranty.warranty_type" ></span>&nbsp; warranty
        </span>
 &nbsp;  &nbsp; 
		  	<button ng-click="OpenInvoiceImage = !OpenInvoiceImage" class="prodo-warrantyInvoiceBtn " ><i class=" fa fa-picture-o"></i></button>
		  </div>
 <table class="  prodo-productTableFont  table child table-bordered table-hover "  id="prodo-WarrantyTable">
   
          <tr>
            <td class="prodo-width50" >

       

			      <span class="prodo-fontWeight">Organization:  &nbsp; </span> <span ng-bind="warranty.orgname" > </span>
            
            </td>
      
            <td  class="prodo-width50" >
             <span class="prodo-fontWeight">Product:  &nbsp; </span> <span ng-bind="warranty.name" > </span>
            </td>
           
          </tr>

          <tr class="" >
            <td class="prodo-width50"> 
             <span class="prodo-fontWeight">Model no    &nbsp; </span><span ng-bind="warranty.model_no" > </span>
             </td>

              <td class="prodo-width50"> 
               <span class="prodo-fontWeight">Model name    &nbsp; </span><span ng-bind="warranty.model_name" > </span>
             </td>


          
         
          </tr>

          <tr class="" >
             <td  class="prodo-width50">
              <span class="prodo-fontWeight">Serial no    &nbsp;</span> <span ng-bind="warranty.serial_no" > </span>
            </td>

            <td class="prodo-width50">
             <span class="prodo-fontWeight"> Purchase date     &nbsp;</span> <span ng-bind="formatDate(warranty.purchase_date)" > </span>

               </td>
          
           
          </tr>

           <tr class="" >

            <td  class="prodo-width50">
             <span class="prodo-fontWeight">Purchase country   &nbsp; 
             </span><span ng-bind="warranty.purchase_location.country" > </span>

            </td>

            <td class="prodo-width50" >
             <span class="prodo-fontWeight">Purchase city   &nbsp;</span> <span ng-bind="warranty.purchase_location.city" > </span>
            </td>
          
          </tr>

			
     



       <!--     <tr>
            <td  colspan="2"><span class="prodo-fontWeight">Description   &nbsp;</span> <span ng-bind="warranty.description" > </span>
            </td>
          </tr>
          <tr>
            <td  colspan="2">
            <span class="prodo-fontWeight"> Disclaimer    &nbsp; </span><span ng-bind="warranty.disclaimer" > </span>


            </td>
          </tr>
          <tr>
            <td  colspan="2"><span class="prodo-fontWeight">Coverage   &nbsp;</span> <span ng-bind="warranty.coverage" > </span>

            </td>
          </tr> -->


     
        </table>
       
        <div id="#invoice-img-div" ng-show="OpenInvoiceImage" class="row" >
           
          
    <center>
			<img ng-src="{{warranty.invoice_image.image}}" alt="..." class=" prodo-invoiceImage img-rounded">
		</center>
<br><br>
     <div    ng-app="prodo.UploadApp" ng-controller="UploadController"  >
    


          <center>
              <div class="controls" > 
                <span class="btn btn-primary fileinput-button controls-upload prodo-uploadBtnWidth" >
                <i class="glyphicon glyphicon-upload "></i>
                <input   type="file" name="file" ng-file-select="onFileSelect($files)"  ng-click="uploadSrc = 'warranty';">
                <span>Change Invoice </span>
                </span>
              </div>
                <div id="FileName" > 
          </div>
           
      </center>
     



          <!-- <span id="spinner" > <i  class=" prodo-loadmoreColor fa fa-spinner fa-spin "> </i></span>
   
      </div>
    </div>
	
</div>
<!-- display mode -->





</div>