<!-- Prodonus Subscribe Plans Expired View-->
<div id="prodo-subscription-heading" class="page-header">

  <h2><span class="label label-primary">All Plans Include a 90 Days <strong>Free</strong> Trial</span></h2>

</div>

<div id="prodo-subscription" >

    <section ng-repeat="s in subscription" class="jumbotron-subscribe">

    <header id="prodo-subscribe-plan-heading">{{s.plantype}}</header>

        <h6 id="prodo-subscribe-text">Best for {{s.plantype}}.</h6><hr id="prodo-subscription-hr" />

        <ul ng-repeat="s1 in s.plans">
        		<h6 style="font-weight: bold; font-size: 14px;">{{s1.plandescription}}</h6>
            <li id="subscribe-plan-list" class="subscribe-feature-list"><input type="radio" ng-model="subscription.planid" value="{{s1.planid}}">&nbsp;&nbsp;{{s1.planpaymentcommitment.commitmenttype}}<span class="usd"><sup>$</sup>{{s1.planpaymentcommitment.amount}}</span></li>
        </ul>

        <button id="prodo-subscribe-btn" class="btn btn-primary btn-md" ng-click="makeTransition(subscription.planid, s.plantype)">Join Us</button>
    </section>
</div>
 