<!-- Prodonus Subscribe Plans View-->
<div id="prodo-subscription-heading" class="page-header">

  <h4>30-day trial free trial on paid accounts</h4>

    <small>Collect and analyze your warranty for all your products in real-time using our fast, reliable, hosted system.</small>

</div>

<div id="prodo-subscription" >

	<section class="jumbotron-subscribe">

 		<header id="prodo-subscribe-plan-heading">Individuals</header>

    	<h6 id="prodo-subscribe-text">Best for Individuals.</h6><hr>

    	<ul>
    		<li class="subscribe-feature-list">Communication</li><hr>
    		<li class="subscribe-feature-list">Warranty notifications</li><hr>
    		<li class="subscribe-feature-list">Broadcast notifications</li><hr>
    		<li class="subscribe-feature-list">Product support</li><hr>
    		<li class="subscribe-feature-list">Product analysis</li><hr>
    	</ul>

    	<p class="price"><span class="usd"><sup>$</sup>12</span> per month</p>

    	<button id="prodo-subscribe-btn" class="btn btn-primary btn-md" ui-sref="subscription.userPayment">Join Us</button>

  </section>

	<section class="jumbotron-subscribe">

  	<header id="prodo-subscribe-plan-heading" class="heading">Companies</header>

    	<h6 id="prodo-subscribe-text">Best for Consumer Companies. </h6><hr>

    	<ul>
    		<li class="subscribe-feature-list">Communication</li><hr>
    		<li class="subscribe-feature-list">Warranty notifications</li><hr>
    		<li class="subscribe-feature-list">Broadcast notifications</li><hr>
    		<li class="subscribe-feature-list">Product support</li><hr>
    		<li class="subscribe-feature-list">Product analysis</li><hr>
    	</ul>

    	<p class="price"><span class="usd"><sup>$</sup>25</span> per month</p>

    	<button id="prodo-subscribe-btn" class="btn btn-primary btn-md" ui-sref="subscription.company">Join Us</button>

	</section>

	<section class="jumbotron-subscribe">

  	<header id="prodo-subscribe-plan-heading">Manufacturers</header>

    	<h6 id="prodo-subscribe-text">Best for Manufacturer Companies.</h6><hr/>

    	<ul>
    		<li class="subscribe-feature-list">Communication</li><hr>
    		<li class="subscribe-feature-list">Warranty notifications</li><hr>
    		<li class="subscribe-feature-list">Broadcast notifications</li><hr>
    		<li class="subscribe-feature-list">Product support</li><hr>
    		<li class="subscribe-feature-list">Product analysis</li><hr>
    	</ul>

    	<p class="price"><span class="usd"><sup>$</sup>35</span> per month</p>

    	<button id="prodo-subscribe-btn" class="btn btn-primary btn-md" ui-sref="subscription.company">Join Us</button>

	</section>

</div>
 