<!-- Payments for Individuals -->
<div id="prodo-payment-container" class="container">

  <form id="prodo-form-payment" name=" formOrgRegisterPayment" class="css-form" ng-submit="" novalidate>

    <div class="control-group">

      <label id="prodo-payment-label-control"  class="label-control">Payment</label><br>

        <input id="prodo-form-input-payment" name="contact" type="text" class="form-control" placeholder="Amount" ng-model="org.payment" autofocus required/>

    </div>

    <button id="prodo-form-payment-btn" class="btn btn-md btn-primary" type="submit">Submit</button>
     
  </form>

</div>