<!-- Prodonus Admin -->
<div id="prodo-container" class="container">

  <div id="prodo-row" class="row">

		<div id="prodo-col-md-2" class="col-md-2"></div>

		<div id="prodo-col-md-8" class="col-md-8">
			<div class="prodo-admin-container container">

				<h3><center> Admin Screen</center></h3>
     			<ul prodo-nav id="prodo-admin-nav-pills" class="nav nav-pills">
        		<li class="active"><a ui-sref="admin.tags">Tags</a></li>
       			<li><a ui-sref="admin.product">Product</a></li>
        		<li><a ui-sref="admin.payment">Payment</a></li>
            <li><a ui-sref="admin.organisation">Organisation</a></li>
            <li><a ui-sref="admin.landingpageslider">Landing Page Slider</a></li>
					</ul>
    			
    			<div class="prodo-admin-tab-content tab-content">
        		<div ui-view></div>
    			</div>
    	</div>	

		</div>

		<div id="prodo-col-md-2" class="col-md-2"></div>

	</div>

</div>
