<div><center>Slider data</center></div>

<div> Name: <input type="text" id="name"> </div> <br> <div>Description:<textarea></textarea></div>
<div>
Logo
          
                <div class="controls" > 
                  <span class="btn btn-primary fileinput-button controls-upload prodo-uploadBtnWidth" >
                    <i class="glyphicon glyphicon-upload "></i>
                    <input   type="file" name="file" ng-file-select="onFileSelect($files)" ng-click="uploadSrc = '';">
                    <span>Upload Image</span>
                  </span>
                </div>
             
</div>