   

<div>

  <!--   <p>Tag ID:<input type="text" id="tagid" ng-model="tagid"> </p>  <br>   -->
           <p>Tag Name:<input type="text" id="tagName" ng-model="tagname" class="form-control"> </p>
           <br>
          <!--  <p>Domain Categories : <input type="text" ng-model=""></p>

           <select>
             <option> </option>
           </select>
           <button>Add/Add More</button>

           <br>
           <br>   -->
             
    <div style="margin-bottom:30px;">

          Domain Category:    <tags-input  minTags="1" add-on-blur="true" list="allTagsContain" ng-model="allCategories" min-length="1">
            </tags-input>

           <br>
    </div>       

<!-- <div style="margin-bottom:30px;">
          List of added Domail Categories : <div ng-bind="allCategories"></div>

</div> -->
             Category:
                     <select ng-model="category_selection" ng-mouseout="setEmotion()" class="form-control"> 
                               <option>-</option>
                               <option>Love</option>
                               <option>Optimism</option>
                               <option>Aggressiveness</option>
                               <option>Contempt</option>
                               <option>Remorse</option>
                               <option>Disapproval</option>
                               <option>Awe</option>
                               <option>Submission</option>
                     </select>
       
             <br> <br> <br>

             Emotion:
                       <select ng-model="emotionvalueinsert" ng-mouseout="funct()" id="1" class="form-control"> 
                                <option ng-bind="option1"></option>
                                <option ng-bind="option2"></option>  
                                <option ng-bind="option3"></option>
                       </select><!-- --{{emotion}} -->
                                             
             <br><br><br>  
   
            Level:<select ng-model="level" class="form-control">
             <option>-</option>
             <option>10</option>
             <option>20</option>
             <option>30</option>
   
             </select> 
    

             <br><br><br>  
   
              Result: 
                        <select ng-model="result" class="form-control">
                                   <option>-</option>
                                   <option>Positive</option>
                                   <option>Negative</option>
                                   <option>Neutral</option>
                         </select>
                         
               <br><br><br>  
            <!--    <input type="text" placeholder="Browse Image" > -->    
               <input type="file" id="4" class="form-control"><br><br>
               <button ng-click="submitTag()" class="form-control">Submit</button><br><br>

               {{query1}}



</div>
   