 <div id="prodo-navbar-start" class="navbar navbar-inverse navbar-static-top" role="navigation">

        <div><a id="prodo-navbar-brand" class="navbar-brand" ui-sref="prodo.wall"><img style="width: 150px; height:40px;" src="assets/images/prodonus-logo.png"></a></div>

        <p class="navbar-text pull-right">

        <form id="prodo-navbar-form" class="navbar-form navbar-right" ng-submit="signin()" ng-controller="UserSigninController">

          <div class="form-group">
              <input id="prodo-form-input-signin" type="email" placeholder="Email" class="form-control" required ng-model="user.email">
          </div>

          <div class="form-group">
              <input id="prodo-form-input-signin" type="password" placeholder="Password" class="form-control" required ng-model="user.password">
          </div>

          <button id="prodo-form-button-signin" type="submit" class="btn btn-success">Sign in</button><br>

          <a id="prodo-form-forgot-link" ui-sref="messageContent.forgotPassword">Forgot password?</a>
          <div prodo-spinner></div>
        </form>

        </div>  

         