 <div id="prodo-view-verification">

  <div id="prodo-row-verification" class="row">

    <div id="prodo-verification-col-md-3" class="col-md-3"></div>
  
    <div id="prodo-verification-col-md-6" class="col-md-6">
     <div id="prodo-verification-panel" class="panel panel-default">
  <div id="prodo-verification-panel-heading" class="panel-heading">Thanks for Signing Up with Prodonus</div>
  	<div class="panel-body">
    	<div>
      		<notification ng-model="message[0]"></notification>
    	</div>
  </div>
</div>
      
    </div>
  
    <div id="prodo-verification-col-md-3" class="col-md-3"></div>
 </div>

</div>
     
