<!-- Prodonus SignUp View Template -->
<div id="prodo-view-signup" ng-controller="UserRegistrationController">

  <form id="prodo-form-signup" name="signupForm" class="css-form" ng-submit="signup()" novalidate>

    <div class="control-group">

      <h4 id="prodo-signup-heading">Talk About Your Products</h4>
       

        <input id="prodo-form-input-signup" name="fullname" class="form-control" type="text" placeholder="FullName" ng-model="fullname" required /><i class="fa fa-check" ng-show="signupForm.fullname.$dirty && signupForm.fullname.$valid" ></i>
        <div class="error" 
            ng-show="(signupForm.fullname.$dirty && signupForm.fullname.$invalid && signupForm.submitted) || (signupForm.fullname.$invalid && signupForm.submitted) || (signupForm.fullname.$dirty && signupForm.fullname.$error.required)">
         
            Your name is required.
         
        </div>

        <input id="prodo-form-input-signup" name="email" class="form-control" type="email" placeholder="Email" required ng-model="email" /><i class="fa fa-check" ng-show="signupForm.email.$dirty && signupForm.email.$valid"></i>
        <div class="error" 
            ng-show="(signupForm.email.$dirty && signupForm.email.$invalid && signupForm.submitted) || 
            (signupForm.email.$invalid && signupForm.submitted) || (signupForm.email.$dirty && signupForm.email.$error.required)">
          Email is required.
        </div>
        <div class="error" 
        ng-show="signupForm.email.$dirty && signupForm.email.$error.email">
        Enter valid email!
        </div>
      
      
        <input id="prodo-form-input-signup" type="password" class="form-control" id="password1" name="password" placeholder="Password" ng-model="password" prodonus-password-validate required><i class="fa fa-check" ng-show="signupForm.password.$dirty && signupForm.password.$valid" ></i>
        <div class="error" 
            ng-show="(signupForm.password.$dirty && signupForm.password.$invalid && signupForm.submitted) || (signupForm.password.$invalid && signupForm.submitted) || (signupForm.password.$dirty &&signupForm.password.$error.required)">
            Password is required.
         </div>
        <div class="error" 
        ng-show="signupForm.password.$dirty && !signupForm.password.$error.required && signupForm.password.$invalid">
        Enter valid password!
        </div>

    </div>  
 
    <button id="prodo-form-button-signup" class="btn btn-sm btn-primary"><span class=" glyphicon glyphicon-thumbs-up" ></span> Sign Up</button>

  </form>

</div>   