 <div id="prodo-view-rejection">

  <div id="prodo-row-rejection" class="row">

    <div id="prodo-rejection-col-md-3" class="col-md-3"></div>
  
    <div id="prodo-rejection-col-md-6" class="col-md-6">
     <div id="prodo-rejection-panel" class="panel panel-default">
  <div id="prodo-rejection-panel-heading" class="panel-heading">Signup Unsuccessful!!</div>
  	<div class="panel-body">
    	<div>
      		<notification ng-model="message[1]"></notification>
    	</div>
  </div>
</div>
      
    </div>
  
    <div id="prodo-rejection-col-md-3" class="col-md-3"></div>
 </div>

</div>
     
