<!-- Prodonus SignUp View Template -->
<div id="prodo-view-signup">

  <form id="prodo-form-signup" name="signupForm" class="css-form" novalidate>

    <div class="control-group">

      <h4 id="prodo-signup-heading">Talk About Your Products</h4>

        <input id="prodo-form-input-signup" name="fullname" class="immediate-help form-control" type="text" placeholder="FullName" required ng-model="fullname" />
          <div class="input-help">
            <h4>Field Required</h4>
          </div>

        <input id="prodo-form-input-signup" name="email" class="immediate-help form-control" type="email" placeholder="Email" required ng-model="email" />  
          <div class="input-help">
            <h4>Enter valid email:abc@example.com</h4>
          </div>
      
        <input id="prodo-form-input-signup" type="password" class="immediate-help form-control" id="password1" name="password1" placeholder="Password" ng-model="password" prodonus-password-validate required>
          <div class="input-help">
            <h4>Password must have:</h4>
              <ul>
                <li ng-class="pwdHasAlphabet">At least <strong>1 Alphabet</strong></li>
                <li ng-class="pwdHasNumber">At least <strong>1 Number</strong></li>
                <li ng-class="pwdHasSymbol">At least <strong>1 Special Symbol</strong></li>
                <li ng-class="pwdValidLength">At least <strong>8 characters long</strong></li>
              </ul>
          </div>

    </div>  

    <button id="prodo-form-button-signup" class="btn btn-sm btn-primary" ui-sref="subscription.plans" ng-click="save()"><span class=" glyphicon glyphicon-thumbs-up" ></span> Sign Up</button>

  </form>

</div>   