<div id="prodo-view-signin">

  <div id="prodo-row-signin" class="row">

    <div id="prodo-signin-col-md-2" class="col-md-2"></div>
  
    <div id="prodo-signin-col-md-8" class="col-md-8">
      
        <form id="prodo-form-signin" name="signinForm" class="css-form" ng-submit="signin()" novalidate>

          <div class="control-group">

            <h4 id="prodo-signin-heading">Signin</h4>

              <input id="prodo-input-signin" name="email" class="form-control" type="email" placeholder="Email" required ng-model="user.email" /><i class="fa fa-check" ng-show="signinForm.email.$dirty && signinForm.email.$valid"></i>
              <div class="error" 
                  ng-show="(signinForm.email.$dirty && signinForm.email.$invalid && signinForm.submitted) || 
                  (signinForm.email.$invalid && signinForm.submitted) || (signinForm.email.$dirty && signinForm.email.$error.required)">
                Email is required.
              </div>
              <div class="error" 
              ng-show="signinForm.email.$dirty && signinForm.email.$error.email">
              Enter valid email!
              </div>
            
            
              <input id="prodo-input-signin" type="password" class="form-control" id="password1" name="password" placeholder="Password" ng-model="user.password" prodonus-password-validate required><i class="fa fa-check" ng-show="signinForm.password.$dirty && signinForm.password.$valid" ></i>
              <div class="error" 
                  ng-show="(signinForm.password.$dirty && signinForm.password.$invalid && signinForm.submitted) || (signinForm.password.$invalid && signinForm.submitted) || (signinForm.password.$dirty &&signinForm.password.$error.required)">
                  Password is required.
               </div>
              <div class="error" 
              ng-show="signinForm.password.$dirty && !signinForm.password.$error.required && signinForm.password.$invalid">
              Enter valid password!
              </div>

    </div>  
 
    <button id="prodo-button-signin" class="btn btn-sm btn-primary" ui-sref="subscription.plans">Sign In</button>

  </form>
  
    </div>
  
    <div id="prodo-signin-col-md-2" class="col-md-2"></div>
  
  </div>

</div>


  

     