<!-- Prodonus Signin View Template -->
<div id="prodo-view-signin" ng-controller="UserSigninController">
 
  <form id="prodo-form-signin" name="signinForm" class="css-form" ng-submit="signin()" novalidate>

    <div class="control-group">

      <h4 id="prodo-signin-heading">Sign In</h4>

      <hr size=3 width="90%" style="height:1px; margin-top: 0;" noshade>

      <input id="prodo-input-signin" name="email" class="form-control" type="text" placeholder="Email or username" required ng-model="user.email" /> 
    
    
      <input id="prodo-input-signin" type="password" class="form-control" id="password1" name="password" placeholder="Password" ng-model="user.password" required>

      <label class="label-control" style="width: 110px; text-align:left; float: left; margin-left: 50px; display: inline-block; font-weight:normal; font-size:12px;">
        <input id="prodo-input-remember-signin" type="checkbox" ng-model="user.remember">&nbsp;Remember me
      </label>

      <a href="messageContent.forgotPassword">forgot password?</a>

    </div>  

    <button id="prodo-button-signin" class="btn btn-sm btn-primary">Sign In</button>

    <div prodo-spinner></div>

  </form>

</div>
  
     


  

     