<!-- Template for Organisation Terms&Conditions Details view wizard-->
<div style="background-color: white; margin: 20px auto; border-radius: 5px; min-height: 300px; width: 100%;" id="prodo-general-term-container" class="container">

	<label id="prodo-term-label-control" class="label-control">Terms of Service</label><br>

 		<div id="prodo-general-term" class="container">

<p>These Prodonus Terms of Service ("Terms") govern your access to and use of the services, including our various websites, SMS, APIs, email notifications, applications, buttons, and widgets, (the "Services" or “Prodonus”), and any information, text, graphics, photos or other materials uploaded, downloaded or appearing on the Services (collectively referred to as "Content").<h4> BY CLICKING THE "I ACCEPT" BUTTON, COMPLETING THE REGISTRATION PROCESS, OR USING THE SERVICE, YOU ACKNOWLEDGE THAT YOU HAVE REVIEWED AND ACCEPT THIS AGREEMENT AND ARE AUTHORIZED TO ACT ON BEHALF OF, AND BIND TO THIS AGREEMENT, THE OWNER OF THIS ACCOUNT..</h4> The domain name www.prodonus.com (hereinafter referred to as "Prodonus") is owned by Prodonus Software Private Limited a company incorporated under the Companies Act, 1956 at Pune, Maharashtra, India</p>

<article>
<h3>1. Basic Terms</h3>
You are responsible for your use of the Services, for any Content you post to the Services, and for any consequences thereof. The Content you submit, post, or display will be able to be viewed by other users of the Services. You should only provide Content that you are comfortable sharing with others under these Terms.

You may use the Services only if you can form a binding contract with Prodonus. If you are accepting these Terms and using the Services on behalf of a company, organization, government, or other legal entity, you represent and warrant that you are authorized to do so. You may use the Services only in compliance with these Terms and all applicable local, state, national, and international laws, rules and regulations.

The Services that Prodonus provides are always evolving and the form and nature of the Services that Prodonus provides may change from time to time without prior notice to you. In addition, Prodonus may stop (permanently or temporarily) providing the Services (or any features within the Services) to you or to users generally and may not be able to provide you with prior notice. We also retain the right to create limits on use and storage at our sole discretion at any time without prior notice to you.

The Services may include advertisements, which may be targeted to the Content or information on the Services, queries made through the Services, or other information. The types and extent of advertising by Prodonus on the Services are subject to change. In consideration for Prodonus granting you access to and use of the Services, you agree that Prodonus may place such advertising on the Services or in connection with the display of Content or information from the Services whether submitted by you or others.
</article>


<article>
<h3>2. Privacy</h3>
Any information that you provide to Prodonus is subject to our privacy policy, which governs our collection and use of your information. You understand that through your use of the Services you consent to the collection and use (as set forth in the Privacy Policy) of this information, including the transfer, processing and use by Prodonus. As part of providing you the Services, we may need to provide you with certain communications, such as service announcements and administrative messages. These communications are considered part of the Services and your Prodonus account, which you may not be able to opt-out from receiving.
</article>

<article>
<h3>3. Passwords</h3>
You are responsible for safeguarding the password that you use to access the Services and for any activities or actions under your password. We encourage you to use "strong" passwords (passwords that use a combination of upper and lower case letters, numbers and symbols) with your account. Prodonus cannot and will not be liable for any loss or damage arising from your failure to comply with the above.
</article>

<article>
<h3>4. Charges</h3>
Membership on the Prodonus is paid. Prodonus charges a subscription fee for using its services . Prodonus reserves the right to change its subscription Fee Policy from time to time. In particular, Prodonus may at its sole discretion introduce new services and modify some or all of the existing services offered. In such an event Prodonus reserves the right to amend the fees for the new/existing services offered, as the case may be. Changes to the Fee Policy shall be posted on the Website and such changes shall automatically become effective immediately after they are posted on the Website. Unless otherwise stated, all fees shall be quoted in Indian Rupees. You shall be solely responsible for compliance of all applicable laws including those in India for making payments to Prodonus Software Private Limited.

<p>While availing any of the payment method/s available on the Website, we will not be responsible or assume any liability, whatsoever in respect of any loss or damage arising directly or indirectly to You due to:</p>
	<ul>
		<li>
			1. Lack of authorization for any transaction/s, or
		</li>
		<li>
			2. Exceeding the preset limit mutually agreed by You and between "Bank/s", or
		</li>
		<li>
			3.  Any payment issues arising out of the transaction, or
		</li>
		<li>
			4.  Decline of transaction for any other reason/s
		</li>
	</ul>



<h5><strong>Further:</strong></h5>
<p>
1. You have specifically authorized Prodonus or its service providers to collect, process, facilitate and remit payments and / or the Transaction Price electronically or through Cash on Delivery to and from other Users in respect of transactions through Payment Facility.</p>

<p>
2. You understand, accept and agree that the payment facility provided by Prodonus is neither a banking nor financial service but is merely a facilitator providing an electronic, automated online electronic payment, receiving payment through Cash On Delivery, collection and remittance facility for the Transactions on the Prodonus Website using the existing authorized banking infrastructure and Credit Card payment gateway networks. Further, by providing Payment Facility, Prodonus is neither acting as trustees nor acting in a fiduciary capacity with respect to the Transaction or the Transaction Price.</p>

<p>
3. Payment Facility for Buyers:
<ul>
	<li>
		• You, as a Buyer, understand that upon initiating a Transaction You are entering into a legally binding and enforceable contract with the Seller to purchase the products and /or services from the Seller using the Payment Facility, and You shall pay the Transaction Price through Your Issuing Bank to the Seller using Payment Facility.
	</li>
	<li>
		• You, as a Buyer, shall be entitled to claim a refund of the Transaction Price (as Your sole and exclusive remedy) in case You do not receive the Delivery within the time period agreed in the Transaction or within the time period as provided in the Policies, whichever is earlier. In case you do not raise a refund claim using Website features within the stipulated time than this would make You ineligible for a refund.
	</li>
	<li>
		• You, as a Buyer, understand that the Payment Facility may not be available in full or in part for certain category of products and/or services and/or Transactions as mentioned in the Policies and hence You may not be entitled to a refund in respect of the Transactions for those products and /or services
	</li>
	<li>
		• Except for Cash On Delivery transaction, refund, if any, shall be made at the same Issuing Bank from where Transaction Price was received.
	</li>
	<li>
		• For Cash On Delivery transactions, refunds, if any, will be made via demand draft in favour of the Buyer (As per registration details provided by the Buyer)
	</li>
	<li>
		• Refund shall be made in Indian Rupees only and shall be equivalent to the Transaction Price received in Indian Rupees.
	</li>
	<li>
		• For electronics payments, refund shall be made through payment facility using NEFT / RTGS or any other online banking / electronic funds transfer system approved by Reserve Bank India (RBI).
	</li>
	<li>
		• Refund shall be conditional and shall be with recourse available to Prodonus in case of any misuse by Buyer.
	</li>
	<li>
		• Refund shall be subject to Buyer complying with Policies.
	</li>
</ul>
</p>

<p>
4. Prodonus reserves the right to impose limits on the number of Transactions or Transaction Price which Prodonus may receive from on an individual Valid Credit/Debit/Cash Card/Valid Bank Account/ and such other infrastructure or any other financial instrument directly or indirectly through payment aggregator orthrough any such facility authorized by Reserve Bank of India to provide enabling support facility for collection and remittance of payment or by an individual Buyer during any time period, and reserves the right to refuse to process Transactions exceeding such limit.
</p>

<p>
5. Prodonus reserves the right to refuse to process Transactions by Buyers with a prior history of questionable charges including without limitation breach of any agreements by Buyer with Prodonus or breach/violation of any law or any charges imposed by Issuing Bank or breach of any policy.
</p>

<p>
6. Prodonus may do such checks as it deems fit before approving the receipt of/Buyers commitment to pay (for Cash On Delivery transactions) Transaction Price from the Buyer for security or other reasons at the discretion of Prodonus. As a result of such check if Prodonus is not satisfied with the creditability of the Buyer or genuineness of the Transaction / Transaction Price, it will have the right to rejectthe receipt of / Buyers commitment to pay Transaction Price.
</p>

<p>
7. Prodonus may delay notifying the payment confirmation i.e. informing Seller to Dispatch, if Prodonus deems suspicious or for Buyers conducting high transaction volumes to ensure safety of the Transaction and Transaction Price. In addition, Prodonus may hold Transaction Price and Prodonus may not inform Seller to Dispatch or remit Transaction Price to law enforcement officials (instead of refunding the same to Buyer) at the request of law enforcement officials or in the event the Buyer is engaged in any form of illegal activity.
</p>

<p>
8. The Buyer and Seller acknowledge that Prodonus will not be liable for any damages, interests or claims etc. resulting from not processing a Transaction/Transaction Price or any delay in processing a Transaction/Transaction Price which is beyond control of Prodonus.
</p>
<br>
<h5><strong>Compliance with Laws:</strong></h5>
<p>
9. Buyer and Seller shall comply with all the applicable laws (including without limitation Foreign Exchange Management Act, 1999 and the rules made and notifications issued there under and the Exchange Control Manual as may be issued by Reserve Bank of India from time to time, Customs Act, Information andTechnology Act, 2000 as amended by the Information Technology (Amendment) Act 2008, Prevention of Money Laundering Act, 2002 and the rules made there under, Foreign Contribution Regulation Act, 1976 and the rules made there under, Income Tax Act, 1961 and the rules made there under, Export Import Policy of government of India) applicable to them respectively for using Payment Facility and Prodonus Website.
</p>
<br>
<h5><strong>Buyer's arrangement with Issuing Bank:</strong></h5>
<p>
10. All Valid Credit / Debit/ Cash Card/ and other payment instruments are processed using a Credit Card payment gateway or appropriate payment system infrastructure and the same will also be governed by the terms and conditions agreed to between the Buyer and the respective Issuing Bank and paymentinstrument issuing company.</p>
</article>

<article>
<h3>5. Content on the Services</h3>
All Content, whether publicly posted or privately transmitted, is the sole responsibility of the person who originated such Content. We may not monitor or control the Content posted via the Services and, we cannot take responsibility for such Content. Any use or reliance on any Content or materials posted via the Services or obtained by you through the Services is at your own risk.
We do not endorse, support, represent or guarantee the completeness, truthfulness, accuracy, or reliability of any Content or communications posted via the Services or endorse any opinions expressed via the Services. You understand that by using the Services, you may be exposed to Content that might be offensive, harmful, inaccurate or otherwise inappropriate, or in some cases, postings that have been mislabeled or are otherwise deceptive. Under no circumstances will Prodonus be liable in any way for any Content, including, but not limited to, any errors or omissions in any Content, or any loss or damage of any kind incurred as a result of the use of any Content posted, emailed, transmitted or otherwise made available via the Services or broadcast elsewhere.
</article>

<article>
<h3>6. Your Rights</h3>
You retain your rights to any Content you submit, post or display on or through the Services. By submitting, posting or displaying Content on or through the Services, you grant us a worldwide, non-exclusive, royalty-free license (with the right to sublicense) to use, copy, reproduce, process, adapt, modify, publish, transmit, display and distribute such Content in any and all media or distribution methods (now known or later developed).


<p>
You agree that this license includes the right for Prodonus to provide, promote, and improve the Services and to make Content submitted to or through the Services available to other companies, organizations or individuals who partner with Prodonus for the syndication, broadcast, distribution or publication of such Content on other media and services, subject to our terms and conditions for such Content use.</p>

<p>
Such additional uses by Prodonus, or other companies, organizations or individuals who partner with Prodonus, may be made with no compensation paid to you with respect to the Content that you submit, post, transmit or otherwise make available through the Services.</p>

<p>
We may modify or adapt your Content in order to transmit, display or distribute it over computer networks and in various media and/or make changes to your Content as are necessary to conform and adapt that Content to any requirements or limitations of any networks, devices, services or media.</p>

<p>
You are responsible for your use of the Services, for any Content you provide, and for any consequences thereof, including the use of your Content by other users and our third party partners. You understand that your Content may be syndicated, broadcast, distributed, or published by our partners and if you do not have the right to submit Content for such use, it may subject you to liability. Prodonus will not be responsible or liable for any use of your Content by Prodonus in accordance with these Terms. You represent and warrant that you have all the rights, power and authority necessary to grant the rights granted herein to any Content that you submit.</p>


<h3>7. Your License To Use the Services</h3>
Prodonus gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use the software that is provided to you by Prodonus as part of the Services. This license is for the sole purpose of enabling you to use and enjoy the benefit of the Services as provided by Prodonus, in the manner permitted by these Terms.</article>

<article>
<h3>8. Prodonus Rights</h3>
All right, title, and interest in and to the Services (excluding Content provided by users) are and will remain the exclusive property of Prodonus and its licensors. The Services are protected by copyright, trademark, and other laws of India. Nothing in the Terms gives you a right to use the Prodonus name or any of the Prodonus trademarks, logos, domain names, and other distinctive brand features. Any feedback, comments, or suggestions you may provide regarding Prodonus, or the Services is entirely voluntary and we will be free to use such feedback, comments or suggestions as we see fit and without any obligation to you.
</article>

<article>
<h3>9. Restrictions on Content and Use of the Services</h3>
Please review the Prodonus rules (which are part of these Terms) to better understand what is prohibited on the Service. We reserve the right at all times (but will not have an obligation) to remove or refuse to distribute any Content on the Services, to suspend or terminate users, and to reclaim usernames without liability to you. We also reserve the right to access, read, preserve, and disclose any information as we reasonably believe is necessary to
<ul>
	<li>
		(i) satisfy any applicable law, regulation, legal process or governmental request, 
	</li>
	<li>
		 (ii) enforce the Terms, including investigation of potential violations hereof, 
	</li>
	<li>
		(iii) detect, prevent, or otherwise address fraud, security or technical issues,
	</li>
	<li>
		(iv) respond to user support requests, or 
	</li>
	<li>
		 (v) protect the rights, property or safety of Prodonus, its users and the public. We however do not disclose personally identifying information to third parties.
	</li>
</ul>

<p>
	<h6>You may not do any of the following while accessing or using the Services:</h6>
	<ul>
		<li>
			(i) access, tamper with, or use non-public areas of the Services, Prodonus’s computer systems, or the technical delivery systems of Prodonus’s providers; 
		</li>
		<li>
			(ii) probe, scan, or test the vulnerability of any system or network or breach or circumvent any security or authentication measures; 
		</li>
		<li>
			(iii) access or search or attempt to access or search the Services by any means (automated or otherwise) other than through our currently available, published interfaces that are provided by Prodonus (and only pursuant to those terms and conditions), unless you have been specifically allowed to do so in a separate agreement with Prodonus (NOTE: crawling the Services is permissible if done in accordance with the provisions of the robots.txt file, however, scraping the Services without the prior consent of Prodonus is expressly prohibited); 
		</li>
		<li>
			(iv) forge any TCP/IP packet header or any part of the header information in any email or posting, or in any way use the Services to send altered, deceptive or false source-identifying information; or 
		</li>
		<li>
			 (v) interfere with, or disrupt, (or attempt to do so), the access of any user, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, mail-bombing the Services, or by scripting the creation of Content in such a manner as to interfere with or create an undue burden on the Services.
		</li>
	</ul>
</p>
</article>


<article>
<h3>10. Copyright Policy</h3>
Prodonus respects the intellectual property rights of others and expects users of the Services to do the same. We will respond to notices of alleged copyright infringement that comply with applicable law and are properly provided to us. If you believe that your Content has been copied in a way that constitutes copyright infringement, please provide us with the following information:
<ul>
	<li>
		(i) a physical or electronic signature of the copyright owner or a person authorized to act on their behalf; 
	</li>
	<li>
		(ii) identification of the copyrighted work claimed to have been infringed; 
	</li>
	<li>
		(iii) identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material; 
	</li>
	<li>
		(iv) your contact information, including your address, telephone number, and an email address; 
	</li>
	<li>
		(v) a statement by you that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and 
	</li>
	<li>
		(vi) a statement that the information in the notification is accurate, and, under penalty of perjury, that you are authorized to act on behalf of the copyright owner.
	</li>
</ul>
<p>
We reserve the right to remove Content alleged to be infringing without prior notice, at our sole discretion, and without liability to you. In appropriate circumstances, Prodonus will also terminate a user’s account if the user is determined to be a repeat infringer.</p></article>


<article>
<h3>11. Profanity Policy</h3>
Prodonus prohibits the use of language that is racist, hateful, sexual or obscene in nature in a public area.
This policy extends to all user generated content areas that another User may view. If the profane words are part of content we would 'blur' out the bulk of the offending word with asterisks (i.e., s*** or f***).
Please report any violations of this policy to the correct area for review:
<p>Report offensive Display Names</p>
<p>Report offensive language in a listing or otherwise
If a feedback comment; or any communication made between Users on the Website; or email communication between Users in relation to transactions conducted on Website contain profanity, please review Our feedback removal policy and submit a request for action/removal.</p>
<p>Disciplinary action may result in the indefinite suspension of a User's account, temporary suspension, or a formal warning.</p>
<p>Prodonus will consider the circumstances of an alleged policy violation and the user's usage records before taking action.</p>
<p>Violations of this policy may result in a range of actions, including:
	<ul>
		<li>
			1. Limits placed on account privileges;
		</li>
		<li>
			2. Loss of special status;
		</li>
		<li>
			3. Account suspension.
		</li>
	</ul>
</p>
</article>
<article>
<h3>12. Ending These Terms</h3>
The Terms will continue to apply until terminated by either you or Prodonus as follows.
You may end your legal agreement with Prodonus at any time for any reason by deactivating your accounts and discontinuing your use of the Services. You do not need to specifically inform Prodonus when you stop using the Services. If you stop using the Services without deactivating your accounts, your accounts may be deactivated due to prolonged inactivity under our inactive account policy.
We may suspend or terminate your accounts or cease providing you with all or part of the Services at any time for any reason, including, but not limited to, if we reasonably believe:
<ul>
	<li>
		(i) you have violated these Terms 
	</li>
	<li>
		(ii) you create risk or possible legal exposure for us; or 
	</li>
	<li>
		(iii) our provision of the Services to you is no longer commercially viable. We will make reasonable efforts to notify you by the email address associated with your account or the next time you attempt to access your account.
	</li>
</ul>
In all such cases, the Terms shall terminate, including, without limitation, your license to use the Services, except that the following sections shall continue to apply: 4, 5, 7, 8, 10, 11, and 12.
Nothing in this section shall affect Prodonus rights to change, limit or stop the provision of the Services without prior notice, as provided above in section 1.</article>

<article>
<h3>13.Disclaimers and Limitations of Liability</h3>
Please read this section carefully since it limits the liability of Prodonus and its parents, subsidiaries, affiliates, related companies, officers, directors, employees, agents, representatives, partners, and licensors (collectively, the “Prodonus Entities”). Each of the subsections below only applies up to the maximum extent permitted under applicable law. Some jurisdictions do not allow the disclaimer of implied warranties or the limitation of liability in contracts, and as a result the contents of this section may not apply to you. Nothing in this section is intended to limit any rights you may have which may not be lawfully limited.

<p>
<h5>A. The Services are Available "AS-IS"</h5>
Your access to and use of the Services or any Content are at your own risk. You understand and agree that the Services are provided to you on an "AS IS" and "AS AVAILABLE" basis. Without limiting the foregoing, to the maximum extent permitted under applicable law, <h6>THE PRODONUS ENTITIES DISCLAIM ALL WARRANTIES AND CONDITIONS, WHETHER EXPRESS OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT.</h6></p>
<p>
The Prodonus Entities make no warranty and disclaim all responsibility and liability for: 
<ul>
	<li>
		(i) the completeness, accuracy, availability, timeliness, security or reliability of the Services or any Content; 
	</li>
	<li>
		(ii) any harm to your computer system, loss of data, or other harm that results from your access to or use of the Services or any Content; 
	</li>
	<li>
		(iii) the deletion of, or the failure to store or to transmit, any Content and other communications maintained by the Services; and 
	</li>
	<li>
		(iv) whether the Services will meet your requirements or be available on an uninterrupted, secure, or error-free basis. No advice or information, whether oral or written, obtained from the Prodonus Entities or through the Services, will create any warranty not expressly made herein.
	</li>
</ul></p>

<h5>B. Links</h5>
The Services may contain links to third-party websites or resources. You acknowledge and agree that the Prodonus Entities are not responsible or liable for: 
<ul>
	<li>
		(i) the availability or accuracy of such websites or resources; or 
	</li>
	<li>
		(ii) the content, products, or services on or available from such websites or resources. Links to such websites or resources do not imply any endorsement by the Prodonus Entities of such websites or resources or the content, products, or services available from such websites or resources. You acknowledge sole responsibility for and assume all risk arising from your use of any such websites or resources.
	</li>
</ul>

<h5>C. Limitation of Liability</h5>
<h6>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE PRODONUS ENTITIES SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM<br>
 <ul>
 	<li>
 		(i) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICES;
 	</li>
 	<li>
 		(ii) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE SERVICES, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; 
 	</li>
 	<li>
 		(iii) ANY CONTENT OBTAINED FROM THE SERVICES; OR
 	</li>
 	<li>
 		(iv) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT.IN NO EVENT SHALL THE AGGREGATE LIABILITY OF THE PRODONUS ENTITIES EXCEED THE GREATER OF ONE HUNDRED U.S. DOLLARS (U.S. $100.00 FOR ORGANIZATIONS AND U.S. $10 FOR INDIVIDUALS) OR THE AMOUNT YOU PAID PRODONUS, IF ANY, IN THE PAST MONTH FOR THE SERVICES GIVING RISE TO THE CLAIM.
 	</li>
 </ul>  
</h6>
<p>
<h6>
THE LIMITATIONS OF THIS SUBSECTION SHALL APPLY TO ANY THEORY OF LIABILITY, WHETHER BASED ON WARRANTY, CONTRACT, STATUTE, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, AND WHETHER OR NOT THE PRODONUS ENTITIES HAVE BEEN INFORMED OF THE POSSIBILITY OF ANY SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.</h6></p></article>

<article>
<h3>14. General Terms</h3>
<h5>
A. Waiver and Severability</h5>
The failure of Prodonus to enforce any right or provision of these Terms will not be deemed a waiver of such right or provision. In the event that any provision of these Terms is held to be invalid or unenforceable, then that provision will be limited or eliminated to the minimum extent necessary, and the remaining provisions of these Terms will remain in full force and effect.

<h5>B. Controlling Law and Jurisdiction</h5>
These Terms and any action related thereto will be governed by the laws of the Pune, Maharashtra, India without regard to or application of its conflict of law provisions or your state or country of residence. All claims, legal proceedings or litigation arising in connection with the Services will be brought solely in the state courts located in Pune, Maharashtra, India, and you consent to the jurisdiction of and venue in such courts and waive any objection as to inconvenient forum.
If you are a central, state, or local government entity in the India using the Services in your official capacity and legally unable to accept the controlling law, jurisdiction or venue clauses above, then those clauses do not apply to you. For such government entities, these Terms and any action related thereto will be governed by the laws of the India (without reference to conflict of laws) and, in the absence of  law and to the extent permitted under  law, the laws of the State  (excluding choice of law).

<h5>C. Entire Agreement</h5>
These Terms, and our privacy policy are the entire and exclusive agreement between Prodonus and you regarding the Services (excluding any services for which you have a separate agreement with Prodonus that is explicitly in addition or in place of these Terms), and these Terms supersede and replace any prior agreements between Prodonus and you regarding the Services. Other than members of the group of companies of which Prodonus, Software Private Limited. is the parent, no other person or company will be third party beneficiaries to the Terms.
We may revise these Terms from time to time, the most current version will always be at www.prodonus.com/terms. If the revision, in our sole discretion, is material we will notify you via an e-mail to the email associated with your account. By continuing to access or use the Services after those revisions become effective, you agree to be bound by the revised Terms.
These Services are operated and provided by Prodonus Sofware Private Limited., Pune, Maharashtra, India. If you have any questions about these Terms, please contact us.</article>

<h4>Effective: January 16, 2014</h4>


 		</div>

    <button id="prodo-form-term-btn" class="btn btn-md btn-primary" type="submit" ui-sref="home.start">Back</button>

</div>


  
   
