<!-- Payments for both Organizations and Individuals -->
<div class="container">
  <form name=" formOrgRegisterPayment" class="css-form" ng-submit="" novalidate>
    <center>
      <div class="control-group">
        <label class="label-control">Payment</label><br> 
          <input name="contact" type="text" class="form-control" placeholder="Amount" ng-model="org.payment" autofocus required/>
            <div class="input-help">
              <h4>Field Required!</h4>
            </div> 
        </div>
    </center>
    <center>
      <button class="btn btn-md btn-primary" type="submit" ui-sref="prodo.wall">Submit</button>
    </center>
  </form>
</div>