 <div id="prodo-navbar" class="prodo-navbar-theme navbar navbar-inverse navbar-static-top" role="navigation">
      <div id="prodo-navbar-container" class="prodo-navbar-container">
        <a href="" id="prodo-navbar-brand" class="navbar-brand" ui-sref="prodo.home.wall"><img class="navbar-brand-img" src="assets/images/prodonus.png"> Reach. Share. Know.</a>
      
        <p ng-hide="usersession.isLoggedIn" id="prodo-navbar-text" class="navbar-text navbar-right">
          <a href="" ng-click='showSignin()' class="prodo-navlink navbar-link">
            <span id="prodo-navbar-link1" class="label">Sign In</span>
          </a>
            &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="" ng-click='showSignup()' id="prodo-navbar-link2" class="prodo-navlink navbar-link">
            <span id="prodo-navbar-link2" class="label">Sign Up</span>
          </a>
        </p>
      </div>

      <ul ng-cloak ng-show="usersession.isLoggedIn" class="nav nav-pills  nav-ul  navbar-nav navbar-right">

        <li><a ng-show="((usersession.currentUser.org) || (usersession.currentUser.prodousertype == 'individual'))" class="btn defaultPointer"   ng-bind = 'daysRemaining'></a></li>

        <li><a class="navbar-home-link btn" ui-sref="prodo.home.wall"><i  ng-class="{pillHomeNavs : home == 1}"  class="prodo-fa-navbar fa fa-home"></i>Home</a></li>

        <li><a class="navbar-home-link btn" ui-sref="prodo.inbox.content.primary"><i  ng-class="{pillHomeNavs : inbox == 1}" class="prodo-fa-navbar fa fa-inbox"></i>MessageBox</a></li>

        <li><a class="navbar-home-link btn" ui-sref="prodo.productwall.wall-unified"  ><i ng-class="{pillHomeNavs : wall == 1} " class="prodo-fa-navbar fa fa-stack-exchange "></i>Productwall</a></li>

        <li class="dropdown">
          <a id="navbar-username-link" href="#" class="dropdown-toggle" data-toggle="dropdown"><strong>{{usersession.currentUser.username}}</strong><b class="caret"></b></a>
            <ul id="navbar-dropdown-ul " class="prodoManageOptions dropdown-menu nav nav-pills nav-stacked">
              <li id="prodoActiveListItem"><a ui-sref="prodo.account-user.user"><i class="prodo-fa-navbar fa fa-user"></i>User</a></li>
              <li  id="prodoActiveListItem"><a ng-show='usersession.currentUser.org.isAdmin' ui-sref="prodo.account-org.org.detail">
              <i class="prodo-fa-navbar fa fa-bar-chart-o"></i>Org</a></li>
              <li  id="prodoActiveListItem"><a ng-show="((usersession.currentUser.org && usersession.currentUser.org.isAdmin) || (usersession.currentUser.prodousertype == 'individual'))" ui-sref="prodo.account-warranty.warranty.detail"><i class="prodo-fa-navbar fa fa-check-square-o"></i>Warranty</a></li>
              <li  id="prodoActiveListItem"><a ng-show="(usersession.currentUser.org && usersession.currentUser.org.isAdmin && usersession.currentUser.org.orgtype.toLowerCase() == 'manufacturer')" ui-sref="prodo.account-campaign.campaign.detail"><i class="prodo-fa-navbar fa fa-bullhorn"></i>Campaign</a></li>
              <li id="prodoActiveListItem"><a ng-show="(usersession.currentUser.author && usersession.currentUser.author.isAuthor)" ui-sref="prodo.account-blog.blog"><i class="prodo-fa-navbar fa fa-book"></i>Blog</a></li>
              <li class="divider " id="prodoActiveListItem"></li>
              <li  id="prodoActiveListItem"><a href="" ng-click="logout()"><i class="prodo-fa-navbar fa fa-sign-out"></i>Logout</a></li>
            </ul> 
        </li>
      </ul>
         
    </div>
    
    <div id="prodo-main-view">    
      <div ui-view></div> 
    </div> 

    