<div class="container">
  <div prodo-signin-modal></div>
  <h4 id="user-account-heading">BLOG</h4>
  <br>

  <!-- carousel code to go -->
  <div class="bloglist-display ">
    <div ng-show="blogs.length != 0" class="row">
      <div class="prodo-blogListCorousel col-xs-1" >
        <button class="arrowBtn prodo-arrowbtnLeft" ng-show="blogs.length > 3 " ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" ><
        </button>
      </div> 
      <div class="prodo-blogListCorousel col-md-10">
        <a href="" class="prodo-cursor" ng-click="addBlog() " class=""> 
          <div class="prodo-productThumbnailView prodo-padding-left" >
            <p class="prodo-AddProductBtn " >Add Blog</p>
            <div class="prodo-productThumbnailImg fa fa-plus fa-4x img-rounded"  align="center" ></div>
          </div>
        </a> 
      
        <div ng-show="blogs.length>0  "  ng-repeat="list in blogs  | startFrom:currentPage*pageSize | limitTo:pageSize" >
          <div class="prodo-productThumbnailView">
            <a ng-click="showSelectedBlog(list.authorid, list.blogid)" class="prodo-cursor"  href="" >
              <p class="prodo-AddProductBtn prodo-productNameList" >{{list.title.substring(0,13)}}</p>
              <img  ng-src="{{list.blog_images[0].image}}" alt-SRC src="../assets/images/if_no_logo_images_available.gif"  class="prodo-productThumbnailImg img-rounded">
            </a>
          </div>
        </div>
      </div>
      <div class="prodo-blogListCorousel col-xs-1">  
        <button class="arrowBtn prodo-arrowbtnRight"  ng-show="blogs.length > 3 " ng-disabled="currentPage >= blogs.length/pageSize - 1" ng-click="currentPage=currentPage+1" > >
        </button>
      </div>
    </div>
    <div ng-show="blogs.length == 0" class="row">    
      <div class="col-md-12" ng-if="noBlogExists === 0"><i><h3>Currently no blogs exists!</h3></i></div>

    </div>
  </div>  

  <!-- carousel code to end -->
  <br>

  <!-- add blog form display start -->
  <div class="addblog-display ">
    <div ng-show="addNewBlog" class="row">

      <div class="col-xs-1" ></div>

      <div class="col-md-10" >
        <form name="form.addBlogForm" class="css-form" ng-submit="">
          <dl class="dl-horizontal">
            <dt>Product Name:</dt>
            <dd style="width:60%;">
              <input name="title" type="text" ng-model="productname.name" class="form-control" placeholder="productname" typeahead="productname as productname.name for productname in productnames | filter:$viewValue"  autofocus required>
            </dd>
          </dl>
        	<dl class="dl-horizontal">
      		  <dt>Title:</dt>
      		  <dd style="width:60%;">
      		  	<input name="title" type="text" ng-model="blog.title" class="form-control" placeholder="title" required>
      		  </dd>
      		</dl>
      		<dl class="dl-horizontal">
      		  <dt>Category:</dt>
      		  <dd class="prodo-regTagsWidth">
      		  	<tags-input minTags="1" add-on-blur="true" ng-model="blog.category"  min-length="1"  placeholder="blog category" list="blogcategoryList" popover-placement="right" popover="Press 'Enter' key after entering category" popover-trigger="mouseenter"></tags-input>  
      		  </dd>
      		</dl>
      		<dl class="dl-horizontal">
      		  <dt>Content:</dt>
      		  <dd style="width:60%;">
      		  	<textarea type="textarea" rows=15 class="form-control" name="content" ng-model="blog.content" placeholder="blog content" required ng-maxlength="1000"></textarea>
      		  </dd>
      		</dl>
      		<dl class="dl-horizontal">
      		  <dt></dt>
      		  <dd style="width:60%;">
      		  	<button style="width:49%; background-color:transparent; color:black;" class="btn btn-sm btn-default" ng-click="cancelAddBlog()"><i class="prodo-fa fa fa-times"></i>Cancel</button>
      		  	
      		  	<button style="width:49%;" class="prodo-button-theme btn btn-sm btn-primary" ng-click="postBlog()"><i class="prodo-fa fa fa-location-arrow"></i>Post</button>

      		  	<!-- <button style="width:32.5%; background-color:#24677C; border-color:#24677C;" class=" btn btn-sm btn-primary" ng-click="publishBlog()"><i class="prodo-fa fa fa-cloud-upload"></i>Publish</button> -->
      		  </dd>
      		</dl>
        </form>
        <div    ng-app="prodo.UploadApp" ng-controller="UploadController"  >
          <dl class="dl-horizontal">
            <dt>Art Work:</dt>
            <dd style="width:60%;">
              <div class="controls" > 
                <form id="fileInputsUploadblog">
                  <span style="background-color:#24677C; border-color:#24677C; color:white;" class="btn fileinput-button blogcontrols-upload bloguploadBtnWidth" >
                    <i class="glyphicon glyphicon-upload "></i>
                    <input   type="file" name="file" ng-file-select="onFileSelect($files)" multiple ng-click="uploadSrc = 'blog';">
                    <span>Upload Art Work</span>
                  </span>
                </form>
              </div>
            </dd>
            <dd>
              <center>
                <div id="FileName"></div>
              </center>
            </dd>
          </dl>
        </div>
      </div> 

      <div class="col-xs-1" ></div>

    </div>
  </div>  
  <!-- add blog form display end -->


  <!-- unique selected blog display start -->
  <div class="selctedblog-display ">
    <div ng-if="!addNewBlog && displaySelectedBlog && blogs.length != 0" class="row">

      <div class="col-xs-1" ></div>

      <div class="col-md-10" >
        <dl class="dl-horizontal">
          <dt>Product Name:</dt>
          <dd style="width:60%;">
            {{displayblog.productname}}
          </dd>
        </dl>

        <dl class="dl-horizontal">
          <dt>Title:</dt>
          <dd style="width:60%;">
            <div ng-bind="displayblog.title"></div>
          </dd>
        </dl>

        <dl class="dl-horizontal">
          <dt>Category:</dt>
          <dd>
            <ul style = "margin-left:0%;padding-left:0%">
              <li ng-repeat = "list in displayblog.category"   class="prodo-categoryTags">
                <span ng-bind="list"></span>
              </li>
            </ul>
          </dd>
        </dl>

        <dl class="dl-horizontal">
          <dt>Content:</dt>
          <dd style="width:60%;">
            <p style="text-align: justify;">{{displayblog.content}}</p>
          </dd>
        </dl>

        <dl class="dl-horizontal">
          <dt>Artwork:</dt>
          <dd style="width:60%;">
            <div class="row">
              <div style="border: 1px solid #DBDADA; margin:5px; border-radius: 5px;" ng-repeat="images in displayblog.blog_images" class="col-xs-3">
                <img style="width: 100%; height: 100px;" class="img-rounded" ng-src="{{images.image}}" src="../assets/images/if_no_logo_images_available.gif">
              </div>
            </div>
          </dd>
        </dl>

        <dl class="dl-horizontal">
          <dt></dt>
          <dd style="width:60%;">
            <button style="width:32.5%;" class="btn btn-sm btn-danger" ng-click="deleteSelectedBlog(displayblog.authorid, displayblog.blogid)"><i class="prodo-fa fa fa-trash-o"></i>Delete</button>
              
            <button style="width:32.5%;" class="prodo-button-theme btn btn-sm btn-primary" ng-click="editCurrentBlog()"><i class="prodo-fa fa fa-pencil-square-o"></i>Edit</button>

            <button ng-show="displayblog.status == 'init' " style="width:32.5%; background-color:#24677C; border-color:#24677C;" class=" btn btn-sm btn-primary" ng-click="publishBlog(displayblog.authorid, displayblog.blogid)"><i class="prodo-fa fa fa-cloud-upload"></i>Publish</button>

            <button ng-hide="displayblog.status == 'init' " style="width:32.5%; background-color:#24677C; border-color:#24677C;" class=" btn btn-sm btn-primary"><i class="prodo-fa fa fa-cloud-upload"></i>Published</button>
          </dd>
        </dl>

      </div> 

      <div class="col-xs-1" ></div>

    </div>
  </div> 
  <!-- unique selected blog display end -->


  <!-- edit selected blog start -->
  <div class="selctedblog-edit ">
    <div ng-if="!addNewBlog && !displaySelectedBlog && editSelectedBlog && blogs.length != 0" class="row">

      <div class="col-xs-1" ></div>

      <div class="col-md-10" >
        <form name="form.editBlogForm" class="css-form" ng-submit="">
          <dl class="dl-horizontal">
            <dt>Product Name:</dt>
            <dd style="width:60%;">
              {{editblog.productname}}
            </dd>
            <dd style="color:#b3b3b3; font-size:12px;">** Product name cannot be changed. </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>Title:</dt>
            <dd style="width:60%;">
              <input name="title" type="text" ng-model="editblog.title" class="form-control" placeholder="title" required>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>Category:</dt>
            <dd class="prodo-regTagsWidth">
              <tags-input minTags="1" add-on-blur="true" ng-model="editblog.category"  min-length="1"  placeholder="blog category" list="blogcategoryList" popover-placement="right" popover="Press 'Enter' key after entering category" popover-trigger="mouseenter"></tags-input>  
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>Content:</dt>
            <dd style="width:60%;">
              <textarea type="textarea" rows=15 class="form-control" name="content" ng-model="editblog.content" placeholder="blog content" required ng-maxlength="1000"></textarea>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt></dt>
            <dd style="width:60%;">
              <button style="width:49%; background-color:transparent; color:black;" class="btn btn-sm btn-default" ng-click="cancelEditBlog()"><i class="prodo-fa fa fa-times"></i>Cancel</button>
              
              <button style="width:49%;" class="prodo-button-theme btn btn-sm btn-primary" ng-click="saveEditBlog(editblog.authorid, editblog.blogid)"><i class="prodo-fa fa fa-save"></i>Save</button>
            </dd>
          </dl>
        </form>
        <div    ng-app="prodo.UploadApp" ng-controller="UploadController"  >
          <dl class="dl-horizontal">
            <dt>Art Work:</dt>
            <dd style="width:60%;">
              <div class="controls" > 
                <form id="fileInputsUploadblog">
                  <span style="background-color:#24677C; border-color:#24677C; color:white;" class="btn fileinput-button blogcontrols-upload bloguploadBtnWidth" >
                    <i class="glyphicon glyphicon-upload "></i>
                    <input   type="file" name="file" ng-file-select="onFileSelect($files)" multiple ng-click="uploadSrc = 'blog';">
                    <span>Upload Art Work</span>
                  </span>
                </form>
              </div>
            </dd>
            <dd>
              <center>
                <div id="FileName"></div>
              </center>
            </dd>
          </dl>
        </div>
      </div> 

      <div class="col-xs-1" ></div>

    </div>
  </div> 
  <!-- edit selected blog end -->

</div>