<div class="container">
  <div prodo-signin-modal></div>
  <h4 id="user-account-heading">BLOG</h4>
  <br>

  <!-- carousel code to go -->
  <div class="bloglist-display ">
    <div ng-show="blogs.length == 0" class="row">    
      <div class="col-md-12"><center><p style="font-size:20px; margin: 20px auto;" class="text-success"><strong><em>Currently no blogs available.</em></strong></p></center>
      </div>
    </div>  
    <div class="row">
      <div class="prodo-blogListCorousel col-xs-1" >
        <button class="arrowBtn prodo-arrowbtnLeft" ng-show="blogs.length > 3 " ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" ><
        </button>
      </div> 
      <div class="prodo-blogListCorousel col-md-10">
        <a href="" class="prodo-cursor" ng-click="addBlog() " class=""> 
          <div class="prodo-productThumbnailView prodo-padding-left" >
            <p class="prodo-AddProductBtn " >Add Blog</p>
            <div class="prodo-productThumbnailImg fa fa-plus fa-4x img-rounded"  align="center" ></div>
          </div>
        </a> 
      
        <div ng-show="blogs.length !== 0  "  ng-repeat="list in blogs  | startFrom:currentPage*pageSize | limitTo:pageSize" >
          <div class="prodo-productThumbnailView">
            <a ng-click="showSelectedBlog(list.authorid, list.blogid)" class="prodo-cursor"  href="" >
              <p class="prodo-AddProductBtn prodo-productNameList" >{{list.title.substring(0,13)}}</p>
              <img  ng-src="{{list.blog_images[0].image}}" alt-SRC src="../assets/images/if_no_logo_images_available.gif"  class="prodo-productThumbnailImg img-rounded">
            </a>
          </div>
        </div>
      </div>
      <div class="prodo-blogListCorousel col-xs-1">  
        <button class="arrowBtn prodo-arrowbtnRight"  ng-show="blogs.length > 3 " ng-disabled="currentPage >= blogs.length/pageSize - 1" ng-click="currentPage=currentPage+1" > >
        </button>
      </div>
    </div>
  </div>  

  <!-- carousel code to end -->
  <br>

  <!-- add blog form display start -->
  <div class="addblog-display ">
    <div ng-show="addNewBlog" class="row">

      <div class="col-xs-1" ></div>

      <div class="col-md-10" >
        <form name="form.addBlogForm" class="css-form" novalidate>
          <dl class="dl-horizontal">
            <dt>Product Name:</dt>
            <dd style="width:60%;">
              <input name="name" type="text" ng-model="productname.name" class="form-control" placeholder="productname" typeahead="productname as productname.name for productname in productnames | filter:$viewValue" popover-placement="right" popover="Please select product name from the list given below." popover-trigger="mouseenter"  autofocus required><small ng-show="((form.addBlogForm.name.$dirty && form.addBlogForm.name.$invalid) || (form.addBlogForm.name.$invalid && form.addBlogForm.submitted))">*Please enter product name!</small>&nbsp;&nbsp;<small ng-show="productname_err">*Please select product name from the given list only!</small>
            </dd>
          </dl>
        	<dl class="dl-horizontal">
      		  <dt>Title:</dt>
      		  <dd style="width:60%;">
      		  	<input name="title" type="text" ng-model="blog.title" class="form-control" placeholder="title" ng-maxlength="30" required><small ng-show="((form.addBlogForm.title.$dirty && form.addBlogForm.title.$invalid) || (form.addBlogForm.title.$invalid && form.addBlogForm.submitted))">*Please enter blog title!</small>
      		  </dd>
      		</dl>
      		<dl class="dl-horizontal">
      		  <dt>Category:</dt>
      		  <dd class="prodo-regTagsWidth">
      		  	<tags-input minTags="1" add-on-blur="true" ng-model="blog.category"  min-length="1"  placeholder="blog category" list="blogcategoryList" replace-space-with-dashes ="false" popover-placement="right" popover="Press 'Enter' key after entering category" popover-trigger="mouseenter"></tags-input>  
      		  </dd>
      		</dl>
      		<dl class="dl-horizontal">
      		  <dt>Content:</dt>
      		  <dd style="width:60%;">
      		  	<textarea type="textarea" rows=15 class="form-control" name="content" ng-model="blog.content" placeholder="blog content" required ng-maxlength="3000"></textarea><small ng-show="((form.addBlogForm.content.$dirty && form.addBlogForm.content.$invalid) || (form.addBlogForm.content.$invalid && form.addBlogForm.submitted))">*Please enter blog content!</small>
      		  </dd>
      		</dl>
      		<dl class="dl-horizontal">
      		  <dt></dt>
      		  <dd style="width:60%;">
      		  	<button style="width:49%; background-color:transparent; color:black;" class="prodo-account-btn btn btn-sm btn-default" ng-click="cancelAddBlog()"><i class="prodo-fa fa fa-times"></i>Cancel</button>
      		  	
      		  	<button style="width:49%;" class="prodo-button-theme prodo-account-btn btn btn-sm btn-primary" ng-click="postBlog(productname.name)"><i class="prodo-fa fa fa-location-arrow"></i>Post&nbsp;&nbsp;<div prodo-spinner></div></button>

      		  </dd>
      		</dl>
        </form>
      </div> 

      <div class="col-xs-1" ></div>

    </div>
  </div>  
  <!-- add blog form display end -->


  <!-- unique selected blog display start -->
  <div class="selctedblog-display ">
    <div ng-if="!addNewBlog && displaySelectedBlog && blogs.length != 0" class="row">

      <div class="col-xs-1" ></div>

      <div class="col-md-10" >
        <dl class="dl-horizontal">
          <dt>Product Name:</dt>
          <dd style="width:60%;">
            {{displayblog.productname}}
          </dd>
        </dl>

        <dl class="dl-horizontal">
          <dt>Title:</dt>
          <dd style="width:60%;">
            <div ng-bind="displayblog.title"></div>
          </dd>
        </dl>

        <dl class="dl-horizontal">
          <dt>Category:</dt>
          <dd>
            <ul style = "margin-left:0%;padding-left:0%">
              <li ng-repeat = "list in displayblog.category"   class="prodo-categoryTags">
                <span ng-bind="list"></span>
              </li>
            </ul>
          </dd>
        </dl>

        <dl class="dl-horizontal">
          <dt>Content:</dt>
          <dd style="width:60%;">
            <p style="text-align: justify;">{{displayblog.content}}</p>
          </dd>
        </dl>

        <dl ng-show="displayblog.blog_images.length !== 0" class="dl-horizontal">
          <dt>Artwork:</dt>
          <dd style="width:60%;">
            <div class="row">
              <div style="padding-right: 2px; padding-left: 2px; border: 1px solid #DBDADA; margin:5px; border-radius: 5px;" ng-repeat="images in displayblog.blog_images" class="col-xs-3">
                <img style="width: 100%; height: 100px;" class="img-rounded" ng-src="{{images.image}}" src="../assets/images/if_no_logo_images_available.gif">
              </div>
            </div>
          </dd>
        </dl>

        <dl class="dl-horizontal">
          <dt></dt>
          <dd style="width:60%;">
            <button style="width:32.5%;" class="prodo-account-btn btn btn-sm btn-danger" ng-click="deleteSelectedBlogModal()"><i class="prodo-fa fa fa-trash-o"></i>Delete</button>
              
            <button style="width:32.5%;" class="prodo-button-theme prodo-account-btn btn btn-sm btn-primary" ng-click="editCurrentBlog()"><i class="prodo-fa fa fa-pencil-square-o"></i>Edit</button>

            <button ng-show="displayblog.status == 'init' " style="width:32.5%; background-color:#24677C; border-color:#24677C;" class=" prodo-account-btn btn btn-sm btn-primary" ng-click="publishBlog(displayblog.authorid, displayblog.blogid)"><i class="prodo-fa fa fa-cloud-upload"></i>Publish&nbsp;&nbsp;<div prodo-spinner></div></button>

            <button ng-hide="displayblog.status == 'init' " style="width:32.5%; background-color:#24677C; border-color:#24677C;" class=" prodo-account-btn btn btn-sm btn-primary"><i class="prodo-fa fa fa-cloud-upload"></i>Published</button>
          </dd>
        </dl>
        <div    ng-app="prodo.UploadApp" ng-controller="UploadController"  >
          <dl class="dl-horizontal">
            <dt>Artwork:</dt>
            <dd style="color:#b3b3b3; font-size:12px;">** You can now upload artwork for your blog(restricted to maximum 5-6 uploads). </dd>
            <dd style="width:60%;">
              <div class="controls" > 
                <form id="fileInputsUploadblog">
                  <span style="background-color:#24677C; border-color:#24677C; color:white;" class="btn fileinput-button blogcontrols-upload bloguploadBtnWidth" >
                    <i class="glyphicon glyphicon-upload "></i>
                    <input   type="file" name="file" ng-file-select="onFileSelect($files)" multiple ng-click="uploadSrc = 'blog';">
                    <span>Upload Art Work</span>
                  </span>
                </form>
              </div>
            </dd>
            <dd>
              <center>
                <div id="FileName"></div>
              </center>
            </dd>
          </dl>
        </div>

      </div> 

      <div class="col-xs-1" ></div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="bloglDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Delete Blog</h4>
          </div>
          <div class="modal-body">
            Once deleted, this blog won't be accessible. Are you sure you want to delete this blog?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default " data-dismiss="modal"><i class=" glyphicon glyphicon-remove"></i> &nbsp; Cancel </button>
            <button type="button" class="btn btn-danger  " ng-click="deleteSelectedBlog(displayblog.authorid, displayblog.blogid)" data-dismiss="modal" >  <i class=" glyphicon glyphicon-trash"></i> &nbsp; Delete </button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
      <!-- /.modal -->
  </div> 
  <!-- unique selected blog display end -->


  <!-- edit selected blog start -->
  <div class="selctedblog-edit ">
    <div ng-if="!addNewBlog && !displaySelectedBlog && editSelectedBlog && blogs.length != 0" class="row">

      <div class="col-xs-1" ></div>

      <div class="col-md-10" >
        <form name="form.editBlogForm" class="css-form" ng-submit=""  novalidate>
          <dl class="dl-horizontal">
            <dt>Product Name:</dt>
            <dd style="width:60%;">
              {{editblog.productname}}
            </dd>
            <dd style="color:#b3b3b3; font-size:12px;">** Product name cannot be changed. </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>Title:</dt>
            <dd style="width:60%;">
              <input name="title" type="text" ng-model="editblog.title" class="form-control" placeholder="title" required><small ng-show="((form.editBlogForm.title.$dirty && form.editBlogForm.title.$invalid) || (form.editBlogForm.title.$invalid && form.editBlogForm.submitted))">*Please enter blog title!</small>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>Category:</dt>
            <dd class="prodo-regTagsWidth">
              <tags-input minTags="1" add-on-blur="true" ng-model="editblog.category"  min-length="1"  placeholder="blog category" list="blogcategoryList" replace-space-with-dashes ="false" popover-placement="right" popover="Press 'Enter' key after entering category" popover-trigger="mouseenter"></tags-input>  
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>Content:</dt>
            <dd style="width:60%;">
              <textarea type="textarea" rows=15 class="form-control" name="content" ng-model="editblog.content" placeholder="blog content" required ng-maxlength="1000"></textarea><small ng-show="((form.editBlogForm.content.$dirty && form.editBlogForm.content.$invalid) || (form.editBlogForm.content.$invalid && form.editBlogForm.submitted))">*Please enter blog content!</small>
            </dd>
          </dl>
          <dl ng-show="editblog.blog_images.length !== 0" class="dl-horizontal">
          <dt>Artwork:</dt>
          <dd style="color:#b3b3b3; font-size:12px;">** Please select the checkbox to remove artwork upload. </dd>
          <dd style="width:60%;">
            <div class="row">
              <div style="padding-right: 2px; padding-left: 2px; border: 1px solid #DBDADA; margin:5px; border-radius: 5px;" ng-repeat="images in editblog.blog_images" class="col-xs-3">
                <input type="checkbox" ng-model="imageid" ng-true-value="true" ng-false-value="false" ng-change="checkImage(imageid, images.imageid)">
                <img style="width: 100%; height: 100px;" class="img-rounded" ng-src="{{images.image}}" src="../assets/images/if_no_logo_images_available.gif">
              </div>
            </div>
          </dd>
        </dl>
          <dl class="dl-horizontal">
            <dt></dt>
            <dd style="width:60%;">
              <button style="width:49%; background-color:transparent; color:black;" class="prodo-account-btn btn btn-sm btn-default" ng-click="cancelEditBlog()"><i class="prodo-fa fa fa-times"></i>Cancel</button>
              
              <button style="width:49%;" class="prodo-button-theme prodo-account-btn btn btn-sm btn-primary" ng-click="saveEditBlog(editblog.authorid, editblog.blogid)"><i class="prodo-fa fa fa-save"></i>Save&nbsp;&nbsp;<div prodo-spinner></div></button>
            </dd>
          </dl>
        </form>
        <div    ng-app="prodo.UploadApp" ng-controller="UploadController"  >
          <dl class="dl-horizontal">
            <dt>Art Work:</dt>
            <dd style="width:60%;">
              <div class="controls" > 
                <form id="fileInputsUploadblog">
                  <span style="background-color:#24677C; border-color:#24677C; color:white;" class="btn fileinput-button blogcontrols-upload bloguploadBtnWidth" >
                    <i class="glyphicon glyphicon-upload "></i>
                    <input   type="file" name="file" ng-file-select="onFileSelect($files)" multiple ng-click="uploadSrc = 'blog';">
                    <span>Upload Art Work</span>
                  </span>
                </form>
              </div>
            </dd>
            <dd>
              <center>
                <div id="FileName"></div>
              </center>
            </dd>
          </dl>
        </div>
      </div> 

      <div class="col-xs-1" ></div>

    </div>
  </div> 
  <!-- edit selected blog end -->

</div>