
<style type="text/css"media="screen">


        #marketinglayerslider * {
            font-family: Oswald;
        }

        #slider-wrapper {
            padding-bottom: 100px;
            margin-top: 20px;
        }

        .c {
        text-align: justify;
        font-weight: 300;
        font-size: 45px;
        color: #082953;
    }

        </style>
<!-- Prodonus Marketing View-->
<div id="prodo-view-marketing">

    <h3 id="prodo-view-marketing-heading">Prodonus</h3>

    <h4 id="prodo-view-marketing-tagline">Reach. Share. Know. </h4>

        <div id="slider-wrapper">

            <div id="marketinglayerslider" marketing-slider class="ls-wp-container" style="width:1280px;height:500px;max-width:1280px;">
                <div class="ls-slide" data-ls="transition2d:73;">
          <h1 class="ls-l c" style="width:1280px;height:470px;max-width:1280px;">
                        Enable conversation among manufacturers and consumers to reach, share and know each others perspective.
                            <ul style="list-style-type:circle;">A platform to build a -
                                <li style="margin-left:20px;">unified social view (social complaints, insights, innovations or suggestions) of products or services.</li>
                                <li style="margin-left:20px;">strong brand through engaging customer relationships to make your fans your brand ambassadors. </li>
                            </ul>

                    </h1>
        </div>
                <div class="ls-slide" ng-repeat="slide in slides" data-ls="transition2d:73;">
                    <img style="width:1280px;height:500px;max-width:1280px;" class="ls-l" ng-src="{{slide.artwork.image}}">
                    <h6 class="ls-l-1" style="top:77%; left:20px; durationin:500;delayin:600;fadein:false;rotatein:-30;durationout:500;fadeout:false;slidedirection:fade;slideoutdirection:fade;scalein:0.1;scaleout:0.1;font-weight: 400; box-shadow: 0px 2px 8px -2px black;padding-top:5px;padding-right:20px;padding-bottom:5px;padding-left:20px;font-size:35px;color:#ffffff;background:#ff7700;border-radius:5px;white-space: nowrap;">{{slide.name}}</h6>
                    <h6 class="ls-l-1" style="top:90%; height:50px; left:20px; durationin:500;delayin:500;fadein:false;rotatein:-30;durationout:500;fadeout:false;slidedirection:fade;slideoutdirection:fade;scalein:0.1;scaleout:0.1;font-weight: 400; box-shadow: 0px 2px 8px -2px black;padding-top:5px;padding-right:20px;padding-left:20px;font-size:32px;color:#ffffff;background:#000000;border-radius:5px;white-space: nowrap;">{{slide.description}}</h6>
                </div>
            </div>
        </div>
</div>



