<div class="prodo-footer-content-container container">
	<label id="prodo-privacy-label-control" class="label-control">Prodonus Support</label>
	<hr class="prodo-hr" size=3 noshade>
	<br>

	<p><h5>For any technical support write to us at <a href="">support@prodonus.com</a>.</h5></p> 

<button style=" min-width: 32.5%; margin: 10px auto; font-size: 12px; font-weight:bold;" class="prodo-button-theme btn btn-sm btn-primary" ng-click="goState()"><i class="prodo-fa fa fa-chevron-circle-left"></i>Back</button>

</div>