<div class="prodo-footer-content-container">
	<label id="prodo-privacy-label-control" class="label-control">Advertise on Prodonus</label>
	<hr class="prodo-hr" size=3 noshade>
	<br>

	<section>
		<h5>
			<p>1. Reach your existing and Potential customers.</p>

		  <p>2. Share - a Social WOM (Word of Mouth) tool to grow a community of high value customers promoting your product or services.</p>

		  <p>3. Know you customer better.</p>
		</h5>
		
	</section>

	<br>

	<p><h6>Write to us at <a href="">advertising@prodonus.com</a> to help you get your message in front of your customers.</h6></p> 

<button id="prodo-form-term-btn" class="btn btn-md btn-primary" type="submit" ng-click = "goState()">Back</button>

</div>