
<!-- Org list code -->
<div id="prodo-sidebar-trendingproductlist-container" class="container">
	<div id="prodo-sidebar-list-group" class="list-group">
		<div id="prodo-sidebar-list" class="list" ng-repeat="tp in TrendingProducts">
      <a ng-class="{'active':isCurrentListIndex($index)}" href="#" id="prodo-sidebar-list-group-item" class="list-group-item">{{tp.productname}}</a>
    </div>
	</div>
</div>

<!-- Product list code -->
<div id="prodo-sidebar-followedproductlist-container" class="container">
	 <div id="prodo-sidebar-list-group" class="list-group">
		<div id="prodo-sidebar-list" class="list" >
      <a ng-class="{'active':isCurrentListIndex(0)}" href="#" id="prodo-sidebar-list-group-item" class="list-group-item">Search</a>
      <div  id="prodo-sidebar-list-group-main" class="list-group-item">
         <input type="text" name="product" typeahead="product.value for product in products_id| filter:$viewValue | limitTo:8" id="searchText" ng-model="product"></input>
          </br></br>
         <button id="searchButton" style="position:relative;left:90px;">Search</button></br>

         <a data-toggle="modal" data-target="#testmodal" id="advancedSearch" style="position:relative;left:40px;"           ng-click="refresh()">Advanced Search
         </a>

<!-- Writing code for a modal -->

 <div id = "testmodal" class="modal fade" >
     <div class="modal-dialog">
        <div class="modal-content">
				                 <div class="modal-header" style="height:70px;">
				                         <h3 align="center">Advanced Search </h3>
				                 </div>
				        
				                 <div class="modal-body">
				                 
				                 
				                    <label >Select Criteria:</label> </br>
				                      
				                        <select  id="111"  ng-model="s1">
				                                <option  id="1" >{{p}}</option>
				                                <option  id="2">{{m}}</option>
				                                <option  id="3">{{ff}}</option>
				                                <option  id="4">{{c}}</option> 
				                        </select>
				             
				                      &nbsp;&nbsp;&nbsp;&nbsp;
				                       <input type="text" id="t1" ng-model="val" ng-click="toggles1()" /> 
				                      &nbsp;&nbsp;&nbsp;&nbsp; 
				                      <input type="button" class="btn primary-btn"  value="Add More" id="add" ng-click="addMore();toggles()"/>&nbsp;&nbsp; <input type="button" class="btn primary-btn"  ng-click="refresh()" value="Clear" id="add" />
				                      <p style="color:red;visibility:hidden;" id="warningB">Please enter values before clicking Advanced Search </p>
				                      </br></br>
				                      <p>{{query}}</p>
				                 </div>  
				                    
	                             <div class="modal-footer">
	                                    <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
	                                    
	                                    <input type="button" id="submitB" class="btn primary-btn" value="Advanced Search" ng-click="f()" data-dismiss="modal "/>
	                             </div>        
	                
                  
                  
                  
          
          
            </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
<!-- End of modal code -->




      </div>
    </div>
	</div>
</div>