<!-- Prodonus Orgregistration View-->
<div id="prodo-view-orgregistration">

  <div id="prodo-row-orgregistration" class="row">

    <div id="prodo-orgregistration-col-md-2" class="col-md-2"></div>
  
    <div id="prodo-orgregistration-col-md-8" class="col-md-8">
      <div>


    <div id="prodo-registration-Wizard">
    <table class="table" style="text-align:center ;margin-bottom: -5%;">
    <tr>
    	<td>
           <span  class="prodo-registration-Wizard-title">Company details</span> 
    	</td>
    	<td>
             <span class="prodo-registration-Wizard-title">Address</span> 
    	</td>
    	<td>
            <span class="prodo-registration-Wizard-title">Group users</span> 
    	</td>
    	<td>
             <span class="prodo-registration-Wizard-title">Terms</span> 
    	</td>
    	<td> 
    	    <span class="prodo-registration-Wizard-title">Finish</span> 
    	</td>
    	</tr>
    	<tr>
    	<td>
              <i  style="color :#c8dbc8 ; background-color: white; z-index: 100;position: absolute;
" id="reg-companyDetails" class="fa fa-check-circle-o fa-2x prodo-registration-Wizard-after"></i>
              <hr style="background: black;
width: 270%;
height: 1px;
position: relative;
margin-top: 5%;
left: 50%;"> 
    	</td>
    	<td>
                 <i  style="color :rgb(200, 219, 200);position: absolute;
background-color: white;" id="reg-address" class="fa fa-check-circle-o fa-2x"></i>
                  
    	</td>
    	<td>
 				 <i  style="color :rgb(200, 219, 200);position: absolute;
background-color: white;" id="reg-groupUsers" class="fa fa-check-circle-o fa-2x"></i>
        
    	</td>
    	<td>
 				 <i  style="color :rgb(200, 219, 200);position: absolute;
background-color: white;" id="reg-terms" class="fa fa-check-circle-o fa-2x"></i>
    	
      </td>
    	<td>  
    	 		 <i  style="color :rgb(200, 219, 200);position: absolute;
background-color: white;" id="reg-finish" class="fa fa-check-circle-o fa-2x"></i>
          
    	</td>
    	</tr>
    </table>
    
     

    </div>

      </div>
      <div ui-view></div>
    </div>
  
    <div id="prodo-orgregistration-col-md-2" class="col-md-2"></div>
  
  </div>

</div>
      