<div id="prodo-contact-container" class="container">
  <form id="prodo-form-contact" name=" formOrgRegisterContact" class="css-form" ng-submit="" novalidate>
  
      <div class="control-group">
        <label id="prodo-contact-label-control" class="label-control">Contact</label>  
        
          <input id="prodo-form-input-contact" name="contact" type="text" class="form-control" placeholder="Customer HelpLine" ng-model="org.contact_numbers.customerhelpline1" autofocus required/>

          <input id="prodo-form-input-contact" name="contact" type="text" class="form-control" placeholder="Customer HelpLine" ng-model="org.contact_numbers.customerhelpline2" />

          <input id="prodo-form-input-contact" name="contact" type="text" class="form-control" placeholder="Customer HelpLine" ng-model="org.contact_numbers.customerhelpline3"/>

          <input id="prodo-form-input-contact" name="contact" type="text" class="form-control" placeholder="Customer HelpLine" ng-model="org.contact_numbers.customerhelpline4"/>
            
        </div>
     
 
      <button id="prodo-form-contact-btn" class="btn btn-md btn-primary" type="submit" ui-sref="subscription.address">Previous</button>

      <button id="prodo-form-contact-btn" class="btn btn-md btn-primary" type="submit" ui-sref="subscription.groupuser">Next</button>
    
  </form>
</div>