<div class="container">
  <form name="formOrgGroupUser" class="css-form" ng-submit="" novalidate>
    <center>
      <div class="control-group">
      <label class="label-control">Group Users</label><br>
        <input type="text" name="groupname" class="form-control" placeholder="Group Name" ng-model="org.groupname"  autofocus required/>
          <div class="input-help">
            <h4>Field Required!</h4>
          </div>
        <input name="domain" type="text" class="form-control" placeholder="Company domain name" ng-model="org.domain" required/>
        <input name="invites" type="text" class="form-control" placeholder="Send invites" ng-model="org.invites" prodonus-multi-email-validate required/>
          <div class="input-help">
            <h4>Send invites to multiple address seprated by ;</h4>
          </div>
        </div>
      </div> 
    </center>
    <center>
      <button class="btn btn-md btn-primary" type="submit" ui-sref="subscription.contact">Previous</button>
    <button class="btn btn-md btn-primary" type="submit" ui-sref="subscription.terms">Next</button>
    </center>
  </form>
</div>