<!-- Prodonus Orgregistration View-->
<div id="prodo-view-orgregistration" class="container">

  <div id="prodo-row-orgregistration" class="row">

    <div id="prodo-orgregistration-col-md-2" class="col-md-2"></div>
  
    <div id="prodo-orgregistration-col-md-8" class="col-md-8">
      <div>


    <div id="prodo-registration-Wizard">
    <table class="prodo-org-wizard-nav-table table">
    <tr>
    	<td>
           <span  class="prodo-registration-Wizard-title">Company details</span> 
    	</td>
    	<td>
             <span class="prodo-registration-Wizard-title">Address</span> 
    	</td>
    	<td>
            <span class="prodo-registration-Wizard-title">Group users</span> 
    	</td>
    	<td>
             <span class="prodo-registration-Wizard-title">Terms</span> 
    	</td>
    	</tr>
    	<tr>
    	<td>
              <i  id="reg-companyDetails" class="fa fa-check-circle-o fa-2x"></i>

              <hr class="prodo-org-wizard-nav-hr"> 
    	</td>
    	<td>
                 <i id="reg-address" class="prodo-org-wizard-nav-fa fa fa-check-circle-o fa-2x"></i>
                  
    	</td>
    	<td>
 				 <i id="reg-groupUsers" class="prodo-org-wizard-nav-fa fa fa-check-circle-o fa-2x"></i>
        
    	</td>
    	<td>
 				 <i id="reg-terms" class="prodo-org-wizard-nav-fa fa fa-check-circle-o fa-2x"></i>
    	
      </td>
   
    	</tr>
    </table>
    
     

    </div>

      </div>
      <div ui-view autoscroll="false"></div>
    </div>
  
    <div id="prodo-orgregistration-col-md-2" class="col-md-2"></div>
  
  </div>

</div>
      