<!-- Template for Organisation Company Details view wizard-->
<div id="prodo-company-wizard-container" class="prodo-wizard-container container">

  <div class="prodo-wizard">

    <h4 id="prodo-company-heading" class="prodo-wizard-heading">Business</h4>

    <hr class="prodo-wizard-hr" size=3 noshade>
    
    <form id="prodo-form-company" name="OrgCompanyForm" class="prodo-wizard-css-form css-form" ng-submit="" novalidate>
    <p class="error-message"><small>{{errmessage}}</small></p>
      <div class="control-group">

        <select type="text" class="prodo-wizard-form-control form-control" name="orgtype" ng-model="org.orgtype" required>
          <option value="Manufacturer">Manufacturer</option>
          <option value="Company">Company</option></select>
          <i class="fa fa-check" ng-show="OrgCompanyForm.orgtype.$dirty && OrgCompanyForm.orgtype.$valid"></i>
            
        <input type="text" class="prodo-wizard-form-control form-control" name="companyname" ng-model="org.name" placeholder="Business Name" required /><i class="fa fa-check" ng-show="OrgCompanyForm.companyname.$dirty && OrgCompanyForm.companyname.$valid"></i>
           
        <textarea type="textarea" class="prodo-wizard-form-control form-control" name="description" ng-model="org.description" placeholder="Business Description" required></textarea><i class="fa fa-check" ng-show="OrgCompanyForm.description.$dirty && OrgCompanyForm.description.$valid"></i>
            
        <input type="text" class="prodo-wizard-form-control form-control" name="contractid" ng-model="org.contractid" placeholder="Contract Id" required /><i class="fa fa-check" ng-show="OrgCompanyForm.contractid.$dirty && OrgCompanyForm.contractid.$valid"></i>
        
      </div> 
      
      <button id="prodo-company-wizard-btn" onclick="$('#reg-companyDetails').css('color','#01DF74')" class="prodo-wizard-btn btn btn-md btn-primary" ng-click="goToAddress()">Next</button>

    </form>   <!-- prodo-company-form -->

  </div>     
</div>      <!-- prodo-company-container div -->