<!--Template for Organisation Address Details view wizard-->
<div id="prodo-address-container" class="container">

  <form id="prodo-form-address" name="prodoOrgAddressForm" class="css-form" ng-submit="" novalidate>

      <label id="prodo-address-label-control" class="label-control">Location</label><br>

      <button id="prodo-form-addressbtn" ng-click="toggleAddress = !toggleAddress"><i class="fa fa-plus-square "></i> &nbsp;&nbsp; Address</button>
	      <div class="control-group" ng-if="toggleAddress">

		      <select id="prodo-form-input-address" type="text" class="form-control" ng-model="org.orgaddresstype" autofocus required>
		        <option value="Company Address">Company Address</option>
		        <option value="Service Centers">Service Centers</option></select>

					<input id="prodo-form-input-address" name="address1"  type="text" class="form-control" placeholder="Address Line1" ng-model="org.address1"  required />
						 
					<input name="address2"  type="text" id="prodo-form-input-address" class="form-control" placeholder="Address Line2" ng-model="org.address2" />

					<input name="address3"  type="text" id="prodo-form-input-address" class="form-control" placeholder="Address Line3" ng-model="org.address3" />

					<input name="country" typeahead="country for country in countries | filter:$viewValue | limitTo:8"  type="text" id="prodo-form-input-address" class="form-control" placeholder="Country" ng-model="org.country" required />
						 
					<input name="state"  type="text" id="prodo-form-input-address" class="form-control" placeholder="State" ng-model="org.state" required />

					<input name="city"  type="text" id="prodo-form-input-address" class="form-control" placeholder="City" ng-model="org.city" required />
				
					<input name="zipcode" type="text" id="prodo-form-input-address" class="form-control" placeholder="Zip Code" ng-model="org.zipcode" required />
				
				</div> 
			 
			<button id="prodo-form-addressbtn" ng-click="toggleContact = !toggleContact"><i class="fa fa-plus-square "></i> &nbsp;&nbsp; Contact</button>

	      <div class="control-group" ng-if="toggleContact">

					<input id="prodo-form-input-address" name="contact" type="text" class="form-control" placeholder="Customer HelpLine" ng-model="org.contacts.customerhelpline1" autofocus required/>

					<input id="prodo-form-input-address" name="contact" type="text" class="form-control" placeholder="Customer HelpLine" ng-model="org.contacts.customerhelpline2" autofocus required/>

					<input id="prodo-form-input-address" name="contact" type="text" class="form-control" placeholder="Customer HelpLine" ng-model="org.contacts.customerhelpline3" autofocus required/>
						 
				</div>	<!-- control group div -->

			<p id="prodo-address-text">To upload more address, please use manage account settings after registration.</p>
   
    <button id="prodo-form-address-btn" class="btn btn-md btn-primary" type="submit" ui-sref="subscription.company">Previous</button>
    <button id="prodo-form-address-btn" class="btn btn-md btn-primary" type="submit" ui-sref="subscription.groupuser">Next</button>
    
  </form>		<!-- prodo-address-form -->

</div>   <!-- prodo-address-container div