<!--Template for Organisation Address Details view wizard-->
<div id="prodo-address-wizard-container" class="prodo-wizard-container container">

	<div class="prodo-wizard">

    <h4 id="prodo-address-heading" class="prodo-wizard-heading">Location</h4>

   	<hr class="prodo-wizard-hr" size=3 noshade>

  	<form id="prodo-form-address" name="OrgAddressForm" class="prodo-wizard-css-form css-form" ng-submit="" novalidate>
  		<p class="error-message"><small>{{errmessage}}</small></p>
      <label class="prodo-wizard-address-label">Company Address</label>

	      <div class="control-group" >

		     

		<!--         <option value="Service Centers">Service Centers</option> -->
		


					<input name="address1"  type="text" class="prodo-wizard-form-control form-control" placeholder="Address Line1" ng-model="org.address1"  required />
						 
                    <div class="error-message-wizard" ng-if="addressErrorMessage!==''" ng-bind="addressErrorMessage"></div>   

					<input name="address2"  type="text" class="prodo-wizard-form-control form-control" placeholder="Address Line2" ng-model="org.address2" />

					<input name="address3"  type="text" class="prodo-wizard-form-control form-control" placeholder="Address Line3" ng-model="org.address3" />

					<input name="country" ng-pattern="/^[A-z]*$/" typeahead="country for country in countries | filter:$viewValue | limitTo:8"  type="text" class="prodo-wizard-form-control form-control" placeholder="Country" ng-model="org.country" required />

					 <div class="error-message-wizard" ng-if="invalidCountryError !== '' " ng-bind="invalidCountryError"></div> 
						 
					<input name="state" ng-pattern="/^[A-z]*$/"  typeahead="state for state in return_states() | filter:$viewValue | limitTo:8"  type="text" type="text" class="prodo-wizard-form-control form-control" placeholder="State" ng-model="org.state" required />

					 <div class="error-message-wizard" ng-if="invalidStateError !== ''" ng-bind="invalidStateError"></div> 

					<input name="city" ng-pattern="/^[A-z]*$/"  typeahead="city for city in return_cities() | filter:$viewValue | limitTo:8"  type="text" type="text" class="prodo-wizard-form-control form-control" placeholder="City" ng-model="org.city" required />
				
				    <div class="error-message-wizard" ng-if="invalidCityError!==''" ng-bind="invalidCityError"></div>

					<input name="zipcode" type="text" class="prodo-wizard-form-control form-control" placeholder="Zip Code" ng-pattern="/^[0-9]{5,10}$/" ng-model="org.zipcode" required />
				
				     <div class="error-message-wizard" ng-if="invalidZipcodeError!==''" ng-bind="invalidZipcodeError" ></div> 
				</div> 
			 
			<label class="prodo-wizard-address-label ">Contact</label>

	      <div class="control-group" >

					<!-- <input ng-repeat='contact in org.contacts' name="contact" type="text" class="prodo-wizard-form-control form-control" ng-pattern="mobileRegex" placeholder="Customer HelpLine" ng-model="contact.customerhelpline" /><i class="fa fa-check" ng-show="OrgAddressForm.contact.$dirty && OrgAddressForm.contact.$valid"></i> -->

					<div>
							<input class="prodo-wizard-form-control form-control" type="text" ng-pattern="/^\(?[+]([0-9]{2,5})\)?[-]?([0-9]{10})$/" placeholder="Customer HelpLine [eg: +91-9000000000]" ng-model="org.contact.customerhelpline1" name="contact1" required> 
							
					</div>
					 <div class="error-message-wizard" ng-if="invalidContact1!==''" ng-bind="invalidContact1"></div>
					<div>
							<input class="prodo-wizard-form-control form-control" type="text" ng-pattern="/^\(?[+]([0-9]{2,5})\)?[-]?([0-9]{10})$/" placeholder="Customer HelpLine [eg: +91-9000000000]" ng-model="org.contact.customerhelpline2" name="contact2" > 
							
					</div>
					 <div class="error-message-wizard" ng-if="invalidContact2!==''" ng-bind="invalidContact2"></div>
					<div>
							<input class="prodo-wizard-form-control form-control" type="text" ng-pattern="/^\(?[+]([0-9]{2,5})\)?[-]?([0-9]{10})$/" placeholder="Customer HelpLine [eg: +91-9000000000]" ng-model="org.contact.customerhelpline3" name="contact3" > 
						    
					</div>
					 <div class="error-message-wizard" ng-if="invalidContact3!==''" ng-bind="invalidContact3"></div>
						 
				</div>	<!-- control group div -->

			<p id="prodo-address-text">To add more addresses, please use 'Manage Org' settings from menu after registration.</p>
   
    	<button class="prodo-wizard-btn btn btn-md btn-primary" type="submit" ui-sref="prodo.orgregistration.company" ng-click="back()">Previous</button>
    	<button class="prodo-wizard-btn btn btn-md btn-primary" onclick=""  type="submit" ng-click="goToGroupuser()">Next</button>
    
  </form>		<!-- prodo-address-form -->

  </div>

</div>   <!-- prodo-address-container div