<div class="container">
  <form name="forgotPasswordForm" class="css-form" novalidate ng-submit=""> 
      <center>
        <div class="control-group">
          <label><h4>Reset Password</h4></label><br>
          <input name="onetimepwd" class="immediate-help form-control" type="text" placeholder="One time password" required ng-model="user.onetimepwd" />  
            <div class="input-help">
              <h4>Field Required!</h4>
            </div>
      
          <input type="password" class="immediate-help form-control" id="password1" name="password1" placeholder="Password" ng-model="user.password1" prodonus-password-validate required>
            <div class="input-help">
              <h4>Password must have:</h4>
                <ul>
                  <li ng-class="pwdHasAlphabet">At least <strong>1 Alphabet</strong></li>
                  <li ng-class="pwdHasNumber">At least <strong>1 Number</strong></li>
                  <li ng-class="pwdHasSymbol">At least <strong>1 Special Symbol</strong></li>
                  <li ng-class="pwdValidLength">At least <strong>8 characters long</strong></li>
                </ul>
            </div>

          <input type="password" class="immediate-help form-control" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password" ng-model="user.confirmpassword1" prodonus-password-check="password1"/> 
            <div class="input-help">
                <h4>Password must be same as above!</h4>
            </div>
            
            </div>  
      </center>
        </form>
</div>  