<!--Template for User location Account settings-->
<div style="background-color:white;" id="prodo-user-location-settings-container" class="container">
	<h4>Location</h4>
	<ul class="list-group">
	  <li class="list-group-item">
	  	Location
	  	<a href="" data-toggle="collapse" data-target="#location" class="pull-right">Edit</a>
	  	<p style="margin-top: 10px; font-size: 10px;">To add address please click here.
	  	<a href="" data-toggle="collapse" data-target="#Editlocation" class="pull-right"><i class="fa fa-plus-square fa-lg pull-right"></i></a></p>

	  	<div id="Editlocation" class="collapse">

		  		<form id="prodo-form-signin" name="signinForm" class="css-form" ng-submit="" novalidate>

	    			<div class="control-group">

	    				<ul>

	    					<li>
		        		<label class="label-control" style="font-size: 12px; width: 120px; text-align:left; float: left; display: inline-block;">Location Type</label>
	    					<select id="prodo-form-input-address" type="text" class="form-control" ng-model="org.orgaddresstype" autofocus required>
		        		<option value="Company Address">Company Address</option>
		        		<option value="Service Centers">Service Centers</option></select></li>

		    				<li>
		        		<label class="label-control" style="font-size: 12px; width: 120px; text-align:left; float: left; display: inline-block;">Address Line 1</label>
			        	<input id="prodo-form-input-address" name="address1"  type="text" class="form-control" placeholder="Address Line1" ng-model="org.address1"  required /></li>
								 
								<li>
		        		<label class="label-control" style="font-size: 12px; width: 120px; text-align:left; float: left; display: inline-block;">Address Line 2</label>
								<input name="address2"  type="text" id="prodo-form-input-address" class="form-control" placeholder="Address Line2" ng-model="org.address2" /></li>

								<li>
		        		<label class="label-control" style="font-size: 12px; width: 120px; text-align:left; float: left; display: inline-block;">Address Line 3</label>
								<input name="address3"  type="text" id="prodo-form-input-address" class="form-control" placeholder="Address Line3" ng-model="org.address3" /></li>

								<li>
		        		<label class="label-control" style="font-size: 12px; width: 120px; text-align:left; float: left; display: inline-block;">Country</label>
								<input name="country" type="text" id="prodo-form-input-address" class="form-control" placeholder="Country" ng-model="org.country" required /></li>
									 
								<li>
		        		<label class="label-control" style="font-size: 12px; width: 120px; text-align:left; float: left; display: inline-block;">State</label>
								<input name="state"  type="text" id="prodo-form-input-address" class="form-control" placeholder="State" ng-model="org.state" required /></li>

								<li>
		        		<label class="label-control" style="font-size: 12px; width: 120px; text-align:left; float: left; display: inline-block;">City</label>
								<input name="city"  type="text" id="prodo-form-input-address" class="form-control" placeholder="City" ng-model="org.city" required /></li>
							
								<li>
		        		<label class="label-control" style="font-size: 12px; width: 120px; text-align:left; float: left; display: inline-block;">Zipcode</label>
								<input name="zipcode" type="text" id="prodo-form-input-address" class="form-control" placeholder="Zip Code" ng-model="org.zipcode" required /></li>

								<li>
		        		<label class="label-control" style="font-size: 12px; width: 120px; text-align:left; float: left; display: inline-block;">Customer HelpLine</label>
								<input id="prodo-form-input-address" name="contact" type="text" class="form-control" placeholder="Customer HelpLine" ng-model="org.contact.customerhelpline1" autofocus required/></li>
								
								<li>
		        		<label class="label-control" style="font-size: 12px; width: 120px; text-align:left; float: left; display: inline-block;">Customer HelpLine</label>
								<input id="prodo-form-input-address" name="contact" type="text" class="form-control" placeholder="Customer HelpLine" ng-model="org.contact.customerhelpline2" autofocus required/></li>

								<li>
		        		<label class="label-control" style="font-size: 12px; width: 120px; text-align:left; float: left; display: inline-block;">Customer HelpLine</label><input id="prodo-form-input-address" name="contact" type="text" class="form-control" placeholder="Customer HelpLine" ng-model="org.contact.customerhelpline3" autofocus required/></li>

							</ul>

	  				</div>  

	  				<button id="prodo-button" class="btn btn-sm btn-primary" ng-click="addOrgAddress()">Save Changes</button>
	  				<button id="prodo-button" class="btn btn-sm btn-primary" data-toggle="collapse" data-target="#Editlocation">Cancel</button>
	  			</form>

				</div>
				<br>
	  		<div id="location" class="collapse">
	  			<div class="bar">
						<!-- Create a binding between the searchString model and the text field -->
						<input type="text" class="form-control" ng-model="searchAddress" placeholder="Enter your search terms" />
					</div>
					<table class="table table-hover table-condensed" ng-repeat="orglocation in organizationData.currentOrgAdd">
					<thead>
						<tr>
							<th><h5>Location Type As:</h5></th>
							<th><strong>{{orglocation.loctype}}</strong><th>
						</tr>
					</thead> 
					<tr style="font-weight: bold">
			      <td style="width:25%">Address</td>
			      <td style="width:19%">Country</td>
			      <td style="width:15%">State</td>
			      <td style="width:19%">Contacts</td>
			      <td style="width:22%">Edit</td>
			    </tr>
					<tbody>
					  <tr ng-repeat="orgadd in orglocation.location | filter:searchAddress">
						<td>
							<span editable-text="org.address1" ng-model="org.address1" e-name="address1" e-form="rowform" e-required>{{ org.address1 || orgadd.address.address1}},</span><br>
							<span editable-text="org.address2" ng-model="org.address2" e-name="address2" e-form="rowform" e-required>{{ org.address2 || orgadd.address.address2}},</span><br>
							<span editable-text="org.address3" ng-model="org.address3" e-name="address3" e-form="rowform" e-required>{{ org.address3 || orgadd.address.address3}},</span><br>
							<span editable-text="org.city" e-name="city" e-form="rowform" e-required>{{ org.city || orgadd.address.city}}</span><br>
							<span editable-text="org.zipcode" e-name="zipcode" e-form="rowform" e-required>{{ org.zipcode || orgadd.address.zipcode}}</span>
						</td>
						<td>
							<span editable-text="org.country" e-name="country" e-form="rowform" e-required>{{ org.country || orgadd.address.country}}</span>
						</td>
						<td>
							<span editable-text="org.state" e-name="state" e-form="rowform" e-required>{{ org.state || orgadd.address.state}}</span>
						</td>
						<td>
							<span editable-text="org.contact.customerhelpline1" e-name="contact" e-form="rowform" e-required>{{ org.contact.customerhelpline1 || orgadd.contacts[0].customerhelpline}}</span><br>
							<span editable-text="org.contact.customerhelpline2" e-name="contact" e-form="rowform" e-required>{{ org.contact.customerhelpline2 || orgadd.contacts[1].customerhelpline}}</span><br>
							<span editable-text="org.contact.customerhelpline3" e-name="contact" e-form="rowform" e-required>{{ org.contact.customerhelpline3 || orgadd.contacts[2].customerhelpline}}</span>
						</td>
						<td>
							<form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" onaftersave="updateAddress($data, orgadd.locid)">
	          	<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
	            save
	          	</button>
	          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
	            cancel
	          </button>
	        </form>
	        <div class="buttons" ng-show="!rowform.$visible">
	          <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
	          <button class="btn btn-danger" ng-click="deleteOrgAddress(orgadd.locid)">del</button>
	        </div>  
        </td>
					  </tr>
					</tbody>
		  		</table>
				</div>
			</li>
	  </ul>
	</div>
</div>
