<div id="prodo-comment-container" class="container tab-content" style="border: 1px solid #b3b3b3; min-height: 50px;">  
  <div style="margin-top: 5px;" class="tabbable boxed parentTabs">
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a showtab="" href="#set1" ui-sref="account-org.org.detail">Organization</a>
        </li>
        <li><a showtab="" href="#set2" ui-sref="account-org.org.Productdetail">Product</a>
        </li>
    </ul>
    
    <div style="margin: 5px auto;" class="tab-content">
        <div class="tab-pane fade active in" id="set1">
            <div class="tabbable">
                <ul style="padding:5px;" id="prodo-org-nav-pills" class="nav nav-tabs nav-justified">
                    <li class="active"><a showtab="" href="" ui-sref="account-org.org.detail">Organization Details</a></li>
                   
                    <li><a showtab="" href="" ui-sref="account-org.org.upload">Organization Upload</a></li>
                    <li><a showtab="" href="" ui-sref="account-org.org.broadcast">Organization Broadcast</a></li>

                </ul>
            </div>
        </div>
        <div class="tab-pane fade" id="set2">
            <div class="tabbable">
                <ul style="padding:5px;" id="prodo-org-nav-pills" class="nav nav-tabs nav-justified">
                    <li class="active"><a showtab="" href="" ui-sref="account-org.org.Productdetail">Product Features</a></li>
                   
                    <li><a showtab="" href="" ui-sref="account-org.org.Productupload">Product Upload</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
  <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
    <div growl></div>
    <div ui-view></div>
  </div>

</div>