<div class="container">
  <div style="min-height:30px; margin: 10px auto;">
      <img ng-show="((usersession.currentUser.org.orgtype.toLowerCase() == 'manufacturer'))" ng-src="{{org.org_logo.image}}" style="width: 160px; height:120px; margin: 20px; " src="../../../assets/images/if_no_logo_images_available.gif">
    <!--   <img ng-show="((usersession.currentUser.org.orgtype.toLowerCase() == 'manufacturer') && org.org_logo === '')" style="width: 160px; height:120px; margin: 20px; " src="../../../assets/images/if_no_logo_images_available.gif"> -->
      <a class="manage-org-btn btn btn-danger btn-sm pull-right  " href="" data-toggle="modal" data-target="#myModal"><i style="margin-right: 5px;" class="fa fa-trash-o fa-lg"></i>Delete Request</a>
  </div>


   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
          </div>
          <div class="modal-body">
            You have selected to send delete request for your Organization. This would stop you from any further interaction with the organization. Do you want to proceed?
          </div>
          <div class="modal-footer">
          
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary manage-org-btn" data-dismiss="modal" ng-click="deleteOrgAccountRequest()" >Confirm Delete Request</button>
          </div>
        </div>
      </div>
    </div>


  <accordion>
    <accordion-group>
      <accordion-heading>
        <p style='font-weight:bold; font-size: 13px; margin: 0;'>GENERAL SETTINGS<i class="fa fa-pencil pull-right"></i></p>
      </accordion-heading>

      <form name="form.orggeneralsettingform" class="css-form" ng-submit='' novalidate>
              <div ng-hide="editorEnabled">
                  <b>Organization Name:</b><div ng-bind="org.name"></div>
                  <br>
                  <b>Organization Description:</b><div ng-bind="org.description"></div>
                  <br>
                  <b>Organization Category:</b><div>
                    
                    <ul style = "margin-left:0%;padding-left:0%">
                        <li ng-repeat = "tags in org.industry_category"   class="prodo-categoryTags">
                            <span ng-bind="tags"></span>
                         </li>
                    </ul>


                  </div>
                  <br>
                  <button ng-click="enableEditor()" class="btn btn-primary btn-sm pull-right" style="width:80px;"><i class="fa fa-pencil fa-fw"></i>&nbsp;&nbsp;Edit</button>
              </div>

              <div ng-show="editorEnabled">

                  <b>*Organization Name:</b> <div> <input type=text ng-model="org.name" class="form-control" name="orgname" ng-maxlength="50" required></div>
                  <div class="error-message" ng-if="invalidOrgName !== '' "ng-bind="invalidOrgName"></div>  <br>
                   
                  
                  <b>*Organization Description</b> 
                  <div>
                      <textarea ng-model="org.description" class="form-control" name="description" ng-maxlength="500" required></textarea>
                  </div>

                  <div class="error-message" ng-if="invalidDesc !== '' "ng-bind="invalidDesc"></div>  <br> 
                   <b>*Organization Category</b>
                   <div  >
                           <tags-input  minTags="1" add-on-blur="true" list="returnOrganizationCategory()" ng-model="org.industry_category" min-length="1" required>
                           </tags-input>
                   </div>
                    <div class="error-message" ng-if="errorCategory !=='' " ng-bind="errorCategory"></div>
                   <br>
                  <b>*Password:</b>
                  <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                        <input  type="password"  ng-model="user.password" type="password" name="password" class="form-control"  placeholder="Please enter your password" required>
                  </div>







                  <div class="error-message" ng-if="invalidPassword !== '' "ng-bind="invalidPassword"></div> 
                  <br> * Mandatory fields <br>
                  Note: Password is required to save changes
                  <br>  <br> 
                  <button ng-click="updateOrgAccount()" class="btn btn-primary btn-sm pull-right" style="width:80px;"><i class="fa fa-save fa-fw" ></i>&nbsp;&nbsp;Save</button>
                  <button ng-click="disableEditor();reset()" class="btn btn-primary btn-sm pull-right" style="margin-right:5px;width:80px;"><i class="fa fa-times fa-fw"></i>&nbsp;&nbsp;Cancel</button>
              </div> 
      </form>


    </accordion-group>

    <accordion-group>
      <accordion-heading>
        <p style='font-weight:bold; font-size: 13px; margin: 0;'>LOCATION<i class="fa fa-pencil pull-right"></i></p>
      </accordion-heading>
             <br>
          
            <div class="bar">
            <input type="text" class="form-control" ng-model="searchAddress" placeholder="Enter your search terms" />
            <br>
          </div>

  
          <table class="table table-hover table-condensed" ng-repeat="orgAd in orgaddr ">

          <thead>

            <tr>
              <th></th> 
              <th>Location Type As:</th>
              <th>{{orgAd.loctype}}<th>
            </tr>
          </thead> 
          <tr style="font-weight: bold">
            <td style="width:5%">#</td>
            <td style="width:22%">Address</td>
            <td style="width:21%+4%">Country</td>
            <td style="width:11%">State</td>
            <td style="width:22%">Contacts</td>
            <td style="width:15%">Edit</td>
          </tr>
          <tbody>
            <tr ng-repeat="addr in orgAd.location | filter:searchAddress track by $index ">
                  <!--  <form name="form.organizationUpdateAddressForm" ng-submit="" novalidate> -->
                    <td ng-bind="$index + 1"></td>
                    <td ng-hide="addr.editing" >
         
                      <div ng-bind="addr.address.address1"> </div>
                      <div ng-bind="addr.address.address2"></div>
                      <div ng-bind="addr.address.address3"></div>
                      <div ng-bind="addr.address.city"></div>
                      <div ng-bind="addr.address.zipcode"></div>
                    </td>
            
                    <td ng-if="addr.editing">
                      <input style="height:30px; display:block; margin:3px;" class="form-control" ng-model="addr.address.address1" placeholder="Address Line1" ng-bind="addr.address.address1" >
                      <input style="height:30px; display: block; margin:3px;" class="form-control" ng-model="addr.address.address2" placeholder="Address Line2" >
                      <input style="height:30px; display:block; margin:3px;" class="form-control" ng-model="addr.address.address3" placeholder="Address Line3" >


                      <input style="height:30px; display:block; margin:3px;" class="form-control" ng-model="addr.address.city" placeholder="City" ng-pattern="/^[A-z]*$/" required>

                      <input style="height:30px; display:block; margin:3px;" class="form-control" ng-model="addr.address.zipcode" ng-pattern="/^[0-9]{5,10}$/" placeholder="Zipcode" name="zipcode" required>              
                    </td>
                    <td  ng-hide="addr.editing">
                      <span ng-bind="addr.address.country" ></span>
                    </td>
                    <td ng-if="addr.editing">
                        <input style="height:30px; display:block; margin:3px;" class="form-control" ng-model="addr.address.country" ng-pattern="/^[A-z]*$/" placeholder="Country" name="country" required>
                    </td>
                    <td  ng-hide="addr.editing">
                      <span ng-bind="addr.address.state" ></span>
                    </td>
                    <td ng-if="addr.editing" >
                      <input style="height:30px; display:block; margin:3px;" class="form-control" ng-model="addr.address.state" ng-pattern="/^[A-z ]*$/" placeholder="State" name="state" required>
                    </td>
                    <td ng-hide="addr.editing">
            
                      <div ng-bind="addr.contacts[0].customerhelpline" ></div>
                      <div ng-bind="addr.contacts[1].customerhelpline" ></div>
                      <div ng-bind="addr.contacts[2].customerhelpline" ></div>
                      <div></div>
                    </td>
                    <td ng-if="addr.editing">
                      <input style="height:30px; display:block; margin:3px;"  ng-model="addr.contacts[0].customerhelpline" class="form-control" placeholder="eg:+91-9000000000" name="contacts1" type="text" required>

                      
                      <input style="height:30px; display:block; margin:3px;" class="form-control" ng-model="addr.contacts[1].customerhelpline" placeholder="eg:+91-9000000000"  name="contacts2" type="text">

                      
                      <input style="height:30px; display:block; margin:3px;" class="form-control" ng-model="addr.contacts[2].customerhelpline" placeholder="eg:+91-9000000000" name="contacts3" type="text">

                     

                    </td>
         
                    <td>
                  <!--     <div > -->
                        <a ng-hide="addr.editing"  ng-click="enableEditing(addr)" class="btn btn-primary btn-sm " style="width:80px;margin-bottom:5px;"><i class="fa fa-pencil fa-fw" ></i>&nbsp;&nbsp;Edit</a>
                        <a ng-hide="addr.editing" class="btn btn-danger btn-sm "  ng-click="deleteOrgAddress(addr, orgAd.location)"style="width:80px"><i  class="fa fa-trash-o fa-lg" ></i>&nbsp;&nbsp;Delete</a>
                        <a ng-if="addr.editing" class="btn btn-primary btn-sm " ng-click="updateAddress(addr,orgAd.loctype)" style="width:80px;margin-bottom:5px"><i class="fa fa-save fa-fw" ></i>&nbsp;&nbsp;Save</a>
                        <a ng-if="addr.editing" class="btn btn-primary btn-sm " ng-click="disableEditing(addr)" style="width:80px"><i class="fa fa-times fa-fw" ></i>&nbsp;&nbsp;Cancel</a>
              <!--         </div>   -->
                    </td>
         
          </tr>
           <div class="error-message-registration" ng-if="errorOfValidation !== 'Please enter valid ' " ng-bind="errorOfValidation"></div> 
        </tbody>
      </table>

          <br>
          <hr size=3 width="100%;" style="background-color:#BDBDBD; height:1px; margin-top: 0;" noshade>
          <p ng-hide='islocation' style="margin-top: 10px; font-size: 14px; font-weight:bold;">Click <a href="" ng-click='addLocation()'>here</a> to add more address.
          </p><br>
        <div ng-show='islocation' class="addressCountry">

          <form name="form.orgaddlocationform" class="css-form" ng-submit="" novalidate>
            <dl class="dl-horizontal">
              <dt>*Location Type:</dt>
              <dd>
              <select name="loctype" type="text" style="width:55%; height:30px; display:block" class="form-control" ng-model="orgaddresstype" autofocus id="orgAddressType"   ng-if="regularExpressionForManufactuter.test(usersession.currentUser.usertype) === true" required>


              
                <option value="Company Address">Company Address</option>
                <option value="Service Centers">Service Centers</option>

              </select>

              <select name="loctype" type="text" style="width:55%; height:30px; display:block" class="form-control" ng-model="orgaddresstype" autofocus id="orgAddressType"   ng-if="regularExpressionForCompany.test(usersession.currentUser.usertype) === true " required>


              
                <option value="Company Address"> Company Address</option>


              </select>


                <small style='color:red;' ng-show="(form.orgaddlocationform.loctype.$dirty && form.orgaddlocationform.loctype.$error.required)">Address is required.</small></dd>
                <div class="error-message" ng-if="emptyOrgtypeSelection!==''" ng-bind="emptyOrgtypeSelection"></div>
<br>
              <dt>*Address Line1:</dt>
              <dd><input name="address1" type="text" style="width:55%; height:30px; display:block" class="form-control" ng-model="org.address1" placeholder="address line1" required></dd><div class="error-message" ng-if="addressErrorMessage!==''" ng-bind="addressErrorMessage"></div>   <br>

              <dt>Address Line2:</dt>
              <dd><input name="address2" type="text" style="width:55%; height:30px; display:block" class="form-control" ng-model="org.address2" placeholder="address line2" ></dd><br>
              <dt>Address Line3:</dt>
              <dd><input name="address3" type="text" style="width:55%; height:30px; display:block" class="form-control" ng-model="org.address3" placeholder="address line3"></dd><br>
              <dt>*Country:</dt>
              <dd><input name="country" type="text" ng-pattern="/^[A-z]*$/" style="width:55%; height:30px; display:block" class="form-control" ng-model="org.country" placeholder="country" required typeahead="country for country in countries | filter:$viewValue | limitTo:8"></dd><div class="error-message" ng-if="invalidCountryError !== '' " ng-bind="invalidCountryError"></div> <br>
              <dt>*State:</dt>
              <dd><input name="state" type="text" ng-pattern="/^[A-z]*$/" style="width:55%; height:30px; display:block" class="form-control" ng-model="org.state" placeholder="state" required typeahead="state for state in return_states() | filter:$viewValue | limitTo:8"></dd> <div class="error-message" ng-if="invalidStateError !== ''" ng-bind="invalidStateError"></div> <br>
              <dt>*City:</dt>
              <dd><input name="city" type="text" ng-pattern="/^[A-z]*$/" style="width:55%; height:30px; display:block" class="form-control" ng-model="org.city" placeholder="city" required typeahead="city for city in return_cities() | filter:$viewValue | limitTo:8"></dd><div class="error-message" ng-if="invalidCityError!==''" ng-bind="invalidCityError"></div><br>
              <dt>*Zipcode:</dt>
              <dd><input name="zipcode" type="text" ng-pattern="/^[0-9]{5,7}$/" style="width:55%; height:30px; display:block" class="form-control" ng-model="org.zipcode" placeholder="zipcode" required></dd>
              <div class="error-message" ng-if="invalidZipcodeError!==''" ng-bind="invalidZipcodeError" ></div><br>
              <dt>*Contact:</dt>
              <dd ><input name="contact1" type="text" style="width:55%; height:30px; display:block" class="form-control" ng-pattern="/^\(?[+]([0-9]{2,5})\)?[-]?([0-9]{10,15})$/" placeholder="Cust. HelpLine [eg: +91-9000000000]" ng-model="contacts[0].customerhelpline" required/></dd>
              <div class="error-message" ng-if="invalidContact1!==''" ng-bind="invalidContact1"></div>
              <br>
              
              <dd ><input name="contact2" type="text" style="width:55%; height:30px; display:block" class="form-control" ng-pattern="/^\(?[+]([0-9]{2,5})\)?[-]?([0-9]{10,15})$/" placeholder="Cust. HelpLine [eg: +91-9000000000]" ng-model="contacts[1].customerhelpline" />
              <div class="error-message" ng-if="invalidContact2!==''" ng-bind="invalidContact2"></div><br></dd>

              <dd ><input name="contact3" type="text" style="width:55%; height:30px; display:block" class="form-control" ng-pattern="/^\(?[+]([0-9]{2,5})\)?[-]?([0-9]{10,15})$/" placeholder="Cust. HelpLine [eg: +91-9000000000]" ng-model="contacts[2].customerhelpline" />
              <div class="error-message" ng-if="invalidContact3!==''" ng-bind="invalidContact3"></div><br></dd>
              <dd>* Mandatory fields</dd>
            </dl>
            <button class="btn btn-primary btn-sm pull-right"  href="#" ng-click="addOrgAddress()" style="width:80px;"><i style="margin-right: 5px;" class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
            <button class="btn btn-primary btn-sm pull-right"  ng-click="reset()" style="margin-right:5px;width:80px;"><i style="margin-right: 5px;" class="fa fa-times"></i>&nbsp;&nbsp;Cancel</button>
          </form>

        </div><br>


    </accordion-group>



    <accordion-group>
      <accordion-heading>
            <p style='font-weight:bold; font-size: 13px; margin: 0;'>ADD USER TO GROUP<i class="fa fa-pencil pull-right"></i></p>
        </accordion-heading>
                   <div id="invites">
                    <table class="table table-striped" ng-repeat="member in groups" ng-if="member.grpmembers.length>0">
                      <thead ng-show='{{member.grpmembers.length}}>0'>
                        <tr>
                        <th>Group Name</th>
                        <th>Group Members</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="grpmember in member.grpmembers">
                          <td style="width:40%">{{member.grpname}}</td>
                          <td style="width:40%">{{grpmember.email}}</td>
                          <td style="width:20%"><button class="btn btn-danger btn-sm pull-right" ng-click="deleteGroupMember(member, grpmember.userid,$parent.$index,grpmember.email)"><i class="fa fa-trash-o fa-lg"></i>&nbsp;&nbsp;Delete</button></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <br>
                  <button class="btn btn-info btn-sm" style="background-color:#3679AD; border-color:#4497AF; border-radius: 10px; width: 150px;text-align: left;font-size: 12px;font-weight: bold;margin-bottom: 5px;" ng-click="addNewInvites()"><i style="margin-right: 5px;" class="fa fa-plus-square"></i>New Group</button>
           
                  <form name="form.orgnewgroupinvitesform" ng-submit='' novalidate>
                    <table ng-show="showNewInvites" class="table table-condensed">
                      <tbody>



                      
                       <tr> <div class="error-message-registration" ng-if="errorForEmptyGroupName!==''" ng-bind="errorForEmptyGroupName"></div></tr>
                       <tr> <div class="error-message-registration" ng-if="errorForInvites!=='Please check emails '" ng-bind="errorForInvites"></div></tr>





                        <tr>
                          <td style="width: 40%;">
                          <input class="form-control" ng-model="group.newgroupname" type="text" placeholder="Group Name" required></td>
                          <td style="width: 45%;">
                        <!--    <div class="input-group margin-bottom-sm"> -->
                            <input class="form-control" ng-model="group.newinvites"  placeholder="Enter email separated by commas(,)" required>
                       <!--    </div> -->
                          </td>
                          <td style="width: 20%;"><button class="btn btn-primary btn-sm pull-right"  ng-click="addGroupInvite()" style="width:80px;"><i style="margin-right: 5px;" class="fa fa-share"></i>Send</button></td>
                        </tr>
                       
                      </tbody>
                    </table>
                  </form>
                  <br>
                  <button class="btn btn-info btn-sm" style="background-color:#3679AD; border-color:#4497AF; border-radius: 10px; width: 150px;text-align: left;font-size: 12px;font-weight: bold;margin-bottom: 5px;" ng-click="addExistingInvites()"><i style="margin-right: 5px;" class="fa fa-plus-square"></i>Existing Groups</button>
                <!--   <hr size=3 width="100%;" style="background-color:#BDBDBD; height:1px; margin-top: 1px;" noshade> -->
                  <form name="form.orggroupinvitesform" ng-submit='' novalidate>
                    <table ng-if="showExistingInvites === true" class="table table-condensed">
                      <tbody>




                       <tr> <div class="error-message-registration" ng-if="errorForEmptyExistingGroupname!==''" ng-bind="errorForEmptyExistingGroupname"></div></tr>
                        <tr><div class="error-message-registration" ng-if="errorForExistinginvites!=='Please check emails '" ng-bind="errorForExistinginvites"></tr>





                        <tr>
                          <td style="width: 40%;">
                          <select type="text" class="form-control" name="orgtype" ng-model="group.groupname" required>
                          <option ng-repeat="group in groups" value="{{group.grpname}}">{{group.grpname}}</option></select>
                          </td>
                          <td style="width: 45%;">
              
                            <input class="form-control" ng-model="group.invites" placeholder="Enter email separated by commas(,)" required>
                     
                          </td>
                          <td style="width: 20%;"><button class="btn btn-primary btn-sm pull-right" ng-click="addExistingGroupInvite()" style="width:80px;"><i style="margin-right: 5px;" class="fa fa-share"></i>&nbsp;&nbsp;Send</button></td>
                        </tr>
                        
                 <!--        <p ng-show="(form.orggroupinvitesform.submitted && form.orggroupinvitesform.$invalid)" class="text-danger"><small style='color:red;'>Please check syntax of Group name or Email Ids</small></p> -->
                      </tbody>
                    </table>
                  </form>
        </accordion-group>

       <accordion-group ng-click="invokeKeyClients()" ng-if="usersession.currentUser.org.orgtype.toLowerCase() === 'manufacturer'">
                  <accordion-heading>
                    <p style='font-weight:bold; font-size: 13px; margin: 0;'>KEY CLIENTS<i class="fa fa-pencil pull-right"></i></p>
                  </accordion-heading>

                          <div id="prodo-productFeature-fixed"   ng-app="prodo.UploadApp" ng-controller="UploadController"  >
                              <table   class="table table-hover  prodo-productTableFont">
                                  <tr>
                                     <td style="border-color:white;width:50%"><input class="form-control" ng-model="currentclient.name" type="text" placeholder="Name" style="width:100%"></td>
                                  <td style="border-color:white;width:50%">
                                    <div class="controls" > <form id="fileInputsUploadorgkeyclient">
                                      <span class="btn btn-primary fileinput-button controls-upload prodo-uploadBtnWidth" style="width:100%;">
                                        <i class="glyphicon glyphicon-upload " style="padding-left: 17%;"></i>
                                        <input   type="file" name="file" ng-file-select="onFileSelect($files)" ng-click="uploadSrc = 'orgkeyclient';" > </form>
                                        <span>Upload Logo & Save</span>
                                      </span>
                                    </div>
                                  </td>
                                </tr>
                              </table>
                              
                              <center>
                                <div id="FileName" ng-if="showKeyClient ===1 "></div>
                              </center>
                            </div>
                             <div style="height:40px;" ng-if="orgKeyClients.length>0"> <button ng-click="removeKeyClientsPermenantly()" class="btn btn-danger btn-sm " style="margin-left:87%"><i  class="fa fa-trash-o fa-lg" ></i>&nbsp;&nbsp;Delete</button></div>
                             

                             <div class="imagesOrg" ng-repeat="clients in orgKeyClients" style="margin: 3px;border: #090808 solid;min-width: 110px;
                                      padding: 4px;border-width: thin;">
                                    <p ng-bind="clients.clientname" style="margin-bottom:0px;width:100px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; margin-bottom:0px;"></p>
                                    <img class="img prodo-OrgImgThumbnail"  ng-src="{{clients.image}}" />
                                    <input type="checkbox" id="{{'keyClient'+$index}}">
                             </div>
                            <div class="error-message-org " ng-if="orgKeyClients.length===0" style="text-align:left; font-size:20px;  auto;" >  <p style="text-align:left; font-size:20px; margin: 20px auto;" class="text-success"><strong><em>No Key Clients Added</em></strong></p></div>


       </accordion-group> 

  <accordion-group ng-hide="usersession.currentUser.org.orgtype != 'Manufacturer' " >
      <accordion-heading>
            <p style='font-weight:bold; font-size: 13px; margin: 0;'>ORGANIZATION CUSTOMER INVITES<i class="fa fa-pencil pull-right"></i></p>
        </accordion-heading>
        <!--    <button class="btn btn-info btn-sm" style="background-color:#47707C; border-color:#3C555C; border-radius: 10px; margin: 15px;" ng-click="addCustomerInvites()"><i style="margin-right: 5px;" class="fa fa-plus-square"></i>Add More Invites</button> -->
        <table class="table table-condensed">
          <tbody>
            <tr >
   <!--            <td style="width:50%"><input class="form-control" ng-model="customer.name" type="text" placeholder="Name" > </td>
              <td style="width:50%">  
                       <input class="form-control" ng-model="customer.email" type="email" placeholder="Email"></td> -->



                               <input type="text" class="form-control" placeholder="From" style="margin-bottom:20px;" ng-model="fromOrgCustDetails" ng-disabled="true">
                              

                              <input type="text" class="form-control" placeholder="To" style="margin-bottom:20px;" ng-model="customerinvites.to">



                               <div class="error-message-registration" ng-if="orgCustToError!==''" ng-bind="orgCustToError" style="margin-top:-2.5%"></div>

                          

                              <input type="text" class="form-control" placeholder="Subject" style="margin-bottom:20px;" ng-model="customerinvites.subject">
                                   <div class="error-message-registration" ng-if="orgCustSubjectError!==''" ng-bind="orgCustSubjectError" style="margin-top:-2.5%"></div>


                              <textarea class="form-control" ng-model="custinvitesbody.customerinvites_body" style="margin-bottom:20px;" rows=23 ng-enter="joinbrCstfororginvites()"></textarea>


                          <div class="error-message-registration" ng-if="orgCustContentError!==''" ng-bind="orgCustContentError" style="margin-top:-2.5%"></div>



            </tr>
          </tbody>
        </table>



         <button class="btn btn-primary btn-sm pull-right"  ng-click="orgCustomerInvites()" style="width:80px;"><i class="fa fa-share"></i>&nbsp;&nbsp;Send</button>
        </accordion-group>


    <accordion-group  ng-hide="usersession.currentUser.org.orgtype != 'Manufacturer' " >
      <accordion-heading>
            <p style='font-weight:bold; font-size: 13px; margin: 0;'>NEW ORGANIZATION INVITES<i class="fa fa-pencil pull-right"></i></p>
        </accordion-heading>
 <!--        <button class="btn btn-info btn-sm" style="background-color:#47707C; border-color:#3C555C; border-radius: 10px; margin: 15px;" ng-click="addMoreInvites()"><i style="margin-right: 5px;" class="fa fa-plus-square"></i>Add More Invites</button> -->
        <table class="table table-condensed">
          <tbody>
            <tr >
            <!--                 <td style="width:30%"><input class="form-control" ng-model="invite.name" type="text" placeholder="Name" > </td>
                            <td style="width:30%"><input class="form-control" ng-model="invite.orgname" type="text" placeholder="Organization Name" ></td>
                            <td style="width:30%">
                          
                           <input class="form-control" ng-model="invite.email" type="email" placeholder="Email" ></td> -->

              <td>
                              <input type="text" class="form-control" placeholder="From" style="margin-bottom:20px;" ng-model="fromOrgDetails" ng-disabled="true">
                                 
                             
                              <input type="text" class="form-control" placeholder="To" style="margin-bottom:20px;" ng-model="orginvites.to">
                                <div class="error-message-registration" ng-if="orgInvitesToError!==''" ng-bind="orgInvitesToError" style="margin-top:-2.5%"></div>


                              <input type="text" class="form-control" placeholder="Subject" style="margin-bottom:20px;" ng-model="orginvites.subject" >

                              <div class="error-message-registration" ng-if="orgInvitesSubjectError!==''" ng-bind="orgInvitesSubjectError" style="margin-top:-2.5%"></div>


                              <textarea class="form-control" style="margin-bottom:20px;" ng-model = "orginvitesbody.orginvites_body" rows=22 ng-enter="joinbrfororginvites()">Dear <name>,
                              

                              </textarea>

                                <div class="error-message-registration" ng-if="orgInvitesBodyError!==''" ng-bind="orgInvitesBodyError" style="margin-top:-2.5%"></div>
              </td>


            </tr>

<!-- 
            <tr>
                <td> </td>
            </tr> -->
          </tbody>
        </table>
   
 
   

        <button class="btn btn-primary btn-sm pull-right"  ng-click="sendOrgInvites()"><i style="margin-right: 5px;" class="fa fa-share"></i>Send</button>
        </accordion-group>

             







    <accordion-group ng-if="usersession.currentUser.org.orgtype.toLowerCase() === 'manufacturer'">
        <accordion-heading>
            <p style='font-weight:bold; font-size: 13px; margin: 0;'>ORGANIZATION IMAGES<i class="fa fa-pencil pull-right"></i></p>
        </accordion-heading>



<div style="height:40px;" ng-if="orgImages.length>0"> <button ng-click="deleteOrgArtworImages()" class="btn btn-danger btn-sm pull-right"><i  class="fa fa-trash-o fa-lg" ></i>&nbsp;&nbsp;Delete</button></div>


        <div class="error-message-org " ng-if="orgImages.length===0" style="text-align:left; font-size:20px;  auto;" >  <p style="text-align:left; font-size:20px; margin: 20px auto;" class="text-success"><strong><em>No Images Exists</em></strong></p></div>




              <div class="imagesOrg" ng-repeat="img in orgImages" style="margin: 3px;border: #090808 solid;min-width: 110px;
                  padding: 4px;border-width: thin;">
                <input type="checkbox" id='{{$index}}'>

                <img class="img prodo-OrgImgThumbnail"  ng-src="{{img.image}}" />
              
              </div>
             


    </accordion-group>

    <accordion-group ng-hide="usersession.currentUser.org.orgtype != 'Manufacturer' ">
      <accordion-heading>
            <p style='font-weight:bold; font-size: 13px; margin: 0;'>PRODUCT<i class="fa fa-pencil pull-right"></i></p>
        </accordion-heading>

        <div ng-show="(productlist.length == 0)">
          <p style="text-align:left; font-size:20px; margin: 20px auto;" class="text-success"><strong><em>You have not added products.</em></strong></p>
        </div>
        <div class="row">
          <div class="prodo-wall-org-product-container col-xs-2" ng-repeat="product in productlist">
            <p ng-show="product.display_name" class="prodo-wall-org-product-name">{{product.display_name}}</p>
            <p ng-hide="product.display_name" class="truncated-product-name prodo-wall-org-product-name">{{product.name}}</p>
            <img ng-show="product.product_logo" src="{{product.product_logo.image}}" alt=" No Image" class="prodo-wall-org-productimg img-rounded">
            <img ng-hide="product.product_logo" src="../../../assets/images/if_no_logo_images_available.gif" alt=" No Image" class="prodo-wall-org-productimg img-rounded">
        </div>
      </div>
    </accordion-group>


    <accordion-group>
      <accordion-heading>
           <p style='font-weight:bold; font-size: 13px; margin: 0;'>SUBSCRIPTION<i class="fa fa-pencil pull-right"></i></p>
        </accordion-heading>
        <div ng-show="usersession.currentUser.isSubscribed">
          <p style="text-align:left; font-size:20px; margin: 20px auto;" class="text-success"><strong><em>You are currently subscribed for 30-days Free Trial Plan.<br>
          No payment has been taken during trial plan.</em></strong></p>
        </div>
    </accordion-group>


    <accordion-group>
      <accordion-heading>
            <p style='font-weight:bold; font-size: 13px; margin: 0;'>PAYMENT<i class="fa fa-pencil pull-right"></i></p>
        </accordion-heading>
        <div ng-show="usersession.currentUser.hasDonePayment">
          <p style="text-align:left; font-size:20px; margin: 20px auto;" class="text-success"><strong><em>You are currently subscribed for 30-days Free Trial Plan.<br>
          No payment has been taken during trial plan.</em></strong></p>
        </div>
    </accordion-group>


    <accordion-group>
      <accordion-heading>
            <p style='font-weight:bold; font-size: 13px; margin: 0;'>PAYMENT HISTORY<i class="fa fa-pencil pull-right"></i></p>
        </accordion-heading>
        <div ng-show="usersession.currentUser.hasDonePayment">
          <p style="text-align:left; font-size:20px; margin: 20px auto;" class="text-success"><strong><em>You are currently subscribed for 30-days Free Trial Plan.<br>
          No payment has been taken during trial plan.</em></strong></p>
        </div>
    </accordion-group>


    <accordion-group ng-hide="usersession.currentUser.org.orgtype != 'Manufacturer' " ng-click="invokeOrgArtwork()">
      <accordion-heading>
        <p style='font-weight:bold; font-size: 13px; margin: 0;'>ORGANIZATION ARTWORK UPLOAD<i class="fa fa-pencil pull-right"></i></p>
      </accordion-heading>
        <div id="prodo-productFeature-fixed"   ng-app="prodo.UploadApp" ng-controller="UploadController"  >
          <table   class="table table-hover table-bordered prodo-productTableFont">
            <tr>
              <td>Logo</td>
              <td>
                <div class="controls" > <form id="fileInputsUploadorglogo">
                  <span class="btn btn-primary fileinput-button controls-upload prodo-uploadBtnWidth" >
                    <i class="glyphicon glyphicon-upload "></i>
                    <input   type="file" name="file" ng-file-select="onFileSelect($files)" ng-click="uploadSrc = 'orglogo';">
                    <span>Upload Logo</span>
                  </span>
                  </form>
                </div>
              </td>
            </tr>
            <tr>
              <td>Art Work</td>
              <td>
                <div class="controls" > <form id="fileInputsUploadorg">
                  <span class="btn btn-primary fileinput-button controls-upload prodo-uploadBtnWidth" >
                    <i class="glyphicon glyphicon-upload "></i>
                    <input   type="file" name="file" ng-file-select="onFileSelect($files)" multiple ng-click="uploadSrc = 'org';">
                    <span>Upload Org Art Work</span>
                  </span>
                  </form>
                </div>
              </td>
            </tr>
          </table>
          <center>
            <div id="FileName" ng-if="showOrgArtworkImages === 1"></div>
          </center>
        </div>
      </accordion-group>


  </accordion>





</div>




