<!--Template for org Account General settings-->
<div style="background-color:white;" id="prodo-user-general-settings-container" class="container">
	<p style="margin-top: 10px;"><strong>General Account Settings</strong><a class="btn btn-danger btn-sm pull-right" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o fa-lg"></i>Delete</a>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
      </div>
      <div class="modal-body">
        You have selected to delete your Organization. This would stop you from any further interaction with the organization. Do you want to proceed?
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deleteOrgAccount()">Delete Organisation</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
	<ul class="list-group">
	  <li class="list-group-item">
	  	Organization Name: {{organizationData.currentOrgData.name}}
	  	<a href="" data-toggle="collapse" data-target="#username" class="pull-right">Edit</a>
	  		<div id="username" class="collapse">
		  		<form id="prodo-form-signin" name="signinForm" class="css-form" ng-submit="" novalidate>

	    			<div class="control-group">

	        	<input id="prodo-input-signin" name="orgname" class="form-control" type="text" placeholder="{{organizationData.currentOrgData.name}}" required ng-model="org.name" /> 
	      
	      
	        	<input id="prodo-input-signin" type="password" class="form-control" id="password1" name="password" placeholder="Password" ng-model="user.password" required>
	  				</div>  

	  				<button id="prodo-button" class="btn btn-sm btn-primary" ng-click="updateOrgAccount()">Save Changes</button>
	  				<button id="prodo-button" class="btn btn-sm btn-primary" data-toggle="collapse" data-target="#username">Cancel</button>
	  			</form>
				</div>
			</li>
			<li class="list-group-item">
	  	Organization Description: {{organizationData.currentOrgData.description}}
	  	<a href="" data-toggle="collapse" data-target="#emailid" class="pull-right">Edit</a>
	  		<div id="emailid" class="collapse">
		  		<form id="prodo-form-signin" name="signinForm" class="css-form" ng-submit="" novalidate>

	    			<div class="control-group">

	        		<input id="prodo-input-signin" name="email" class="form-control" type="text" placeholder="{{usersession.currentUser.email}}" required ng-model="user.email" />

	        		<input id="prodo-input-signin" type="password" class="form-control" id="password1" name="password" placeholder="Password" ng-model="user.password" required> 
	       
	  				</div>  

	  				<button id="prodo-button" class="btn btn-sm btn-primary" ng-click="updateOrgAccount()">Save Changes</button>
	  				<button id="prodo-button" class="btn btn-sm btn-primary" data-toggle="collapse" data-target="#emailid">Cancel</button>
	  			</form>
				</div>
			</li>
			
			<li class="list-group-item">
	  	Other Settings
	  	<a href="" data-toggle="collapse" data-target="#othersettings" class="pull-right">Edit</a>
	  		<div id="othersettings" class="collapse">
		  		<form id="prodo-form-signin" name="signinForm" class="css-form" ng-submit="" novalidate>

	    			<div class="control-group">
	    				<ul>
	    				
		    				<li ng-show="usersession.currentUser.orgname"><label class="label-control" style="width: 100px; text-align:left; float: left; display: inline-block;">Organization Name</label><input id="prodo-input-signin" name="orgname" class="form-control" type="text" placeholder="Organization Name" required ng-model="org.orgname" /></li>

	       		</ul>
	  				</div>  

	  				<button id="prodo-button" class="btn btn-sm btn-primary" ng-click="updateOrgAccount()">Save Changes</button>
	  				<button id="prodo-button" class="btn btn-sm btn-primary" data-toggle="collapse" data-target="#othersettings">Cancel</button>
	  			</form></div>
			</li>
			 
	</ul>
	</div>
</div>