

<br>
<div id="prodo-productFeature-fixed"   ng-app="prodo.UploadApp" ng-controller="UploadController"  >

  <form    >
    <br>
    <center>  
      
      <div class="control-group"  >Select files to upload <br>
        <div class="controls" > 
          <span class="btn btn-info fileinput-button" style="width: 400px;" >
            <i class="glyphicon glyphicon-upload "></i>
            <input   type="file" name="file" ng-file-select="onFileSelect($files)" multiple ng-click="uploadSrc = 'org';">
            <span>Select Files</span>
          </span>
        </div>
      </div>

      
    </center>
  </form><br><br>
  <center>
    <div id="FileName" > 
    </div>
  
 </center>


  
  
  <br>
  <br>
</div>
<br>

