<div id="prodo-comment-container" class="container tab-content" style="border: 1px solid #b3b3b3; min-height: 50px;">  
  <div style="margin-top: 5px;" class="tabbable boxed parentTabs">
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a showtab="" href="" ui-sref="account-org.org.detail">Organization</a>
        </li>
        <li><a showtab="" href="" ui-sref="account-org.org.Productdetail">Product</a>
        </li>
        <li><a showtab="" href="" ui-sref="account-org.org.broadcast">Broadcast</a>
        </li>
    </ul>
</div>
  <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
    <div growl></div>
    <div ui-view></div>
  </div>

</div>