<div class="prodo-wall-org-container container">
	<div id="prodo-view-orlogodisplay" class="container">
		<img class="prodo-wall-org-logo" ng-src="{{orgdata.org_logo.image}}" src="../assets/images/if_no_logo_images_available.gif">
		<strong class="prodo-wall-org-name-text">{{orgdata.name}}</strong>
	</div>

	<div ng-show='messages.length !== 0'>
	<br>
	<h5 class="prodo-wall-org-heading-text">COMPANY INFORMATION BROADCAST</h5>
  <hr size=3 class="prodo-wall-org-hr" noshade>    
    <div prodo-broadcast-carousel id="myCarousel" class="carousel slide vertical">
        <!-- Carousel items -->
        <div class="wall-broadcast-carousel carousel-inner">
            <div ng-class="{active: messages.indexOf(msg) == 0}"  class="item" ng-repeat="msg in messages">
              <center>{{msg.message}}</center>
            </div>
        </div>                 
    </div>
  </div>
	<br>
	<h5 class="prodo-wall-org-heading-text">COMPANY DETAILS</h5>
  <hr class="prodo-wall-org-hr" size=3 noshade>
	<dl class="dl-horizontal">
	  <dt>Description:</dt>
	  <dd>{{orgdata.description}}</dd>
	</dl>

	<div ng-repeat="orgAd in orgaddr">
		<dl ng-show="(orgAd.loctype != 'Service Centers')" ng-repeat='addr in orgAd.location' class="dl-horizontal">
    <dt>Company Address:</dt>
    <dd>
      <address>
        {{addr.address.address1}}<br>
        {{addr.address.address2}}<br>
        {{addr.address.address3}} {{addr.address.city}}<br>
        {{addr.address.state + ','}} {{addr.address.country}}<br>
        {{addr.address.zipcode}}
      </address>
    </dd>
    <dt>Contact:</dt>
    <dd ng-repeat='contact in addr.contacts'>{{contact.customerhelpline}}</dd>
  </dl>
	</div>
	</div>
   
	<div ng-show="orgAd.loctype == 'Service Centers' " ng-repeat="orgAd in orgaddr">
    <br>
  	<h5 class="prodo-wall-org-heading-text">SERVICE CENTERS</h5>
    <hr class="prodo-wall-org-hr" size=3 noshade>

   
    	<div class="bar">
    		<div class="right-inner-addon ">
      		<i class="fa fa-search"></i>
      		<input type="search" class="org-address-search-form-control form-control" placeholder="Search" ng-model="searchAddress"/>
  			</div>
      </div>
      <br>
      <table  class="table table-condensed">
        <tr style="font-weight: bold">
          <td style="width:5%">#</td>
          <td style="width:35%">Address</td>
          <td style="width:20%">Country</td>
          <td style="width:20%">State</td>
          <td style="width:20%">Contacts</td>
        </tr>
        <tbody>
          <tr ng-repeat="addr in orgAd.location | filter:searchAddress">
          <td>{{$index + 1}}</td>
          <td>
            {{addr.address.address1}}<br>{{addr.address.address2}} {{addr.address.address3}} {{addr.address.city}} {{addr.address.zipcode}}
          </td>
          <td>
            {{addr.address.country}}
          </td>
          <td>
            {{addr.address.state}}
          </td>
          <td>
            {{addr.contacts[0].customerhelpline}}<br>{{addr.contacts[1].customerhelpline}}<br>{{addr.contacts[2].customerhelpline}}
          </td>
        </tr>
      </tbody>
    </table>
  	</div>

  <div ng-show="keyclients.length != 0">
    <br>
    <h5 class="prodo-wall-org-heading-text">KEY CLIENTS</h5>
    <hr size=3 class="prodo-wall-org-hr" noshade>
    <div class="row">
      <div class="prodo-wall-org-product-container col-xs-2" ng-repeat="keyclient in keyclients">
        <img ng-src="{{keyclient.image}}" alt=" No Image" class="prodo-wall-org-productimg img-rounded">
    </div>
    </div>
  </div>
  
  <br>
  <h5 class="prodo-wall-org-heading-text">PRODUCTS</h5>
  <hr size=3 class="prodo-wall-org-hr" noshade>
  <div ng-show='isFollowing' growl></div>
    <div ng-show='productlist.length == 0'> <p class="prodo-wall-product-text text-success"><strong><em>Currently no products available.</em></strong></p></div>
    <div class="row">
      <div class="prodo-wall-org-product-container col-xs-2" ng-repeat="product in productlist">
        
        <p class="truncated-product-name prodo-wall-org-product-name" tooltip="{{product.name}}" tooltip-placement="right">{{product.name}}</p>
        <img ng-show="product.product_logo" src="{{product.product_logo.image}}" alt=" No Image" class="prodo-wall-org-productimg img-rounded">
        <img ng-hide="product.product_logo" src="../../../assets/images/if_no_logo_images_available.gif" alt=" No Image" class="prodo-wall-org-productimg img-rounded">
        <input ng-show="product_prodles.indexOf(product.prodle)>=0" type="button"  class="prodo-following-btn btn btn-primary btn-sm" value="Talking" />
        <input ng-show="product_prodles.indexOf(product.prodle)<0" type="button" id="{{product.prodle + '_fbtn'}}" class="prodo-follow-btn btn btn-primary btn-sm" ng-click='follow(product)' value="Talkin" />
      </div>
    </div>
  	</div>