<div id="prodo-comment-container" class="container" style="border: 1px solid #E7EDF1;">

	<div style="padding: 10px;" id="prodo-view-orlogodisplay" class="container">
		<img style="width: 90px; height: 50px;" ng-src="{{orgdata.org_logo.image}}">
		<strong style="font-size: 25px; margin:20px; text-align:center;">{{orgdata.name}}</strong>
	</div>

	<div ng-show='hasBroadcast'>
	<br>
	<h5 style="color: #86846E; margin-bottom: 2px;">COMPANY INFORMATION BROADCAST</h5>
  <hr size=3 width="100%;" style="background-color:#BDBDBD; height:1px; margin-top: 0;" noshade>
  </div>

	<div>
		<br>
	<h5 style="color: #86846E; margin-bottom: 2px;">BASIC INFO</h5>
  <hr size=3 width="100%;" style="background-color:#BDBDBD; height:1px; margin-top: 0;" noshade>
	<dl class="dl-horizontal">
	  <dt>Description:</dt>
	  <dd>{{orgdata.description}}</dd>
	</dl>

	<div ng-repeat="orgAd in orgaddr">
		<dl ng-show="(orgAd.loctype != 'Service Centers')" ng-repeat='addr in orgAd.location' class="dl-horizontal">
    <dt>Company Address:</dt>
    <dd>
      <address>
        {{addr.address.address1}},<br>
        {{addr.address.address2}},<br>
        {{addr.address.address3}}, {{addr.address.city}}<br>
        {{addr.address.state}}, {{addr.address.country}}<br>
        Zipcode: {{addr.address.zipcode}}
      </address>
    </dd>
    <dt>Contact:</dt>
    <dd ng-repeat='contact in addr.contacts'>{{contact.customerhelpline}}</dd>
  </dl>
	</div>
	</div>

	<br>
	 <div>
	<h5 style="color: #86846E; margin-bottom: 2px;">SERVICE CENTERS</h5>
  <hr size=3 width="100%;" style="background-color:#BDBDBD; height:1px; margin-top: 0;" noshade>

 
  	<div class="bar">
  		<div class="right-inner-addon ">
    		<i class="fa fa-search"></i>
    		<input style='width:270px;' type="search" class="form-control" placeholder="Search" ng-model="searchAddress"/>
			</div>
    </div>
    <br>
    <table ng-show="(orgAd.loctype == 'Service Centers')" class="table table-condensed" ng-repeat="orgAd in orgaddr">
      <tr style="font-weight: bold">
        <td style="width:5%">#</td>
        <td style="width:35%">Address</td>
        <td style="width:20%">Country</td>
        <td style="width:20%">State</td>
        <td style="width:20%">Contacts</td>
      </tr>
      <tbody>
        <tr ng-repeat="addr in orgAd.location | filter:searchAddress">
        <td>{{$index + 1}}</td>
        <td>
          {{addr.address.address1}},<br>{{addr.address.address2}},<br>{{addr.address.address3}},<br>{{addr.address.city}},{{addr.address.zipcode}}
        </td>
        <td>
          {{addr.address.country}}
        </td>
        <td>
          {{addr.address.state}}
        </td>
        <td>
          {{addr.contacts[0].customerhelpline}}<br>{{addr.contacts[1].customerhelpline}}<br>{{addr.contacts[2].customerhelpline}}
        </td>
      </tr>
    </tbody>
  </table>
	</div>

  <br>
  <h5 style="color: #86846E; margin-bottom: 2px;">PRODUCTS</h5>
  <hr size=3 width="100%;" style="background-color:#BDBDBD; height:1px; margin-top: 0;" noshade>
    <div ng-show='productlist.length == 0'> <p style="text-align:left; font-size:20px; margin: 20px auto;" class="text-success"><strong><em>Currently no products available.</em></strong></p></div>
  	<div style="width:160px; min-height: 200px; float: left; margin: 5px; border: solid 1px #ccc;" ng-repeat="product in productlist">
	    <p style="margin:5px auto; display:block; text-align:center; font-weight:bold; font-size:12px;">{{product.name}}</p>
	    <img style="margin:0px auto; display:block; width:95%; height: 150px; " src="{{product.product_logo}}" alt=" No Image" class="img-rounded">
	    <button style="margin:5px auto; display:block; height:25px; width: 95%; background-color:#304A61;" class="btn btn-primary btn-sm" ng-click='usersession.followProduct(product.prodle)'>Follow</button>
	  </div>

</div>