<!-- Payments for Individuals -->
<div id="prodo-payment-container" class="container">

  <form id="prodo-form-payment" name=" formOrgRegisterPayment" class="css-form" ng-submit="" novalidate>

    <div class="control-group">

      <h4 id="prodo-payment-heading">Payment</h4>

      <hr size=3 width="90%" style="height:1px; margin-top: 0;" noshade>


      <div class="row">
			  <div class="col-lg-4">
			     <label class="label-control" style="font-size: 13px; text-align:right; margin: 10px auto;">Subscribed Plan:</label>
			  </div><!-- /.col-lg-6 -->
			  <div class="col-lg-4">
			  <!-- {{subscriptionpayment.plancommitmenttype}} -->
			  <h5>90-days Free Trial Plan</h5>
			 	 <br>
			 	 <!-- <ul ng-repeat="s in subscriptionplandata">
			 	 		<li><input style="float: left;" type="radio" ng-model="subscriptionpayment.planid" value="{{s.planid}}">{{s.planpaymentcommitment.commitmenttype}}</li>
			 	 </ul> -->
			  </div><!-- /.col-lg-6 -->
			  <div class="col-lg-4">
			  	<!-- <button id="prodo-form-payment-btn" tooltip="Change subscription" class="btn" tooltip-placement="bottom" ng-click='changesubscription()'>Change</button> -->
			  </div>
			  </div><!-- /.col-lg-6 -->

			<!-- <div class="row">
			  <div class="col-lg-4">
			     <label class="label-control" style="font-size: 13px; text-align:right; margin: 10px auto;">Apply Discount</label>
			  </div><!-->
			  <!-- <div class="col-lg-4">
			    <div class="input-group">
			      <input id="prodo-form-input-payment" name="discountcode" type="text" class="form-control" placeholder="Apply Code" ng-model="subscriptionpayment.discountcode" required/>
			    </div><! -->
			  <!-- </div>/.col-lg-6 --> 
			  <!-- <div class="col-lg-4">
			   <button id="prodo-form-payment-btn" tooltip="Get Discount" class="btn" tooltip-placement="bottom" ng-click='getdiscount()'>Discount</button>
			  </div> --><!-- /.col-lg-6 -->
			<!-- </div> --><!-- /.row -->

			<div class="row">
			  <div class="col-lg-4">
			     <label class="label-control" style="font-size: 13px; text-align:right; margin: 10px auto;">**Price</label>
			  </div><!-- /.col-lg-6 -->
			  <div class="col-lg-4">
			    <div class="input-group">
			    	 <input id="prodo-form-input-payment" name="amount" type="text" class="form-control" placeholder="amount" ng-model="subscriptionpayment.price" required/> 
			    </div><!-- /input-group -->
			  </div><!-- /.col-lg-6 -->
			  <div class="col-lg-4">
			  </div><!-- /.col-lg-6 -->
			</div><!-- /.row -->
			
			<div class="row">
			  	<h5><label class="label-control" style="font-size: 13px; float:left; margin-left: 30px; background-color:#81BEF7; padding: 5px;">**Make Payment is not going to charge any amount during trial period.</label></h5>
			</div><!-- /.row -->
		      	
			<button id="prodo-form-payment-submit-btn" class="btn btn-md btn-primary" type="submit" ng-click="makePayment()">Make Payment</button>
     </div>
  </form>
</div>
